$active-filters__heading-font-family : $font-family-base !default;
$active-filters__heading-font-weight : $font-weight-bold !default;
$active-filters__remove-size         : 48px !default;
$active-filters__remove-margin       : 0 $spacer 0 0 !default;
$active-filters__description-width   : calc(100% - #{$active-filters__remove-size}) !default;
$active-filters__icon-fill           : $red !default;
$active-filters__icon-fill--hover    : $gray-light !default;
$active-filters__label-color         : $color-primary !default;
$active-filters__label-font-weight   : $font-weight-bold !default;
$active-filters__label-text-transform: uppercase !default;
$active-filters__value-color         : $color-primary !default;
$active-filters__value-font-weight   : $font-weight-normal !default;
$active-filters__value-text-transform: none !default;

.active-filters {
    &__heading {
        font-family: $active-filters__heading-font-family;
        font-weight: $active-filters__heading-font-weight;
    }
    &__item {
        display: flex;
        align-items: center;
    }

    &__description {
        display: flex;
        flex-direction: column;
        width: $active-filters__description-width;

        @include mq($screen-m) {
            flex-direction: row;
        }

        @include mq($screen-l) {
            flex-direction: column;
        }
    }

    &__remove {
        margin: $active-filters__remove-margin;
        background-color: transparent;

        &:after {
            display: none;
        }

        &:hover {
            .icon {
                fill: $active-filters__icon-fill--hover;
            }
        }

        .icon {
            fill: $active-filters__icon-fill;
            z-index: $z-index-normal;
        }
    }

    &__label {
        color: $active-filters__label-color;
        font-weight: $active-filters__label-font-weight;
        text-transform: $active-filters__label-text-transform;
    }

    &__value {
        color: $active-filters__value-color;
        font-weight: $active-filters__value-font-weight;
        text-transform: $active-filters__value-text-transform;
    }
}
