<ul class="progress-bar">
    {{#each steps}}
        <li
            class="
                progress-bar__item
                {{#if active}}
                    progress-bar__item--active
                {{/if}}
            "
        >
            <div class="progress-bar__line">
                <h1 class="progress-bar__label">
                    {{{ label }}}
                </h1>
            </div>
        </li>
    {{/each}}
</ul>
