$input__field-padding                : 0 $spacer--medium !default;
$input__field-padding--textarea      : $spacer--medium !default;
$input__field-spacing                : 48px !default;
$input__field-border                 : $form-elements-border !default;
$input__field-border-radius          : $form-elements-radius !default;
$input__field-border-radius--textarea: $form-elements-radius--small !default;
$input__field-line-height--textarea  : $font-line-height !default;
$input__margin-bottom                : $spacer--medium !default;
$input__placeholder-color            : $gray !default;
$input__label-margin-right           : $spacer--medium !default;
$input__min-height--textarea         : 100px !default;
$input__date-background-image        : url("../images/icons/calendar.svg") !default;
$input__date-background-size         : 25px 25px !default;
$input__date-background-repeat       : no-repeat !default;
$input__date-background-position     : center center !default;
$input__transition                   : $transition-base !default;
$input__white-space--inline          : nowrap !default;
// Input password
$input__button-pass-bg               : transparent !default;
$input__button-pass-top              : 30px !default;
$input__button-pass-right            : $form-element-border-width !default;
$input__button-pass-height           : $input__field-spacing - (4 * $form-element-border-width) !default;
$input__button-pass-icon-fill        : $color-secondary !default;
