.checkout-payment-method {
    .fieldset {
        > .field,
        > .fields > .field {
            @include lib-form-field();
        }
    }
    .payment-method-content fieldset.chcybersource {
        margin-bottom: $spacer--large;

        // hide spinners for number input (cc, ccv fields)
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type="number"] {
            -moz-appearance: textfield;
        }

        > .field.type .control {
            margin: 0;
            &._with-tooltip .cvv {
                width: 110px;
            }
            .field-tooltip {
                height: 48px;
                left: 120px;
            }
        }
        > .field.date {
            .select-year {
                min-width: 100px;
            }
        }
        // reset Snowdog_Blank styles without overriding _select.scss styles
        .select {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
