.selected-store-pickup {
    .store-pickup__selector {
        padding: 0;
        margin-bottom: $spacer--large;
    }

    .tab {
        &--secondary {
            @include mq($screen-m) {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
            }
        }
    }
}
