@import 'price-variables';

.price {
    &__value {
        font-size: $price__font-size;
        font-weight: $price__font-weight;

        &--old {
            margin-right: $price__spacing;
            color: $price__color--old;
            font-size: $price__font-size--old;
            font-weight: $price__font-weight--old;
            text-decoration: line-through;
        }

        &--special {
            color: $price__color--special;
            font-weight: $price__font-weight--special;

            & > ins {
                text-decoration: none;
            }
        }

        &--between {
            display: block;

            &:last-child {
                margin-top: $price__spacing;
            }
        }
    }

    &__text {
        font-weight: $price__font-weight--old;
    }
}
