$price__spacing                : $spacer--small !default;
$price__font-size              : $font-size-large !default;
$price__font-size\@medium      : $font-size-large !default;
$price__font-weight            : $font-weight-bold !default;

$price__color--old             : $color-secondary !default;
$price__font-size--old         : $font-size-small !default;
$price__font-size--old\@medium : $font-size-base !default;
$price__font-weight--old       : $font-weight-normal !default;

$price__color--special         : $color-error !default;
$price__font-weight--special   : $font-weight-bold !default;

$price__text-color             : $color-secondary !default;
