@import 'price-variables';

.price {
    &__value {
        font-size: $price__font-size;
        font-weight: $price__font-weight;
        @include mq($screen-m) {
            font-size: $price__font-size\@medium;
        }

        &--old {
            margin-right: $price__spacing;
            color: $price__color--old;
            font-size: $price__font-size--old;
            font-weight: $price__font-weight--old;
            text-decoration: line-through;
            @include mq($screen-m) {
                font-size: $price__font-size--old\@medium;
            }
        }

        &--special {
            color: $price__color--special;
            font-weight: $price__font-weight--special;

            & > ins {
                text-decoration: none;
            }
        }

        &--between {
            display: flex;

            &:last-child {
                margin-top: $price__spacing;
            }

            .price__text {
                display: inline-flex;
                align-items: center;
                min-width: $price__text-min-width--between;
                font-size: $price__text-font-size--between;
            }

            .price__value--old {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
            }
        }
    }

    &__text {
        color: $price__text-color;
        font-weight: $price__font-weight--old;
    }
}
