$badge__padding              : 2px $spacer--medium !default;
$badge__border-radius        : $border-radius !default;
$badge__color                : $white !default;
$badge__color--new           : $font-color-base !default;
$badge__background           : $bg-color-dark !default;
$badge__background--new      : $white !default;
$badge__font-size            : $font-size-small !default;
$badge__font-family          : $font-family-base !default;
$badge__font-weight          : $font-weight-bold !default;
$badge__text-transform       : uppercase !default;

.badge {
    display: inline-flex;
    padding: $badge__padding;
    border-radius: $badge__border-radius;
    color: $badge__color;
    background: $badge__background;
    font-family: $badge__font-family;
    font-size: $badge__font-size;
    font-weight: $badge__font-weight;
    text-transform: $badge__text-transform;

    &--new {
        color: $badge__color--new;
        background: $badge__background--new;
    }
}
