$email-to-friend__max-width                   : 500px !default;
$email-to-friend__legend-font-family          : $font-family-base !default;
$email-to-friend__legend-font-weight          : $font-weight-bold !default;
$email-to-friend__sender-wrapper-margin-bottom: $spacer--medium !default;
$email-to-friend__fieldset-margin-bottom      : $spacer--large !default;
$email-to-friend__inner-fieldset-margin-top   : $spacer--large !default;
$email-to-friend__remove-margin-bottom        : $spacer--medium !default;
$email-to-friend__back-margin-left            : $spacer--medium !default;
$email-to-friend__submit-margin-bottom        : $spacer--large !default;
