<section class="credit-card">
    {{ render '@input' card.number merge=true }}

    <div class="credit-card__date">
        {{ render '@select' card.date.month merge=true }}
        {{ render '@select' card.date.year merge=true }}
    </div>

    {{ render '@input' card.verification merge=true }}
</section>
