@import 'dashboard-variables';

.dashboard {
    margin-top: $dashboard__margin-top;
    margin-bottom: $dashboard__margin-bottom;

    &__actions {
        justify-content: space-between;
    }

    &__handler {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin: $dashboard__handler-margin;
    }

    &__status {
        padding: $dashboard__status-padding;
        border: $dashboard__status-border;
        border-radius: $dashboard__status-border-radius;
        font-size: $dashboard__status-font-size;
    }

    &__item {
        margin: $dashboard__item-margin;
    }

    &__form {
        padding: $dashboard__form-padding;

        &:first-child {
            padding-left: $dashboard__form-padding-left--first-child;
        }

        &:last-child {
            padding-right: $dashboard__form-padding-right--last-child;
        }
    }

    &__product {
        padding: $dashboard__product-padding;
        border: $dashboard__product-border;
    }

    &__form {
        &--hidden {
            display: none;
        }
    }

    &__input {
        margin: $dashboard__input-margin;
    }

    &__sidebar {
        margin: $dashboard__sidebar-margin;

        @include mq($screen-l) {
            border: $dashboard__sidebar-border;
            border-width: $dashboard__sidebar-border-width;
            padding-right: $dashboard__sidebar-padding-right\@large;
        }

        @include mq($screen-xl) {
            padding-right: $dashboard__sidebar-padding-right\@extra-large;
        }
    }

    &__content {
        margin: $dashboard__content-margin;

        @include mq($screen-l) {
            padding-left: $dashboard__content-padding-left\@large;
        }

        @include mq($screen-xl) {
            padding-left: $dashboard__content-padding-left\@extra-large;
        }
    }

    &__title,
    &__title--wrapped,
    &__subtitle  {
        font-family: $dashboard__title-font-family;
    }

    &__title,
    &__title--wrapped {
        font-size: $dashboard__title-font-size;
        font-weight:  $dashboard__title-font-weight;
    }

    &__title {
        margin: $dashboard__title-margin;
        padding: $dashboard__title-padding;
        background: $dashboard__title-background;
        border: $dashboard__title-border;
        border-width: $dashboard__title-border-width;

        &--wrapped {
            margin: $dashboard__title-margin--wrapped;
        }
    }

    &__subtitle {
        font-size:  $dashboard__subtitle-font-size;
    }
}
