$dashboard__margin-top: $spacer--medium !default;
$dashboard__margin-bottom: $spacer--medium !default;

$dashboard__handler-margin                      : 0 0 $spacer--large !default;

$dashboard__title-margin                        : 0 0 $spacer--medium !default;
$dashboard__title-margin--wrapped               : 0 $spacer--large 0 0 !default;
$dashboard__title-padding                       : 0 0 $spacer !default;

$dashboard__status-padding                      : $spacer $spacer--medium !default;
$dashboard__status-border                       : $border-base !default;
$dashboard__status-border-radius                : $border-radius !default;

$dashboard__status-font-size                    : $font-size-small !default;

$dashboard__item-margin                         : 0 0 $spacer--large !default;

$dashboard__form-padding                        : 0 $spacer--medium !default;

$dashboard__product-padding                     : 0 !default;
$dashboard__product-border                      : none !default;


$dashboard__input-margin                        : 0 0 $spacer--large !default;

$dashboard__sidebar-margin                      : $spacer--semi-large 0 0 !default;
$dashboard__sidebar-border                      : $border-secondary !default;
$dashboard__sidebar-border-width                : 0 $border-width-secondary 0 0 !default;
$dashboard__sidebar-padding-right\@large        : $spacer--large !default;
$dashboard__sidebar-padding-right\@extra-large  : 64px !default;

$dashboard__content-margin                      : $spacer--semi-large 0 0 !default;
$dashboard__content-padding-left\@large         : $spacer--extra-large !default;
$dashboard__content-padding-left\@extra-large   : 64px !default;

$dashboard__heading-font-family                 : $font-family-base !default;
$dashboard__heading-background--second-level    : $bg-color-secondary !default;
$dashboard__heading-font-size--second-level     : $font-size-large !default;
$dashboard__heading-font-weight--second-level   : $font-weight-bold !default;
$dashboard__heading-padding--second-level       : $spacer--medium !default;
$dashboard__heading-border--second-level        : $border-secondary !default;
$dashboard__heading-border-width--second-level  : 0 0 $border-width-secondary !default;
$dashboard__heading-font-size--third-level      : $font-size-medium !default;
