@import 'mixins';

// ---------------------------------------------------
// Only non-critical styles, rest is in _critical.scss
// ---------------------------------------------------

// Libs
@import '../Atoms/libs/aos';
@import '../Atoms/libs/nouislider';
@import '../Atoms/libs/select2';
@import '../Atoms/libs/slick';

// Base
@import '../Atoms/focus/focus';
@import '../Atoms/grid/grid'; // Duplicated, beacuse of @extend  usage
@import '../Atoms/keyframes/keyframes';
@import '../Atoms/recaptcha/recaptcha';

// Typography
@import '../Atoms/typography/blockquote/blockquote';
@import '../Atoms/typography/error/error';
@import '../Atoms/typography/heading/heading'; // Duplicated, beacuse of @extend  usage
@import '../Atoms/typography/label/label'; // Duplicated, beacuse of @extend  usage
@import '../Atoms/typography/paragraph/paragraph';
@import '../Atoms/typography/preformatted/preformatted';

// Molecules
@import '../Molecules/badge/badge';
@import '../Molecules/breadcrumbs/breadcrumbs';
@import '../Molecules/button/button';
@import '../Molecules/form/checkbox/checkbox';
@import '../Molecules/form/datepicker/datepicker';
@import '../Molecules/form/fieldset/fieldset';
@import '../Molecules/form/file-upload/file-upload';
@import '../Molecules/form/input/input';
@import '../Molecules/form/radio/radio';
@import '../Molecules/form/select/select';
@import '../Molecules/image/image-ratio';
@import '../Molecules/image/image';
@import '../Molecules/information/information';
@import '../Molecules/list/list';
@import '../Molecules/loader/loader';
@import '../Molecules/logo/logo';
@import '../Molecules/message/message';
@import '../Molecules/pager/pager';
@import '../Molecules/password-strength/password-strength';
@import '../Molecules/price/price';
@import '../Molecules/rating/rating';
@import '../Molecules/swatch/swatch';
@import '../Molecules/tab/tab';
@import '../Molecules/table/table';

// Organisms
@import '../Organisms/dropdown-list/dropdown-list';
@import '../Organisms/messages/messages';
@import '../Organisms/header/header';
@import '../Organisms/footer/footer';
@import '../Organisms/modal/modal';
@import '../Organisms/minicart-product/minicart-product';
@import '../Organisms/minicart-content/minicart-content';
@import '../Organisms/order-summary/order-summary';

// Organisms - Checkouts componets
@import '../Organisms/checkout/authentication/authentication';
@import '../Organisms/checkout/credit-card/credit-card';
@import '../Organisms/checkout/discount-code/discount-code';
@import '../Organisms/checkout/estimated-section/estimated-section';
@import '../Organisms/checkout/payment-methods/payment-methods';
@import '../Organisms/checkout/progress-bar/progress-bar';
@import '../Organisms/checkout/shipping-address/shipping-address';
@import '../Organisms/checkout/shipping-methods/shipping-methods';
@import '../Organisms/checkout/sidebar/sidebar';
@import '../Organisms/checkout/shipping-information/shipping-information';

// Templates
@import '../Templates/checkout/checkout';
@import '../Templates/cart/discount';
