@import 'chat-variables';

.chat {
    padding: $spacer--semi-medium;
    background: $gray-lighter;

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0 0 $spacer--medium;
        padding: 0;
        max-height: 300px;
        list-style: none;
        overflow-y: auto;
    }

    &__message {
        padding: $spacer $spacer--medium;

        &--sent {
            text-align: right;
        }

        &--incoming {
            align-self: flex-start;
        }
    }

    &__message-content {
        padding: $spacer--medium;
        background: $gray;
        border-radius: 10px;

        &--sent {
            background: $gray-light;
        }
    }

    &__message-text {
        font-size: $font-size-base;
    }

    &__message-date {
        text-align: right;
        color: $gray-dark;
        font-size: $font-size-small;
    }

    &__message-send {
        margin: 0 0 $spacer--medium;
    }

    &__message-field {
        width: 100%;
        margin: 0 $spacer 0 0;
    }

    &__control {
        display: flex;
        align-items: center;
    }

    &__textarea {
        min-height: 48px;
    }

    &__username {
        color: $gray-dark;
    }
}
