@import 'chat-variables';

.chat {
    padding: $spacer--semi-medium;
    background: $gray-lighter;

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__message {
        &--sent {
            text-align: right;
        }

        &--incoming {
            align-self: flex-start;
        }
    }

    &__message-content {
        padding: $spacer--medium;
        background: $seafoam-blue;
        border-radius: 10px;

        &--sent {
            background: $teal;
        }
    }
}
