<section class="chat">
    <ul class="chat__list">
        <li class="chat__message chat__message--incoming">
            <div class="chat__username">
                Admin
            </div>
            <div class="chat__message-content">
                <div class="chat__message-text">
                    Please, provide us with additional details and attach photos if possible so that we could approve your request.
                </div>
                <div class="chat__message-date">
                    2019-08-20 13:05:27
                </div>
            </div>
        </li>
        <li class="chat__message chat__message--sent">
            <div class="chat__username">
                Veronica Costello
            </div>
            <div class="chat__message-content chat__message-content--sent">
                <div class="chat__message-text">
                    Hello. I want to return this item because of the material, it is not as good as I expected!
                </div>
                <div class="chat__message-date">
                    2019-08-20 13:06:33
                </div>
            </div>
        </li>
    </ul>
    <div class="chat__control">
        <div class="chat__attachment">
            Attach file
        </div>
        <div class="chat__message-field">
            {{ render '@input--textarea' }}
        </div>
        <div class="chat__message-send">
            {{ render '@button' }}
        </div>
    </div>
    <ul class="chat__attachment-list">
        <li class="chat__attachment-list-item">
            Zrzut_ekranu_z_2020-02-25_09-16-23
        </li>
    </ul>
</section>
