@import 'home-variables';

.home {
    &__static-block {
        padding: $home__banner-spacer-extra-large $home__banner-spacer-medium;
    }

    &__slider {
        padding: $home__banner-spacer-extra-large $home__banner-spacer-medium;
    }

    &__cms-block-title {
        @extend .margin-top-sm;

        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }
}
