$home__banner-margin                     : 0 0 $spacer--medium !default;
$home__banner-margin\@medium             : 0 0 $spacer--large !default;
$home__banner-margin\@large              : 0 !default;

$home__banners-handler-padding           : $spacer--medium 0 !default;
$home__banners-handler-padding\@medium   : $spacer--large $spacer--extra-large !default;
$home__banners-handler-padding\@large    : $spacer--large 0 !default;

$home__categories-padding                : 0 $spacer--extra-large !default;
$home__categories-padding\@large         : 0 !default;

$home__content-block-padding             : 0 $spacer--semi-medium !default;
$home__content-block-padding\@medium     : 0 96px !default;

$home__heading-text-transform            : uppercase !default;
$home__heading-text-align                : center !default;

$home__section-padding                    : $spacer--semi-medium 0 !default;

$home__brands-link-font-size             : $font-size-base !default;
$home__brands-link-font-weight           : $font-weight-bold !default;
$home__brands-link-line-height           : 48px !default;
$home__brands-link-text-decoration       : none !default;
$home__brands-link-text-decoration--hover: underline !default;
$home__brands-link-align                 : center !default;
