$home__banner-spacer            : $spacer--small !default;
$home__banner-spacer-medium     : $spacer--medium !default;
$home__banner-spacer-large      : $spacer--large !default;
$home__banner-spacer-extra-large: $spacer--extra-large !default;

$home__banners-handler-padding  : 0 $spacer--extra-large !default;
$home__banners-handler-padding\@large : 0 !default;

$home__categories-padding       : 0 $spacer--extra-large !default;
$home__categories-padding\@large: 0 !default;
$home__category-margin-bottom   : $spacer--large !default;

$home__content-block-padding       : 0 $spacer--semi-medium !default;
$home__content-block-padding\@medium : 0 96px !default;
