$home__banner-spacer            : $spacer--medium !default;
$home__banner-spacer-medium     : $spacer--medium !default;
$home__banner-spacer-large      : $spacer--large !default;
$home__banner-spacer-extra-large: $spacer--extra-large !default;
$home__text-column-gap          : $spacer--extra-large !default;
$home__block-border             : 1px solid $gray-light !default;
$home__brand-width--small       : 33.33% !default;
