@import 'home-variables';

.home {
    &__banners-handler {
        padding: $home__banners-handler-padding;

        @include mq($screen-m) {
            padding: $home__banners-handler-padding\@medium;
        }

        @include mq($screen-l) {
            padding: $home__banners-handler-padding\@large;
        }
    }

    &__banner {
        margin: $home__banner-margin;

        @include mq($screen-m) {
            margin: $home__banner-margin\@medium;
        }

        @include mq($screen-l) {
            margin: $home__banner-margin\@large;
        }
    }
    &__categories {
        @include mq($screen-m) {
            padding: $home__categories-padding;
        }

        @include mq($screen-l) {
            padding: $home__categories-padding\@large;
        }
    }

    &__heading {
        @extend .margin-top-sm;
        width: 100%;
        text-align: $home__heading-text-align;
        text-transform: $home__heading-text-transform;
    }

    &__content-block {
        padding: $home__content-block-padding;
        @include mq($screen-m) {
            padding: $home__content-block-padding\@medium;
        }
    }

    &__slider {
        padding: $home__slider-padding;
        text-align: $home__slider-align;
    }

    &__brands-link {
        font-size: $home__brands-link-font-size;
        font-weight: $home__brands-link-font-weight;
        line-height: $home__brands-link-line-height;
        text-decoration: $home__brands-link-text-decoration;

        &:hover,
        &.focus-visible {
            text-decoration: $home__brands-link-text-decoration--hover;
        }
    }
}
