<% if (data.name) { %>
<div class="product-info margin-top-m">
    <div class="lazyload-wrapper">
        <img
            class="image lazyload"
            src="<%- data.thumbnailUrl %>"
            data-src="<%- data.thumbnailUrl %>"
            alt="<%- data.name %>"
        >
    </div>
    <div class="product-name">
        <p class="name">
            <a href="<%- data.url %>">
                <%- data.name %>
            </a>
        </p>
        <p class="price">
            <%- data.price %>
        </p>
    </div>
</div>
<% } %>
<% if (data.result) { %>
<div class="product-error">
    <div
        <% if (data.isError) { %>
            data-role="error-message"
        <% } %>
            class="message
        <% if (data.isError) { %>
            message--error
        <% } else { %>
            notice
        <% } %>"
    >
        <div>
            <%- data.result %>
        </div>
    </div>
</div>
<% } %>
