<% if (data.name) { %>
    <div class="quickorder__product">
        <img class="quickorder__product-image" src="<%- data.thumbnailUrl %>">
        <div class="quickorder__product-details">
            <a class="link" href="<%- data.url %>"><%- data.name %></a>
            <div class="price">
                <span class="price__value"><%- data.price %></span>
            </div>
        </div>
    </div>
<% } %>
<% if (data.result) { %>
    <div
        <% if (data.isError) { %>data-role="error-message"<% } %>
        class="message<% if (data.isError) { %> error<% } else { %> notice<% } %>"
    >
        <div><%- data.result %></div>
    </div>
<% } %>
