<!-- ko foreach: getRegion('before_details') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<div
    class="
        product-item-details
        order-summary__product-wrapper
    "
>
    <div
        class="
            product-item-inner
            order-summary__product-info
        "
    >
        <div
            class="
                product-item-name-block
                order-summary__product-details
            "
        >
            <div
                class="
                    product-item-name
                    order-summary__product-name
                "
                data-bind="html: getNameUnsanitizedHtml($parent)"
            ></div>
            <div
                class="
                    details-qty
                    order-summary__product-qty
                "
            >
                <span>
                    <!-- ko i18n: 'Quantity' --><!-- /ko -->
                </span>:
                <span data-bind="text: $parent.qty"></span>
            </div>
        </div>
        <!-- ko foreach: getRegion('after_details') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>
    <!-- ko if: (JSON.parse($parent.options).length > 0)-->
        <div
            class="
                product
                options
                order-summary__dropdown-list
                dropdown-list
                dropdown-list--detailed-content
            "
            data-bind="mageInit: {'collapsible':{'openedState': 'active'}}"
        >

            <ul class="dropdown-list__list">
                <li class="
                    dropdown-list__item
                    dropdown-list__item--collapse"
                >
                    <button
                        class="
                            toggle
                            dropdown-list__label
                        "
                        aria-expanded="false"
                        data-role="title"
                        type="button"
                    >
                        <!-- ko i18n: 'View Details' --><!-- /ko -->
                        <svg
                            class="
                                icon
                                dropdown-list__icon
                            "
                            role="presentation"
                            focusable="false"
                        >
                            <use data-bind="attr: { 'href': require.toUrl('images/icons-sprite.svg#angle-down')}" href=''></use>
                        </svg>
                    </button>

                    <div
                        data-role="content"
                        class="
                            content
                            dropdown-list__content
                        "
                    >
                        <dl
                            class="
                                item-options
                                list
                                list--description
                                minicart-product__attributes-list
                            "
                        >
                            <!--ko foreach: JSON.parse($parent.options)-->
                                <dt
                                    class="list__label"
                                    data-bind="text: label"
                                ></dt>
                                <!-- ko if: ($data.full_view)-->
                                    <!-- ko with: {full_viewUnsanitizedHtml: $data.full_view}-->
                                        <dd
                                            class="list__value"
                                            data-bind="html: full_viewUnsanitizedHtml"
                                        ></dd>
                                    <!-- /ko -->
                                <!-- /ko -->
                                <!-- ko ifnot: ($data.full_view)-->
                                    <!-- ko with: {valueUnsanitizedHtml: $data.value}-->
                                        <dd
                                            class="list__value"
                                            data-bind="html: valueUnsanitizedHtml"
                                        ></dd>
                                    <!-- /ko -->
                                <!-- /ko -->
                            <!-- /ko -->
                        </dl>
                    </div>
                </li>
            </ul>

        </div>
    <!-- /ko -->
</div>
