$shipping-address__padding                  : 0 0 $spacer--extra-large !default;
$shipping-address__form-login-border-bottom : $border-base !default;
$shipping-address__form-login-padding       : 0 0 $spacer--extra-large !default;
$shipping-address__form-shipping-padding    : $spacer--extra-large 0 0 !default;
$shipping-address__btn-login-margin         : 0 0 $spacer 0 !default;
$shipping-address__btn-login-width\@medium  : calc(55% - #{$spacer}) !default;
$shipping-address__btn-login-margin\@medium : 0 $spacer 0 0 !default;
$shipping-address__btn-remind-width\@medium : 45% !default;

.shipping-address {
    padding: $shipping-address__padding;

    &__label {
        display: none;
    }

    &__form-login {
        border-bottom: $shipping-address__form-login-border-bottom;
        padding: $shipping-address__form-login-padding;
    }

    &__form-shipping {
        padding: $shipping-address__form-shipping-padding;
    }

    &__login-buttons {
        display: block;

        @include mq($screen-m) {
            display: flex;
        }
    }

    &__btn-login {
        margin: $shipping-address__btn-login-margin;

        @include mq($screen-m) {
            flex-basis: $shipping-address__btn-login-width\@medium;
            max-width: $shipping-address__btn-login-width\@medium;
            margin: $shipping-address__btn-login-margin\@medium;
        }
    }

    &__btn-remind {
        @include mq($screen-m) {
            max-width: $shipping-address__btn-remind-width\@medium;
            flex-basis: $shipping-address__btn-remind-width\@medium;
        }
    }
}

.actions-toolbar {
    margin-left: 0;

    .primary {
        display: flex;
        justify-content: flex-end;

        .button {
            min-width: 180px;
            justify-content: center;
        }
    }
}
