$shipping-address__padding                 : 0 0 $spacer--extra-large !default;
$shipping-address__form-login-border-bottom: $border-base !default;
$shipping-address__form-login-padding      : 0 0 $spacer--extra-large !default;
$shipping-address__form-shipping-padding   : $spacer--extra-large 0 0 !default;
$shipping-address__btn-login-width         : calc(55% - #{$spacer}) !default;
$shipping-address__btn-login-margin        : 0 $spacer 0 0 !default;
$shipping-address__btn-remind-width        : 45% !default;

.shipping-address {
    padding: $shipping-address__padding;

    &__label {
        display: none;
    }

    &__form-login {
        border-bottom: $shipping-address__form-login-border-bottom;
        padding: $shipping-address__form-login-padding;
    }

    &__form-shipping {
        padding: $shipping-address__form-shipping-padding;
    }

    &__login-buttons {
        display: flex;
    }

    &__btn-login {
        flex-basis: $shipping-address__btn-login-width;
        max-width: $shipping-address__btn-login-width;
        margin: $shipping-address__btn-login-margin;
    }

    &__btn-remind {
        max-width: $shipping-address__btn-remind-width;
        flex-basis: $shipping-address__btn-remind-width;
    }
}

.actions-toolbar {
    margin-left: 0;

    .primary {
        display: flex;
        justify-content: flex-end;

        .button {
            min-width: 180px;
            justify-content: center;
        }
    }
}
