<!-- ko if: isActive() -->
<div class="gift-message">
    <div class="gift-options__sub-title">
        <span data-bind="i18n: 'Gift Message (optional)'"></span>
    </div>
    <div class="gift-options-content">
        <div class="field field-to input">
            <label for="gift-message-whole-to" class="label">
                <span data-bind="i18n: 'To:'"></span>
            </label>
            <input type="text"
                   id="gift-message-whole-to"
                   class="input-text input__field"
                   data-bind="value: getObservable('recipient')"
            >
        </div>

        <div class="field field-from input">
            <label for="gift-message-whole-from" class="label">
                <span data-bind="i18n: 'From:'"></span>
            </label>
                <input type="text"
                       id="gift-message-whole-from"
                       class="input-text input__field"
                       data-bind="value: getObservable('sender')"
                >
        </div>
        <div class="field text input">
            <label for="gift-message-whole-message" class="label">
                <span data-bind="i18n: 'Message:'"></span>
            </label>
            <div class="control">
                <textarea id="gift-message-whole-message"
                          class="input-text input__field input__field--textarea"
                          rows="5" cols="10"
                          data-bind="value: getObservable('message')"></textarea>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
<div class="actions-toolbar">
    <div class="secondary">
        <button type="submit"
                class="action secondary action-update button button--secondary"
                data-bind="
                    attr: {title: $t('Update')},
                    click: $data.submitOptions.bind($data)
                "
        >
            <span data-bind="i18n: 'Update'"></span>
        </button>
        <button class="action action-cancel button button--secondary"
                data-bind="
                    attr: {title: $t('Cancel')},
                    click: $data.hideFormBlock.bind($data)
                "
        >
            <span data-bind="i18n: 'Cancel'"></span>
        </button>
    </div>
</div>
