$slider-slick__nav-button-size: 48px;
$slider-slick__nav-icon-size  : 24px;

.slider-slick {
    display: block;
    position: relative;
    width: 100%;
    height: auto;

    &--100vw {
        position: relative;
        width: 100vw;
        margin-left: 50%;
        left: -50vw;
    }

    &__navigation {
        display: none;
        position: absolute;
        width: 100%;
        top: 50%;
        margin-top: -$slider-slick__nav-button-size / 2;
        padding: 0;

        @include mq($screen-m) {
            display: block;
        }
    }

    &__nav-button {
        width: $slider-slick__nav-button-size;
        height: $slider-slick__nav-button-size;
        min-width: $slider-slick__nav-button-size;
        border-radius: 0;
        padding: 0;
        position: absolute;
        left: $spacer;
    }

    &__nav-icon {
        width: $slider-slick__nav-icon-size;
        height: $slider-slick__nav-icon-size;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -$slider-slick__nav-icon-size / 2;
        margin-left: -$slider-slick__nav-icon-size / 2;
        transition: $transition-base;
    }

    &__next {
        left: auto;
        right: $spacer;
    }

    &__dots {
        display: block;
        position: absolute;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;
        left: 0;
        bottom: 1px;

        li {
            display: inline-block;
            position: relative;
            margin: 0;
            padding: 0;

            &.slick-active {
                &:before {
                    display: block;
                    position: absolute;
                    content: '';
                    width: 16px;
                    height: 16px;
                    border: 1px solid $color-primary;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    margin-left: -8px;
                    margin-top: -8px;
                }
            }
        }

        button {
            display: block;
            position: relative;
            width: 48px;
            height: 48px;
            padding: 0;
            background: none;
            border: 0;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;

            &:before {
                display: block;
                position: absolute;
                content: '';
                width: 4px;
                height: 4px;
                background-color: $color-primary;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                margin-left: -2px;
                margin-top: -2px;
            }
        }
    }

    &__slides {
        height: auto;

        &--loaded {
            .slider-slick__item {
                &:nth-child(n+2) {
                    display: block;
                }
            }
        }
    }

    &__item {
        height: auto;

        &:nth-child(n+2) {
            display: none;
        }
    }
}
