$quantity-update__input-border-style               : solid !default;
$quantity-update__input-border-color               : $color-secondary !default;
$quantity-update__input-border-width               : 1px 0 !default;
$quantity-update__input-border-radius              : 0 !default;
$quantity-update__input-width                      : 96px !default;
$quantity-update__input-height                     : 56px !default;
$quantity-update__input-font-size                  : $font-size-large !default;
$quantity-update__input-color                      : $color-secondary !default;

$quantity-update__button-size                      : 56px !default;
$quantity-update__button-margin                    : 0 !default;
$quantity-update__button-background                : $white !default;
$quantity-update__button-border                    : $border-secondary !default;
$quantity-update__button-background-hover--disabled: $white !default;
$quantity-update__button-background-hover          : $color-primary !default;
$quantity-update__button-fill-hover--disabled      : $color-secondary !default;

$quantity-update__icon-fill                        : $color-primary !default;
$quantity-update__icon-fill-hover                  : $white !default;
