$quantity-update__input-border                       : $border-secondary;
$quantity-update__input-border-width                 : 1px 0;
$quantity-update__input-border-radius                : 0;
$quantity-update__input-width                        : 96px;
$quantity-update__input-height                       : 56px;
$quantity-update__input-font-size                    : $font-size-large;
$quantity-update__input-color                        : $gray-dark;

$quantity-update__button-size                        : 56px;
$quantity-update__button-margin                      : 0;
$quantity-update__button-background                  : $white;
$quantity-update__button-border                      : $border-secondary;
$quantity-update__button-background-hover--disabled  : $white;
$quantity-update__button-background-hover            : $color-primary;
$quantity-update__button-fill-hover--disabled        : $gray-dark;

$quantity-update__icon-fill                          : $color-primary;
$quantity-update__icon-fill-hover                    : $white;
