# Jetbrains IDE
.idea

# Env
.DS_Store

# Dependencies
Snowdog_Components/node_modules

# Build
Snowdog_Components/build
Snowdog_Components/dest
Snowdog_Components/public/css
Snowdog_Components/public/images/icons-sprite.svg

# Libs
Snowdog_Components/vendor
