<!-- ko if: isActive() -->
<div class="gift-options__content">
    <p
        class="gift-options__subtitle"
        data-bind="i18n: 'Pick a paper of your choice (optional)'"
    ></p>
    <div class="gift-options-content">
        <ul
            class="
                gift-options__list
                padding-0
                margin-0
            "
        >
            <!--ko foreach: {data: getWrappingItems(), as: 'item'}-->
            <li
                class="
                    gift-wrapping-item
                    gift-options__item
                    padding-right-xs
                    margin-bottom-xs
                "
                data-bind="css: {active: $parent.isHighlight(id)}"
            >
                <!-- ko if: path -->
                <span
                    data-bind="click: $parent.setActiveItem.bind($parent, id)"
                    role="button"
                    tabindex="0"
                >
                    <img
                        data-bind="
                            attr: {
                                src: path,
                                alt: label,
                                title: label
                            }
                        "
                    />
                </span>
                <!-- /ko -->
                <!-- ko ifnot: path -->
                <span
                    class="no-image"
                    data-bind="click: $parent.setActiveItem.bind($parent, id)"
                >
                    <span data-bind="i18n: 'No image'"></span>
                </span>
                <!-- /ko -->
            </li>
            <!--/ko-->
        </ul>
        <div
            class="gift-options__preview"
            data-bind="visible: isVisibleInfoBlock()"
        >
            <span>
                <!-- ko if: getObservable('activeWrappingImageSrc') -->
                <img
                    data-bind="attr: {
                        src: getObservable('activeWrappingImageSrc'),
                        alt: $t(getObservable('activeWrappingLabel')),
                        title: $t(getObservable('activeWrappingLabel'))
                    }"
                />
                <!-- /ko -->
            </span>
        </div>
        <div
            class="
                gift-options__details
                padding-bottom-sm
                margin-bottom-xs
            "
            data-bind="visible: isVisibleInfoBlock()"
        >
            <span
                class="gift-options__item-name"
                data-bind="i18n: getObservable('activeWrappingLabel')"
            ></span>
            <!-- ko if: isDisplayWrappingBothPrices() -->
            <span
                class="price-including-tax"
                data-bind="{
                    attr: {
                        'data-label': $t('Price Incl. Tax')
                    }
                }"
            >
                <span
                    class="price__value"
                    data-bind="text: getObservable('activeWrappingPriceWithTax')"
                ></span>
            </span>
            <span
                class="price-excluding-tax"
                data-bind="{attr: {'data-label': $t('Price Excl. Tax')}}"
            >
                <span
                    class="price__value"
                    data-bind="text: getObservable('activeWrappingPriceWithoutTax')"
                ></span>
            </span>
            <!-- /ko -->
            <!-- ko ifnot: isDisplayWrappingBothPrices() -->
            <span
                class="regular-price"
                data-bind="{attr: {'data-label': $t('Price')}}"
            >
                <span
                    class="price__value"
                    data-bind="text: getObservable('activeWrappingPrice')"
                ></span>
            </span>
            <!-- /ko -->
            <button
                class="
                    action
                    action-remove
                    button
                    button--secondary
                "
                data-bind="
                    attr: {title: $t('Remove')},
                    click: $data.uncheckWrapping.bind($data)
                "
            >
                <span data-bind="i18n: 'Remove'"></span>
            </button>
        </div>

        <fieldset
            class="
                fieldset
                gift-options__additional
                margin-bottom-m
            "
        >
            <legend
                class="fieldset__legend fieldset__legend--hidden"
                data-bind="i18n: 'Pick a paper of your choice'">
            </legend>
            <!-- ko if: isAllowGiftReceipt() -->
            <div
                class="
                    checkbox
                    choice
                    gift-receipt
                "
            >
                <input
                    type="checkbox"
                    class="checkbox__field"
                    id="giftReceipt"
                    data-bind="checked: getObservable('giftReceipt')"
                />
                <svg
                    role="presentation"
                    focusable="false"
                    class="
                        checkbox__icon
                        checkbox__icon--checked
                    "
                >
                    <use data-bind="attr: { 'href': require.toUrl('images/icons-sprite.svg#checked') }" href=''></use>
                </svg>

                <svg
                    role="presentation"
                    focusable="false"
                    class="
                        checkbox__icon
                        checkbox__icon--unchecked
                    "
                >
                    <use data-bind="attr: { 'href': require.toUrl('images/icons-sprite.svg#unchecked') }" href=''></use>
                </svg>
                <label
                    for="giftReceipt"
                    class="label checkbox__label"
                >
                    <span data-bind="i18n: 'Gift Receipt'"></span>
                </label>
            </div>
            <!-- /ko -->

            <!-- ko if: isAllowPrintedCard() -->
            <div
                class="
                    checkbox
                    choice
                    gift-printed-card
                "
            >
                <input
                    type="checkbox"
                    class="checkbox__field"
                    id="printedCard"
                    data-bind="checked: getObservable('printedCard')"
                />
                <svg
                    role="presentation"
                    focusable="false"
                    class="
                        checkbox__icon
                        checkbox__icon--checked
                    "
                >
                    <use data-bind="attr: { 'href': require.toUrl('images/icons-sprite.svg#checked') }" href=''></use>
                </svg>

                <svg
                    role="presentation"
                    focusable="false"
                    class="
                        checkbox__icon
                        checkbox__icon--unchecked
                    "
                >
                    <use data-bind="attr: { 'href': require.toUrl('images/icons-sprite.svg#unchecked') }" href=''></use>
                </svg>
                <label
                    for="printedCard"
                    class="label checkbox__label"
                >
                    <span data-bind="i18n: 'Printed card'"></span>
                </label>
            </div>
            <div
                class="price-box price"
                data-bind="visible: getObservable('printedCard')"
            >
                <!-- ko if: isDisplayCardBothPrices() -->
                <span
                    class="price-including-tax"
                    data-bind="{
                        attr: {
                            'data-label': $t('Price Incl. Tax')
                        }
                    }"
                >
                    <span
                        class="price__value"
                        data-bind="text: getPrintedCardPriceWithTax()"
                    ></span>
                </span>
                <span
                    class="price-excluding-tax"
                    data-bind="{
                        attr: {
                            'data-label': $t('Price Excl. Tax')
                        }
                    }"
                >
                    <span
                        class="price__value"
                        id="regular-card-price"
                        data-bind="text: getPrintedCardPriceWithoutTax()"
                    ></span>
                </span>
                <!-- /ko -->
                <!-- ko ifnot: isDisplayCardBothPrices() -->
                <span
                    class="regular-price"
                    data-bind="{
                        attr: {
                            'data-label': $t('Price')
                        }
                    }"
                >
                    <span
                        class="price__value"
                        data-bind="text: getPrintedCardPrice()"
                    ></span>
                </span>
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </fieldset>
    </div>
</div>
<!-- /ko -->
