$product-list-item__border-style: solid !default;
$product-list-item__border-color: $color-secondary !default;
$product-list-item__border-width: 0 0 1px 0 !default;
$product-list-item__padding: $spacer--medium $spacer !default;
$product-list-item__padding\@medium: 0 0 0 $spacer !default;


$product-list-item__image-width                    : 96px;
$product-list-item__image-width\@medium            : 208px;
$product-list-item__cart-wrapper-width\@medium     : 192px;
$product-list-item__cart-wrapper-width\@extra-large: 216px;
$product-list-item__cart-button-size               : 48px;
$product-list-item__cart-button-size\@small        : 56px;
