<div class="page-wrapper">
    {{ render '@header' }}
    <div class="container">
        <div class="not-found text-center">
            <h1 class="heading not-found__heading">
                <span class="not-found__heading-number">
                    404
                </span>
                Whoops, our bad...
            </h1>

            <section class="not-found__actions row">
                <div class="col-xs-12 col-md-6 end-md">
                    {{ render '@button--link' homeLink merge=true }}
                </div>
                <div class="col-xs-12 col-md-6 start-md">
                    {{ render '@button--link' accountLink merge=true }}
                </div>
            </section>

            <section class="not-found__text">
                <p>
                    The page you requested was not found, and we have a fine guess why.<br>
                    If you typed the URL directly, please make sure the spelling is correct.<br>
                    If you clicked on a link to get here, the link is outdated.
                </p>
                <p>
                    What can you do?<br>
                    Have no fear, help is near! There are many ways you can get back on track with Magento Store.
                </p>
                <p>
                    Go back to the previous page.<br>
                    Use the search bar at the top of the page to search for your products.<br>
                    Follow these links to get you back on track!
                </p>
            </section>
        </div>
    </div>
</div>
{{ render '@footer' }}
