@import 'table-variables';

.dashboard-table {
    overflow: hidden;

    &__header {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        margin: $dashboard-table__header-margin;
        padding: $dashboard-table__header-padding;
        background: $dashboard-table__header-background;
        border: $dashboard-table__header-border;
        border-width: $dashboard-table__header-border-width;
    }

    &__content {
        margin: $dashboard-table__content-margin;
        overflow-x: auto;
    }

    &__title {
        margin: $dashboard-table__title-margin;
        font-family: $dashboard-table__title-font-family;
        font-size: $dashboard-table__title-font-size;
        font-weight: $dashboard-table__title-font-weight;
    }
}
