$dashboard-table__header-margin         : 0 0 $spacer--medium !default;
$dashboard-table__header-padding        : $spacer--medium !default;
$dashboard-table__header-background     : $bg-color-secondary !default;
$dashboard-table__header-border         : $border-secondary !default;
$dashboard-table__header-border-width   : 0 0 $border-width-secondary !default;

$dashboard-table__content-margin        : 0 0 $spacer--medium !default;

$dashboard-table__title-margin          : 0 $spacer--medium 0 0 !default;
