<div class="dashboard-table {{ class }}">
    {{#if title }}
        <div class="dashboard-table__header">
            <h5 class="heading heading--fifth-level dashboard-table__title">
                {{ title }}
            </h5>
            <a href="#" class="link dashboard-table__link">
                {{ link }}
            </a>
        </div>
    {{/if }}
    <div class="dashboard-table__content">
        {{ render '@table' table }}
    </div>
</div>
