<div class="dashboard-table {{ class }}">
    {{#if title }}
        <div class="dashboard-table__header">
            <h2 class="heading dashboard-table__title">
                {{ title }}
            </h2>
            <a href="#" class="link dashboard-table__link">
                {{ link }}
            </a>
        </div>
    {{/if }}
    <div class="dashboard-table__content">
        {{ render '@table' table }}
    </div>
</div>
