// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

$icons-pagebuilder__font-name: 'pagebuilder-font';
$icons-pagebuilder__font-path: '../Magento_PageBuilder/fonts/pagebuilder-icons/pagebuilder-icons';

$icon-pagebuilder-caret-up__content: '\f104';
$icon-pagebuilder-caret-down__content: '\f101';
$icon-pagebuilder-caret-next__content: '\f102';
$icon-pagebuilder-caret-prev__content: '\f103';

@import '_icons';
@import '_layout';
@import 'slick/_slick';
@import 'content-type/_import';

.cms-content-important {
    background-color: #f5f5f5;
    color: #333333;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.1;
    margin: 0 0 35px -20px;
    padding: 20px;
}

.pagebuilder-full-width {
    float: left;
    width: 100%;
}

.pagebuilder-content-type {
    box-sizing: border-box;
    margin-bottom: 20px;
}

//
//  styles for legacy content types
//  _____________________________________________

// .pagebuilder-accordion {
//     .lib-data-accordion();
// }

//
//  Responsive Classes
//  _____________________________________________

@include mq($screen-m) {
    .pagebuilder-mobile-only {
        display: none !important;
    }
}

@include mq($max-screen: $screen-m - 1) {
    .pagebuilder-mobile-hidden {
        display: none !important;
    }
}

