.minicart-link {
    display: block;
    position: absolute;
    top: -42px;
    right: 200px;
    padding: 10px;

    @include mq($screen-s) {
        top: 10px;
    }

    @include mq($screen-l) {
        right: 110px;
        z-index: 10;
    }

    &:hover,
    &:focus {
        .minicart-link__counter-label {
            visibility: visible;
        }
    }

    &__icon {
        display: block;
        width: 30px;
        height: 30px;
    }

    &__counter-qty {
        position: absolute;
        top: -5px;
        right: -5px;
        display: block;
        padding: 5px;
        background-color: $purple;
        color: $white;
        font-size: $font-size-extra-small;

        @include mq($screen-l) {
            top: 2px;
        }
    }

    &__counter-label {
        position: absolute;
        bottom: -5px;
        right: 0;
        visibility: hidden;
        color: $purple;
        white-space: nowrap;
        transition: visibility 0.3s;
    }
}
