.minicart {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    background-color: $white;
    width: 100%;
    max-width: 350px;
    z-index: 99;
    box-shadow: $box-shadow;

    @include mq($screen-s) {
        top: 50px;
    }

    &__wrapper {
        position: relative;
    }

    &__btn-close {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: $white;
        padding: 10px;
        border: 0;
        cursor: pointer;
    }

    &__btn-close-icon {
        width: 20px;
        height: 20px;
    }

    &__action {
        text-align: right;
    }

    &__subtotal {
        margin: 10px 0;
    }

    &__price {
        text-align: right;
    }
}
