@import 'registration-form-variables.scss';

.registration-form {
    padding-top: $registration-form__padding-top;

    &__info {
        max-width: $registration-form__info-width;
        margin: $registration-form__info-margin;
        padding: $registration-form__info-padding;
        font-size: $registration-form__info-font-size;
        text-align: center;
    }

    &__divider {
        margin-bottom: $spacer--large;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: $registration-form__form-margin;
    }

    &__input {
        margin: $registration-form__input-margin;
    }

    &__legend {
        position: relative;
        margin: $registration-form__legend-margin;
        padding: $registration-form__legend-padding;
        width: $registration-form__legend-width;
        font-family: $registration-form__legend-font-family;
        font-size: $registration-form__legend-font-size;
        font-weight: $registration-form__legend-font-weight;
        text-transform: uppercase;
        text-align: center;

        @include mq($screen-m) {
            font-size: $registration-form__legend-font-size\@medium;
        }
    }

    &__fieldset {
        width: $registration-form__fieldset-width;
        margin: $registration-form__fieldset-margin;

        @include mq($screen-m) {
            max-width: $registration-form__fieldset-max-width\@medium;
        }

        &:not(:last-of-type) {
            margin: #{$registration-form__fieldset-margin} * 2;
        }
    }

    &__password-wrapper {
        margin: $registration-form__password-wrapper-margin;
    }

    &__password {
        margin: $registration-form__password-margin;
    }

    &__validation-tips {
        margin: $registration-form__validation-tips-margin;
        font-size: $registration-form__validation-tips-font-size;
    }

    &__button {
        width: 100%;
        justify-content: center;
        min-width: $registration-form__button-min-width;
    }

    &__input-wrapper {
        position: relative;
    }
}
