$registration-form__padding-top               : $spacer--medium !default;

$registration-form__info-width                : 656px !default;
$registration-form__info-margin               : $spacer--extra-large auto 24px !default;
$registration-form__info-padding              : 0 0 $spacer--extra-large !default;
$registration-form__info-font-size            : $font-size-medium !default;

$registration-form__form-margin               : 0 !default;
$registration-form__input-margin              : 0 0 $spacer--large !default;

$registration-form__fieldset-max-width\@medium: 432px !default;
$registration-form__fieldset-width            : 100% !default;
$registration-form__fieldset-margin           : 0 0 $spacer--medium !default;

$registration-form__legend-font-family        : $font-family-secondary !default;
$registration-form__legend-font-size          : $font-size-large !default;
$registration-form__legend-font-size\@medium  : $font-size-extra-large !default;
$registration-form__legend-font-weight        : $font-weight-normal !default;
$registration-form__legend-margin             : 0 !default;
$registration-form__legend-padding            : 0 0 $spacer--medium 0 !default;
$registration-form__legend-width              : 100% !default;

$registration-form__password-wrapper-margin   : 0 0 $spacer--large !default;
$registration-form__password-margin           : 0 !default;

$registration-form__validation-tips-margin    : $spacer--extra-large 0 !default;
$registration-form__validation-tips-font-size : $font-size-medium !default;

$registration-form__button-min-width          : 208px !default;
