{
  "extends": [
    "standard",
    "plugin:cypress/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["cypress", "prettier"],
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "indent": ["error", 2],
    "prettier/prettier": "error"
  }
}
