$yotpo-reviews__action-color                    : $font-color-base !default;
$yotpo-reviews__action-color-hover              : $bright-sky-blue !default;
$yotpo-reviews__action-font-size                : $font-size-medium !default;
$yotpo-reviews__action-font-family              : $font-family-base !default;
$yotpo-reviews__action-text-transform           : capitalize !default;

$yotpo-reviews__action-helpful-text-transform   : initial !default;
$yotpo-reviews__action-helpful-color            : $font-color-base !default;
$yotpo-reviews__action-helpful-icon-size        : $font-size-medium !default;
$yotpo-reviews__action-helpful-icon-color       : $color-primary !default;
$yotpo-reviews__action-helpful-icon-padding     : $spacer--medium;
$yotpo-reviews__action-helpful-vote-font-size   : $font-size-base !default;
$yotpo-reviews__action-helpful-vote-color       : $font-color-base !default;
$yotpo-reviews__action-helpful-vote-btn-margin  : 0 !default;

$yotpo-reviews__action-font-size                : $font-size-medium !default;
$yotpo-reviews__action-font-family              : $font-family-base !default;

$yotpo-reviews__content-title-font-family       : $font-family-secondary !default;
$yotpo-reviews__content-title-font-size         : $font-size-large !default;
$yotpo-reviews__content-title-color             : $color-primary !default;
$yotpo-reviews__content-title-font-weight       : $font-weight-bold !default;

$yotpo-reviews__content-review-color            : $gray-dark !default;
$yotpo-reviews__content-review-font-size        : $font-size-base !default;
$yotpo-reviews__content-review-font-family      : $font-family-base !default;
$yotpo-reviews__content-review-line-height      : $font-line-height !default;

$yotpo-reviews__first-review-icons-display      : none !default;
$yotpo-reviews__first-review-button-display     : initial !default;

$yotpo-reviews__first-question-button-display    : none !default;

$yotpo-reviews__icon-profile-size               : 48px !default;
$yotpo-reviews__icon-profile-background         : $color-primary !default;
$yotpo-reviews__icon-profile-letter-font-size   : $font-size-extra-large !default;
$yotpo-reviews__icon-profile-letter-font-family : $font-family-secondary !default;
$yotpo-reviews__icon-profile-letter-color       : $white !default;

$yotpo-reviews__inline-icon-font-size           : $font-size-medium !default;
$yotpo-reviews__inline-link-font-size           : $font-size-base !default;
$yotpo-reviews__inline-link-color               : $color-primary !default;
$yotpo-reviews__inline-link-color-hover         : $color-secondary !default;


$yotpo-reviews__input-post-background-hover     : $gray-dark !default;

$yotpo-reviews__nav-tab-border-color            : $border-color-secondary !default;
$yotpo-reviews__nav-tab-color                   : $gray !default;
$yotpo-reviews__nav-tab-color--active           : $color-primary !default;

$yotpo-reviews__listing-review-display          : none !default;
$yotpo-reviews__listing-icon-size               : 20px !default;
$yotpo-reviews__listing-review-font-size        : $font-size-base !default;
$yotpo-reviews__listing-review-line-height      : $font-line-height !default;
$yotpo-reviews__listing-review-margin-left      : $spacer !default;

$yotpo-reviews__login-connect-wrapper-width     : 320px !default;
$yotpo-reviews__login-socialize-wrapper-width   : calc(#{$yotpo-reviews__login-connect-wrapper-width} + 10px) !default;

$yotpo-reviews__logo-text-color                 : $color-info !default;
$yotpo-reviews__logo-icon-color                 : $color-info !default;

$yotpo-reviews__review-icon-size                : 20px !default;
$yotpo-reviews__star-color                      : $color-primary !default;

$yotpo-reviews__thank-you-heart-icon-color      : $red !default;
$yotpo-reviews__thank-you-text-color            : $color-primary !default;

$yotpo-reviews__username-font-family            : $font-family-secondary !default;
$yotpo-reviews__username-font-size              : $font-size-medium !default;
$yotpo-reviews__username-color                  : $color-primary !default;
$yotpo-reviews__username-text-transform         : uppercase !default;
$yotpo-reviews__username-font-weight            : $font-weight-normal !default;

$yotpo-reviews__date-font-family                : $font-family-base !default;
$yotpo-reviews__date-font-size                  : $font-size-base !default;
$yotpo-reviews__date-color                      : $color-primary !default;
$yotpo-reviews__date-text-transform             : uppercase !default;
$yotpo-reviews__date-font-weight                : $font-weight-normal !default;

%error {
    color: $color-error;
    font-weight: $font-weight-normal;
}

//sass-lint:disable no-important
.page-main {
    .product-view,
    .product-item-info {
        .standalone-bottomline {
            &.star-clickable,
            .star-clickable {
                align-items: center;
            }
            .yotpo-icon {
                font-size: $yotpo-reviews__listing-icon-size;
            }
            // show or not X reviews on product listings
            a {
                display: $yotpo-reviews__listing-review-display;
                font-size: $yotpo-reviews__listing-review-font-size;
                line-height: $yotpo-reviews__listing-review-line-height;
                margin-left: $yotpo-reviews__listing-review-margin-left;
            }
        }

        .yotpo {
            &.yotpo-main-widget,
            .yotpo-modal-dialog,
            .yotpo-bottomline {
                .yotpo-icon-star,
                .yotpo-icon-half-star,
                .yotpo-icon-empty-star {
                    color: $yotpo-reviews__star-color !important;
                }
            }

            .yotpo-bottomline {
                .yotpo-icon-star,
                .yotpo-icon-half-star,
                .yotpo-icon-empty-star {
                    font-size: $yotpo-reviews__inline-icon-font-size;
                }
            }
        }
    }
    .product-view {
        .yotpo {
            div,
            span,
            p,
            a,
            img,
            i,
            strong,
            sup,
            ul,
            li,
            form,
            label,
            .yotpo-default-button,
            input[type="button"].yotpo-default-button {
                font-family: $font-family-base;
                font-size: $font-size-base;
            }

            a {
                color: $yotpo-reviews__inline-link-color !important;
                background: transparent !important;
                font-size: $yotpo-reviews__inline-link-font-size;

                &:hover,
                &:focus {
                    color: $yotpo-reviews__inline-link-color-hover !important;
                    background: transparent !important;
                }
            }

            .yotpo-regular-box {
                border: none;
            }

            .yotpo-default-button,
            input[type="button"].yotpo-default-button {
                @extend .button;
                &:hover {
                    background-color: $button__background-hover !important;
                    text-decoration: $button__text-decoration-hover !important;

                    &:before {
                        display: $button__before-display-hover !important;
                        transform: $button__before-transform-hover !important;
                    }

                    &:after {
                        display: $button__after-display-hover !important;
                        left: $button__after-position-left-hover !important;
                        opacity: $button__after-opacity-hover !important;
                    }
                }

                &:disabled,
                &[disabled] {
                    background-color: $button__background-disabled !important;
                    border-color: $button__background-disabled !important;
                    color: $button__text-color !important;
                    cursor: not-allowed !important;

                    .icon {
                        fill: $button__text-color !important;
                    }

                    &:hover {
                        background-color: $button__background-disabled !important;

                        &:before,
                        &:after {
                            display: none;
                        }
                    }
                }
            }

            // here arrow icon won't work as they use input element
            .yotpo-default-button.primary-color-btn.yotpo-submit {
                @extend .button;
                &:hover {
                    background-color: $yotpo-reviews__input-post-background-hover !important;
                    text-decoration: $button__text-decoration-hover !important;
                }
            }

            .yotpo-nav ul .yotpo-nav-tab {
                span {
                    color: $yotpo-reviews__nav-tab-color;
                }
                &.yotpo-active {
                    span {
                        color: $yotpo-reviews__nav-tab-color--active;
                    }
                    .yotpo-nav-wrapper {
                        border-color: $yotpo-reviews__nav-tab-border-color;
                    }
                }
            }

            .yotpo-review,
            .yotpo-comment,
            .yotpo-question,
            .yotpo-onsite-upload {
                .yotpo-header {
                    .yotpo-icon-profile {
                        width: $yotpo-reviews__icon-profile-size;
                        height: $yotpo-reviews__icon-profile-size;
                        background: $yotpo-reviews__icon-profile-background;
                    }
                    .yotpo-user-letter {
                        color: $yotpo-reviews__icon-profile-letter-color;
                        font-size: $yotpo-reviews__icon-profile-letter-font-size;
                        font-family: $yotpo-reviews__icon-profile-letter-font-family;
                    }
                    .yotpo-header-element {
                        .y-label.yotpo-user-name {
                            color: $yotpo-reviews__username-color;
                            font-size: $yotpo-reviews__username-font-size;
                            font-family: $yotpo-reviews__username-font-family;
                            text-transform: $yotpo-reviews__username-text-transform;
                            font-weight: $yotpo-reviews__username-font-weight;
                        }
                        .yotpo-review-date {
                            color: $yotpo-reviews__date-color;
                            font-size: $yotpo-reviews__date-font-size;
                            font-family: $yotpo-reviews__date-font-family;
                            font-weight: $yotpo-reviews__date-font-weight;
                        }
                    }
                }
                .content-review {
                    color: $yotpo-reviews__content-review-color;
                    font-size: $yotpo-reviews__content-review-font-size;
                    font-family: $yotpo-reviews__content-review-font-family;
                    line-height: $yotpo-reviews__content-review-line-height;
                }
                .yotpo-footer {
                    .yotpo-helpful {
                        .yotpo-icon {
                            font-size: $yotpo-reviews__action-helpful-icon-size;
                            color: $yotpo-reviews__action-helpful-icon-color;
                            padding: $yotpo-reviews__action-helpful-icon-padding;
                        }
                        .vote-sum {
                            font-size: $yotpo-reviews__action-helpful-vote-font-size;
                            color: $yotpo-reviews__action-helpful-vote-color;
                        }
                        .vote-btn {
                            margin: $yotpo-reviews__action-helpful-vote-btn-margin;
                        }
                    }
                    .label-helpful {
                        color: $yotpo-reviews__action-helpful-color;
                        text-transform: $yotpo-reviews__action-helpful-text-transform;
                    }
                    .yotpo-action {
                        color: $yotpo-reviews__action-color;
                        font-size: $yotpo-reviews__action-font-size;
                        font-family: $yotpo-reviews__action-font-family;
                        text-transform: $yotpo-reviews__action-text-transform;
                        &:hover {
                            color: $yotpo-reviews__action-color-hover;
                        }
                    }
                }
                .yotpo-main .content-title {
                    @extend .heading;
                    @extend .heading--second-level;
                    font-size: $yotpo-reviews__content-title-font-size;
                    color: $yotpo-reviews__content-title-color;
                    font-weight: $yotpo-reviews__content-title-font-weight;
                }
            }


            .yotpo-bottomline {
                .yotpo-icon-star,
                .yotpo-icon-half-star,
                .yotpo-icon-empty-star {
                    font-size: $yotpo-reviews__inline-icon-font-size;
                }
            }

            &.yotpo-main-widget,
            .yotpo-modal-dialog {
                .yotpo-thank-you .yotpo-thankyou-header {
                    span {
                        color: $yotpo-reviews__thank-you-text-color;
                    }
                    .yotpo-icon {
                        color: $yotpo-reviews__thank-you-heart-icon-color;
                    }
                }
                .yotpo-logo-link-new {
                    > *,
                    &:hover > * {
                        color: $yotpo-reviews__logo-icon-color;
                    }
                }
                .yotpo-label .yotpo-logo-title {
                    color: $yotpo-reviews__logo-text-color;
                }
                .yotpo-stars-and-sum-reviews {
                    display: flex;
                    align-items: center;
                    min-height: 48px;
                    .yotpo-sum-reviews,
                    .based-on {
                        padding: 0;
                    }
                }
                .yotpo-first-review-stars {
                    display: $yotpo-reviews__first-review-icons-display;
                }

                .write-first-review-button {
                    display: $yotpo-reviews__first-review-button-display;
                }

                .write-first-question-button {
                    display: $yotpo-reviews__first-question-button-display;
                }
            }

            &.yotpo-main-widget {

                .yotpo-bottomline.yotpo-bottomline-empty-state .write-question-button,
                .yotpo-bottomline.yotpo-bottomline-empty-state .write-review-button,
                .yotpo-icon-btn {
                    display: inline-flex;
                    align-items: center;
                }
                .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-1 {
                    .write-review-button,
                    .write-question-button {
                        display: none;
                    }
                }

                .yotpo-thank-you {
                    .yotpo-icon-btn {
                        .yotpo-icon-button-text {
                            display: none;
                        }
                    }
                }
            }

            .yotpo-review {
                .yotpo-header {
                    .yotpo-review-stars {
                        .yotpo-icon {
                            color: $yellow;
                            font-size: $yotpo-reviews__review-icon-size;
                        }
                    }
                }
            }

            .write-question-button:not(.write-first-question-button),
            .write-button:not(.write-first-review-button) {
                .yotpo-icon {
                    margin-right: 4px;
                }
            }

            .write-review {
                .yotpo-icon {
                    &:hover {
                        cursor: pointer;
                    }
                }
                .yotpo-footer {
                    @include mq($screen-m) {
                        display : flex !important;
                        justify-content: space-between;
                        align-items: flex-end;
                    }
                    @include mq($screen-l) {
                        justify-content: flex-start;
                    }
                    .socialize-wrapper.visible {
                        display: flex !important;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        flex-direction: column;
                        @include mq($screen-m) {
                            order: 2;
                            left: auto;
                            right: 0;
                            width: calc(50% - #{$spacer--semi-medium});
                            margin-left: $spacer--semi-medium;
                            padding-top: 20px;
                        }
                        .connected {
                            width: 100%;
                            margin: 0 0 $spacer 0;
                            @include mq($screen-m) {
                                padding-left : 48px;
                            }
                        }
                    }
                    .socialize {
                        order: 2;
                        margin-bottom: 0;
                        .y-label {
                            @include mq($screen-m) {
                                padding-top: 0;
                            }
                        }
                        > div {
                            display: flex;
                            .yotpo-icon-btn {
                                width: 48px;
                                height: 48px;
                                margin: 0 $spacer 0 0;
                            }
                            div[data-network="facebook"] {
                                order: 1;
                            }
                            div[data-network="twitter"] {
                                order: 2;
                            }
                            div[data-network="linkedin"] {
                                order: 3;
                            }
                        }
                    }
                }
                .connect-wrapper {
                    padding: 0;
                    @include mq($screen-m) {
                        width: 50%;
                    }

                    .form-element {
                        padding: 0;
                        width: 100%;
                        .form-input-error {
                            @extend %error;
                        }
                    }
                }

                .yotpo-header {
                    .y-label {
                        .form-input-error {
                            @extend %error;
                        }
                    }

                    .yotpo-header-title {
                        @extend .heading;
                        @extend .heading--second-level;
                    }

                    .yotpo-icon {
                        color: $yellow;
                    }
                }

                .submit-button {
                    float: none;
                    .form-input-error {
                        @extend %error;
                        margin: $spacer--medium 0;
                    }
                }

                .socialize-wrapper {
                    position: relative;
                    width: $yotpo-reviews__login-socialize-wrapper-width;
                    .yotpo-or {
                        margin: $spacer 0;
                        text-align: left;
                        @include mq($screen-m) {
                            margin: 0 0 41px; // to make social icons align with email input
                            width : auto;
                        }
                    }
                }
            }

            .form-group .form-element .form-input-error {
                @extend %error;
            }

            .yotpo-regular-box {
                margin: 0 $spacer $spacer--medium;
            }

            input,
            textarea {
                @extend .input__field;
            }

            textarea {
                @extend .input__field--textarea;
            }
        }

        .yotpoBottomLine {
            order: -1;
            a {
                margin-right: $spacer--small;
            }

            .yotpo-stars {
                margin-right: $spacer;
            }

            .yotpo-icon-double-bubble {
                margin-right: 4px;
            }
        }

        .bottomLine,
        .QABottomLine {
            margin-bottom: $spacer;
        }

        .y-label {
            &.yotpo-header-title {
                @extend .heading;
                @extend .heading--second-level;
            }
        }
    }
}
