$yotpo-reviews__thank-you-heart-icon-color : $red;
$yotpo-reviews__thank-you-text-color       : $color-primary;

$yotpo-reviews__username-font-family: $font-family-secondary;
$yotpo-reviews__username-font-size: $font-size-medium;

$yotpo-reviews__content-title-font-family: $font-family-secondary;
$yotpo-reviews__content-title-font-size: $font-size-large;
$yotpo-reviews__content-title-color: $color-primary;
%error {
    color: $color-error;
    font-weight: $font-weight-normal;
}

//sass-lint:disable no-important
.page-main {
    .product-view {
        .yotpo {
            div,
            span,
            p,
            a,
            img,
            i,
            strong,
            sup,
            ul,
            li,
            form,
            label,
            .yotpo-default-button,
            input[type="button"].yotpo-default-button {
                font-family: $font-family-base;
                font-size: $font-size-base;
            }

            a {
                color: $color-primary !important;
                background: transparent !important;

                &:hover,
                &:focus {
                    color: $color-secondary !important;
                    background: transparent !important;
                }
            }

            .yotpo-default-button,
            input[type="button"].yotpo-default-button {
                @extend .button;
                // external yotpo script use for this !important :(
                // perhaps better to set this colors in yotpo panel
                &:hover {
                    background-color: $button__background-hover !important;
                    text-decoration: $button__text-decoration-hover !important;

                    &:before {
                        display: $button__before-display-hover !important;
                        transform: $button__before-transform-hover !important;
                    }

                    &:after {
                        display: $button__after-display-hover !important;
                        left: $button__after-position-left-hover !important;
                        opacity: $button__after-opacity-hover !important;
                    }
                }

                &:disabled,
                &[disabled] {
                    background-color: $button__background-disabled !important;
                    border-color: $button__background-disabled !important;
                    color: $button__text-color !important;
                    cursor: not-allowed !important;

                    .icon {
                        fill: $button__text-color !important;
                    }

                    &:hover {
                        background-color: $button__background-disabled !important;

                        &:before,
                        &:after {
                            display: none;
                        }
                    }
                }
            }

            .yotpo-bottomline {
                .yotpo-icon-star,
                .yotpo-icon-half-star,
                .yotpo-icon-empty-star {
                    color: $yellow !important;
                }
            }

            .yotpo-review,
            .yotpo-comment,
            .yotpo-question,
            .yotpo-onsite-upload {
                .yotpo-header .yotpo-header-element .y-label.yotpo-user-name {
                    font-size: $yotpo-reviews__username-font-size;
                    font-family: $yotpo-reviews__username-font-family;
                }
            }

            .yotpo-review,
            .yotpo-comment,
            .yotpo-question,
            .yotpo-onsite-upload {
                .yotpo-main .content-title {
                    font-size: $yotpo-reviews__content-title-font-size;
                    color: $yotpo-reviews__content-title-color;
                }
            }


            &.yotpo-main-widget,
            .yotpo-modal-dialog {
                .yotpo-thank-you .yotpo-thankyou-header {
                    span {
                        color: $yotpo-reviews__thank-you-text-color;
                    }
                    .yotpo-icon {
                        color: $yotpo-reviews__thank-you-heart-icon-color;
                    }
                }
            }

            .yotpo.yotpo-main-widget .yotpo-thank-you .yotpo-thankyou-header span,
            .yotpo .yotpo-modal-dialog .yotpo-thank-you .yotpo-thankyou-header span
            &.yotpo-main-widget {
                .yotpo-icon-btn {
                    display: inline-flex;
                    align-items: center;
                }

                .yotpo-thank-you {
                    .yotpo-icon-btn {
                        .yotpo-icon-button-text {
                            display: none;
                        }
                    }
                }
            }

            .yotpo-review {
                .yotpo-header {
                    .yotpo-review-stars {
                        .yotpo-icon {
                            color: $yellow;
                        }
                    }
                }
            }

            .write-question-button:not(.write-first-question-button),
            .write-button:not(.write-first-review-button) {

                .yotpo-icon {
                    margin-right: 4px;
                }
            }

            .write-review {
                .connect-wrapper {
                    padding-left: 200px;

                    .form-element {
                        .form-input-error {
                            @extend %error;
                        }
                    }
                }

                .yotpo-header {
                    .y-label {
                        .form-input-error {
                            @extend %error;
                        }
                    }

                    .yotpo-header-title {
                        @extend .heading;
                        @extend .heading--second-level;
                    }

                    .yotpo-icon {
                        color: $yellow;
                    }
                }

                .submit-button {

                    .form-input-error {
                        @extend %error;

                        margin: $spacer--medium 0;
                    }
                }


                .socialize-wrapper {
                    .yotpo-or {
                        margin: 68px 8px 0;
                        width: auto;
                    }
                }
            }

            .form-group .form-element .form-input-error {
                @extend %error;
            }

            .yotpo-regular-box {
                margin: 0 $spacer $spacer--medium;
            }

            input,
            textarea {
                @extend .input__field;
            }

            textarea {
                @extend .input__field--textarea;
            }
        }

        .yotpoBottomLine {
            a {
                margin-right: $spacer--small;
            }

            .yotpo-stars {
                margin-right: $spacer;
            }

            .yotpo-icon-double-bubble {
                margin-right: 4px;
            }
        }

        .bottomLine,
        .QABottomLine {
            margin-bottom: $spacer;
        }

        .y-label {
            &.yotpo-header-title {
                @extend .heading;
                @extend .heading--second-level;
            }
        }
    }
}

.product-list-item,
.product-grid-item {
    .yotpo {
        .text-m {
            display: none;
        }
    }
}

//sass-lint:enable no-important
