$yotpo-reviews__base-star-color                        : $color-primary !default;
$yotpo-reviews__base-star-color-secondary              : $gray-darker !default;
$yotpo-reviews__yotpo-vendor-large-breakpoint          : 961px !default;

$yotpo-reviews__action-color                           : $font-color-base !default;
$yotpo-reviews__action-color-hover                     : $blue !default;
$yotpo-reviews__action-text-decoration                 : none !default;
$yotpo-reviews__action-text-decoration-hover           : underline !default;
$yotpo-reviews__action-font-size                       : $font-size-medium !default;
$yotpo-reviews__action-font-family                     : $font-family-base !default;
$yotpo-reviews__action-text-transform                  : capitalize !default;

$yotpo-reviews__action-helpful-text-transform          : initial !default;
$yotpo-reviews__action-helpful-color                   : $font-color-base !default;
$yotpo-reviews__action-helpful-icon-size               : $font-size-medium !default;
$yotpo-reviews__action-helpful-icon-color              : $yotpo-reviews__base-star-color !default;
$yotpo-reviews__action-helpful-icon-padding            : $spacer--medium;
$yotpo-reviews__action-helpful-vote-font-size          : $font-size-base !default;
$yotpo-reviews__action-helpful-vote-color              : $font-color-base !default;
$yotpo-reviews__action-helpful-vote-btn-margin         : 0 !default;

$yotpo-reviews__action-font-size                       : $font-size-medium !default;
$yotpo-reviews__action-font-family                     : $font-family-base !default;

$yotpo-reviews__content-title-font-family              : $font-family-secondary !default;
$yotpo-reviews__content-title-font-size                : $font-size-large !default;
$yotpo-reviews__content-title-color                    : $color-primary !default;
$yotpo-reviews__content-title-font-weight              : $font-weight-bold !default;

$yotpo-reviews__content-review-color                   : $gray-dark !default;
$yotpo-reviews__content-review-font-size               : $font-size-base !default;
$yotpo-reviews__content-review-font-family             : $font-family-base !default;
$yotpo-reviews__content-review-line-height             : $font-line-height !default;

$yotpo-reviews__empty-search-clear-btn-color           : $blue !default;

$yotpo-reviews__filter-list-category-color             : $color-secondary !default;
$yotpo-reviews__filter-list-category-color-selected    : $blue !default;
$yotpo-reviews__filter-non-default-color               : $color-secondary !default;
$yotpo-reviews__filter-non-default-color-selected      : $blue !default;

$yotpo-reviews__first-review-icons-display             : none !default;
$yotpo-reviews__first-review-button-display            : initial !default;

$yotpo-reviews__first-question-button-display          : none !default;

$yotpo-reviews__footer-breakpoint                      : $screen-l !default;

$yotpo-reviews__icon-profile-size                      : 48px !default;
$yotpo-reviews__icon-profile-background                : $color-primary !default;
$yotpo-reviews__icon-profile-letter-font-size          : $font-size-extra-large !default;
$yotpo-reviews__icon-profile-letter-font-family        : $font-family-secondary !default;
$yotpo-reviews__icon-profile-letter-color              : $white !default;

$yotpo-reviews__inline-icon-font-size                  : $font-size-medium !default;
$yotpo-reviews__inline-link-font-size                  : $font-size-base !default;
$yotpo-reviews__inline-link-color                      : $color-primary !default;
$yotpo-reviews__inline-link-color-hover                : $color-secondary !default;


$yotpo-reviews__input-post-background-hover            : $gray-dark !default;

$yotpo-reviews__main-average-score-font-size           : $font-size-extra-large !default;
$yotpo-reviews__main-average-score-color               : $color-primary !default;
$yotpo-reviews__main-average-margin                    : 0 $spacer--large 0 0 !default;
$yotpo-reviews__main-average-margin\@medium            : 0 !default;
$yotpo-reviews__main-average-score-line-height         : $font-line-height !default;
$yotpo-reviews__main-average-score-icon-size           : $font-size-large !default;
$yotpo-reviews__main-average-score-icon-color          : $yotpo-reviews__base-star-color !default;
$yotpo-reviews__main-average-reviews-count-font-size   : $font-size-large !default;
$yotpo-reviews__main-average-reviews-count-color       : $color-primary !default;
$yotpo-reviews__main-average-reviews-count-line-height : $font-line-height !default;

$yotpo-reviews__mobile-filter-btn-bg-color             : $button__background !default;
$yotpo-reviews__mobile-filter-btn-text-color           : $button__text-color !default;
$yotpo-reviews__mobile-filter-btn-font-size            : $button__font-size !default;
$yotpo-reviews__mobile-filter-btn-font-family          : $button__font-family !default;

$yotpo-reviews__mobile-filter-text-color               : $font-color-base !default;
$yotpo-reviews__mobile-filter-title-font-size          : $font-size-large !default;
$yotpo-reviews__mobile-filter-title-font-family        : $font-family-secondary !default;
$yotpo-reviews__mobile-filter-title-text-color         : $color-primary !default;

$yotpo-reviews__mobile-filter-selected-color           : $blue !default;
$yotpo-reviews__mobile-filter-title-color              : $color-primary !default;
$yotpo-reviews__mobile-filter-title-font-weight        : $font-weight-bold !default;

$yotpo-reviews__nav-tab-border-color                   : $border-color-secondary !default;
$yotpo-reviews__nav-tab-color                          : $gray !default;
$yotpo-reviews__nav-tab-color--active                  : $color-primary !default;

$yotpo-reviews__listing-review-display                 : none !default;
$yotpo-reviews__listing-icon-size                      : 20px !default;
$yotpo-reviews__listing-review-font-size               : $font-size-base !default;
$yotpo-reviews__listing-review-line-height             : $font-line-height !default;
$yotpo-reviews__listing-review-margin-left             : $spacer !default;

$yotpo-reviews__login-connect-wrapper-width            : 320px !default;
$yotpo-reviews__login-username-top-offset              : 62px !default;
$yotpo-reviews__login-socialize-wrapper-width          : calc(#{$yotpo-reviews__login-connect-wrapper-width} + 10px) !default;

$yotpo-reviews__logo-text-color                        : $color-info !default;
$yotpo-reviews__logo-icon-color                        : $color-info !default;

$yotpo-reviews__pager-page-color                       : $color-primary !default;
$yotpo-reviews__pager-page-color-hover                 : $blue !default;
$yotpo-reviews__pager-page-color-active                : $color-primary !default;
$yotpo-reviews__pager-page-font-size                   : $font-size-medium !default;
$yotpo-reviews__pager-page-icon-size                   : $spacer--extra-large !default;
$yotpo-reviews__pager-page-text-decoration-hover       : underline !default;
$yotpo-reviews__pager-arrow-icon-color                 : $color-primary !default;
$yotpo-reviews__pager-arrow-icon-color-hover           : $white !default;
$yotpo-reviews__pager-arrow-icon-bg-color-hover        : $color-primary !default;
$yotpo-reviews__pager-arrow-font-size                  : $font-size-base !default;
$yotpo-reviews__pager-arrow-font-weight                : $font-weight-bold !default;
$yotpo-reviews__pager-arrow-size                       : $spacer--extra-large !default;

$yotpo-reviews__review-button-icon-color               : $white !default;
$yotpo-reviews__review-icon-size                       : 20px !default;
$yotpo-reviews__star-color                             : $yotpo-reviews__base-star-color !default;
$yotpo-reviews__star-selected-color                    : $yotpo-reviews__base-star-color !default;
$yotpo-reviews__star-non-selected-color                : $yotpo-reviews__base-star-color-secondary !default;

$yotpo-reviews__thank-you-heart-icon-color             : $red !default;
$yotpo-reviews__thank-you-text-color                   : $color-primary !default;

$yotpo-reviews__username-font-family                   : $font-family-secondary !default;
$yotpo-reviews__username-font-size                     : $font-size-medium !default;
$yotpo-reviews__username-color                         : $color-primary !default;
$yotpo-reviews__username-text-transform                : uppercase !default;
$yotpo-reviews__username-font-weight                   : $font-weight-normal !default;

$yotpo-reviews__date-font-family                       : $font-family-base !default;
$yotpo-reviews__date-font-size                         : $font-size-base !default;
$yotpo-reviews__date-color                             : $color-primary !default;
$yotpo-reviews__date-text-transform                    : uppercase !default;
$yotpo-reviews__date-font-weight                       : $font-weight-normal !default;

%error {
    color: $color-error;
    font-weight: $font-weight-normal;
}
