$slider__margin                        : 0 0 $spacer !default;
$slider__margin\@large--products       : 0 $spacer !default;
$slider__item-width                    : 100% !default;
$slider__item-padding--products        : $spacer !default;
$slider__item-width--products          : 50% !default;
$slider__item-width\@medium--products  : 33.3% !default;
$slider__item-width\@large--products   : 25% !default;
$slider__navigation-height\@medium     : $spacer--extra-large !default;
$slider__navigation-width              : 100% !default;
$slider__navigation-top                : $spacer--extra-large !default;
$slider__navigation-top\@medium        : calc(50% - #{$slider__navigation-top / 2}) !default;
$slider__navigation-IE-width           : calc(50% - #{$slider__navigation-top}) !default;
$slider__navigation-icon-background    : $gray-lighter !default;
$slider__navigation-icon-border\@medium: $border-secondary !default;
$slider__icon-fill                     : $color-primary !default;
