$slider__margin                              : 0 !default;
$slider__width                               : 100% !default;

$slider__heading-justify-content             : center !default;
$slider__heading-min-height                  : 48px !default;
$slider__heading-margin                      : 0 0 $spacer--semi-medium !default;
$slider__heading-margin--products            : 0 0 $spacer--extra-large !default;

$slider__item-padding--products              : $spacer !default;

$slider__item-padding--brands                : 0 !default;
$slider__item-width--brands                  : 96px !default;
$slider__item-to-show--brands                : 3 !default;
$slider__item-width\@medium--brands          : 144px !default;
$slider__item-to-show\@medium--brands        : 4 !default;
$slider__item-width\@large--brands           : 144px !default;
$slider__item-to-show\@large--brands         : 6 !default;
$slider__item-width\@max-width--brands       : 208px !default;
$slider__item-to-show\@max-width--brands     : 6 !default;

$slider__handler-max-width--brands           : $slider__item-width--brands * $slider__item-to-show--brands !default;
$slider__handler-max-width\@medium--brands   : $slider__item-width\@medium--brands * $slider__item-to-show\@medium--brands !default;
$slider__handler-max-width\@large--brands    : $slider__item-width\@large--brands * $slider__item-to-show\@large--brands !default;
$slider__handler-max-width\@max-width--brands: $slider__item-width\@max-width--brands * $slider__item-to-show\@max-width--brands !default;

$slider__navigation-display                  : none !default;
$slider__navigation-display-breakpoint       : $screen-m !default;
$slider__navigation-width                    : 100% !default;
$slider__navigation-top                      : 50% !default;
$slider__navigation-IE-width                 : calc(50% - #{$slider__navigation-top}) !default;

$slider__prev-left                           : 0 !default;
$slider__next-right                          : 0 !default;

$slider__nav-button-border-radius            : 0 !default;

$slider__nav-button-size                     : 48px !default;
$slider__nav-icon-size                       : 24px !default;

$slider__dots-bottom                         : -$spacer--large !default;
$slider__dots-margin                         : 0 10px 0 0 !default;
$slider__dots-padding                        : 0 !default;
$slider__dot-size                            : 6px !default;
$slider__dot-background-color                : $gray !default;
$slider__dot-background-color--active        : $color-primary !default;

$slider__link-font-weight                    : $font-weight-bold !default;
$slider__link-line-height                    : 48px !default;
$slider__link-align                          : center !default;

//breakpoint overflow items styles
$slider__container-before-bg                 : linear-gradient(to left, transparent, $white 50%) !default;
$slider__container-after-bg                  : linear-gradient(to right, transparent, $white 50%) !default;
