$slider__margin                      : $spacer;
$slider__margin\@large--products     : 0 $spacer !default;
$slider__item-width                  : 50%;
$slider__item-width\@medium--products: 33.3%;
$slider__item-width\@medium          : 25%;
$slider__item-width\@large           : 25%;
$slider__navigation-height           : $spacer--extra-large;
$slider__navigation-width            : 100%;
$slider__navigation-icon-size        : $spacer--extra-large;
$slider__navigation-icon-background  : $gray-lighter;
$slider__navigation-icon-border      : 1px solid $gray-dark;
$slider__icon-fill                   : $color-primary;
$slider__icon-fill-hover             : darken($color-primary, 10%);
