$giftregistry__item-image-max-width      : 100px !default;
$giftregistry__item-image-margin         : 0 $spacer 0 0 !default;

$giftregistry__table-link-text-decoration: underline !default;

$giftregistry__qty-field-min-width       : 64px !default;
