@import 'gift-registry-variables';

.giftregistry {
    &__item {
        display: flex;
        flex-flow: row nowrap;
    }

    &__image {
        flex-basis: $giftregistry__image-flex-basis;
        flex-shrink: 0;
    }

    &__image-link {
        display: flex;
        align-items: center;
    }

    &__qty-field {
        min-width: $giftregistry__qty-field-min-width;
    }
}
