$datepicker__border                              : 2px solid #000 !default;
$datepicker__background-color                    : #fff !default;

$datepicker__arrow-top                           : 9px !default;

$datepicker__prev-icon-border-color              : transparent #000 transparent transparent !default;
$datepicker__next-icon-border-color              : transparent #000 transparent transparent !default;

$datepicker__select-background-color             : transparent !default;
$datepicker__select-height                       : 35px !default;

$datepicker__calendar-border-collapse            : separate !default;
$datepicker__calendar-border                     : 0 !default;

$datepicker__today-background-color              : #000 !default;
$datepicker__today-background-color--active      : #fff !default;
$datepicker__today-color                         : #000 !default;
$datepicker__today-color--active                 : #fff !default;

$datepicker__current-day-border                  : 1px solid #000 !default;
$datepicker__current-day-background-color        : #fff !default;
$datepicker__current-day-background-color--active: #000 !default;
$datepicker__current-day-color--active           : #fff !default;

$datepicker__ui-state-text-align                 : center !default;
$datepicker__ui-state-background-color--active   : #000 !default;
$datepicker__ui-state-color--active              : #fff !default;

.ui-datepicker {
    border: $datepicker__border;
    background-color: $datepicker__background-color;
    .ui-datepicker-prev {
        top: $datepicker__arrow-top;
        .ui-icon {
            border-color: $datepicker__prev-icon-border-color;
        }
    }
    .ui-datepicker-next {
        top: $datepicker__arrow-top;
        .ui-icon {
            border-color: $datepicker__next-icon-border-color;
        }
    }

    .ui-datepicker-month,
    .ui-datepicker-year {
        background-color: $datepicker__select-background-color;
        height: $datepicker__select-height;
    }

    .ui-datepicker-calendar {
        border-collapse: $datepicker__calendar-border-collapse;
        border: $datepicker__calendar-border;
        .ui-datepicker-today {
            background-color: $datepicker__today-background-color;
            .ui-state-default {
                color: $datepicker__today-color;
                &.ui-state-hover {
                    background-color: $datepicker__today-background-color--active;
                    color: $datepicker__today-color--active;
                }
            }
        }

        .ui-datepicker-current-day {
            border: $datepicker__current-day-border;
            background-color: $datepicker__current-day-background-color;
            .ui-state-active {
                background-color: $datepicker__current-day-background-color--active;
                color: $datepicker__current-day-color--active;
            }
        }

        .ui-state-default {
            text-align: $datepicker__ui-state-text-align;
            &.ui-state-hover {
                background-color: $datepicker__ui-state-background-color--active;
                color: $datepicker__ui-state-color--active;
            }
        }
    }

    .ui-datepicker-buttonpane {
        border: 0;

        button {
            @extend .button;
            @extend .button--secondary;
        }
    }
}
