$content-block__padding: 0 $spacer--medium !default;

$content-block__heading-padding: $spacer--medium 0 !default;
$content-block__heading-max-width: 200px !default;
$content-block__heading-font-size: $font-size-extra-large !default;
$content-block__heading-line-height: 48px !default;
$content-block__heading-border: 4px solid $black !default;

$content-block__introduction-margin: $spacer--large 0 !default;
$content-block__introduction-margin-top\@medium: 0 !default;
$content-block__introduction-font-size: $font-size-medium !default;
$content-block__introduction-font-weight: $font-weight-bold !default;
$content-block__introduction-line-height: 24px !default;

$content-block__description-font-size: $font-size-base !default;
$content-block__description-line-height: 24px !default;

$content-block__link-font-size: $font-size-base !default;
$content-block__link-font-weight: $font-weight-bold !default;
$content-block__link-line-height: 48px !default;
$content-block__link-text-decoration: none !default;
$content-block__link-text-decoration--hover: underline !default;
