@import 'content-block-variables';

.content-block {
    padding: $content-block__padding;

    &__heading {
        max-width: $content-block__heading-max-width;
        padding: $content-block__heading-padding;
        font-size: $content-block__heading-font-size;
        line-height: $content-block__heading-line-height;

        &--secondary {
            border-top: $content-block__heading-border;
            border-bottom: $content-block__heading-border;
        }
    }

    &__introduction {
        margin: $content-block__introduction-margin;
        font-size: $content-block__introduction-font-size;
        font-weight: $content-block__introduction-font-weight;
        line-height: $content-block__introduction-line-height;

        @include mq($screen-m) {
            margin-top: $content-block__introduction-margin-top\@medium;
        }
    }

    &__description {
        font-size: $content-block__description-font-size;
        line-height: $content-block__description-line-height;
    }

    &__link {
        font-size: $content-block__link-font-size;
        font-weight: $content-block__link-font-weight;
        line-height: $content-block__link-line-height;
        text-decoration: $content-block__link-text-decoration;

        &:focus,
        &:hover {
            text-decoration: $content-block__link-text-decoration--hover;
        }
    }
}
