<div class="content-block {{ class }}">
    <div class="row">
        {{#each columns as |column|}}
            <div class="{{ column.class }}">
                {{#each column.elements as |element|}}
                    {{ render (component contentElement) contentContext merge=true}}
                {{/each}}
            </div>
        {{/each}}
    </div>
</div>
