$dashborad-form__margin: 0 0 $spacer--semi-medium !default;

.dashboard-form {
    &__divider,
    &__select {
        margin: $dashborad-form__margin;
    }

    &--hidden {
        display: none;
    }
}
