@import 'modal-variables';

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: $modal__z-index;
    width: 100%;
    height: 100%;
    padding: $modal__padding;
    background-color: $modal__background-color;
    border: $modal__border;

    &--active {
        display: flex;
        flex-direction: column;
        justify-content: $modal__justify-content;
        align-items: $modal__align-items;
    }

    &--secondary {
        justify-content: $modal__justify-content--secondary;
        align-items: $modal__align-items--secondary;

        .modal__container {
            height: $modal__container-height--secondary;
            width: $modal__container-width--secondary;
            max-width: $modal__container-max-width--secondary;
            animation: $modal__container-animation--secondary;

            @include mq($screen-m) {
                padding: $modal__container-padding--secondary\@medium;
            }

            @include mq($screen-l) {
                max-width: $modal__container-max-width--secondary\@large;
                padding: $modal__container-padding--secondary\@large;
            }
        }

        .modal__content {
            height: $modal__content-height--secondary;
        }
    }

    &--tertiary {
        justify-content: $modal__justify-content--tertiary;
        align-items: $modal__align-items--tertiary;

        .modal__container {
            height: $modal__container-height--tertiary;
            width: $modal__container-width--tertiary;
            max-width: $modal__container-max-width--tertiary;
            animation: $modal__container-animation--tertiary;
            box-shadow: $modal__container-box-shadow--tertiary;
        }
    }

    &__container {
        position: relative;
        display: block;
        width: $modal__container-width;
        max-width: $modal__container-max-width;
        max-height: $modal__container-max-height;
        padding: $modal__container-padding;
        border: $modal__container-border;
        box-shadow: $modal__container-box-shadow;
        background-color: $modal__container-background-color;
        animation: $modal__container-animation;
        overflow: auto;

        @include mq($screen-m) {
            padding: $modal__container-padding\@medium;
        }
    }

    &__cookies-container {
        max-width: $modal__cookies-container-max-width;
    }

    &__content {
        display: flex;
        flex-direction: column;
        max-height: 100%;

        &--block {
            display: block;
        }
    }

    &__top {
        padding: $modal__top-padding;
        margin: $modal__top-margin;
        border: $modal__top-border;
        border-width: $modal__top-border-width;
    }

    &__middle {
        padding: $modal__middle-padding;
        margin: $modal__middle-margin;
        border: $modal__middle-border;
        border-width: $modal__middle-border-width;
        overflow-y: auto;
    }

    &__bottom {
        padding: $modal__bottom-padding;
        margin: $modal__bottom-margin;
        border: $modal__bottom-border;
        border-width: $modal__bottom-border-width;
    }

    &__close-button {
        position: absolute;
        top: $modal__close-button-top;
        right: $modal__close-button-right;
    }

    &__heading {
        font-size: $modal__heading-font-size;
        font-weight: $modal__heading-font-weight;
        margin: $modal__heading-margin;

        @include font-padding(
            $modal__heading-font-size,
            $modal__heading-height,
            $modal__heading-padding-right,
            $modal__heading-padding-left
        );
    }

    &__subheading {
        font-size: $modal__subheading-font-size;
        font-weight: $modal__subheading-font-weight;
        margin: $modal__subheading-margin;

        @include font-padding(
            $modal__subheading-font-size,
            $modal__subheading-height,
            $modal__subheading-padding-right,
            $modal__subheading-padding-left
        );
    }

    &__bottom-actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: $modal__bottom-actions-justify-content;
        padding: $modal__bottom-actions-padding;
        margin: $modal__bottom-actions-margin;
        max-width: $modal__bottom-actions-max-width;
    }

    &__bottom-action {
        padding: $modal__bottom-action-padding;
        margin: $modal__bottom-action-margin;
        flex-basis: $modal__bottom-action-width;

        &:last-child {
            margin-bottom: 0;
        }

        .button {
            width: $modal__bottom-action-button-width;
        }
    }
}

// Magento_UI
.modal-custom,
.modal-popup {
    z-index: $modal-ui-base__z-index;
}

.modal-popup {
    &.confirm {
        z-index: $modal-ui-confirm__z-index;
    }
}
