$search-no-results__icon-size  : 120px;
$search-no-results__icon-fill  : $gray-dark;
$search-no-results__icon-margin: $spacer--extra-large auto;

$search-no-results__description-margin-bottom: $spacer--extra-large;
$search-no-results__description-line-height: 32px;
$search-no-results__description-font-size: 16px;
$search-no-results__description-font-size--bold: 18px;

.search-no-results {
    &__icon {
        width: $search-no-results__icon-size;
        height: $search-no-results__icon-size;
        fill: $search-no-results__icon-fill;
        margin: $search-no-results__icon-margin;
    }
    &__description {
        margin-bottom: $search-no-results__description-margin-bottom;
        font-size: $search-no-results__description-font-size;
        line-height: $search-no-results__description-line-height;

        strong {
            font-size: $search-no-results__description-font-size--bold;
        }
    }
}
