.sidebar-checkout {
    display: block;
    position: static;

    .modal-content {
        padding: 0;
    }
}

body._has-modal-custom {
    .sidebar-checkout .modal-content {
        padding: $spacer--extra-large;
    }

    .order-summary {
        background: $white;
    }
}
