$sidebar-checkout__modal-content-padding       : 0 !default;
$sidebar-checkout__modal-content-padding\@small: $spacer--medium !default;
$sidebar-checkout__modal-content-padding\@large: $spacer--extra-large !default;
$order-summary__background                     : $white !default;

.sidebar-checkout {
    display: block;
    position: static;

    .modal-content {
        padding: 0;
    }
}

body._has-modal-custom {
    .sidebar-checkout .modal-content {
        padding: $sidebar-checkout__modal-content-padding;

        @include mq($screen-s) {
            padding: $sidebar-checkout__modal-content-padding\@small;
        }

        @include mq($screen-l) {
            padding: $sidebar-checkout__modal-content-padding\@large;
        }
    }

    .order-summary {
        background: $order-summary__background;
    }
}
