$quicksearch__top                              : calc(100% - #{$spacer} + 1px) !default;
$quicksearch__top\@medium                      : calc(100% + 1px) !default;
$quicksearch__left                             : 0 !default;
$quicksearch__left\@medium                     : auto !default;
$quicksearch__right\@medium                    : calc(50% - 375px) !default;
$quicksearch__left\@large                      : -$spacer--medium !default;
$quicksearch__width                            : 100% !default;
$quicksearch__width\@medium                    : 688px !default;
$quicksearch__padding                          : 0 $spacer--medium !default;
$quicksearch__padding\@large                   : 0 $spacer--large !default;
$quicksearch__background                       : $white !default;
$quicksearch__box-shadow                       : 0 8px 16px 0 rgba(0, 0, 0, 0.16) !default;

$quicksearch__results-padding                  : $spacer--medium 0 !default;
$quicksearch__results-padding\@medium          : $spacer 0 !default;
$quicksearch__results-border                   : 1px solid $gray-light !default;

$quicksearch__empty-margin                     : $spacer 0 !default;

$quicksearch__typed-font-weight                : $font-weight-bold !default;

$quicksearch__close-fill                       : $color-primary !default;
$quicksearch__close-background                 : transparent !default;

$quicksearch__content-padding                  : $spacer 0 !default;

$quicksearch__list-margin                      : 0 !default;
$quicksearch__list-padding                     : 0 !default;
$quicksearch__list-padding-top--below          : $spacer--medium !default;

$quicksearch__category-padding                 : $spacer 0 !default;
$quicksearch__category-title-font-family       : $font-family-sans-serif !default;
$quicksearch__category-title-font-size         : $font-size-base !default;
$quicksearch__category-title-font-weight       : $font-weight-bold !default;
$quicksearch__category-title-text-transform    : none !default;

$quicksearch__categories-column-padding        : $spacer--large 0 0 0 !default;
$quicksearch__categories-column-padding\@medium: $spacer--semi-medium 0 0 $spacer--medium !default;
$quicksearch__categories-column-padding\@large : $spacer--semi-medium 0 0 $spacer--large !default;

$quicksearch__product-border                   : 1px solid $gray-light !default;
$quicksearch__product-padding                  : $spacer--medium 0 !default;
$quicksearch__product-image-size               : 72px !default;
$quicksearch__product-image-margin-right       : $spacer !default;

$quicksearch__name-margin                      : 0 !default;
$quicksearch__name-padding                     : $spacer 0 !default;
$quicksearch__name-color                       : inherit !default;
$quicksearch__name-font-family                 : $font-family-sans-serif !default;
$quicksearch__name-font-size                   : $font-size-base !default;
$quicksearch__name-font-weight                 : $font-weight-normal !default;
$quicksearch__name-text-decoration             : none !default;

$quicksearch__more-link-padding                : $spacer--medium 0 !default;
$quicksearch__more-link-margin                 : $spacer--medium 0 !default;
$quicksearch__more-link-margin\@large          : $spacer--medium 0 $spacer--large !default;
$quicksearch__more-link-border-top             : 1px solid $gray-light !default;
$quicksearch__more-link-text-align             : center !default;
$quicksearch__more-link-font-weight            : $font-weight-bold !default;
