.payment-methods {
    margin: 0 0 $spacer--extra-large;

    &__heading {
        @include visually-hidden();
    }

    &__group {
        position: relative;
        margin: 0;
    }

    // Preventing unuecessary template overwrite
    // Payment method - Extending radio inputs
    .payment-method-title {
        @extend .radio__handler;

        .radio {
            @extend .radio__field;
            margin: 0;
        }

        .label {
            @extend .radio__label;
            margin: $spacer--small 0;
        }
    }

    // Payment method - Payment logo positioning
    .payment-icon {
        position: absolute;
        top: -6px;
        right: 0;
        width: auto;
        height: 35px;
    }

    // Payment method - Payment Item block
    .payment-method {
        &._active {
            .payment-method-content {
                display: block;
            }
        }

        &-content {
            display: none;
            padding: 0 0 $spacer--semi-medium $spacer--semi-medium;
        }

        &-title {
            border-top: $border-base;
        }
    }
}
