.payment-methods {
    margin: 0 0 $spacer--extra-large;

    .step-title.heading {
        @include visually-hidden();
    }

    .payment-method-title {
        input[type="radio"] {
            margin: 0;
        }

        label {
            &.label {
                margin: 0 0 0 $spacer;
            }
        }
    }

    .billing-address-same-as-shipping-block {
        display: flex;
        align-items: center;

        .label {
            margin: 0 0 0 8px;
        }
    }
}
