<div class="page-wrapper">
    {{ render '@header' }}

    <div class="dashboard container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-lg-3">
                {{ render '@dashboard-nav' }}
            </div>

            <div class="col-xs-12 col-md-8 col-lg-9">
                {{> '@dashboard-table' reviews }}

                {{> '@action' button }}
            </div>
        </div>
    </div>
</div>

{{ render '@footer' }}
