// Catalog Grid
$catalog-grid__gap                      : $spacer--medium !default;
$catalog-grid__margin                   : 0 !default;
$catalog-grid__padding                  : $spacer--medium 0 $spacer--large 0 !default;
$catalog-grid__column-base-fraction     : 1fr !default;
$catalog-grid__template-columns         : $catalog-grid__column-base-fraction !default;
$catalog-grid__template-columns\@small  : $catalog-grid__column-base-fraction $catalog-grid__column-base-fraction !default;
$catalog-grid__template-columns\@medium : $catalog-grid__column-base-fraction $catalog-grid__column-base-fraction $catalog-grid__column-base-fraction !default;
