// Catalog Grid
$catalog-grid__gap                      : $spacer--medium !default;
$catalog-grid__margin                   : 0 !default;
$catalog-grid__padding                  : $spacer--medium 0 $spacer--large 0 !default;
$catalog-grid__template-columns         : repeat(1, 1fr) !default;
$catalog-grid__template-columns\@small  : repeat(2, 1fr) !default;
$catalog-grid__template-columns\@medium : repeat(3, 1fr) !default;
