<div class="password-strength {{ class }}">
    <div class="password-strength__handle {{ strengthIndicatorClass }}">
        {{ text }}
        <span
            class="password-strength__indicator"
            aria-live="polite"
        >
            {{ noPassword }}
        </span>
    </div>
</div>
