<div class="select">
    <select class="select__field select__field--native"
            data-bind="
                attr: {
                    name: inputName,
                    id: uid,
                    disabled: disabled,
                    'aria-describedby': noticeId,
                    placeholder: placeholder
                },
                hasFocus: focused,
                optgroup: options,
                value: value,
                optionsCaption: caption,
                optionsValue: 'value',
                optionsText: 'label',
                optionsAfterRender: function(option, item) {
                    if (item && item.disabled) {
                        ko.applyBindingsToNode(option, {attr: {disabled: true}}, item);
                    }
                }
            "
    >
</div>
