<div class="select select--native">
    <select
        class="select__field"
        data-bind="
            attr: {
                name: inputName,
                id: uid,
                disabled: disabled,
                'aria-describedby': notice() ? noticeId : false,
                placeholder: placeholder,
                'aria-required': required
            },
            hasFocus: focused,
            optgroup: options,
            value: value,
            optionsCaption: caption,
            optionsValue: 'value',
            optionsText: 'label',
            optionsAfterRender: function(option, item) {
                if (item && item.disabled) {
                    ko.applyBindingsToNode(option, {attr: {disabled: true}}, item);
                }
            }
        "
    ></select>
</div>
