.menu {
    display: block;
    position: fixed;
    height: 100%;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    visibility: hidden;
    transition: transform 0.5s, visibility 0.5s;

    @include mq($screen-l) {
        position: absolute;
        height: auto;
        width: 100%;
        top: 25px;
        right: auto;
        left: auto;
        bottom: auto;
        visibility: visible;
        margin: 0;
        padding-right: 80px;
        z-index: 90;
    }
}
