<if args="isAllowed()">
    <button
        attr="
            'data-post': $col.getDataPost($row()),
            'aria-label': getLabel()
        "
        class="
            action
            button
            button--icon
        "
        data-action="add-to-compare"
    >
        <svg
            class="icon button__icon"
            role="presentation"
            focusable="false"
        >
            <use data-bind="attr: { 'href': require.toUrl('images/icons-sprite.svg#compare') }" href=''></use>
        </svg>
    </button>
</if>
