@import 'review-variables';

.review {
    width: 100%;

    @include mq($screen-m) {
        display: flex;
        flex-flow: row nowrap;
    }

    &--add {
        @include mq($screen-m) {
            display: block;
        }
    }

    &--summary {
        @include mq($screen-m) {
            display: flex;
            justify-content: flex-end;
        }

        .rating {
            margin-right: $spacer;
        }
    }

    &__details {
        width: 100%;

        @include mq($screen-m) {
            &:first-child {
                width: $review__info-column-width;
            }

            &:last-child {
                width: $review__decsription-column-width;
            }
        }
    }

    &__author,
    &__date,
    &__title,
    &__rating,
    &__rating-legend {
        margin-bottom: $rating__margin;
    }

    &__title {
        font-family: $font-family-base;
        font-size: $rating__title-font-size;
        font-weight: $rating__title-font-weight;
        text-transform: $rating__title-text-transform;
    }

    &__title-product {
        display: block;
        margin: $rating__title-product-margin;
        text-transform: $rating__title-product-text-transform;
        font-weight: $rating__title-product-font-weight;
    }

    &__author {
        font-family: $rating__author-font-family;
        font-weight: $rating__author-font-weight;
    }

    &__date {
        display: block;
        color: $rating__date-color;
        font-size: $rating__date-font-size;
    }

    &__fieldset {
        max-width: $rating__fieldset-max-width;
    }

    &__field {
        margin: $rating__field-margin;
    }

    &__submit-btn {
        width: $rating__submit-btn-width;

        @include mq($screen-m) {
            width: $rating__submit-btn-width\@medium;
        }
    }

    &__required-info {
        margin: $rating__required-info-margin;
        font-size: $rating__required-info-font-size;
    }

    &__summary-handle {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        @include mq($screen-m) {
            flex-wrap: wrap;
            justify-content: flex-end;
            width: auto;
            max-width: $review__summary-max-width\@large;
        }
    }

    &__amount {
        font-size: $rating__amount-font-size;
        text-decoration: $rating__amount-text-decoration;
        letter-spacing: $rating__amount-letter-spacing;
        margin: $rating__amount-margin;

        @include mq($screen-m) {
            margin: $rating__amount-margin\@medium;
        }

        &-text {
            display: none;
        }
    }

    &__summary-add {
        text-decoration: $rating__summary-add-text-decoration;
        text-align: $rating__summary-add-text-align;
    }
}
