$rating__margin                         : $spacer--medium !default;

$review__info-column-width              : 20% !default;

$review__decsription-column-width       : 80% !default;

$rating__title-font-family              : $font-family-base !default;
$rating__title-font-size                : $font-size-base !default;
$rating__title-font-weight              : $font-weight-base !default;
$rating__title-text-transform           : uppercase !default;

$rating__title-product-margin           : $spacer 0 !default;
$rating__title-product-text-transform   : none !default;
$rating__title-product-font-weight      : $font-weight-bold !default;

$rating__author-font-family             : $font-family-base !default;
$rating__author-font-weight             : $font-weight-base !default;

$rating__date-color                     : $gray !default;
$rating__date-font-size                 : $font-size-small !default;

$rating__fieldset-max-width             : 430px !default;

$rating__field-margin                   : 0 0 $spacer--extra-large !default;

$rating__submit-btn-width               : 100% !default;
$rating__submit-btn-width\@medium       : auto !default;

$rating__required-info-margin           : $spacer--large 0 $spacer--medium !default;
$rating__required-info-font-size        : $font-size-small !default;

$rating__amount-font-size               : $font-size-small !default;
$rating__amount-text-decoration         : underline !default;
$rating__amount-letter-spacing          : 2px !default;
$rating__amount-margin                  : 0 $spacer 0 0 !default;
$rating__amount-margin\@medium          : 0 !default;

$review__summary-max-width\@large       : 200px !default;
$rating__summary-add-text-decoration    : underline !default;
$rating__summary-add-text-align         : right !default;
