@import 'review-variables';

.review {
    width: $review__width;

    @include mq($screen-m) {
        display: flex;
        flex-flow: row nowrap;
    }

    &--add {
        padding-top: $review__padding-top--add;
        border-bottom: $review__border-bottom--add;

        @include mq($screen-m) {
            display: block;
        }
    }

    &--summary {
        .rating {
            margin-right: $review__rating-margin-right--summary;
        }
    }

    &__details {
        max-width: $review__details-max-width;
        flex-basis: $review__details-flex-basis;
        padding-left: $review__details-padding-left;
    }

    &__image {
        max-width: $review__image-max-width;
        flex-basis: $review__image-flex-basis;

        .image {
            max-width: $review__image-max-width;
            width: $review__image-width;
            height: $review__image-height;
            border-radius: $review__image-border-radius;
        }
    }

    &__rating-legend {
        color: $review__rating-legend-color;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $review__wrapper-height;
        margin-bottom: $review__wrapper-margin-bottom;
    }

    &__title {
        font-weight: $review__title-font-weight;
        text-transform: $review__title-text-transform;
        font-family: $review__title-font-family;
    }

    &__title-product {
        display: block;
        margin: $review__title-product-margin;
        text-transform: $review__title-text-transform;
    }

    &__author-name {
        font-weight: $review__author-font-weight;
        text-transform: $review__author-text-transform;
        font-family: $review__author-font-family;
        margin: $review__author-margin;
    }

    &__author-description {
        color: $review__author-description-color;
        font-size: $review__author-description-font-size;
    }

    &__date {
        display: block;
        color: $review__date-color;
        font-size: $review__date-font-size;
    }

    &__fieldset {
        max-width: $review__fieldset-max-width;
        margin: $review__fieldset-margin;
        padding-bottom: $review__fieldset-padding-bottom;
    }

    &__field {
        margin-bottom: $review__field-margin-bottom;
    }

    &__submit-btn {
        width: $review__submit-btn-width;

        @include mq($screen-m) {
            width: $review__submit-btn-width\@medium;
        }
    }

    &__required-info {
        margin-top: $review__required-info-margin-top;
        font-size: $review__required-info-font-size;
    }

    &__summary-handle {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    &__amount {
        font-size: $review__amount-font-size;
        text-decoration: $review__amount-text-decoration;
        letter-spacing: $review__amount-letter-spacing;
        margin-right: $review__amount-margin-right;

        @include mq($screen-m) {
            margin-right: $review__amount-margin-right\@medium;
        }

        &:focus {
            @include focus-inline();
        }

        &-text {
            display: none;
        }
    }

    &__summary-add {
        text-decoration: $review__summary-add-text-decoration;
        text-align: $review__summary-add-text-align;
        color: $review__summary-add-color;

        &:focus {
            @include focus-inline();
        }
    }

    &__rating {
        margin-bottom: $review__rating-margin-bottom;
    }

    &__description {
        margin-bottom: $review__description-margin-bottom;

        p {
            font-size: $review__description-paragraph-font-size;
            color: $review__description-paragraph-color;
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        margin-bottom: $review__links-margin-bottom;

        .button {
            padding: 0;
        }
    }

    &__links-column {
        display: flex;
        align-items: center;
    }

    &__links-btn {
        display: flex;
        align-items: center;
        background: transparent;
        border: none;
        cursor: pointer;
        border-radius: 0;
        color: $review__links-btn-color;
        text-decoration: $review__links-btn-text-decoration;
        padding-right: $review__links-btn-padding-right;

        &:last-child {
            padding-right: 0;
        }

        .icon {
            fill: $review__links-btn-icon-fill;
            margin-right: $review__links-btn-icon-margin-right;
        }
    }

    &__links-legend {
        color: $review__links-legend-color;
        margin-right: $review__links-legend-margin-right;
    }
}
