$form-breakpoint-small: $screen-m;

.form {
    &__heading {
        margin-bottom: 15px;
    }

    &__handler {
        display: flex;
        justify-content: center;
        
        @include mq($form-breakpoint-small) {
            justify-content: flex-end;
        }
    }

    .mage-error {
        width: 100%;
    }
}
