$input-breakpoint-small: $screen-m;

.input {
    &--inline-small-right {
        flex-wrap: wrap;
        justify-content: flex-start;

        @include mq($input-breakpoint-small){
            justify-content: flex-end;
        }

        .input__field {
            width: 100%;
            text-align: left;

            @include mq($input-breakpoint-small) {
                width: 60%; 
            }  

            &--textarea {
                @include mq($input-breakpoint-small) {
                    min-width: auto;
                }
            }
        }

        .input__label {
            margin-bottom: 0;
        }
    }
}
