.input {
    &--inline-small-right {
        flex-wrap: wrap;

        .input__field {
            width: 60%; 
            text-align: left;
            
            &--textarea {
                min-width: auto;
            }
        }

        .input__label {
            margin-bottom: 0;
        }
    }
}
