.account-nav-wrapper {
    @include mq($screen-m) {
        padding-right: 30px;
    }

    &__title {
        display: block;
        position: relative;
        cursor: pointer;

        &:after {
            content: '';
            display: block;
            width: 70%;
            height: 2px;
            margin-top: 10px;
            background-color: $color-primary;
        }

        @include mq($screen-m) {
            cursor: default;
            &:after {
                display: none;
            }
        }
    }

    &__icon {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 30%;
        margin: auto 0;
        width: 40px;
        height: 40px;
        padding: 10px;

        @include mq($screen-m) {
            display: none;
        }
    }
}
