.account-nav {
    background-color: $gray-lightest;
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
    margin-bottom: 20px;

    @include mq($screen-m) {
        height: auto;
    }

    &__list {
        @extend .list;
        margin: 0;
    }
    &__link,
    .current {
        display: block;
        padding: 15px;
        border-bottom: 1px solid $white;
    }

    .current {
        background-color: $white;
        border-left: 5px solid $color-primary;
    }
}
