.flex-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-bottom: 30px;

    &__button {
        @extend .button;
        @extend .button--link;
        @extend .button--secondary;
        margin-top: 15px;
        width: 100%;

        @include mq($screen-s) {
            width: auto;
        }
    }
}
