.login {
    &__column-left {
        padding-bottom: 30px;

        @include mq($screen-s) {
            padding-right: 20px;
        }
    }

    &__column-right {

        @include mq($screen-s) {
            padding-left: 20px;
        }
    }
}
