@import "compare-variables";

.compare {
    margin: $compare__margin;
    overflow-x: auto;
    border: 1px solid #d8d8d8;

    &__table {
        border-collapse: collapse;
        border-spacing: 0;
        border: $compare__border;

        @include mq($screen-m) {
            width: $compare__table-width;
            table-layout: fixed;
        }
    }

    &__label {
        width: $compare__label-width;
        padding: $compare__label-padding;
        background-color: $compare__label-background;
        border-bottom: $compare__border;

        @include mq($screen-m) {
            padding: $compare__label-padding\@medium;
        }
    }

    &__cell {
        position: relative;
        padding: $compare__cell-padding;
        min-width: $compare__cell-min-width;
        border-left: $compare__border;
        border-bottom: $compare__border;
        width: 320px;

        ul {
            padding-left: $compare__cell-list-padding-left;
        }

        li {
            line-height: $compare__cell-item-line-height;
        }
    }

    &__product {
        display: flex;
        flex-direction: column;
    }

    .image {
        width: $compare__image-size;
        height: $compare__image-size;
        max-width: $compare__image-max-size;
        max-height: $compare__image-max-size;
    }

    .price {
        font-weight: $font-weight-bold;
    }

    &__link,
    &__rating,
    .price {
        display: block;
        margin-bottom: $compare__attributes-margin-bottom;
    }

    &__link {
        &--image {
            display: flex;
            justify-content: center;
        }
    }

    &__buttons-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__secondary-buttons {
        display: flex;
    }

    &__wishlist {
        &:after {
            content: $button__wishlist-after-content;
        }
    }

    &__remove {
        &:after {
            content: $button__remove-after-content;
            fill: $white;
        }
    }
}
