$paypal-express-checkout__z-index: $z-index-normal !default;
$zoid-outlet__z-index            : $z-index-normal !default;

.paypal-express-checkout {
    z-index: $paypal-express-checkout__z-index;

    .zoid-outlet {
        z-index: $zoid-outlet__z-index;
    }
}
