<div class="shipping-information">
    <div class="ship-to">
        <div class="shipping-information__title">
            <span class="shipping-information__title-text">
                Ship To:
            </span>

            {{ render '@button--icon' button }}
        </div>

        <div class="shipping-information__content">
            John Doe<br>
            ul. Mostowa 11<br>
            Poznań, <span>Armed Forces Africa</span> 60-688<br>
            United States<br>
            <a href="tel:887887887">887887887</a><br>
        </div>
    </div>
    <div>
        <div class="shipping-information__title">
            <span class="shipping-information__title-text">
                Shipping Method:
            </span>

            {{ render '@button--icon' button }}
        </div>
        <div class="shipping-information__content">
            <span class="value">
                Free Shipping - Free
            </span>
        </div>
    </div>
</div>
