$dashboard-nav-padding: $spacer--medium !default;
$dashboard-nav-margin : $spacer--medium !default;

.dashboard-nav {
    margin: 0 0 $spacer--large;

    &__mobile {
        display: block;
        position: relative;
        border-width: 1px 0;
        border-color: $gray-dark;
        border-style: solid;
        padding: $dashboard-nav-padding 0;
        cursor: pointer;

        @include mq($screen-l) {
            display: none;
        }

        &:after {
            content: '\25bc';
            position: absolute;
            width: 15px;
            height: 15px;
            right: 15px;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        &--active {
            &:after {
                content: '\25b2';
            }
        }
    }

    &__content {
        display: none;
        // background-color: $gray-lighter;
        // padding: 0 $spacer--medium;

        &--visible {
            display: block;
        }

        @include mq($screen-l) {
            display: block;
        }
    }

    &__list {
        margin: 0;
    }

    &__item {
        padding: 0;
        transition: $transition-base;
    }

    &__item > a,
    &__link {
        display: block;
        padding: $spacer--medium $spacer--semi-medium;
        text-decoration: none;
    }

    // This class is changing by Magento
    .current {
        position: relative;
        // padding: $spacer--medium $spacer--semi-medium;
        background: $gray-light;

        &:hover {
            // background-color: initial;
            // background: $gray-light;
        }

        .dashboard-nav__link {
            font-weight: $font-weight-bold;
            // padding: 0;

            &:hover {
                color: initial;
            }
        }
    }

    // This clases to disabled links module
    .nav.item {
        @extend .list__item;
        @extend .dashboard-nav__item;
    }

    .nav.item.current {
        @extend .current;
    }

    .nav.item.current {
        & > a {
            color: $red;
        }
    }

    .nav.item > a {
        @extend .link--invert;
    }
}
