$dashboard-nav__margin                      : 0 0 $spacer--large !default;

$dashboard-nav__mobile-border               : $border-base !default;
$dashboard-nav__mobile-border-width         : 0 0 $border-width-base !default;
$dashboard-nav__mobile-padding              : $spacer--semi-medium 0 !default;
$dashboard-nav__mobile-font-weight          : $font-weight-bold !default;

$dashboard-nav__list-margin                 : 0 !default;

$dashboard-nav__item-padding                : 0 !default;
$dashboard-nav__item-transition             : $transition-base !default;

$dashboard-nav__link-padding                : $spacer--medium !default;
$dashboard-nav__link-text-decoration        : none !default;

$dashboard-nav__actions-margin              : $spacer--large 0 0 !default;
$dashboard-nav__actions-margin\@large       : $spacer--medium 0 0 !default;

$dashboard-nav__section-margin              : $spacer--extra-large 0 0 !default;

$dashboard-nav__section-title-padding       : 0 0 $spacer--medium !default;
$dashboard-nav__section-title-border        : $border-base !default;
$dashboard-nav__section-title-border-width  : 0 0 $border-width-base !default;
$dashboard-nav__section-title-letter-spacing: 1px !default;
$dashboard-nav__section-title-font-family   : $font-family-base !default;
$dashboard-nav__section-title-font-size     : $font-size-medium !default;
$dashboard-nav__section-info-margin         : $spacer--semi-medium 0 0 !default;
