<div class="dashboard-nav">
    <div class="dashboard-nav__mobile">
        {{ actualPage }}
    </div>

    <div class="dashboard-nav__content">
        <h1 class="heading heading--fifth-level dashboard-nav__title">
            {{ title }}
        </h1>

        {{> '@list--link' list }}
    </div>
</div>

<script src="{{ static '../dashboard-nav/nav.js' }}"></script>
