<div class="dashboard-nav">
    <div class="dashboard-nav__mobile">
        {{ actualPage }}
    </div>

    <div class="dashboard-nav__content">
        {{> '@list--link' list }}
    </div>
</div>

<script src="{{ static '../dashboard-nav/nav.js' }}"></script>
