//
//  Page components
//  ---------------------------------------------

@import 'components/fields';
@import 'components/modals';
@import 'components/tooltip';
@import 'components/shipping';
@import 'components/shipping-policy';
@import 'components/step-title';
@import 'components/order-summary';
@import 'components/authentication';
@import 'components/payments';
@import 'components/payment-options';
@import 'components/checkout-agreements';
