// // -----
// // Views
// // -----

@import '404/404';
@import 'auth/auth';
// @import 'b2b/quickorder/quickorder';
// @import 'cart/actions';
// @import 'cart/discount';
// @import 'cart/main';
// @import 'cart/summary';
// @import 'cart/totals';
@import 'catalog/grid/grid';
@import 'catalog/list/list';
@import 'compare/compare';
// @import 'confirmation-link/confirmation-link';
@import 'contact-us/contact-us';
// @import 'dashboard/default/dashboard';
// @import 'dashboard/product-reviews/product-reviews';
// @import 'dashboard/company-structure/company-structure';
// @import 'dashboard/company-users/company-users';
// @import 'dashboard/my-quotes/my-quotes';
// @import 'dashboard/requisition-lists/requisition-lists--view';
// @import 'dashboard/roles-and-permissions/roles-and-permissions';
// @import 'dashboard/wishlist/wishlist';
@import 'email-to-friend/email-to-friend';
@import 'forgot-password/forgot-password';
@import 'home/home';
// @import 'product-view/product-view';
