<div class="billing-address-details">
    <if args="_.isEmpty(currentBillingAddress())">
        <p text="noAddressMessage"></p>
    </if>
    <ifnot args="_.isEmpty(currentBillingAddress())">
        <text args="currentBillingAddress().prefix"></text>
        <text args="currentBillingAddress().firstname"></text>
        <text args="currentBillingAddress().middlename"></text>
        <text args="currentBillingAddress().lastname"></text>
        <text args="currentBillingAddress().suffix"></text>
        <br/>
        <text args="_.values(currentBillingAddress().street).join(', ')"></text>
        <br/>
        <text args="currentBillingAddress().city "></text>
        , <span text="currentBillingAddress().region"></span>
        <text args="currentBillingAddress().postcode"></text>
        <br/>
        <text args="getCountryName(currentBillingAddress().countryId)"></text>
        <br/>
        <a
            if="currentBillingAddress().telephone"
            attr="'href': 'tel:' + currentBillingAddress().telephone"
            text="currentBillingAddress().telephone"
        ></a>
        <br/>
        <each args="data: currentBillingAddress().customAttributes, as: 'element'">
            <each args="data: Object.keys(element), as: 'attribute'">
                <if args="typeof element[attribute] === 'object'">
                    <if args="element[attribute].label">
                        <text args="element[attribute].label"></text>
                    </if>
                    <ifnot args="element[attribute].label">
                        <if args="element[attribute].value">
                            <text args="element[attribute].value"></text>
                        </if>
                    </ifnot>
                </if>
                <if args="typeof element[attribute] === 'string'">
                    <text args="element[attribute]"></text>
                </if>
                <br/>
            </each>
        </each>
    </ifnot>

    <div class="margin-bottom-m edit-address-popup">
        <button
            type="button"
            class="
                button
                action
                action-additional
            "
            visible="isAddressEditable(currentBillingAddress())"
            click="editAddress"
        >
            <span translate="'Edit'"></span>
        </button>
    </div>
    <div class="margin-bottom-m change-address-popup">
        <button
            type="button"
            class="
                button
                button--secondary
                button--fluid
                action
                action-additional
            "
            click="openAddressSelection"
        >
            <span translate="'Change Address'"></span>
        </button>
    </div>
</div>
