{{#each informations }}
    <div class="information {{ class }}">

        {{ render '@heading' heading }}

        <p class="information__text">
            {{ text }}
        </p>
    </div>
{{/each}}
