<li
    id="qs-option-<%- data.type %>-<%- data.index %>"
    class="quicksearch__product"
    href="<%- data.url %>"
>
    <a
        href="<%- data.url %>"
        title="<%- data.title %>"
    >
        <div class="quicksearch__product-image-wrapper">
            <img
                class="image quicksearch__product-image lazyload"
                data-src="<%- data.image %>"
                src=""
            >
        </div>
    </a>

    <div class="quicksearch__product-details">
        <h3 class="quicksearch__name">
            <a
                href="<%- data.url %>"
                class="link quicksearch__link"
                title="<%= data.title %>"
            >
                <%= data.title %>
            </a>
        </h3>

        <div class="price-box">
            <span class="price">
                <%= data.price %>
            </span>
        </div>
    </div>
</li>
