$dashboard-items-padding: $spacer--medium !default;
$dashboard-items-margin : $spacer--medium !default;

.dashboard-items {
    &__title {
        margin-bottom: $dashboard-items-margin;
    }

    &__content {
        margin: 0;
    }

    &__address {
        margin-bottom: $dashboard-items-margin;
    }

    &__item {
        padding: $dashboard-items-padding 0;
        margin-bottom: $dashboard-items-margin;
    }
}
