.login {
    margin-bottom: 80px;

    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include mq($screen-m) {
            flex-direction: row;
        }

        &--registration {
            .login__link--registration {
                display: flex;
            }
        }
    }

    &__link {
        position: relative;
        justify-content: flex-start;
        width: 100%;
        height: 72px;
        border-bottom: $border-base;
        color: $color-secondary;
        font-size: $font-size-large;
        font-weight: $font-weight-normal;
        text-decoration: none;
        text-transform: uppercase;

        @include mq($screen-m) {
            justify-content: center;
            width: 440px;
        }

        &:hover,
        &:focus,
        &--active {
            color: $gray-darker;
        }

        &--active {
            background: $gray-light;
            font-weight: $font-weight-bold;

            &:hover,
            &:focus {
                background: $gray-light;
            }

            .login__icon {
                transform: rotate(180deg);
            }
        }

        &--registration {
            display: none;

            @include mq($screen-m) {
                display: flex;
            }

            &-mobile {
                @include mq($screen-m) {
                    display: none;
                }
            }
        }
    }

    &__icon {
        position: absolute;
        right: $spacer--medium;
        top: 0;
        bottom: 0;
        padding: 0;
        margin: auto;
        fill: $color-secondary;

        @include mq($screen-m) {
            display: none;
        }
    }

    &__heading {
        margin: $spacer--extra-large 0 $spacer--semi-large;

        @include mq($screen-m) {
            margin: 120px 0 72px;
        }
    }
}
