<div class="actions-toolbar">
    <div class="primary">
        <button
            class="action primary"
            type="submit"
        >
            <span>{{ titlePrimary }}</span>
        </button>
    </div>
    <div class="secondary">
        <button
            class="action"
            type="button"
        >
            <span>{{ titleSecondary }}</span>
        </button>
    </div>
</div>
