<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link media="all" rel="stylesheet" href="{{ path '/css/checkout.css' }}" />
        {{> @libs }}
    </head>
    <body class="components page-layout-checkout">
        {{{ yield }}}
    </body>
</html>
