// Atoms
@import 'Atoms/components';

// Molecules
@import 'Molecules/components';

// Templates
@import 'Templates/checkout/checkout';

// Organisms
@import 'Organisms/messages/messages';
@import 'Organisms/header/header';
@import 'Organisms/footer/footer';
@import 'Organisms/modal/modal';
@import 'Organisms/minicart-product/minicart-product';
@import 'Organisms/minicart-content/minicart-content';
@import 'Organisms/order-summary/order-summary';

// Organisms - Checkouts componets
@import 'Organisms/checkout/authentication/authentication';
@import 'Organisms/checkout/discount-code/discount-code';
@import 'Organisms/checkout/estimated-section/estimated-section';
@import 'Organisms/checkout/payment-methods/payment-methods';
@import 'Organisms/checkout/progress-bar/progress-bar';
@import 'Organisms/checkout/shipping-address/shipping-address';
@import 'Organisms/checkout/shipping-methods/shipping-methods';
@import 'Organisms/checkout/sidebar/sidebar';
@import 'Organisms/checkout/shipping-information/shipping-information';

// Atomic
@import 'Atoms/_atomic/atomic';
