$list__margin                                          : 0 !default;
$list__padding                                         : 0 !default;
$list__color                                           : $font-color-base !default;
$list__font-size                                       : $font-size-base !default;
$list__list-style                                      : none !default;
$list__item-padding                                    : $spacer 0 !default;
$list__item-first-child-padding-top                    : 0 !default;
$list__item-last-child-padding-bottom                  : 0 !default;
$list__label-padding                                   : 0 $spacer $spacer 0 !default;
$list__label-after-content                             : ': ' !default;
$list__value-padding                                   : 0 $spacer $spacer 0 !default;
$list__content-padding-left                            : $spacer !default;

// Horizontal variant
$list__item-padding--horizontal                        : $spacer !default;

// With Icon variant
$list__item-padding--with-icon                         : 0 !default;
$list__icon-link-padding--with-icon                    : $spacer--medium !default;

// With Image variant
$list__image-width--with-image                         : $spacer--medium !default;
$list__image-height--with-image                        : auto !default;

// Divided variant
$list__item-border-bottom--divider                     : 1px solid $gray-dark !default;
$list__item-last-child-border-bottom--divider          : none !default;
$list__item-border-bottom--divider-horizontal          : none !default;
$list__item-border-right--divider-horizontal           : 1px solid $gray-dark !default;
$list__item-last-child-border-right--divider-horizontal: none !default;

// Native variant
$list__item-width--native                              : 4px !default;
$list__item-height--native                             : 4px !default;
$list__item-padding--native                            : 0 0 $spacer calc(#{$spacer--medium - $list__item-height--native}) !default;
$list__item-background-color--native                   : $gray-dark !default;
$list__item-before-top--native                         : 7px !default;
$list__item-before-left--native                        : 0 !default;
