<div class="add-to-cart">
    <div class="add-to-cart__wrapper">
        <div class="add-to-cart__title">
            <h2 class="heading heading--page">
                {{ title }}
            </h2>

            {{ render '@price--with-special-price' }}
        </div>

        {{ render '@button--add-to-icon' addToCartBtn }}
    </div>
</div>

<script src="{{ static 'add-to-cart.js' }}"></script>
