@import 'action-variables';

.action {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: $action__width;

    &__handler {
        flex-basis: 100%;
        margin: $action__handler-margin;

        @include mq($screen-m) {
            flex-basis: auto;
            margin: $action__handler-margin\@medium;
        }
    }

    &__button {
        margin: $action__button-margin;
        width: $action__button-width;

        @include mq($screen-m) {
            width: $action__button-width\@medium;
            margin: $action__button-margin\@medium;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        padding: $action__link-padding;
        margin: $action__link-margin;
        text-decoration: $action__link-text-decoration;
        background-clip: $action__link-background-clip;

        &:last-child {
            margin-right: 0;
        }
    }
}
