$action__margin   : $spacer--medium !default;
$action__padding  : $spacer--medium !default;

.action {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__handler {
        flex-basis: 100%;
        margin-bottom: $action__margin;

        @include mq($screen-m) {
            flex-basis: auto;
            margin-bottom: 0;
        }
    }

    &__button {
        margin-right: $action__margin;
        margin-bottom: $action__margin;
        width: 100%;

        @include mq($screen-m) {
            width: auto;
            margin-bottom: auto;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        padding: $action__padding 0;
        margin-right: $action__margin;
        text-decoration: underline;
        background-clip: content-box;

        &:last-child {
            margin-right: 0;
        }
    }
}
