$action__spacing             : $spacer--medium !default;
$action__width               : 100% !default;

$action__handler-margin      : $action__spacing !default;

$action__button-margin       : $action__spacing !default;
$action__button-width        : 100% !default;
$action__button-width\@medium: auto !default;

$action__link-margin         : $action__spacing !default;
$action__link-padding        : $action__spacing !default;
$action__link-text-decoration: underline !default;
$action__link-background-clip: content-box !default;
