$action__spacing               : $spacer--medium !default;
$action__width                 : 100% !default;

$action__handler-margin        : 0 0 $action__spacing !default;
$action__handler-margin\@medium: 0 !default;

$action__button-margin         : 0 0 $action__spacing !default;
$action__button-margin\@medium : 0 $action__spacing auto 0 !default;
$action__button-width          : 100% !default;
$action__button-width\@medium  : auto !default;

$action__link-margin           : 0 $action__spacing 0 0 !default;
$action__link-padding          : $action__spacing 0 !default;
$action__link-text-decoration  : underline !default;
$action__link-background-clip  : content-box !default;
