@import 'pager-variables';

.pager {
    width: 100%;
    text-align: center;

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        padding: $pager__list-padding;
        margin: 0;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: $pager__item-size;
        height: $pager__item-size;
        margin: $pager__item-margin;
        font-size: $pager__item-font-size;
        padding: 0;

        &:first-child {
            margin-left: 0;
            margin-right: 24px;
        }

        &:last-child {
            margin-left: 24px;
            margin-right: 0;
        }

        &--current {
            color: $pager__item--current;
            position: relative;
            text-decoration: $pager__item-text-decoration--current;

            &:after {
                content: '';
                position: absolute;
                bottom: -0;
                left: 0;
                width: 100%;
                height: $pager__item-after-height--current;
                background-color: $pager__item-after-background-color--current;
                z-index: -1;
                transition: $pager__item-after-transition--current;
                transform-origin: left;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: $pager__item-size;
        color: $pager__link-color;
        text-decoration: none;

        &[disabled] {
            fill: $pager__link-fill-disabled;
            pointer-events: none;
            cursor: default;
        }

        &--prev,
        &--next {
            fill: $pager__link-fill;
        }
    }

    &__icon {
        width: $pager__icon-size;
        height: $pager__icon-size;
    }
}
