.popup-pointer {
    margin-left: -7px * 2;
    position: absolute;
    top: -7px * 2;
}

.ui-dialog {
    &.popup {
        @include min-screen($screen__s) {
            width: 420px;
        }
    }
}
