//
//  Default appearance styles
//  _____________________________________________

.pagebuilder-column {
    box-sizing: border-box;
}

//
//  Responsive Classes
//  _____________________________________________

@include mq($max-screen: $screen-m - 1) {
    .pagebuilder-column {
        background-attachment: scroll !important;
        flex-basis: 100%;
    }
}
