<div data-role="amasty-gdpr-consent">
    <div
        class="
            amasty-gdpr-consent
            checkbox
            required
        "
        data-bind="visible: isVisible"
    >
        <input
            type="checkbox"
            value="1"
            class="checkbox__field required-entry"
            data-bind="attr: {
                'title': getTitle(),
                'name': getNewId(),
                'id': getId()
            }"
            data-validate="{
                required:true
            }"
        />

        <svg
            class="checkbox__icon checkbox__icon--checked"
            role="presentation"
            focusable="false"
        >
            <use data-bind="attr: { 'xlink:href': require.toUrl('images/icons-sprite.svg#checked') }" xlink:href=''></use>
        </svg>

        <svg
            class="checkbox__icon checkbox__icon--unchecked"
            role="presentation"
            focusable="false"
        >
            <use data-bind="attr: { 'xlink:href': require.toUrl('images/icons-sprite.svg#unchecked') }" xlink:href=''></use>
        </svg>

        <label
            class="checkbox__label"
            data-bind="attr: {
                'for': getId()
            }"
        >
            <span class="action" data-bind="html: checkboxText, afterRender: initModal"></span>
        </label>
    </div>
</div>
