$cookie-message__width                 : 100% !default;
$cookie-message__background-color      : $gray-lighter !default;
$cookie-message__font-size             : $font-size-small !default;
$cookie-message__font-family           : $font-family-base !default;
$cookie-message__line-height           : 16px !default;
$cookie-message__padding               : $spacer--medium $spacer--large !default;

$cookie-message__text-color            : $color-secondary !default;
$cookie-message__text-padding          : 0 !default;
$cookie-message__text-margin           : 0 0 $spacer 0 !default;
$cookie-message__text-letter-spacing   : 1px !default;

$cookie-message__close-color           : $color-secondary !default;
$cookie-message__close-height          : 48px !default;
$cookie-message__close-font-weight     : $font-weight-normal !default;
$cookie-message__close-padding         : 0 !default;
$cookie-message__close-margin          : 0 !default;
$cookie-message__close-background      : none !default;
$cookie-message__close-border          : 0 !default;
$cookie-message__close-text-transform  : none !default;

$cookie-message__close-icon-fill       : $color-secondary !default;
$cookie-message__close-icon-size       : 24px !default;
$cookie-message__close-icon-margin-left: $spacer !default;
