$section__margin                  : 0 0 72px 0 !default;

$section__heading-justify-content : center !default;
$section__heading-min-height      : 48px !default;
$section__heading-margin          : 0 0 $spacer--extra-large 0 !default;

$section__content-margin--products: (-$spacer) (-$spacer) 0 !default;
