.section {
    margin: 0 0 72px 0;

    &__heading {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 48px;
        margin: 0 0 $spacer--extra-large 0;
    }

    &__content {
        &--products {
            margin: (-$spacer) (-$spacer) 0;
        }
    }
}
