@import "section-variables";

.section {
    margin: $section__margin;

    &__heading {
        display: flex;
        justify-content: $section__heading-justify-content;
        align-items: center;
        min-height: $section__heading-min-height;
        margin: $section__heading-margin;
    }

    &__content {
        &--products {
            margin: $section__content-margin--products;
        }
    }
}
