<section class="section {{ class }}">
    {{#if heading}}
        <header class="section__heading">
            {{ render (component heading.content) heading.contentContext }}
        </header>
    {{/if}}
    <div class="section__content {{ contentClass }}">
        {{# each components }}
            {{ render (component content.content) content.contentContext merge="true" }}
        {{/each}}
    </div>
</section>
