$recaptcha__badge-z-index: 100 !default;

.grecaptcha-badge {
    z-index: $recaptcha__badge-z-index;
}

.captcha-image {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: $spacer 0;
}

.captcha-img {
    width: auto;
}

.captcha-reload {
    &.action {
        @extend .button--secondary;
    }
}
