<!-- ko if: isAvailable() -->
    <!-- ko if: displayBothPrices() -->
        <li
            class="
                totals
                giftwrapping
                excl
                order-summary__list-item
            "
        >
            <span class="order-summary__label">
                <span data-bind="text: $t(title) + ' ' + $t(excludingTaxMessage)"></span>
            </span>
            <span
                data-bind="
                    text: getValue(),
                    attr: {'data-th': $t(excludingTaxMessage)}
                "
                class="order-summary__value"
            ></span>
        </li>
        <li
            class="
                totals
                giftwrapping
                incl
                order-summary__list-item
            "
        >
            <span class="order-summary__label">
                <span data-bind="text: $t(title) + ' ' + $t(includingTaxMessage)"></span>
            </span>
            <span
                data-bind="
                    text: getIncludingTaxValue(),
                    attr: {'data-th': $t(includingTaxMessage)}
                "
                class="order-summary__value"
            ></span>
        </li>
    <!-- /ko -->
    <!-- ko if: displayPriceInclTax() -->
        <li
            class="
                totals
                giftwrapping
                order-summary__list-item
            "
        >
            <span class="order-summary__label">
                <span data-bind="{i18n: title}"></span>
            </span>
            <span
                data-bind="{
                    text: getIncludingTaxValue(),
                    attr: {'data-th': $t(title)}
                }"
                class="order-summary__value"
            ></span>
        </li>
    <!-- /ko -->
    <!-- ko if: displayPriceExclTax() -->
        <li
            class="
                totals
                giftwrapping
                order-summary__list-item
            "
        >
            <span class="order-summary__label">
                <span data-bind="{i18n: title}"></span>
            </span>
            <span
                data-bind="{
                    text: getValue(),
                    attr: {'data-th': $t(title)}
                }"
                class="order-summary__value"
            ></span>
        </li>
    <!-- /ko -->
<!-- /ko -->
