<h1>{{ title }}</h1>
<div class="grid-container">
    {{#each grids as |grid|}}
        <div class="row {{ ../rowClass }}">
            {{#each grid}}
                <div class="{{this}}">
                    <div class="row__content">
                        {{ @index }}
                    </div>
                </div>
            {{/each}}
        </div>
    {{/each}}
</div>
