<!-- ko if: isTaxDisplayedInGrandTotal && isDisplayed() -->
    <div class="grand totals incl cart-totals__row cart-totals__row--summary">
        <div class="mark cart-totals__row-label" scope="row">
            <strong data-bind="i18n: inclTaxLabel"></strong>
        </div>
        <div data-bind="attr: {'data-th': inclTaxLabel}" class="amount cart-totals__row-value">
            <strong><span class="price" data-bind="text: getValue()"></span></strong>
        </div>
    </div>
    <div class="grand totals excl cart-totals__row cart-totals__row--summary">
        <div class="mark cart-totals__row-label" scope="row">
            <strong data-bind="i18n: exclTaxLabel"></strong>
        </div>
        <div data-bind="attr: {'data-th': exclTaxLabel}" class="amount cart-totals__row-value">
            <strong><span class="price" data-bind="text: getGrandTotalExclTax()"></span></strong>
        </div>
    </div>
<!-- /ko -->
<!-- ko if: !isTaxDisplayedInGrandTotal && isDisplayed() -->
    <div class="grand totals cart-totals__row cart-totals__row--summary">
        <div class="mark cart-totals__row-label" scope="row">
            <span data-bind="i18n: title"></span>
        </div>
        <div data-bind="attr: {'data-th': title}" class="amount cart-totals__row-value">
            <span>
                <span class="price" data-bind="text: getValue()"></span>
            </span>
        </div>
    </div>
<!-- /ko -->
<!-- ko if: isBaseGrandTotalDisplayNeeded() && isDisplayed() -->
    <div class="totals charge cart-totals__row cart-totals__row--summary">
        <div class="mark cart-totals__row-label" data-bind="i18n: basicCurrencyMessage" scope="row"></div>
        <div class="amount cart-totals__row-value">
            <span class="price" data-bind="text: getBaseValue(), attr: {'data-th': basicCurrencyMessage}"></span>
        </div>
    </div>
<!-- /ko -->
