<!-- ko if: isTaxDisplayedInGrandTotal && isDisplayed() -->
    <div
        class="
            row
            row--no-margins
            between-xs grand
            totals
            incl
            cart-totals__row
            cart-totals__row--summary
        "
    >
        <div class="mark cart-totals__row-label" scope="row">
            <strong data-bind="i18n: inclTaxLabel"></strong>
        </div>
        <div
            data-bind="attr: { 'data-th': inclTaxLabel }"
            class="amount cart-totals__row-value"
        >
            <span class="price" data-bind="text: getValue()"></span>
        </div>
    </div>
    <div
        class="
            row
            row--no-margins
            between-xs
            grand
            totals
            excl
            cart-totals__row
            cart-totals__row--summary
        "
    >
        <div class="mark cart-totals__row-label" scope="row">
            <strong data-bind="i18n: exclTaxLabel"></strong>
        </div>
        <div
            data-bind="attr: { 'data-th': exclTaxLabel }"
            class="amount cart-totals__row-value"
        >
            <span class="price" data-bind="text: getGrandTotalExclTax()"></span>
        </div>
    </div>
<!-- /ko -->
<!-- ko if: !isTaxDisplayedInGrandTotal && isDisplayed() -->
    <div
        class="
            row
            row--no-margins
            between-xs
            grand
            totals
            cart-totals__row
            cart-totals__row--summary
        "
    >
        <div class="mark cart-totals__row-label" scope="row">
            <span data-bind="i18n: title"></span>
        </div>
        <div
            data-bind="attr: { 'data-th': title }"
            class="amount cart-totals__row-value"
        >
            <span class="price" data-bind="text: getValue()"></span>
        </div>
    </div>
<!-- /ko -->
<!-- ko if: isBaseGrandTotalDisplayNeeded() && isDisplayed() -->
    <div
        class="
            row
            row--no-margins
            between-xs
            totals
            charge
            cart-totals__row
            cart-totals__row--summary
        "
    >
        <div
            class="mark cart-totals__row-label"
            data-bind="i18n: basicCurrencyMessage"
            scope="row"
        ></div>
        <div class="amount cart-totals__row-value">
            <span
                class="price"
                data-bind="
                    text: getBaseValue(),
                    attr: { 'data-th': basicCurrencyMessage }
                "
            ></span>
        </div>
    </div>
<!-- /ko -->
