<!-- ko if: quoteIsVirtual == 0 -->
    <!-- ko if: isBothPricesDisplayed() -->
        <div
            class="
                row
                row--no-margins
                between-xs
                totals
                shipping
                excl
                cart-totals__row
            "
        >
            <div class="mark cart-totals__row-label" scope="row">
                <span data-bind="text: title+ ' ' + excludingTaxMessage"></span>
                <span
                    class="value"
                    data-bind="text: getShippingMethodTitle()"
                ></span>
            </div>
            <div class="amount cart-totals__row-value">
                <!-- ko if: isCalculated() -->
                    <span
                        class="price"
                        data-bind="
                            text: getExcludingValue(),
                            attr: { 'data-th': excludingTaxMessage }
                        "
                    ></span>
                <!-- /ko -->
                <!-- ko ifnot: isCalculated() -->
                    <span
                        class="not-calculated"
                        data-bind="
                            text: getExcludingValue(),
                            attr: { 'data-th': excludingTaxMessage }
                        "
                    ></span>
                <!-- /ko -->
            </div>
        </div>
        <div
            class="
                row
                row--no-margins
                between-xs
                totals
                shipping
                incl
                cart-totals__row
            "
        >
            <div class="mark cart-totals__row-label" scope="row">
                <span
                    data-bind="text: title + ' ' + includingTaxMessage"
                ></span>
                <span
                    class="value"
                    data-bind="text: getShippingMethodTitle()"
                ></span>
            </div>
            <div class="amount cart-totals__row-value">
                <!-- ko if: isCalculated() -->
                    <span
                        class="price"
                        data-bind="
                            text: getIncludingValue(),
                            attr: { 'data-th': title + ' ' + excludingTaxMessage }
                        "
                    ></span>
                <!-- /ko -->
                <!-- ko ifnot: isCalculated() -->
                    <span
                        class="not-calculated"
                        data-bind="
                            text: getIncludingValue(),
                            attr: { 'data-th': title + ' ' + excludingTaxMessage }
                        "
                    ></span>
                <!-- /ko -->
            </div>
        </div>
    <!-- /ko -->
    <!-- ko if: isIncludingDisplayed() -->
        <div
            class="
                row
                row--no-margins
                between-xs
                totals
                shipping
                incl
                cart-totals__row
            "
        >
            <div class="mark cart-totals__row-label" scope="row">
                <span data-bind="i18n: title"></span>
                <span
                    class="value"
                    data-bind="text: getShippingMethodTitle()"
                ></span>
            </div>
            <div class="amount cart-totals__row-value">
                <!-- ko if: isCalculated() -->
                    <span
                        class="price"
                        data-bind="
                            text: getIncludingValue(),
                            attr: { 'data-th': title }
                        "
                    ></span>
                <!-- /ko -->
                <!-- ko ifnot: isCalculated() -->
                    <span
                        class="not-calculated"
                        data-bind="
                            text: getIncludingValue(),
                            attr: { 'data-th': title }
                        "
                    ></span>
                <!-- /ko -->
            </div>
        </div>
    <!-- /ko -->
    <!-- ko if: isExcludingDisplayed() -->
        <div
            class="
                row
                row--no-margins
                between-xs
                totals
                shipping
                excl
                cart-totals__row
            "
        >
            <div class="mark cart-totals__row-label" scope="row">
                <span data-bind="i18n: title"></span>
                <span
                    class="value"
                    data-bind="text: getShippingMethodTitle()"
                ></span>
            </div>
            <div class="amount cart-totals__row-value">
                <!-- ko if: isCalculated() -->
                    <span
                        class="price"
                        data-bind="text: getValue(), attr: { 'data-th': title }"
                    ></span>
                <!-- /ko -->
                <!-- ko ifnot: isCalculated() -->
                    <span
                        class="not-calculated"
                        data-bind="text: getValue(), attr: { 'data-th': title }"
                    ></span>
                <!-- /ko -->
            </div>
        </div>
    <!-- /ko -->
<!-- /ko -->
