<!-- ko if: quoteIsVirtual == 0 -->
    <!-- ko if: isBothPricesDisplayed() -->
    <li class="order-summary__list-item">
        <span class="order-summary__label">
            <span data-bind="text: title + ' ' + excludingTaxMessage" />
            <span data-bind="text: getShippingMethodTitle()" />
        </span>
        <span class="order-summary__value">
            <!-- ko if: isCalculated() -->
            <span
                class="price"
                data-bind="text: getExcludingValue()"
            />
            <!-- /ko -->
            <!-- ko ifnot: isCalculated() -->
            <span
                class="not-calculated"
                data-bind="text: getExcludingValue()"
            />
            <!-- /ko -->
        </span>
    </li>
    <li class="order-summary__list-item">
        <span class="order-summary__label">
            <span data-bind="text: title + ' ' + includingTaxMessage" />
            <span data-bind="text: getShippingMethodTitle()" />
        </span>
        <span class="order-summary__value">
            <!-- ko if: isCalculated() -->
                <span
                    class="price"
                    data-bind="text: getIncludingValue()"
                />
            <!-- /ko -->
            <!-- ko ifnot: isCalculated() -->
                <span
                    class="not-calculated"
                    data-bind="text: getIncludingValue()"
                />
            <!-- /ko -->
        </span>
    </li>
    <!-- /ko -->
    <!-- ko if: isIncludingDisplayed() -->
    <li class="order-summary__list-item">
        <span class="order-summary__label">
            <span data-bind="i18n: title" />
            <span data-bind="text: getShippingMethodTitle()" />
        </span>
        <span class="order-summary__value">
            <!-- ko if: isCalculated() -->
                <span
                    class="price"
                    data-bind="text: getIncludingValue()"
                />
            <!-- /ko -->
            <!-- ko ifnot: isCalculated() -->
                <span
                    class="not-calculated"
                    data-bind="text: getIncludingValue()"
                />
            <!-- /ko -->
        </span>
    </li>
    <!-- /ko -->
    <!-- ko if: isExcludingDisplayed() -->
    <li class="order-summary__list-item">
        <span class="order-summary__label">
            <span data-bind="i18n: title" />
            <span data-bind="text: getShippingMethodTitle()" />
        </span>
        <span class="order-summary__value">
            <!-- ko if: isCalculated() -->
                <span
                    class="price"
                    data-bind="text: getValue()"
                />
            <!-- /ko -->
            <!-- ko ifnot: isCalculated() -->
                <span
                    class="not-calculated"
                    data-bind="text: getValue()"
                />
            <!-- /ko -->
        </span>
    </li>
    <!-- /ko -->
<!-- /ko -->
