<!-- ko if: isBothPricesDisplayed() -->
    <li class="cart-summary__list-item">
        <span class="cart-summary__label">
            <span data-bind="i18n: title"></span>
            <span data-bind="i18n: excludingTaxMessage"></span>
        </span>

        <span class="cart-summary__value" data-bind="text: getValue()"/>
    </li>

    <li class="cart-summary__list-item">
        <span class="cart-summary__label">
            <span data-bind="i18n: title"></span>
            <span data-bind="i18n: includingTaxMessage"></span>
        </span>

        <span class="cart-summary__value" data-bind="text: getValueInclTax()"/>
    </dliiv>
<!-- /ko -->

<!-- ko if: !isBothPricesDisplayed() && isIncludingTaxDisplayed() -->
    <li class="cart-summary__list-item">
        <span
            class="cart-summary__label"
            data-bind="i18n: title"
        />

        <span class="cart-summary__value" data-bind="text: getValueInclTax()"/>
    </li>
<!-- /ko -->

<!-- ko if: !isBothPricesDisplayed() && !isIncludingTaxDisplayed() -->
    <li class="cart-summary__list-item">
        <span
            class="cart-summary__label"
            data-bind="i18n: title"
        />

        <span class="cart-summary__value" data-bind="text: getValue()"/>
    </li>
<!-- /ko -->
