<!-- ko if: isBothPricesDisplayed() -->
    <li class="order-summary__list-item">
        <span class="order-summary__label">
            <span data-bind="i18n: title"></span>
            <span data-bind="i18n: excludingTaxMessage"></span>
        </span>

        <span
            class="order-summary__value"
            data-bind="text: getValue()"
        />
    </li>

    <li class="order-summary__list-item">
        <span class="order-summary__label">
            <span data-bind="i18n: title"></span>
            <span data-bind="i18n: includingTaxMessage"></span>
        </span>

        <span
            class="order-summary__value"
            data-bind="text: getValueInclTax()"
        />
    </li>
<!-- /ko -->

<!-- ko if: !isBothPricesDisplayed() && isIncludingTaxDisplayed() -->
    <li class="order-summary__list-item">
        <span
            class="order-summary__label"
            data-bind="i18n: title"
        />

        <span
            class="order-summary__value"
            data-bind="text: getValueInclTax()"
        />
    </li>
<!-- /ko -->

<!-- ko if: !isBothPricesDisplayed() && !isIncludingTaxDisplayed() -->
    <li class="order-summary__list-item">
        <span
            class="order-summary__label"
            data-bind="i18n: title"
        />

        <span
            class="order-summary__value"
            data-bind="text: getValue()"
        />
    </li>
<!-- /ko -->
