<!-- ko if: isBothPricesDisplayed() -->
    <div class="row row--no-margins between-xs totals sub excl cart-totals__row">
        <div class="mark cart-totals__row-label" scope="row">
            <span data-bind="i18n: title"></span>
            <span data-bind="i18n: excludingTaxMessage"></span>
        </div>
        <div class="amount cart-totals__row-value">
            <span
                class="price"
                data-bind="
                    text: getValue(),
                    attr: {'data-th': excludingTaxMessage}
                "
            ></span>
        </div>
    </div>
    <div class="row row--no-margins between-xs totals sub incl cart-totals__row">
        <div class="mark cart-totals__row-label" scope="row">
            <span data-bind="i18n: title"></span>
            <span data-bind="i18n: includingTaxMessage"></span>
        </div>
        <div class="amount cart-totals__row-value">
            <span
                class="price"
                data-bind="
                    text: getValueInclTax(),
                    attr: {'data-th': includingTaxMessage}
                "
            ></span>
        </div>
    </div>
<!-- /ko -->
<!-- ko if: !isBothPricesDisplayed() && isIncludingTaxDisplayed() -->
    <div class="row row--no-margins between-xs totals sub cart-totals__row">
        <div
            class="mark"
            data-bind="i18n: title"
            scope="row"
        ></div>
        <div class="amount">
            <span
                class="price"
                data-bind="text: getValueInclTax(), attr: { 'data-th': title }"
            ></span>
        </div>
    </div>
<!-- /ko -->
<!-- ko if: !isBothPricesDisplayed() && !isIncludingTaxDisplayed() -->
    <div class="row row--no-margins between-xs totals sub cart-totals__row">
        <div
            data-bind="i18n: title"
            class="mark"
            scope="row cart-totals__row-label"
        ></div>
        <div class="amount cart-totals__row-value">
            <span
                class="price"
                data-bind="text: getValue(), attr: {'data-th': title}"
            ></span>
        </div>
    </div>
<!-- /ko -->
