@import 'store-pickup-variables';

.store-pickup {
    &__tabs {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: $spacer--medium;
    }

    &__tab {
        @extend .tab__title;
        max-width: 100%;

        &--active {
            @extend .tab__title--active;
        }
    }

    &__heading {
        padding-bottom: $spacer;
        border-bottom: $border-base;
    }

    &__section {
        margin-bottom: $spacer--medium;
    }

    &__paragraph {
        margin-bottom: $spacer;
    }

    &__actions {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
