@import 'store-pickup-variables';

.store-pickup {
    ~ .checkout-shipping-address,
    ~ .checkout-shipping-method {
        display: none;
    }

    &__tabs {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: $spacer--medium;
    }

    &__tab {
        @extend .tab__title;
        max-width: 100%;

        &--active {
            @extend .tab__title--active;
        }
    }

    &__heading {
        padding: $spacer 0;
    }

    &__section {
        margin-bottom: $spacer--medium;
    }

    &__paragraph {
        margin-bottom: $spacer;
    }

    &__actions {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__modal-content {
        display: none;

        .modal-content & {
            display: block;
        }
    }
}
