$store-pickup__tabs-margin-bottom     : $spacer--medium !default;
$store-pickup__tab-max-width          : 100% !default;
$store-pickup__heading-padding        : $spacer 0 !default;
$store-pickup__section-margin-bottom  : $spacer--medium !default;
$store-pickup__paragraph-margin-bottom: $spacer !default;
$store-pickup__actions-width          : 100% !default;
$store-pickup__actions-justify-content: space-between !default;
