.webforms {
    .form {
        .actions-toolbar,
        .fieldset,
        .field {
            padding: 0;
            float: none;
        }

        .validation-advice-number {
            margin: -8px 0 16px 0;
        }
    }

    .webforms-field {
        float: none;
    }

    &__modal-container {
        overflow: auto;
    }

    &__modal-content {
        padding-top: $spacer--semi-medium;
    }
}
