.loading-mask {
    .loader {
        img {
            width: auto;
        }
    }
}

.login-popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.customer-note {
    display: block;
    margin: 20px 0 10px 0;
}

fieldset.field {
    margin: 0;
    padding: 0;
    border: none;
}

.methods-shipping,
.payment-method {
    .primary {
        display: flex;
        justify-content: flex-end;
        .button {
            min-width: 160px;
        }
    }
}

.form-shipping-address {
    .field {
        margin-bottom: 20px;
    }
}

.action {
    &.primary {
        display: inline-flex;
        justify-content: center;
        cursor: pointer;
        height: 48px;
        min-width: 48px;
        width: auto;
        padding: 0 $spacer--medium;
        border: none;
        border-radius: 100px;
        outline: none;
        background: $color-primary;
        font-size: $font-size-base;
        color: black;
        transition: all 0.3s ease-in-out;
        font-weight: $font-weight-bold;

        &.disabled {
            opacity: 0.5;
            cursor: default;
            pointer-events: none;
        }

        &:hover,
        &:focus {
            background: $gray-dark;
            border-color: none;
            color: $color-primary;
        }

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            align-items: center;
        }
    }

    &.remind {
        margin-left: 10px;
    }
}
