$border-color__base: $color-gray80 !default;
$border-color__light: $color-gray82 !default;
$total-columns: 12 !default;
$grid-width : ($column-width * $total-columns) + ($gutter-width * ($total-columns - 1)) !default;
$layout-column__sidebar-width: 5 !default;
$layout-column-checkout__width-left: 3 !default;
$form-field-type-label-inline__width: 25.8% !default;
$dropdown-list__z-index: 100 !default;
$checkout-tooltip-content-mobile__right: -($indent__s) !default;
$checkout-tooltip-content-mobile__top: 40px !default;
$checkout-tooltip-content__background-color: $color-gray-light01 !default;
$checkout-tooltip-content__padding: 12px !default;
$checkout-tooltip-content__border-width: 1px !default;
$checkout-tooltip-content__border-color: $color-gray60 !default;
$checkout-tooltip-content__font-size: $font-size__base !default;
$checkout-tooltip-content__width: 270px !default;
$checkout-tooltip-content__active__border-color: darken($checkout-tooltip-content__border-color, 20%) !default;
$checkout-tooltip-icon-arrow__left: -( $checkout-tooltip-content__padding + 10px - $checkout-tooltip-content__border-width) !default;
$checkout-billing-address-details__line-height: 27px !default;

$checkout-payment-option-title-icon__font-size: 14px !default;
$checkout-payment-option-title-icon__line-height: 16px !default;
$checkout-payment-option-title-icon__margin: 0 0 0 $indent__s !default;

// Checkout Sidebar Shipping Information
$checkout-sidebar-shipping-information-edit-icon__font-size: 18px !default;
$checkout-sidebar-shipping-information-edit-icon__line-height: 20px !default;
$checkout-sidebar-shipping-information-edit-icon__top: $indent__s !default;

// Checkout
$checkout-step-title__padding: $indent__s !default;
$checkout-step-title__border: $border-width__base solid $color-gray80 !default;
$checkout-step-title__font-size: 26px !default;
$checkout-step-title__font-weight: $font-weight__light !default;
$checkout-sidebar__columns: 4 !default;
$checkout-shipping-address__max-width: 500px !default;
