$icons__font-name: 'icons-blank-theme' !default;

$panel__background-color: $color-gray-light0 !default;
$border-color__base: $color-gray80 !default;
$border-color__light: $color-gray82 !default;

$total-columns: 12 !default;
$grid-width   : ($column-width * $total-columns) + ($gutter-width * ($total-columns - 1)) !default;

$layout-column__sidebar-width: 5 !default;
$layout-column-checkout__width-left: 3 !default;

$icon-gift-registry: '\e62b' !default;
$icon-calendar__font-size: 23px !default;

$form-field-type-label-inline__width: 25.8% !default;

$dropdown-list__z-index: 100 !default;

//  Checkout tooltip
$checkout-tooltip-icon-arrow__font-size: 10px !default;
$checkout-tooltip-icon__font-size: 21px !default;

$checkout-tooltip-content-mobile__right: -($indent__s) !default;
$checkout-tooltip-content-mobile__top: 30px + $checkout-tooltip-icon-arrow__font-size !default;
$checkout-tooltip-content__background-color: $color-gray-light01 !default;
$checkout-tooltip-content__padding: 12px !default;
$checkout-tooltip-content__border-width: 1px !default;

$checkout-tooltip-content__border-color: $color-gray60 !default;
$checkout-tooltip-content__font-size: $font-size__base !default;
$checkout-tooltip-content__width: 270px !default;
$checkout-tooltip-content__active__border-color: darken($checkout-tooltip-content__border-color, 20%) !default;
$checkout-tooltip-icon-arrow__left: -( $checkout-tooltip-content__padding + $checkout-tooltip-icon-arrow__font-size - $checkout-tooltip-content__border-width) !default;
$checkout-billing-address-details__line-height: 27px !default;

// Checkout Payment Option icon
$checkout-payment-option-title-icon__font-size: 14px !default;
$checkout-payment-option-title-icon__line-height: 16px !default;
$checkout-payment-option-title-icon__margin: 0 0 0 $indent__s !default;

// Checkout Sidebar Shipping Information
$checkout-sidebar-shipping-information-edit-icon__font-size: 18px !default;
$checkout-sidebar-shipping-information-edit-icon__line-height: 20px !default;
$checkout-sidebar-shipping-information-edit-icon__top: $indent__s !default;

// Checkout
$checkout-step-title__padding: $indent__s !default;
$checkout-step-title__border: $border-width__base solid $color-gray80 !default;
$checkout-step-title__font-size: 26px !default;
$checkout-step-title__font-weight: $font-weight__light !default;
$checkout-sidebar__columns: 4 !default;
$checkout-shipping-address__max-width: 500px !default;

// Alpaca variaables

// Colors
$white                      : #fff !default;
$black                      : #000 !default;
$red                        : #e85b55 !default;
$orange                     : #fab216 !default;
$yellow                     : #ffd500 !default;
$green                      : #31e37d !default;
$blue                       : #2962ff !default;
$teal                       : #5bc0de !default;
$pink                       : #ff5b77 !default;
$purple                     : #613d7c !default;

// Grayscale colors
$gray-darkest               : #333333 !default;
$gray-darker                : #393243 !default;
$gray-dark                  : #4c4555 !default;
$gray                       : #73739c !default;
$gray-light                 : #c2c1df !default;
$gray-lighter               : #c9c9c9 !default;
$gray-lightest              : #f7f7f9 !default;

// Semantic color scheme
$color-primary              : $green !default;
$color-secondary            : $gray-darker !default;
$color-success              : $green !default;
$color-info                 : $teal !default;
$color-warning              : $orange !default;
$color-danger               : $red !default;
$color-inverse              : $gray-darker !default;

// Background
$bg-color-base              : $white !default;
$bg-color-dark              : $black !default;

// Border
$border-color-base          : $gray-darker !default;
$border-width-base          : 1px !default;
$border-style-base          : solid !default;

$border-base                : $border-width-base $border-style-base $border-color-base !default;

// Outline
$outline-base               : none !default;

// Spacers
$spacer                     : 8px !default;
$spacer--medium             : 16px !default;
$spacer--large              : 32px !default;
$spacer--extra-large        : 48px !default;

// Typography
$font-family-sans-serif     : "Montserrat", sans-serif !default;
$font-family-monospace      : Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-family-base           : $font-family-sans-serif !default;

$font-color-base            : $gray-darkest !default;
$font-weight-normal         : normal !default;
$font-weight-bold           : bold !default;
$font-weight-base           : $font-weight-normal !default;
$font-line-height           : 1.5 !default;

$font-size-extra-large      : 22px !default;
$font-size-large            : 18px !default;
$font-size-base             : 14px !default;
$font-size-small            : 12px !default;
$font-size-extra-small      : 10px !default;

// Layout
$max-content-width          : 1328px !default;

// Layout - breakpoints
$screen-xs                  : 320px !default;
$screen-s                   : 480px !default;
$screen-m                   : 768px !default;
$screen-l                   : 992px !default;
$screen-xl                  : 1200px !default;
$screen-xxl                 : 1600px !default;

// Components
$border-radius              : 4px !default;
$form-elements-radius       : 32px !default;
$form-elements-radius--small: 10px !default;
$form-elements-border-color : $gray-light !default;
$transition-base            : all 0.3s ease-in-out !default;
$transition-fade            : opacity 0.25s linear !default;
