.page-layout-checkout {
    .page-main {
        // Blank Mixins
        @import "mixins/media-queries";

        // Blank Vendor libs
        @import 'vendor/magento-ui/lib'; // Magento UI

        // Blank variables

        @import 'variables';

        // Reset default styles with magento-reset
        @include lib-magento-reset();

        // Blank blocks
        @import 'blocks/extends';
        @import 'blocks/layout';
        @import 'blocks/messages';
        @import 'blocks/tooltips';
        @import 'blocks/loaders';
        @import 'blocks/buttons';
        @import 'blocks/icons';
        @import 'blocks/sections';
        @import 'blocks/actions-toolbar';
        @import 'blocks/popups';

        // Components styles (modal/sliding panel)
        @import 'blocks/components/modals'; // from lib
        @import 'blocks/components/modals_extend'; // local

        // Theme partials
        @import 'module/advanced-checkout';
        @import 'module/checkout';
    }
}

