.page-layout-checkout {

    @import "mixins/media-queries";
    @import 'vendor/magento-ui/lib';
    @import 'variables';

    .page-main {

        // Reset default styles with magento-reset
        @include lib-magento-reset();

        // Blank blocks
        @import 'blocks/extends';
        @import 'blocks/layout';
        @import 'blocks/messages';
        @import 'blocks/tooltips';
        @import 'blocks/loaders';
        @import 'blocks/sections';
        @import 'blocks/actions-toolbar';
        @import 'blocks/popups';

        // Theme partials
        @import 'module/advanced-checkout';
    }

    @import 'module/checkout';
}

