$cart__summary__title-margin                : 0 0 $spacer--medium !default;
$cart__summary__title-font-family           : $font-family-sans-serif !default;
$cart__summary__title-font-size             : $font-size-large !default;
$cart__summary__title-font-weight           : $font-weight-bold !default;
$cart__summary__title-line-height           : 48px !default;
