// Cart Summary
$cart-summary-padding                    : $spacer--semi-medium !default;
$cart-summary-background                 : $gray-lighter !default;
$cart-summary__title-margin              : 0 0 $spacer--medium !default;
$cart-summary__title-font-family         : $font-family-sans-serif !default;
$cart-summary__title-font-size           : $font-size-large !default;
$cart-summary__title-font-weight         : $font-weight-bold !default;
$cart-summary__title-line-height         : 48px !default;
$cart-summary__title-text-transform      : none !default;
$cart-summary__total-margin              : 0 0 $spacer--medium !default;
$cart-summary__title-total-margin        : 0 !default;
$cart-summary__title-total-font-family   : $font-family-sans-serif !default;
$cart-summary__title-total-font-size     : $font-size-large !default;
$cart-summary__title-total-font-weight   : $font-weight-bold !default;
$cart-summary__title-total-line-height   : 48px !default;
$cart-summary__title-total-text-transform: none !default;
$cart-summary__amount-margin             : 0 !default;
$cart-summary__amount-font-family        : $font-family-sans-serif !default;
$cart-summary__amount-font-size          : $font-size-large !default;
$cart-summary__amount-font-weight        : $font-weight-bold !default;
$cart-summary__amount-line-height        : 48px !default;
$cart-summary__amount-text-transform     : none !default;
$cart-summary__subtitle-margin           : 0 !default;
$cart-summary__subtitle-font-family      : $font-family-sans-serif !default;
$cart-summary__subtitle-font-size        : $font-size-large !default;
$cart-summary__subtitle-font-weight      : $font-weight-base !default;
$cart-summary__subtitle-line-height      : 48px !default;
$cart-summary__subtitle-text-transform   : none !default;
$cart-summary__list-margin               : 0 !default;
$cart-summary__list-padding              : $spacer--semi-medium 0 !default;
$cart-summary__list-border               : 1px solid $gray !default;
$cart-summary__list-style                : none !default;
$cart-summary__link-padding              : 0 !default;
