// Cart Summary
$cart-summary__padding                   : $spacer--semi-medium !default;
$cart-summary__background                : $gray-lighter !default;
$cart-summary__margin-bottom             : $spacer--extra-large !default;
$cart-summary__title-margin              : 0 0 $spacer--medium !default;
$cart-summary__title-font-family         : $font-family-sans-serif !default;
$cart-summary__title-font-size           : $font-size-large !default;
$cart-summary__title-font-weight         : $font-weight-bold !default;
$cart-summary__title-text-transform      : none !default;
$cart-summary__total-margin              : 0 0 $spacer--medium !default;
$cart-summary__title-total-margin        : 0 !default;
$cart-summary__title-total-font-family   : $font-family-sans-serif !default;
$cart-summary__title-total-font-size     : $font-size-large !default;
$cart-summary__title-total-font-weight   : $font-weight-bold !default;
$cart-summary__title-total-text-transform: none !default;
$cart-summary__amount-margin             : 0 !default;
$cart-summary__amount-font-family        : $font-family-sans-serif !default;
$cart-summary__amount-font-size          : $font-size-large !default;
$cart-summary__amount-font-weight        : $font-weight-bold !default;
$cart-summary__amount-text-transform     : none !default;
$cart-summary__subtitle-margin           : 0 0 $spacer--medium !default;
$cart-summary__subtitle-font-family      : $font-family-sans-serif !default;
$cart-summary__subtitle-font-size        : $font-size-large !default;
$cart-summary__subtitle-font-weight      : $font-weight-base !default;
$cart-summary__subtitle-text-transform   : none !default;
$cart-summary__list-margin               : 0 !default;
$cart-summary__list-padding              : $spacer--semi-medium 0 !default;
$cart-summary__list-border               : $border-base !default;
$cart-summary__list-style                : none !default;
$cart-summary__label-padding             : $spacer--medium 0 !default;
$cart-summary__label-font-size           : $font-size-medium !default;
$cart-summary__link-padding              : 0 !default;
$cart-summary__link-font-weight          : $font-weight-base !default;
// Cart grid
$cart-grid__header-border-bottom         : $border-base !default;
$cart-grid__header-label-padding         : $spacer--medium 0 !default;
$cart-grid__footer-text-align\@medium    : right !default;
// Cart discount
$cart-discount__margin                   : $spacer--medium 0 !default;
$cart-discount__padding                  : 0 !default;
$cart-discount__title-icon-transition    : $transition-base !default;
$cart-discount__title-padding            : $spacer--medium 0 !default;
$cart-discount__title-border-bottom      : $border-base !default;
$cart-discount__title-text-margin-right  : $spacer--medium !default;
$cart-discount__title-text-font-size     : $font-size-large !default;
$cart-discount__title-text-font-weight   : $font-weight-medium !default;
$cart-discount__title-icon-width         : 24px !default;
$cart-discount__title-icon-height        : 24px !default;
$cart-discount__title-icon-transform     : rotate(180deg) !default;
$cart-discount__controls-margin-bottom   : $spacer--medium !default;
$cart-discount__controls-padding         : $spacer--semi-medium 0 !default;
$cart-discount__input-margin             : 0 !default;
$cart-discount__field-margin-bottom      : $spacer--medium !default;
