@import "cart-variables";

.cart-discount {
    flex-basis: 100%;
    margin: $cart-discount__margin;
    padding: $cart-discount__padding;

    &.active {
        .cart-discount__title-icon {
            transform: $cart-discount__title-icon-transform;
        }

        .cart-discount__content {
            display: block;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $cart-discount__title-padding;
        border-bottom: $cart-discount__title-border-bottom;
        cursor: pointer;
    }

    &__title-text {
        margin-right: $cart-discount__title-text-margin-right;
        font-size: $cart-discount__title-text-font-size;
        font-weight: $cart-discount__title-text-font-weight;
    }

    &__title-icon {
        transition: $cart-discount__title-icon-transition;
    }

    &__content {
        display: none;
    }

    &__form {
        display: block;
    }

    &__controls {
        position: relative;
        margin-bottom: $cart-discount__controls-margin-bottom;
        padding: $cart-discount__controls-padding;
    }

    &__input {
        margin: $cart-discount__input-margin;
    }

    &__field {
        margin-bottom: $cart-discount__field-margin-bottom;
    }
}
