@import "cart-variables";

.cart-discount {
    flex-basis: 100%;
    margin: $cart-discount__margin 0;
    padding: $cart-discount__padding;

    &.active {
        .cart-discount__title-icon {
            transform: $cart-discount__title-icon-transform;
        }

        .cart-discount__content {
            display: block;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $spacer--medium 0;
        border-bottom: $border-base;
        cursor: pointer;
    }

    &__title-text {
        margin-right: $cart-discount__margin;
        font-size: 18px;
        font-weight: 500;
    }

    &__title-icon {
        width: $cart-discount__icon-width;
        height: $cart-discount__icon-height;
        transition: $cart-discount__transition;
    }

    &__content {
        display: none;
    }

    &__form {
        display: block;
    }

    &__controls {
        position: relative;
        margin-bottom: $spacer--medium;
        padding: $spacer--semi-medium 0;
    }

    &__input {
        margin: 0;
    }

    &__field {
        margin-bottom: $spacer--medium;
    }
}
