@import "cart-variables";

.cart-grid {
    &__header {
        display: none;

        @include mq($screen-m) {
            display: flex;
            border-bottom: 1px solid $gray;
        }
    }

    &__header-label {
        display: block;
        line-height: 48px;
    }

    &__header-items {
        flex-basis: 50%;

        @include mq($screen-xl) {
            flex-basis: 60%;
        }
    }

    &__header-price,
    &__header-subtotal {
        flex-basis: 20%;

        @include mq($screen-xl) {
            flex-basis: 14%;
        }
    }

    &__header-qty {
        flex-basis: 10%;

        @include mq($screen-xl) {
            flex-basis: 12%;
        }
    }

    &__item {
        padding: 24px 0;
        border-bottom: 1px solid $gray;

        @include mq($screen-m) {
            display: flex;
        }
    }

    &__item-left {
        display: flex;

        @include mq($screen-m) {
            flex-basis: 50%;
        }

        @include mq($screen-xl) {
            flex-basis: 60%;
        }
    }

    &__item-right {
        margin-left: 64px;
        padding-left: $spacer--medium;

        @include mq($screen-m) {
            display: flex;
            flex-basis: 50%;
            flex-wrap: wrap;
            align-content: space-between;
            margin-left: 0;
            padding-left: 0;
        }

        @include mq($screen-xl) {
            flex-basis: 40%;
        }
    }

    &__item-image {
        width: 64px;

        @include mq($screen-m) {
            width: 80px;
        }

        @include mq($screen-xl) {
            width: 128px;
        }
    }

    &__item-content {
        flex-basis: calc(100% - 64px);
        padding-left: $spacer--medium;

        @include mq($screen-m) {
            flex-basis: calc(100% - 80px);
        }

        @include mq($screen-xl) {
            flex-basis: calc(100% - 128px);
            padding-left: $spacer--large;
        }
    }

    &__item-name {
        font-family: $cart-summary__title-total-font-family;
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
        text-transform: none;
    }

    &__attribute {
        display: block;
        width: 100%;
        color: $gray-dark;
    }

    &__item-label,
    &__item-price {
        color: $font-color-base;
        line-height: 48px;
    }

    &__item-price {
        @include mq($screen-m) {
            font-size: 16px;
        }
    }

    &__item-label {
        @include mq($screen-m) {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
    }

    &__item-details {
        @include mq($screen-m) {
            display: flex;
            flex-basis: 100%;
            align-items: flex-start;
        }
    }

    &__wrapper {
        @include mq($screen-m) {
            flex-basis: 40%;
        }

        @include mq($screen-xl) {
            flex-basis: 35%;
        }
    }

    &__item-qty {
        margin-bottom: 0;

        @include mq($screen-m) {
            flex-basis: 20%;
        }

        @include mq($screen-xl) {
            flex-basis: 30%;
            padding-right: $spacer--medium;
        }
    }

    &__item-input {
        width: 48px;
        height: 48px;
        appearance: textfield;

        @include mq($screen-xl) {
            width: 100%;
        }

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            appearance: none;
            margin: 0;
        }
    }

    &__item-total {
        font-size: 16px;
        line-height: 48px;
        font-weight: $font-weight-medium;
    }

    &__actions {
        display: none;

        @include mq($screen-m) {
            display: flex;
            flex-basis: 100%;
            justify-content: flex-end;
            height: 48px;
        }
    }

    &__action {
        background: transparent;

        &:first-child {
            margin-right: 8px;
        }

        .cart-grid__action-icon {
            fill: $gray-dark;
            transition: fill 0.3s ease-in-out;
        }

        &:hover {
            .cart-grid__action-icon {
                fill: $gray-darkest;
            }

            &:before {
                transform: scaleX(0);
            }

            &:after {
                left: 0;
                opacity: 0;
            }
        }
    }

    &__footer {
        @include mq($screen-m) {
            text-align: right;
        }
    }

    &__button {
        width: 100%;

        @include mq($screen-m) {
            width: auto;
        }
    }
}
