@import "cart-variables";

.cart-summary {
    padding: $spacer--semi-medium;
    background-color: $gray-lighter;

    @include mq($screen-l) {
        order: 1;
    }

    &__title {
        margin: $cart__summary__title-margin;
        font-family: $cart__summary__title-font-family;
        font-size: $cart__summary__title-font-size;
        font-weight: $cart__summary__title-font-weight;
        line-height: $cart__summary__title-line-height;
        text-transform: none;
    }

    &__subtitle {
        margin: $cart__summary__title-margin;
        font-family: $cart__summary__title-font-family;
        font-size: $cart__summary__title-font-size;
        font-weight: $cart__summary__title-font-weight;
        line-height: $cart__summary__title-line-height;
        text-transform: none;
    }

    &__list {
        margin: 0;
        padding: 20px 0;
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
        margin-bottom: 16px;
        list-style: none;
    }

    &__list-item {
        display: flex;
        justify-content: space-between;
    }

    &__label,
    &__value {
        font-size: 16px;
        line-height: $cart-summary__title-line-height;
    }

    &__link {
        padding: 0;
        font-weight: normal;
    }
}
