@import "cart-variables";

.cart-summary {
    padding: $spacer--semi-medium;
    background-color: $gray-lighter;

    @include mq($screen-l) {
        order: 1;
    }

    &__title {
        margin: $cart__summary__title-margin;
        font-family: $cart__summary__title-font-family;
        font-size: $cart__summary__title-font-size;
        font-weight: $cart__summary__title-font-weight;
        line-height: $cart__summary__title-line-height;
        text-transform: none;
    }

    &__subtitle {
        margin: $cart__summary__title-margin;
        font-family: $cart__summary__title-font-family;
        font-size: $cart__summary__title-font-size;
        font-weight: $cart__summary__title-font-weight;
        line-height: $cart__summary__title-line-height;
        text-transform: none;
    }
}
