@import "cart-variables";

.cart-summary {
    padding: $cart-summary__padding;
    background-color: $cart-summary__background;
    margin: $cart-summary__margin;

    &__title {
        margin: $cart-summary__title-margin;
        font-family: $cart-summary__title-font-family;
        font-size: $cart-summary__title-font-size;
        font-weight: $cart-summary__title-font-weight;
        text-transform: $cart-summary__title-text-transform;
    }

    &__title-total {
        margin: $cart-summary__title-total-margin;
        font-family: $cart-summary__title-total-font-family;
        font-size: $cart-summary__title-total-font-size;
        font-weight: $cart-summary__title-total-font-weight;
        text-transform: $cart-summary__title-total-text-transform;
    }

    &__amount {
        margin: $cart-summary__amount-margin;
        font-family: $cart-summary__amount-font-family;
        font-size: $cart-summary__amount-font-size;
        font-weight: $cart-summary__amount-font-weight;
        text-transform: $cart-summary__amount-text-transform;
    }

    &__subtitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: $cart-summary__subtitle-margin;
        font-family: $cart-summary__subtitle-font-family;
        font-size: $cart-summary__subtitle-font-size;
        font-weight: $cart-summary__subtitle-font-weight;
        text-transform: $cart-summary__subtitle-text-transform;
        cursor: pointer;
    }

    &__list {
        margin: $cart-summary__list-margin;
        padding: $cart-summary__list-padding;
        border: $cart-summary__list-border;
        border-width: $cart-summery__list-border-width;
        list-style: $cart-summary__list-style;
    }

    &__list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: $cart-summary__list-item-min-height;
    }

    &__label,
    &__value {
        font-size: $cart-summary__label-font-size;
    }

    &__link {
        padding: $cart-summary__link-padding;
        font-weight: $cart-summary__link-font-weight;
    }

    &__divider {
        margin: $cart-summary__divider-margin;
        border: $cart-summary__divider-border;
        border-width:  $cart-summary__divider-border-width;
    }

    &__list-column {
        display: flex;
        flex-direction: column;
    }

    .active {
        .shipping-estimation__title-icon {
            transform: rotate(180deg);
        }
    }
}
