<p>
    This component is only demonstrative to use collapsible script in fractal component. In Magento we can use collapsible Magento-UI component (example - gift cards on cart view in theme);
    Check Component's README (Notes) for more information.
</p>

<div class="collapsible">
    <button
        class="button collapsible__trigger"
        aria-expanded="false"
    >
        Collapsible trigger
    </button>
    <div class="collapsible__content">
        Collapsible content goes here
    </div>
</div>

<script type="text/javascript">
const collapsible = document.querySelector('.collapsible');

new Collapsible(collapsible);
</script>
