$product-image__wrapper-height: 0;
$product-image__wrapper-width: 100%;

.product-image {
    &__wrapper {
        position: relative;
        height: $product-image__wrapper-height;
        width: $product-image__wrapper-width;
        overflow: hidden;
    }

    &__photo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        height: auto; 
    }
}
