<div
    class="
        discount-code
        payment-option
        opc-payment-additional
        rewardpoints
    "
    id="reward_placer"
    data-bind="
        mageInit: {
            visible: isAvailable(),
            'collapsible': {
                'openedState': '_active'
            }
        }
    "
>
    <div
        class="discount-code__button payment-option-title"
        data-role="title"
    >
        <span
            class="
                discount-code__button-text
                action
                action-toggle
            "
            id="block-reward-points-heading"
            role="heading"
            aria-level="2"
        >
            <!-- ko i18n: 'Reward points' --><!-- /ko -->
        </span>

        <svg
            class="
                icon
                discount-code__button-icon
            "
            role="presentation"
            focusable="false"
        >
            <use data-bind="attr: {'xlink:href': require.toUrl('images/icons-sprite.svg#angle-down')}" xlink:href=''></use>
        </svg>
    </div>
    <div
        class="
            discount-code__content
            payment-option-content
            field
            choice
        "
        data-role="content"
    >
        <div class="margin-bottom-m payment-option-inner">
            <p data-bind="html: $t(label)"></p>
        </div>
        <div
            class="actions-toolbar"
            id="reward-points-buttons-container"
        >
            <div class="primary">
                <button
                    data-role="opc-use-reward"
                    class="action action-use"
                    data-bind="click: useRewardPoints"
                >
                    <!-- ko i18n: 'Use reward points'--><!-- /ko -->
                </button>
            </div>
        </div>
    </div>
</div>
