<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
 <div class="payment-option opc-payment-additional rewardpoints" id="reward_placer" data-bind="visible: isAvailable()">
    <div class="payment-option-title">
        <span data-bind="i18n: 'Reward points'"></span>
    </div>
    <div class="payment-option-content field choice">
        <div class="payment-option-inner">
            <span data-bind="html: $t(label)"></span>
        </div>
        <div class="actions-toolbar" id="reward-points-buttons-container">
            <div class="primary">
                <button data-role="opc-use-reward" class="action action-use" data-bind="click: useRewardPoints">
                    <span><!-- ko i18n: 'Use reward points'--><!-- /ko --></span>
                </button>
            </div>
        </div>
    </div>
</div>
