$link__color                 : $blue !default;
$link__decoration            : underline !default;
$link__font-family           : $font-family-base !default;
$link__font-weight           : $font-weight-normal !default;
$link__color-hover           : $color-secondary !default;
$link__line-height           : $font-line-height !default;
$link__transition            : $transition-base !default;
$link__color--invert         : $gray-darker !default;
$link__color-hover--invert   : $blue !default;
$link__color--secondary      : $gray-lighter !default;
$link__color-hover--secondary: $color-primary !default;

.link {
    color: $link__color;
    font-family: $link__font-family;
    font-weight: $link__font-weight;
    line-height: $link__line-height;
    text-decoration: $link__decoration;
    transition: $link__transition;

    &:hover {
        color: $link__color-hover;
    }

    &--invert {
        color: $link__color--invert;

        &:hover {
            color: $link__color-hover--invert;
        }
    }

    &--secondary {
        color: $link__color--secondary;

        &:hover {
            color: $link__color-hover--secondary;
        }
    }

    // visible only for screen readers and when focused
    &--visually-hidden {
        @include visually-hidden($usePseudo: true);
    }

    p &,
    cite & {
        background-clip: content-box;
        &.focus-visible:not(.banner) {
            @include focus-inline();
        }
    }
}

a {
    @extend .link;
}
