$tooltip__icon-size                     : 24px !default;

$tooltip__content-wrapper-z-index       : $z-index-high !default;
$tooltip__content-wrapper-width         : 320px !default;
$tooltip__content-background            : $color-primary !default;
$tooltip__content-color                 : $gray-lighter !default;
$tooltip__content-text-transform        : initial !default;

$tooltip__after--is-open-background     : $tooltip__content-background !default;

$tooltip__heading-margin                : $spacer 0 !default;
$tooltip__heading-font-family           : $font-family-base !default;
$tooltip__heading-font-size             : $font-size-large !default;
$tooltip__heading-font-weight           : $font-weight-bold !default;
$tooltip__heading-text-transform        : initial !default;

$tooltip__trigger-color--text           : $color-primary !default;
$tooltip__trigger-decoration-hover--text: underline !default;
$tooltip__trigger-bg-color              : transparent !default;
$tooltip__trigger-icon-fill             : $color-primary !default;
$tooltip__trigger-icon-fill-hover       : $color-secondary !default;

$tooltip__close-bg-color                : transparent !default;
$tooltip__close-icon-fill               : $color-secondary !default;
$tooltip__close-icon-fill-hover         : $color-focus !default;

.tooltip {
    position: relative;
    display: flex;
    justify-content: center;

    &:after {
        content: '';
        display: none;
    }

    &--text {
        .tooltip__trigger-button {
            color: $tooltip__trigger-color--text;

            &:hover,
            &.focus-visible {
                text-decoration: $tooltip__trigger-decoration-hover--text;
            }

            .button__text {
                margin: 0;
            }
        }
    }

    &__content-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        z-index: $tooltip__content-wrapper-z-index;
        display: none;
        width: $tooltip__content-wrapper-width;
        height: auto;
        padding: $spacer--medium $spacer--large $spacer--large;
        background: $tooltip__content-background;
        color: $tooltip__content-color;
        font-size: $font-size-medium;
        text-transform: $tooltip__content-text-transform;
        transform: translate(0%, -100%);
        overflow: hidden;

        p {
            color: $tooltip__content-color;
        }

        @include mq($screen-m) {
            left: 50%;
            transform: translate(-50%, -100%);
        }
    }

    &__heading {
        margin: $tooltip__heading-margin;
        font-family: $tooltip__heading-font-family;
        font-size: $tooltip__heading-font-size;
        font-weight: $tooltip__heading-font-weight;
        color: $tooltip__content-color;
        text-transform: $tooltip__heading-text-transform;
    }

    &__trigger-button {
        z-index: 1;
        background-color: $tooltip__trigger-bg-color;

        .icon {
            fill: $tooltip__trigger-icon-fill;
        }

        &:before,
        &:after {
            display: none;
        }

        &:hover {
            .icon {
                fill: $tooltip__trigger-icon-fill-hover;
            }
        }
    }

    &__close-button {
        position: absolute;
        right: $spacer--small;
        top: $spacer--small;
        margin: 0;
        background-color: $tooltip__close-bg-color;

        .icon {
            fill: $tooltip__close-icon-fill;
        }

        &:before,
        &:after {
            display: none;
        }

        &:hover {
            .icon {
                fill: $tooltip__close-icon-fill-hover;
            }
        }
    }

    &--is-open {
        &:after {
            position: absolute;
            display: block;
            width: $tooltip__icon-size;
            height: $tooltip__icon-size;
            background: $tooltip__after--is-open-background;
            transform: rotate(45deg);
            bottom: calc(100% - #{$spacer});

            @include isIE() {
                left: $spacer--small;
            }
        }

        .tooltip {
            &__content-wrapper {
                display: block;
            }
        }
    }
}
