// Base elements
button {
    &.action {
        @extend .button;
    }

    &.action.action-cancel {
        @extend .button--secondary;
    }
}

a {
    &.action.remind,
    &.action.primary {
        @extend .button;
    }

    &.action.remind {
        @extend .button--secondary;
    }
}

input {
    &.input-text {
        @extend .input__field;
    }
}

ol {
    &.opc {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}

fieldset {
    &.field {
        @extend .fieldset;
    }
}

h1 {
    &.heading--page {
        @include visually-hidden;
    }
}

// Layout
.checkout-container {
    @include mq($screen-m) {
        display: flex;
        flex-wrap: wrap;
        max-width: 1120px;
        margin: 0 auto;
    }
}

.progress-bar {
    @include mq($screen-m) {
        max-width: 80%;
        flex-basis: 80%;
    }
}

.checkout-messages {
    @include mq($screen-m) {
        max-width: 100%;
        flex-basis: 100%;
    }
}

.opc-wrapper {
    @include mq($screen-m) {
        max-width: 60%;
        flex-basis: 60%;
        padding-right: 40px;
    }

    @include mq($screen-l) {
        padding-right: 80px;
    }

    @include mq($screen-xl) {
        padding-right: 120px;
    }
}

.opc-sidebar {
    @include mq($screen-m) {
        max-width: 40%;
        flex-basis: 40%;
    }
}
