// Overwrite Magento_UI vars
$border-color__base                                 : $gray-light !default;
$layout-column__sidebar-width                       : 5 !default;
$dropdown-list__z-index                             : $z-index-high !default;
$form-field-type-label-inline__width                : 25.8% !default;

$checkout-tooltip-content__background-color         : $gray-lighter !default;
$checkout-tooltip-content__border-color             : $gray-lighter !default;

$checkout-payment-option-title-icon__font-size      : $font-size-base !default;
$checkout-payment-option-title-icon__margin         : 0 0 0 $spacer--small !default;

$checkout-step-title__border                        : $border-base !default;
$checkout-sidebar__columns                          : 4 !default;
$checkout-shipping-address__max-width               : 500px !default;
$checkout-shipping-item__active__border-color       : $color-primary !default;

// Checkout components global vars
$checkout-container__width                          : 1120px !default;
$checkout-container__margin                         : 0 auto !default;
$progress-bar__width                                : 80% !default;
$checkout-messages__width                           : 100% !default;
$opc-wrapper__width                                 : 60% !default;
$opc-wrapper__padding-right\@medium                 : 40px !default;
$opc-wrapper__padding-right\@large                  : 80px !default;
$opc-wrapper__padding-right\@xlarge                 : 120px !default;
$opc-sidebar__width\@medium                         : 40% !default;
