$quote-table-totals-wrap-padding        : $spacer--semi-medium $spacer--medium !default;
$quote-table-totals-wrap-padding\@medium: 56px 80px !default;
$quote-table-totals-wrap-padding\@large : 56px $spacer--large !default;
$quote-table-totals-wrap-padding\@xl    : 56px 112px !default;
$quote-table-totals-wrap-bg             : $gray-lighter !default;
$quote-table-cell-width                 : 65% !default;

.quote-table-totals-wrap {
    padding: $quote-table-totals-wrap-padding;
    background: $quote-table-totals-wrap-bg;

    @include mq($screen-m) {
        padding: $quote-table-totals-wrap-padding\@medium;
    }

    @include mq($screen-l) {
        padding: $quote-table-totals-wrap-padding\@large;
    }

    @include mq($screen-xl) {
        padding: $quote-table-totals-wrap-padding\@xl;
    }

    table {
        width: 100%;
        background: transparent;
        border: 0;

        tr {
            padding: 0;
            border: 0;
        }

        td,
        th,
        th[scope="row"] {
            background: transparent;
            border: 0;
        }

        th,
        th[scope="row"] {
            @include mq($screen-m) {
                width: $quote-table-cell-width;
            }
        }

        th[scope="row"] + td {
            flex-flow: row nowrap;
        }

        tfoot {
            td {
                display: flex;

                @include mq($screen-m) {
                    display: table-cell;
                }
            }
        }
    }

    .catalog_price_table {
        > td {
            padding: 0;
            border-bottom: $table__border;
            flex-direction: column;

            &:before {
                display: none;
            }
        }
    }
}
