.braintree-apple-pay-button {
    -webkit-appearance: -apple-pay-button;
    display: block;
    padding: $spacer 0;
    margin: $spacer--medium 0;
    width: 200px;
    min-height: 40px;
    border: 1px solid $black;
    background-image: -webkit-named-image(apple-pay-logo-black);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: $black;
    background-position: 50% 50%;
    border-radius: $spacer--extra-small;
    transition: background-color 0.3s;
    cursor: pointer;
}
