button.braintree-googlepay-button {
    background-origin: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    border-radius: $spacer--extra-small;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 1px 0,
        rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    cursor: pointer;
    height: 40px;
    min-height: 40px;
    padding: $spacer--small $spacer--semi-medium;
}

button.braintree-googlepay-button.black {
    background-color: #000;
    box-shadow: none;
    padding: $spacer--small $spacer--semi-medium $spacer;
}

button.braintree-googlepay-button.white {
    background-color: $white;
}

button.braintree-googlepay-button.short {
    min-width: 90px;
    width: 160px;
}

button.braintree-googlepay-button.black.short {
    background-image: url(https://www.gstatic.com/instantbuy/svg/dark_gpay.svg);
}

button.braintree-googlepay-button.white.short {
    background-image: url(https://www.gstatic.com/instantbuy/svg/light_gpay.svg);
}

button.braintree-googlepay-button.black:active {
    background-color: #5f6368;
}

button.braintree-googlepay-button.black:hover {
    background-color: #3c4043;
}

button.braintree-googlepay-button.white:active {
    background-color: $white;
}

button.braintree-googlepay-button.white:focus {
    box-shadow: #e8e8e8 0 1px 1px 0, #e8e8e8 0 1px 3px;
}

button.braintree-googlepay-button.white:hover {
    background-color: #f8f8f8;
}

button.braintree-googlepay-button.long {
    min-width: 152px;
    width: 240px;
}

button.braintree-googlepay-button.white.long {
    background-image: url(https://www.gstatic.com/instantbuy/svg/light/en.svg);
}

button.braintree-googlepay-button.black.long {
    background-image: url(https://www.gstatic.com/instantbuy/svg/dark/en.svg);
}

.googlepay-minicart-logo {
    margin-top: $spacer--medium;

    .minicart-content__extra-actions & {
        margin: 0;
    }
}

.checkout-payment-method .credit-card-types.braintree-credit-card-types img {
    width: 30px;
    -webkit-filter: none;
    -webkit-transition: none;
}

.braintree-card-control {
    position: relative;
}

.braintree-paypal-logo.oneclick-container {
    width: 100%;
}

#payment_form_braintree_ach_direct_debit {
    .field > .fields {
        .field {
            .label {
                font-weight: $font-weight-medium;
            }

            &.required > .label:after {
                content: '*';
                color: $color-error;
                margin: 0 0 0 $spacer--extra-small;
            }

            .control {
                margin: $spacer $spacer 0 0;

                input[type='text']::placeholder,
                input[type='number']::placeholder {
                    color: lightgrey;
                }
            }
        }
    }
}

#payment-method-braintree-lpm {
    .primary {
        width: 100%;

        .action {
            margin-bottom: $spacer--small;
            width: 100%;

            img {
                height: 40px;
            }
        }
    }
}

#payment-method-braintree-cc-vault {
    .field {
        &.required {
            .label {
                font-weight: $font-weight-medium;

                &:after {
                    content: '*';
                    color: $color-error;
                    margin: 0 0 0 $spacer--extra-small;
                }
            }
        }

        .hosted-control {
            background: $white;
            background-clip: padding-box;
            border: $border-base;
            border-radius: 1px;
            font-family: $font-family-base;
            height: 32px;
            padding: 0 $spacer;
            vertical-align: baseline;
            box-sizing: border-box;
            position: relative;
            width: 5rem;

            &.braintree-hosted-fields-invalid:not(.braintree-hosted-fields-focused)
                ~ .hosted-error {
                height: auto;
                opacity: 1;
            }
        }

        .hosted-error {
            clear: both;
            color: $color-error;
            height: 0;
            margin-top: $spacer;
            opacity: 0;
        }
    }
}
