<div
    class="row block-authentication popup-content"
    data-bind="afterRender: setModalElement, blockLoader: isLoading"
>
    <div
        class="col-md-6 block-new-customer popup-content__column"
        data-bind="attr: {'data-label': $t('or')}"
    >
        <h2
            id="block-new-customer-heading"
            class="popup-content__title"
            data-bind="i18n: 'Checkout out as a new customer'"
        >
        </h2>
        <div class="block-content" aria-labelledby="block-new-customer-heading">
            <p data-bind="i18n: 'Creating an account has many benefits:'"></p>
            <ul>
                <li data-bind="i18n: 'See order and shipping status'"></li>
                <li data-bind="i18n: 'Track order history'"></li>
                <li data-bind="i18n: 'Check out faster'"></li>
            </ul>
        </div>
        <div class="actions-toolbar">
            <a
                class="
                    action
                    action-register
                    primary
                    button
                    button--link
                    button--fluid
                "
                data-bind="attr: {href: registerUrl}"
            >
                <span data-bind="i18n: 'Create an Account'"></span>
            </a>
        </div>
    </div>

    <div
        class="col-md-6 block-customer-login popup-content__column"
        data-bind="attr: {'data-label': $t('or')}"
    >
        <h2
            id="block-customer-login-heading"
            class="popup-content__title"
            data-bind="i18n: 'Checkout out using your account'"
        ></h2>

        <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!-- ko foreach: getRegion('before') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->

        <div
            class="block-content"
            aria-labelledby="block-customer-login-heading"
        >
            <form
                id="login-form"
                class="form form-login"
                method="post"
                data-bind="event: {submit: login }"
            >
                <div
                    class="fieldset login"
                    data-bind="attr: {
                        'data-hasrequired': $t('* Required Fields')
                    }"
                >
                    <div class="field email required input">
                        <label class="label input__label" for="email">
                            <span data-bind="i18n: 'Email Address'"></span>
                        </label>
                        <input
                            name="username"
                            id="email"
                            type="email"
                            class="input__field"
                            data-bind="attr: { autocomplete: autocomplete }"
                            data-validate="{
                                required: true,
                                'validate-email': true
                            }"
                        >
                    </div>
                    <div class="field password required input">
                        <label class="label input__label" for="pass">
                            <span data-bind="i18n: 'Password'"></span>
                        </label>
                        <input
                            name="password"
                            type="password"
                            class="input__field"
                            id="pass"
                            data-bind="attr: {autocomplete: autocomplete}"
                            data-validate="{required:true}"
                        >
                    </div>

                    <!-- ko foreach: getRegion('additional-login-form-fields') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->

                    <div class="actions-toolbar">
                        <input name="context" type="hidden" value="checkout">
                        <a
                            class="action popup-content__link"
                            data-bind="attr: {href: forgotPasswordUrl}"
                        >
                            <span
                                data-bind="i18n: 'Forgot Your Password?'"
                            ></span>
                        </a>
                        <button
                            id="send2"
                            class="
                                action
                                action-login
                                secondary
                                button
                                button--fluid
                            "
                            type="submit"
                            name="send"
                        >
                            <span data-bind="i18n: 'Sign In'"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
