<div class="checkbox">
    <input
        type="checkbox"
        name="show-password"
        id="show-password"
        class="checkbox__field"
        data-role="show-password"
        ko-checked="isPasswordVisible"
    />
    <svg
        class="checkbox__icon"
        role="presentation"
        focusable="false"
    >
        <use data-bind="attr: { 'href': require.toUrl('images/icons-sprite.svg#checked') }" href=''></use>
    </svg>
    <svg
        class="checkbox__icon"
        role="presentation"
        focusable="false"
    >
        <use href="<?= $escaper->escapeUrl($block->getViewFileUrl('images/icons-sprite.svg#checked')); ?>"></use>
    </svg>
    <label
        for="show-password"
        class="checkbox__label"
        translate="'Show Password'"
    ></label>
</div>
