<ul class="list">
    {{#each anchor }}
        <li class="list__item">
            <a
                href="{{ value }}"
                class="skip-nav "
            >
                {{ text }}
            </a>
        </li>
    {{/each}}
</ul>

{{#if script}}
    <script src="{{static 'skip-nav.js'}}" defer></script>
{{/if}}
