.estimated-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 -16px 20px;
    border-bottom: 1px solid $gray;

    @include mq($screen-m) {
        display: none;
    }

    &__price {
        display: flex;
        flex-direction: column;
    }

    &__trigger {
        display: flex;
    }

    &__trigger-button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        padding: 0;
        background: transparent;
    }

    &__counter {
        position: absolute;
        top: 10px;
        left: 27px;
        width: 8px;
        height: 8px;
        border: 1px solid $white;
        border-radius: 14px;
        line-height: 14px;
        font-size: $font-size-extra-small;
        text-align: center;
        color: $white;
        background-color: $red;
    }

    &__icon {
        width: 48px;
        height: 48px;
        padding: 12px;
        border-right: 1px solid $gray;

        &:last-child {
            fill: $gray-dark;
            padding: 18px;
            border-right: none;
        }
    }
}
