.search {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    position: relative;
    padding: 15px 0 0 0;
    background-color: $white;
    @include clearfix();

    &__icon {
        width: 25px;
        height: 25px;
    }

    &__input {
        display: block;
        flex-basis: 100%;

        @include mq($screen-m) {
            flex-basis: 75%;
            margin-right: 5%;
        }
    }

    &__button {
        padding: 10px 15px;
        flex-basis: 100%;
        margin-bottom: 10px;

        @include mq($screen-m) {
            flex-basis: 20%;
        }
    }

    &__advanced {
        text-align: right;
    }
}
