.search-block {
    position: relative;
    width: 100%;
    padding: 0 15px;
    margin: 0;

    &__toggle-btn {
        position: absolute;
        top: -160px;
        right: 95px;
        width: 60px;
        height: 60px;
        padding: 20px 13px 10px;
        cursor: pointer;
        text-align: center;
    }

    &__form {
        padding: 0;
        margin: 0;
        height: auto;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;

        &--visible {
            height: auto;
            max-height: 170px;

            @include mq($screen-m) {
                max-height: 110px;
            }
        }
    }
}
