<div
    class="opc-estimated-wrapper estimated-section"
    data-bind="blockLoader: isLoading"
>
    <div class="estimated-block estimated-section__price">
        <span
            class="estimated-label"
            data-bind="i18n: 'Estimated Total'"
        ></span>
        <span class="estimated-price" data-bind="text: getValue()"></span>
    </div>
    <div class="minicart-wrapper estimated-section__trigger">
        <button
            type="button"
            class="action showcart estimated-section__trigger-button"
            data-bind="click: showSidebar"
            data-toggle="opc-summary"
        >
            <svg class="icon">
                <use data-bind="attr: { 'xlink:href': require.toUrl('images/icons-sprite.svg#shopping-cart') }" xlink:href=''></use>
            </svg>
            <span
                class="icon estimated-section__counter"
                data-bind="text: getQuantity()"
            ></span>
        </button>
    </div>
</div>
