<ul class="progress-bar">
    <!-- ko foreach: { data: steps().sort(sortItems), as: 'item' } -->
        <li
            class="progress-bar__item"
            data-bind="
                {
                    css: item.isVisible() ? 'progress-bar__item--active' : ($parent.isProcessed(item) ? 'progress-bar__item--complete' : ''),
                    attr: {
                        'aria-label': $t('Checkout step: ') + item.title
                    }
                }
            "
        >
            <div
                class="progress-bar__line"
                data-bind="click: $parent.navigateTo"
            >
                <h1
                    data-bind="i18n: item.title"
                    class="progress-bar__label"
                ></h1>
            </div>
        </li>
    <!-- /ko -->
</ul>
