<!-- ko if: (isVisible()) -->
    <div class="shipping-information">
        <div class="ship-to">
            <div class="shipping-information__title">
                <span
                    class="shipping-information__title-text"
                    data-bind="i18n: 'Ship To:'"
                ></span>
                <button
                    type="button"
                    class="button button--icon"
                    data-bind="click: back"
                    data-testid="edit-shippining-address-button"
                >
                    <svg class="button__icon">
                        <use data-bind="attr: { 'xlink:href': require.toUrl('images/icons-sprite.svg#edit') }" xlink:href=''></use>
                    </svg>
                </button>
            </div>
            <div class="shipping-information__content">
                <!-- ko foreach: getRegion('ship-to') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
        </div>
        <div>
            <div class="shipping-information__title">
                <span
                    class="shipping-information__title-text"
                    data-bind="i18n: 'Shipping Method:'"
                ></span>
                <button
                    class="button button--icon"
                    data-bind="click: backToShippingMethod"
                    data-testid="edit-shippining-method-button"
                >
                    <svg class="button__icon">
                        <use data-bind="attr: { 'xlink:href': require.toUrl('images/icons-sprite.svg#edit') }" xlink:href=''></use>
                    </svg>
                </button>
            </div>
            <div class="shipping-information__content">
                <span
                    class="value"
                    data-bind="text: getShippingMethodTitle()"
                ></span>
            </div>
        </div>
    </div>
<!--/ko-->
