@import 'teaser-variables';

.teaser {
    display: flex;
    flex-direction: row;
    margin: $teaser__margin;
    background-color: $teaser__background-color;

    @include mq($screen-m) {
        margin: $teaser__margin\@medium;
    }

    &__content {
        padding: $teaser__content-padding;
        background-color: $teaser__content-background-color;

        @include mq($screen-m) {
            padding: $teaser__content-padding\medium;
        }

        @include mq($screen-xxl) {
            padding: $teaser__content-padding\xxllarge;
        }
    }
}
