$teaser__margin                        : $spacer--semi-large 0 !default;
$teaser__margin\@medium                : 72px 0 !default;
$teaser__background-color              : #0194ab;

$teaser__content-padding               : $spacer--semi-medium !default;
$teaser__content-padding\@medium       : $spacer--semi-large !default;
$teaser__content-padding\@large        : 72px 56px !default;

$teaser__content-block-background-color: $white !default;
