$teaser__margin: $spacer--semi-large 0 !default;
$teaser__margin\@medium: 72px 0 !default;
$teaser__background-color: #0194ab;

$teaser__content-padding: $spacer--small !default;
$teaser__content-padding\medium: $spacer--medium !default;
$teaser__content-padding\xxllarge: $spacer--large !default;
$teaser__content-background-color: $white !default;
