<div class="teaser {{ class }}">
    {{ render '@image' teaserImage merge=true }}
    <div class="teaser__content">
        {{ render (component contentElement) contentContext merge=true }}
    </div>
</div>
