<div class="teaser {{ class }}">
    {{ render '@image--picture' image }}
    <div class="teaser__content">
        <div class="teaser__content-block">
            {{ render (component contentElement) contentContext merge=true }}
        </div>
    </div>
</div>
