<form method="post">
    <input
        type="hidden"
        data-bind="value: value().product_data"
        name="product_data"
    >
    <fieldset class="fieldset">
        <div class="input _required">
            <label for="requisition-list-name" class="label requisition-label">
                <span data-bind="i18n: 'Requisition List Name'"></span>
            </label>
            <input
                class="input__field"
                name="name"
                id="requisition-list-name"
                data-bind="value: value().name"
                data-validate='{"required": true}'
                type="text"
            >
        </div>
        <div class="input">
            <label
                for="requisition-list-description"
                class="label requisition-label"
            >
                <span data-bind="i18n: 'Description'"></span>
            </label>
            <textarea
                class="input__field input__field--textarea "
                name="description"
                maxlength="255"
                id="requisition-list-description"
                data-bind="value: value().description"
            ></textarea>
        </div>
    </fieldset>
</form>
