.sidebar {
    .block-addbysku {
        .fieldset {
            margin: 0;
            .fields {
                position: relative;
                .field {
                    display: inline-block;
                    margin-bottom: $indent__s;
                    vertical-align: top;
                    &.sku {
                        @extend .abs-add-box-sizing;
                        margin-right: -85px;
                        padding-right: 90px;
                        width: 100%;
                    }
                    &.qty {
                        .qty {
                            @extend .abs-input-qty;
                            + .mage-error {
                                width: 80px;
                            }
                        }
                    }
                }
                .actions-toolbar {
                    position: absolute;
                    right: 0;
                    top: 6px;
                }
            }
        }
        .action {
            &.add {
                line-height: normal;
                padding: 2px 0;
                width: auto;
            }
            &.links {
                display: inline-block;
                margin: $indent__base 0 0;
            }
            &.reset {
                display: block;
                margin: $indent__s 0;
            }
        }
    }
}
