$tab__padding                         : $spacer--extra-large $spacer !default;
$tab__margin                          : 0 0 $spacer--extra-large * 2 !default;
$tab__border                          : 1px solid $gray !default;

// title
$tab__title-size                      : 72px;
$tab__title-padding                   : $spacer--medium;
$tab__title-border                    : $tab__border;
$tab__title-color                     : $gray-dark;
$tab__title-color--active             : $gray-darker;
$tab__title-font-size                 : $font-size-large;
$tab__title-font-weight--active       : $font-weight-bold;
$tab__title-background                : $bg-color-base;
$tab__title-background--active        : $gray-light;
$tab__title-text-align                : center;
$tab__title-text-transform            : uppercase;
$tab__title-width                     : 100%;
$tab__title-border-width              : 0 0 1px 0;
$tab__title-max-width\@medium         : 440px;

// content
$tab__content-padding                 : $spacer--large * 2 $spacer;
$tab__content-padding\@medium         : $spacer--large * 2 $spacer--large * 2;
$tab__content-padding\@large          : $spacer--large * 2 $spacer--semi-large * 2;
$tab__content-padding\@extra-large    : $spacer--large * 2 $spacer--extra-large * 2;
$tab__content-width                   : 100%;

// icon
$tab__icon-fill                       : $color-secondary !default;
$tab__icon-fill--active               : $color-primary;
$tab__icon-transform--active          : rotate(180deg);
$tab__icon-right                      : $spacer--medium;
$tab__icon-margin                     : auto;
