<div class="actions-group {{ class }}">
    {{#each sides }}
        <div class="actions-group__handler">
            {{#each action }}
                {{#if button }}
                    {{ render '@button' button merge=true }}
                {{else}}
                    {{ render '@link' link merge=true }}
                {{/if}}
            {{/each }}
        </div>
    {{/each}}
</div>
