$message__padding               : $spacer $spacer--medium !default;
$message__padding\@medium       : $spacer $spacer--extra-large !default;
$message__margin                : $spacer auto !default;
$message__font-size             : $font-size-small !default;
$message__transition            : $transition-base !default;
$message__background            : $white !default;
$message__background--success   : $white !default;
$message__background--error     : $white !default;
$message__color                 : $color-primary !default;
$message__color--success        : $color-primary !default;
$message__color--error          : $color-primary !default;
$message__border-width          : 1px 1px $spacer--extra-small 1px !default;
$message__border-color          : $border-color-base $border-color-base $color-info $border-color-base !default;
$message__border-style          : solid !default;
$message__border-color--success : $border-color-base $border-color-base $color-success $border-color-base !default;
$message__border-color--error   : $border-color-base $border-color-base $color-error $border-color-base !default;
$message__border-radius         : 0 !default;
$message__icon-spacer           : $spacer--semi-medium !default;
$message__icon-width            : $spacer--semi-medium + $spacer--small !default;
$message__icon-order            : -1 !default;
$message__icon-margin           : 0 $spacer 0 0 !default;
$message__icon-fill             : $color-info !default;
$message__icon-fill--success    : $color-success !default;
$message__icon-fill--error      : $color-error !default;
$message__icon-bg-image         : svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path fill="#{$message__icon-fill}" d="M7 .333A6.67 6.67 0 0 0 .333 7 6.67 6.67 0 0 0 7 13.667 6.67 6.67 0 0 0 13.667 7 6.67 6.67 0 0 0 7 .333zm.667 10H6.333V9h1.334v1.333zm0-2.666H6.333v-4h1.334v4z"/></svg>') !default;
$message__icon-bg-image--success: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path fill="#{$message__icon-fill--success}" d="M7 .333A6.67 6.67 0 0 0 .333 7 6.67 6.67 0 0 0 7 13.667 6.67 6.67 0 0 0 13.667 7 6.67 6.67 0 0 0 7 .333zm-1.333 10L2.333 7l.94-.94 2.394 2.387 5.06-5.06.94.946-6 6z"/></svg>') !default;
$message__icon-bg-image--eror   : svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path fill="#{$message__icon-fill--error}" d="M.667 13h14.666L8 .333.667 13zm8-2H7.333V9.667h1.334V11zm0-2.667H7.333V5.667h1.334v2.666z"/></svg>') !default;
