$message__margin-top           : $spacer--medium !default;
$message__padding              : $spacer $spacer--extra-large !default;
$message__margin               : $spacer auto !default;
$message__font-size            : $font-size-small !default;
$message__transition           : $transition-base !default;
$message__background           : $white !default;
$message__background--success  : $white !default;
$message__background--error    : $white !default;
$message__color                : $color-primary !default;
$message__color--success       : $color-primary !default;
$message__color--error         : $color-primary !default;
$message__border-width         : 1px 1px 4px 1px !default;
$message__border-color         : $border-color-base $border-color-base $color-info $border-color-base !default;
$message__border-style         : solid !default;
$message__border-color--success: $border-color-base $border-color-base $color-success $border-color-base !default;
$message__border-color--error  : $border-color-base $border-color-base $color-danger $border-color-base !default;
$message__border-radius        : 0 !default;
$message__icon-spacer          : $spacer--medium !default;
$message__icon-order           : -1 !default;
$message__icon-margin          : 0 $spacer 0 0 !default;
$message__icon-fill            : $color-info !default;
$message__icon-fill--success   : $color-success !default;
$message__icon-fill--error     : $color-danger !default;
