<div
    css="modalClass"
    hasFocus="focused"
>
    <p
        class="amgdprcookie-description"
        if="$data.description"
        data-bind="text: $data.description"
    ></p>
    <table class="table">
        <caption
            class="table__caption"
            data-bind="i18n: 'This table contains cookies information'"
        >
        </caption>
        <thead>
            <tr role="row">
                <th
                    data-bind="i18n: 'Cookie Name'"
                    role="columnheader"
                    scope="col"
                ></th>
                <th
                    data-bind="i18n: 'Cookie Provider'"
                    role="columnheader"
                    scope="col"
                ></th>
                <th
                    data-bind="i18n: 'Cookie Description'"
                    role="columnheader"
                    scope="col"
                ></th>
                <th
                    data-bind="i18n: 'Cookie Lifetime'"
                    role="columnheader"
                    scope="col"
                ></th>
                <th
                    data-bind="i18n: 'Cookie Type'"
                    role="columnheader"
                    scope="col"
                ></th>
            </tr>
        </thead>
        <tbody>
        <!-- ko foreach: items -->
            <tr role="row">
                <td
                    data-bind="
                        text: $data.name,
                        attr: {
                            'data-th': $t('Cookie Name')
                        }
                    "
                    role="gridcell"
                ></td>
                <td
                    data-bind="
                        text: $data.provider,
                        attr: {
                            'data-th': $t('Cookie Provider')
                        }
                    "
                    role="gridcell"
                ></td>
                <td
                    data-bind="
                        text: $data.description,
                        attr: {
                            'data-th': $t('Cookie Description')
                        }
                    "
                    role="gridcell"
                ></td>
                <td
                    data-bind="
                        text: $data.lifetime,
                        attr: {
                            'data-th': $t('Cookie Lifetime')
                        }
                    "
                    role="gridcell"
                ></td>
                <td
                    data-bind="
                        text: $data.type,
                        attr: {
                            'data-th': $t('Cookie Name')
                        }
                    "
                    role="gridcell"
                ></td>
            </tr>
        <!-- /ko -->
        </tbody>
    </table>
</div>
