<!-- ko if:isShowNotificationBar() -->
<div
    role="alertdialog"
    tabindex="-1"
    class="
        cookie-message
        cookie-message--open
        cookie-message--actions
        amgdprcookie-bar-container
    "
    data-amcookie-js="bar"
    afterRender="detectScroll.bind($data)"
>
    <div
        role="document"
        class="cookie-message__container"
        tabindex="0"
    >
        <p class="cookie-message__text" data-bind="html: policyText"></p>
        <div class="cookie-message__actions">
            <div class="cookie-message__action">
                <button
                    id="btn-cookie-allow"
                    class="
                        action
                        amgdprcookie-button
                        -allow
                        button
                        button--secondary
                        cookie-message__button
                    "
                    data-bind="click: allowCookies"
                >
                    <span data-bind="i18n:'Allow Cookies'"></span>
                </button>
            </div>

            <!-- ko if:showDisallowButton -->
                <div class="cookie-message__action">
                    <button
                        id="btn-cookie-disallow"
                        class="
                            action
                            amgdprcookie-button
                            -settings
                            button
                            button--secondary
                            cookie-message__button
                        "
                        data-bind="click: setupCookies"
                    >
                        <span data-bind="i18n:'Cookies Settings'"></span>
                    </button>
                </div>
            <!-- /ko -->
        </div>
    </div>
</div>
<!-- /ko -->
