<div
    class="
        amcard-field-container
        margin-vc-m
    "
>
    <label
        class="
            amcard-title
            label
        "
        for="gift-code-fake"
        data-bind="i18n: 'Apply Gift Card Code'"
    ></label>
    <div
        class="
            amcard-field-block
            -double
            -code
            input
            input--inline
            discount-code__input
        "
    >
        <input
            type="text"
            class="
                amcard-field
                input__field
            "
            id="gift-code-fake"
            data-bind="
                attr: {
                    placeholder: $t('Enter your Code')
                },
                value: cardCode
            "
        />
        <input
            type="button"
            class="
                amcard-button
                button
                cart-discount__content-button
                amgift-card__content-button
            "
            data-bind="
                click: addGiftCode.bind($data, event),
                css: {'-account': isAccount},
                attr: {value: $t('Add')}
            "
        />
    </div>
</div>
