<div class="amcard-codes-list">
    <!-- ko foreach: cards -->
    <div class="amcard-card-info">
        <div class="amcard-field">
            <p data-bind="i18n: 'Code:' "></p>
            <strong data-bind="text: code"></strong>
        </div>
        <div class="amcard-field">
            <p data-bind="i18n: 'Status:' "></p>
            <strong data-bind="text: status"></strong>
        </div>
        <div class="amcard-field">
            <p data-bind="i18n: 'Current Balance:' "></p>
            <strong data-bind="html: balance"></strong>
        </div>
        <div class="amcard-field">
            <p data-bind="i18n: 'Valid till:' "></p>
            <strong data-bind="text: expiredDate"></strong>
        </div>
        <!-- ko if: $parent.isAccount -->
        <button class="amcard-delete"
                data-bind="text: $t('Remove'),
                           attr: {title: $t('Remove')},
                           click: $parent.removeGiftCode.bind($parent, event, $parent.deleteCardUrl + 'account_id/' + id), 'value': $data"></button>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</div>
