<div
    class="
        amcard-codes-list
        discount-code__codes-list
    "
>
    <!-- ko foreach: cards -->
        <div class="discount-code__codes-list-item">
            <dl class="list list--description width-full">
                <dt
                    class="list__label"
                    data-bind="i18n: 'Code' "
                ></dt>
                <dd
                    class="list__value bold"
                    data-bind="text: code"
                ></dd>
                <dt
                    class="list__label"
                    data-bind="i18n: 'Status' "
                ></dt>
                <dd
                    class="list__value bold"
                    data-bind="text: status"
                ></dd>
                <dt
                    class="list__label"
                    data-bind="i18n: 'Current Balance' "
                ></dt>
                <dd
                    class="list__value bold"
                    data-bind="html: balance"
                ></dd>
                <dt
                    class="list__label"
                    data-bind="i18n: 'Valid till' "
                ></dt>
                <dd
                    class="list__value bold"
                    data-bind="text: expiredDate"
                ></dd>
            </dl>
            <!-- ko if: $parent.isAccount -->
                <button
                    type="button"
                    class="
                        button
                        amcard-delete
                        button--secondary
                    "
                    data-bind="
                        text: $t('Remove'),
                        attr: {title: $t('Remove')},
                        click: $parent.removeGiftCode.bind($parent, event, $parent.deleteCardUrl + 'account_id/' + id),
                        'value': $data
                    "
                ></button>
            <!-- /ko -->
        </div>
    <!-- /ko -->
</div>
