<div class="amcard-codes-list">
    <!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <div class="table-wrapper" if="hasCards()">
        <table class="data table table-code-items">
            <caption class="table-caption"><text args="$t('Gift Codes')"/></caption>
            <thead>
                <tr>
                    <th class="col code"><text args="$t('Code')"/></th>
                    <th class="col status"><text args="$t('Status')"/></th>
                    <!-- ko foreach: getRegion('extra-column-header') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                    <th class="col balance"><text args="$t('Current Balance')"/></th>
                    <th class="col expired-date"><text args="$t('Valid Till')"/></th>
                    <th class="col expired-date" if="$data.isAccount"><text args="$t('Action')"/></th>
                </tr>
            </thead>
            <tbody>
            <!-- ko foreach: cards -->
            <tr>
                <td attr="'data-th': $t('Code')" class="col code">
                    <text args="code"/>
                </td>
                <td attr="'data-th': $t('Status')" class="col status">
                    <text args="status"/>
                </td>
                <!-- ko foreach: $parent.getRegion('extra-column') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
                <td attr="'data-th': $t('Current Balance')" class="col balance" html="balance">
                </td>
                <td attr="'data-th': $t('Valid Till')" class="col expired-date">
                    <text args="expiredDate"/>
                </td>
                <td class="col actions" if="$parent.isAccount">
                    <!-- ko foreach: $parent.getRegion('action-button') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                </td>
            </tr>
            <!-- /ko -->
            </tbody>
        </table>
    </div>
</div>
