<div class="discount-code">
    <button class="discount-code__button" type="button">
        <span class="discount-code__button-text">
            Discount
        </span>

        {{ render '@icon' icon }}
    </button>

    <div class="discount-code__content"></div>
</div>
