@import 'filters-variables';

.filters {
    .modal--tertiary {
        & .modal__container {
            width: 100%;
            max-width: none;
            height: 100vh;
            box-shadow: none;

            @include mq($screen-l) {
                height: auto;
            }
        }
    }

    &__modal {
        &.modal {
            @include mq($screen-l) {
                display: block;
                position: static;
                visibility: visible;
                opacity: 1;
                height: auto;
                padding: 0;
            }
        }
    }

    &__content.modal__content {
        position: relative;

        @include mq($screen-m) {
            width: $filters__content-width\@medium;
            margin: $filters__content-margin\@medium;
        }

        @include mq($screen-l) {
            width: $filters__content-width\@large;
            margin: $filters__content-margin\@large;
        }
    }

    &__trigger {
        height: auto;
        width: 100%;
        min-width: auto;
        justify-content: space-between;
        min-height: auto;
        padding: $filters__trigger-padding;
        border: $filter__heading-border;
        border-width: $filter__heading-border-width;
        background-color: $filters__trigger-bg-color;

        @include mq($screen-l) {
            display: none;
        }

        > * {
            pointer-events: none;
        }

        .icon {
            width: $filters__trigger-icon-size--open;
            height: $filters__trigger-icon-size--open;
            fill: $filters__trigger-icon-fill--open;
        }

        .button__text {
            color: $filters__trigger-text-color;
            padding: $filters__trigger-text-padding;
        }

        &:hover {
            background: transparent;
            &:before,
            &:after {
                content: '';
                display: none;
            }
        }
    }

    &__heading.modal__heading,
    &__trigger {
        font-family: $filter__heading-font-family;
        font-size: $filter__heading-font-size;
        font-weight: $filter__heading-font-weight;
        margin: 0;

        @include mq($screen-m) {
            font-size: $filter__heading-font-size\@medium;
        }
    }

    .modal__top {
        padding: 0 0 $spacer 0;
    }
    .modal__middle {
        padding: 0;
    }

    .modal__close-button {
        @include mq($screen-l) {
            display: none;
        }
    }
}
