$filters__content-wrapper-position-top        : 0 !default;
$filters__content-wrapper-position-top\@medium: 0 !default;
$filters__content-wrapper-height              : 100vh !default;
$filters__content-wrapper-height\@medium      : 100vh !default;
$filters__content-wrapper-z-index             : $z-index-high !default;
$filters__content-wrapper-padding             : $spacer--medium !default;
$filters__content-wrapper-bg-color            : $white !default;
$filters__content-wrapper-shadow              : $shadow !default;
$filters__content-wrapper-transition          : all 0.3s ease-in-out, outline-offset 1ms !default;

$filters__content-width\@medium               : 67% !default;
$filters__content-width\@large                : 100% !default;
$filters__content-margin\@medium              : $spacer--medium auto !default;
$filters__content-margin\@large               : 0 !default;
$filters__content-max-height                  : 90vh !default;

$filters__trigger-bg-color                    : transparent !default;
$filters__trigger-padding                     : 0 !default;
$filters__trigger-padding--open               : $spacer--medium !default;
$filters__trigger-text-padding                : 0 !default;
$filters__trigger-text-color                  : $color-primary !default;
$filters__trigger-icon-size--open             : 14px !default;
$filters__trigger-icon-fill--open             : $color-secondary !default;
$filters__trigger-position-top--close         : $spacer--medium !default;
$filters__trigger-padding--close              : $spacer !default;
$filters__trigger-icon-fill--close            : $color-primary !default;

$filter__heading-font-family                  : $font-family-base !default;
$filter__heading-font-size                    : $font-size-large !default;
$filter__heading-font-size\@medium            : $font-size-extra-large !default;
$filter__heading-font-weight                  : $font-weight-bold !default;
$filter__heading-padding                      : $spacer--medium 0 !default;
$filter__heading-border                       : $border-base !default;
$filter__heading-border-width                 : 0 0 1px 0 !default;
