.toolbar {

    &__amount {
        line-height: $button-height;
        margin: 0 auto;

        @include mq($screen-s) {
            margin: 0;
        }

        .toolbar__wrapper--bottom & {
            display: none;
        }
    }

    &__pager {
        width: 100%;

        @include mq($screen-xl) {
            width: auto;
        }

        .toolbar__wrapper--top & {
            display: none;
        }
    }

    &__sorter {
        margin: 0 auto;
        @include mq($screen-s) {
            margin: 0;
        }

        .button {
            margin-bottom: 0;
        }

        .toolbar__wrapper--bottom & {
            display: none;
        }
    }

    &__modes {
        display: none;

        @include mq($screen-l) {
            display: block;
        }

        .toolbar__wrapper--bottom & {
            display: none;
        }
    }

    &__limiter {
        display: none;

        @include mq($screen-xl) {
            display: block;
            margin: auto 0;
        }

        .toolbar__wrapper--top & {
            display: none;
        }
    }

    .input {
        &__suffix,
        &__label {
            white-space: nowrap;
        }
    }
}
