$contact-bar__border-top                : 0 !default;
$contact-bar__border-bottom             : 0 !default;
$contact-bar__height                    : 40px !default;
$contact-bar__margin                    : 0 !default;
$contact-bar__background                : $gray-light !default;
$contact-bar__display-from              : $screen-l !default;

$contact-bar__container-width           : 100% !default;
$contact-bar__container-direction       : row-reverse !default;
$contact-bar__container-justify         : space-between !default;

$contact-bar__item-padding              : 0 !default;
$contact-bar__item-margin               : 0 $spacer--small !default;

$contact-bar__link-padding              : $spacer !default;
$contact-bar__link-font-size            : $font-size-small !default;
$contact-bar__link-line-height          : $font-line-height !default;
$contact-bar__link-text-transform       : uppercase !default;
$contact-bar__link-color                : $color-primary !default;
$contact-bar__link-text-decoration      : none !default;
$contact-bar__link-align-items          : center !default;

$contact-bar__link-hover-text-decoration: underline !default;
$contact-bar__link-hover-background     : transparent !default;

$contact-bar__icon-margin               : 0 $spacer 0 0 !default;
