@import 'contact-bar-variables';

.contact-bar {
    display: none;
    min-height: $contact-bar__height;
    margin: $contact-bar__margin;
    background: $contact-bar__background;
    padding: $contact-bar__padding;

    @include mq($contact-bar__display-from) {
        display: flex;
    }

    &--vertical {
        display: block;
        background: $contact-bar__bg--vertical;

        .contact-bar {
            &__container {
                flex-direction: column;
                min-width: initial;
            }

            &__list {
                flex-flow: column nowrap;

                &--icons {
                    border: $contact-bar__list-icons-border--vertical;
                    border-width: $contact-bar__list-icons-border-width--vertical;
                    margin: $contact-bar__list-icons-margin--vertical;

                    .contact-bar__link {
                        font-size: $contact-bar__list-icons-link-font-size--vertical;
                    }
                }
            }

            &__item {
                margin: $contact-bar__item-margin--vertical;
            }

            &__link {
                font-size: $contact-bar__link-font-size--vertical;
                padding: $contact-bar__link-padding--vertical;
            }
        }
    }

    &__container {
        display: flex;
        width: $contact-bar__container-width;
        justify-content: $contact-bar__container-justify;
        flex-direction: $contact-bar__container-direction;
    }

    &__list {
        display: flex;
    }

    &__item {
        display: flex;
        margin: $contact-bar__item-margin;
        padding: $contact-bar__item-padding;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: flex;
        padding: $contact-bar__link-padding;
        font-size: $contact-bar__link-font-size;
        line-height: $contact-bar__link-line-height;
        text-transform: $contact-bar__link-text-transform;
        color: $contact-bar__link-color;
        text-decoration: $contact-bar__link-text-decoration;
        align-items: $contact-bar__link-align-items;

        &.focus-visible {
            @include focus-inline();
        }

        &:hover {
            text-decoration: $contact-bar__link-hover-text-decoration;
            background: $contact-bar__link-hover-background;
        }
    }

    &__icon {
        margin: $contact-bar__icon-margin;
    }
}
