<!-- ko if: isGiftCardEnable() -->
    <div
        class="
            payment-option
            _collapsible
            opc-payment-additional
            gift-code
            discount-code
        "
        data-bind="mageInit: { 'collapsible': { 'openedState': '_active' }}"
    >
        <div
            class="payment-option-title field choice discount-code__button"
            data-role="title"
        >
            <span
                class="
                    action
                    action-toggle
                    discount-code__button-text
                "
                id="block-gift-card-heading"
                role="heading"
                aria-level="2"
            >
                <!-- ko i18n: 'Apply Gift Card Code'--><!-- /ko -->
            </span>

            <svg
                class="
                    icon
                    discount-code__button-icon
                "
                role="presentation"
            >
                <title><!-- ko i18n: 'See Details' --><!-- /ko --></title>
                <use data-bind="attr: {'xlink:href': require.toUrl('images/icons-sprite.svg#angle-down')}" xlink:href=''></use>
            </svg>
        </div>

        <div
            class="payment-option-content discount-code__content"
            data-role="content"
        >
            <!-- ko foreach: getRegion('messages') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <form
                class="
                    form
                    form-discount
                    gift-card-form
                "
                id="gift-card-form"
            >
                <div class="amgiftcard_info" />
                <!-- ko if : giftCardCode() -->
                    <div class="padding-bottom-sm">
                        <!-- ko foreach: { data: giftCardCode().split(','), as: 'code' }  -->
                            <!-- ko if : code.length > 0 -->
                                <div>
                                    <!--ko text: code--><!--/ko-->
                                    <a
                                        href="#"
                                        class="
                                            button
                                            button--link
                                            padding-hz-m
                                            margin-left-xs
                                        "
                                        data-bind="
                                            click: $parent.removeSelected,
                                            'value': code
                                        "
                                    >
                                        <!-- ko text: $t('Remove')--><!-- /ko -->
                                    </a>
                                </div>
                            <!-- /ko -->
                        <!-- /ko -->
                    </div>
                <!-- /ko -->

                <div class="payment-option-inner">
                    <div class="input discount-code__input">
                        <label
                            class="label input__label"
                            for="gift-code-fake"
                        >
                            <span data-bind="i18n: 'Enter gift card code'"></span>
                        </label>
                        <input
                            class="input__field"
                            type="text"
                            id="gift-code-fake"
                            name="gift_code_fake"
                            data-validate="{ 'required-entry': true }"
                        />

                        <input
                            type="hidden"
                            id="gift-code"
                            name="gift_code"
                            data-validate="{ 'required-entry': true }"
                            data-bind="value: giftCardCode"
                        />
                    </div>
                </div>
                <div class="actions-toolbar">
                    <div class="amgiftcard-check">
                        <button
                            class="action action-apply-gift"
                            type="submit"
                            data-bind="
                                'value': $t('Check Gift Card status'),
                                click: check
                            "
                        >
                            <span><!-- ko i18n: 'Check Gift Card status'--><!-- /ko --></span>
                        </button>
                    </div>
                    <div class="primary">
                        <button
                            class="action action-apply-gift"
                            type="submit"
                            data-bind="'value': $t('Add Gift Card'), click: apply"
                        >
                            <span><!-- ko i18n: 'Add Gift Card'--><!-- /ko --></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<!-- /ko -->
