@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/work-sans-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/work-sans-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/work-sans-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfair-display-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
