.gallery {
    &--vertical {
        flex-direction: row;
        .gallery {
            &__stage--vertical {
                order: 2;
            }

            &__nav--vertical {
                order: 1;
                flex-flow: column;
                justify-content: flex-start;
                margin: 0 $spacer--extra-large 0 0;
            }

            &__icon-arrow {
                transform: none;
            }
        }
    }
}
