.docs-only-styles {
    .col-large .row__content {
        height: 8em;
    }
    .grid-container {
        padding: 0 $spacer--medium;
    }
    .row {
        &__content {
            margin-bottom: $spacer--medium;
            padding: $spacer;
            background: $gray-light;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
        }
    }
}
