.docs-only-styles {
    .icons {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        &__item {
            width: 100px;
            margin: 20px;

        }
        &__single-icon {
            margin: 0 auto;
        }
        &__name {
            display: block;
            margin-top: 20px;
            text-align: center;
        }
    }
}
