:root {
    --c-brand: #1a1b1d;
    --code-bg-color: #1a1b1d;
    --c-brand-light: #1a1b1d;
    --code-inline-bg-color: #eaeaea;
    --c-accent: #0075e4;
}

#main-title {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
}

a {
    color: var(--c-accent);
}

.action .item {
    border-radius: 0 !important;
}

code {
    color: var(--c-brand);
}

.custom-block.tip {
    border-color: var(--c-accent);
}
