.home {
    margin-top: 30px;
    &__vertical-grid {
        @include mq($screen-l) {
            display: flex;
            flex-direction: column;
        }
        & > * {
            @include mq($screen-l) {
                flex: 1;
            }
        }
    }

    &__wrapper {
        margin-bottom: 30px;
    }

    &__column-left {
        padding-right: 15px;
    }

    &__column-right {
        padding-left: 15px;
    }

    &__tier-banner {
        &:first-child {
            padding-right: 20px;
        }

        &:nth-child(2) {
            padding-right: 10px;
            padding-left: 10px;
        }

        &:last-child {
            padding-left: 20px;
        }
    }
}
