<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="split button requisition-list-action">
    <button class="action requisition-list-button change"
            type="button"
            data-bind="
                click: update,
                attr: {
                    title: getTitle(),
                    'data-mobile-label': getMobileLabel(),
                }"
            aria-haspopup="true">
        <span data-bind="i18n: getTitle()"></span>
    </button>
</div>
