.store-locator {
    &__button-search {
        top: 0;
    }

    &__today-label {
        font-size: $font-size-small;
        @include mq($screen-m) {
            font-size: $font-size-base;
        }
    }

    &__filter-actions {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        padding: $spacer $spacer--medium;
    }

    &__stores {
        @include mq($screen-m) {
            flex-direction: column;
        }
        @include mq($screen-xl) {
            flex-direction: row;
        }
    }

    // adjust store-locator styles
    .amlocator-search-container
    .amlocator-title {
        margin-bottom: $spacer--medium;
        .amlocator-link {
            word-break: keep-all;
        }
    }

    .amlocator-search-container {
        background-color: transparent;
        border-bottom: $border-base;
        padding-bottom: $spacer--medium;
        margin-bottom: $spacer--medium;
    }

    .amlocator-filters-container {
        background-color: transparent;
    }

    .amlocator-store-desc {
        background-color: $gray-lighter;
        &.-active {
            background-color: $color-primary;

            .amlocator-today {
                color: $color-primary;
                background-color: $gray;
                @include mq($screen-m, $screen-xl) {
                    flex-wrap: wrap;
                }

                .amlocator-time {
                    @include mq($screen-m, $screen-xl) {
                        width: 100%;
                        justify-content: space-between;
                    }
                }
            }
        }
    }

    .amlocator-schedule-table {
        margin-top: $spacer--medium;
    }

    // maps popup
    .amlocator-description {
        margin-top: $spacer;
    }
    .amlocator-info-popup {
        font-weight: $font-weight-base;
        font-size: $font-size-base;
        line-height: $font-line-height;
    }
    .amlocator-description {
        p {
            font-size: $font-size-base;
        }
    }

    .input__field {
        font-size: $font-size-base;
    }
    // to overwrite amasty styles (load in php :/)
    &.amlocator-main-container {
        .amlocator-button {
            color: $white;
            background-color: $color-primary;
            border: $border-width-base $border-style-base $color-primary;

            &:hover,
            &:focus,
            &.focus-visible {
                background-color: $color-primary;
            }
        }
        .amlocator-search-container .amlocator-button.-nearby {
            color: $white;
            background-color: $color-primary;

            &:hover,
            &:focus,
            &.focus-visible {
                background-color: $color-primary;
            }
        }
    }

    .amlocator-current-location .amlocator-text {
        height: 48px;

        &:hover,
        &:focus,
        &.ficus-visible {
            border: $border-base;
        }
    }

    // overwrite google maps popup styles
    .amlocator-map-container .amlocator-map button {
        // sass-lint:disable-block no-important
        width: 40px !important;
        height: 40px !important;
        right: $spacer--extra-small !important;

        & > img {
            width: 24px !important;
            height: 24px !important;
        }
    }
}

.amlocator-schedule-container {
    .amlocator-today {
        min-height: 48px;
        align-items: center;
        &:before {
            display: none;
        }
    }

}
