@import 'popup-variables';

.popup {
    display: none;
    position: fixed;
    right: $popup__position-right\@small;
    left: $popup__position-left;
    top: $popup__position-top;
    width: $popup__width\@small;
    padding: $popup__padding;
    margin: $popup__margin;
    z-index: $popup__z-index;
    box-shadow: $popup__box-shadow;
    background-color: $popup__background;
    border: $popup__border;
    @include mq($screen-m) {
        position: absolute;
        width: $popup__width;
        right: $popup__position-right;
    }

    &--active {
        display: block;
    }

    &__handler {
        position: relative;
        margin-top: $popup__content-top-margin;
    }

    &__content {
        padding: $popup__content-padding;
    }

    &__close-button {
        position: absolute;
        top: $popup__close-button-position-top;
        right: $popup__close-button-position-right;
        background-color: $popup__close-button-bg;
        border: $popup__close-button-border;

        &:hover {
            background-color: $popup__close-button-bg;
        }

        &-icon {
            .button--icon & {
                fill: $popup__button-icon-fill;
            }
            .button--icon:hover & {
                fill: $popup__button-icon-fill--actiive;
            }

        }
    }
}
