$popup__margin                     : 0 !default;
$popup__padding                    : 0 !default;
$popup__content-top-margin         : 0 !default;
$popup__content-padding            : $spacer--medium !default;
$popup__width                      : 320px !default;
$popup__width\@small               : 100% !default;
$popup__position-left              : auto !default;
$popup__position-right             : - $spacer !default;
$popup__position-right\@small      : 0 !default;
$popup__position-top               : 48px !default;
$popup__background                 : $white !default;
$popup__z-index                    : 50 !default;
$popup__border                     : 0 !default;
$popup__box-shadow                 : 0 8px 16px 0 rgba(0, 0, 0, 0.16) !default;
$popup__close-button-bg            : $white !default;
$popup__close-button-border        : 0 !default;
$popup__close-button-position-top  : 0 !default;
$popup__close-button-position-right: 0 !default;
$popup__button-icon-fill           : $color-primary !default;
$popup__button-icon-fill--actiive  : $color-secondary !default;
