<div class="steps">
    <div class="steps__line">
        <div class="steps__status {{ statusClass }}">
        </div>
    </div>
    <ul class="steps__list">
        {{#each steps }}
            <li
                class="
                    steps__item
                    {{ class }}
                "
                {{{ attributes }}}
            >
                <span class="steps__circle">
                    <span class="steps__icon">
                    </span>
                </span>
            </li>
        {{/each}}
    </ul>
</div>
