//  Email variables
//  _____________________________________________

// body
$body__font-family                 : Tahoma, Geneva, sans-serif !default;
$body__text-align                  : left !default;
$body__color                       : $gray-darkest !default;
$body__background-color            : $gray-lightest !default;

// headings
$heading__font-family              : Georgia, "Times New Roman", Times, serif !default;
$heading__font-weight              : $font-weight-normal !default;
$heading__margin                   : 0 0 $spacer 0 !default;

// link
$link__color                       : $blue !default;
$link__text-decoration             : none !default;

// paragraph
$paragraph__line-height            : $font-line-height !default;
$paragraph__font-size              : $font-size-base !default;
$paragraph__margin                 : 0 0 $spacer 0 !default;

// wrapper
$wrapper__margin                   : 0 auto !default;
$wrapper-inner__padding-bottom     : $spacer !default;
$wrapper-inner__width              : 100% !default;

// main
$main__margin                      : 0 auto !default;
$main__text-align                  : left !default;
$main__max-width                   : 800px !default;

// header & footer
$header__padding                   : $spacer--large $spacer--medium $spacer--medium !default;
$footer__padding                   : $spacer--medium $spacer $spacer--large !default;

// main-content
$main-content__background          : $white !default;
$main-content__padding             : $spacer--semi-medium !default;

// logo
$logo__width                       : 200px !default;

// button
$button__padding                   : $spacer $spacer--medium !default;
$button__background                : $cerulean !default;
$button__border-radius             : 5px !default;
$button__text-decoration           : none !default;
$button__font-size                 : $font-size-base !default;
$button__color                     : $white !default;
