<!-- ko if: isAvailable() -->
    <li
        class="
            order-summary__list-item
            totals
            rewardpoints
        "
    >
        <span class="order-summary__label">
            <a
                data-bind="
                    attr: {
                        href: getRewardPointsRemoveUrl()
                    }
                "
                class="
                    button
                    button--link
                    padding-left-0
                    padding-right-s
                    action
                    delete
                "
            >
                <span data-bind="text: $t('Remove')"></span>
            </a>
            <!-- ko text: getRewardPoints() + ' ' + $t(title)--><!-- /ko -->
        </span>
        <span
            data-bind="text: getValue()"
            class="order-summary__value price"
        ></span>
    </li>
<!-- /ko -->
