.header-button {
    position: relative;
    height: $header-button__size;
    min-width: $header-button__size;
    display: flex;
    padding: $header-button__padding;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: $header-button__border;
    cursor: pointer;
    text-decoration: $header-button__text-decoration;
    background-color: $header-button__bg;
    
    @include mq($screen-xl) {
        margin: $header-button__margin\@extra-large;
    }

    &.focus-visible,
    &:hover {
        text-decoration: none;
        .header-button__icon {
            fill: $header-button__icon-color--hover;
        }
    }

    &__icon {
        margin: $header-button__icon-margin;
        padding: $header-button__icon-padding;
        fill: $header-button__icon-color;
        transition: $header-button__transition;
        @include mq($screen-m) {
            margin: $header-button__icon-margin\@medium;
        }
    }

    &__counter {
        position: absolute;
        top: $header-button__counter-top;
        right: $header-button__counter-right;
        display: flex;
        width: $header-button__counter-size;
        height: $header-button__counter-size;
        border: $header-button__counter-border;
        border-radius: $header-button__counter-size;
        line-height: $header-button__counter-size;
        font-size: $header-button__counter-font-size;
        text-align: center;
        color: $header-button__counter-color;
        background-color: $header-button__counter-background;

        @include mq($screen-m) {
            top: $header-button__counter-top\@medium;
        }

        &--hidden {
            display: none;
        }

        &-dot {
            width: $header-button__counter-dot-size;
            height: $header-button__counter-dot-size;
            border-radius: $header-button__counter-dot-size;
            margin: auto;
            background-color: $header-button__counter-dot-bg-color;
        }
    }
}
