$search-form__height            : 34px !default;
$search-form__width             : 100% !default;
$search-form__width--extra-large: 70% !default;
$search-form__alignment         : flex-end !default;
$search-form__margin            : 0 !default;
$search-form__border            : 1px solid $gray-light !default;
$search-form__font-size         : $font-size-small !default;

$search-form__input-height      : 32px !default;

$search-form__button-size       : 18px !default;
$search-form__button-margin     : 0 !default;
$search-form__button-border     : none !default;
$search-form__button-background : transparent !default;
$search-form__button-icon-color : $gray-dark !default;
$search-form__button-fill-hover : $color-primary !default;

$search-form__placeholder-color : $gray !default;

.search-form {
    position: relative;
    width: $search-form__width;
    height: $search-form__height;
    align-self: $search-form__alignment;
    margin: $search-form__margin;
    border: $search-form__border;
    border-radius: $search-form__height;
    z-index: 1;
    line-height: normal;

    @include mq($screen-xl) {
        width: $search-form__width--extra-large;
    }

    &__input-wrapper {
        position: relative;
    }

    &__input {
        width: 100%;
        height: $search-form__input-height;
        border: none;
        border-radius: $search-form__height;
        font-size: $search-form__font-size;

        &::placeholder {
            color: $search-form__placeholder-color;
            font-size: $search-form__font-size;
        }
    }

    &__button {
        position: absolute;
        top: 0;
        right: 0;
        height: $search-form__input-height;
        margin: $search-form__button-margin;
        border: $search-form__button-border;
        border-radius: $search-form__height;
        background-color: $search-form__button-background;

        &:focus,
        &:hover {
            background-color: $search-form__button-background;

            .button__icon {
                fill: $search-form__button-fill-hover;
            }
        }
    }

    .button__icon {
        width: $search-form__button-size;
        height: $search-form__button-size;
        fill: $search-form__button-icon-color;
    }
}
