$search-form__height            : 34px !default;
$search-form__width             : 100% !default;
$search-form__width--extra-large: 70% !default;
$search-form__alignment         : flex-end !default;
$search-form__margin            : 0 !default;
$search-form__border            : 1px solid $gray-light !default;
$search-form__font-size         : $font-size-small !default;

$search-form__input-height      : 32px !default;

$search-form__button-size       : 24px !default;
$search-form__button-margin     : 0 !default;
$search-form__button-border     : 1px solid $gray !default;
$search-form__button-background : transparent !default;
$search-form__button-icon-color : $color-primary !default;
$search-form__button-fill-hover : $color-secondary !default;

$search-form__placeholder-color : $gray !default;

.search-form {
    position: relative;
    width: $search-form__width;
    align-self: $search-form__alignment;
    z-index: 1;
    line-height: $font-line-height;
    margin: 0;

    &__input-wrapper {
        position: relative;
    }

    &__input {
        width: 100%;

        &::placeholder {
            color: $search-form__placeholder-color;
            font-size: $search-form__font-size;
        }
    }

    &__button {
        position: absolute;
        top: 0;
        right: 0;
        height: $search-form__input-height;
        margin: $search-form__button-margin;
        border-left: $search-form__button-border;
        background-color: $search-form__button-background;

        &:after,
        &:before {
            display: none;
        }

        &.focus-visible,
        &:hover {
            background-color: $search-form__button-background;

            .button__icon {
                fill: $search-form__button-fill-hover;
            }
        }
    }

    .button__icon {
        width: $search-form__button-size;
        height: $search-form__button-size;
        fill: $search-form__button-icon-color;
    }
}
