
<!-- ko if: isAvailable && isActive() -->
<div
    class="
        discount-code
        payment-option
        opc-payment-additional
        customerbalance
    "
    id="customerbalance-placer"
    data-bind="
        mageInit: {
            'collapsible': {
                'openedState': '_active'
            }
        }
    "
>
    <div
        class="discount-code__button payment-option-title"
        data-role="title"
    >
        <span
            class="
                discount-code__button-text
                action
                action-toggle
            "
            id="block-store-credit-heading"
            role="heading"
            aria-level="2"
        >
            <!-- ko i18n: 'Store Credit' --><!-- /ko -->
        </span>

        <svg
            class="
                icon
                discount-code__button-icon
            "
            role="presentation"
            focusable="false"
        >
            <use data-bind="attr: {'href': require.toUrl('images/icons-sprite.svg#angle-down')}" href=''></use>
        </svg>
    </div>
    <div
        class="
            discount-code__content
            payment-option-content
            field
            choice
        "
        data-role="content"
    >
        <div class="margin-bottom-m payment-option-inner">
            <p>
                <span
                    id="customerbalance-available-amount"
                    data-bind="text: formatBalance()"
                ></span>
                <!-- ko i18n: 'Store credit available' --><!-- /ko -->
            </p>
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button
                    id="use-customer-balance"
                    class="action action-use"
                    name="payment[use_customer_balance]"
                    data-bind="click: sendRequest"
                >
                    <!-- ko i18n: 'Use Store Credit' --><!-- /ko -->
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
