$gallery__width                            : 100% !default;
$gallery__padding                          : 0 !default;
$gallery__margin                           : 0 !default;

$gallery__icon-arrow-color                 : $color-primary !default;
$gallery__icon-arrow-width                 : 12px !default;
$gallery__icon-arrow-height                : 12px !default;
$gallery__label-offset-top                 : $spacer--medium !default;
$gallery__label-offset-left                : $spacer !default;
$gallery__nav-vertical-margin-right\@medium: $spacer--medium !default;
$gallery__nav-vertical-margin-right        : 40px !default;
$gallery__stage-margin-bottom              : $spacer--medium !default;
$gallery__thumb-arrow-height               : 48px !default;
$gallery__thumb-arrow-width                : 48px !default;
$gallery__thumb-border                     : none !default;
$gallery__thumb-border--active             : 1px solid $color-primary !default;
$gallery__thumb-spacing                    : $spacer--medium !default;
$gallery__thumb-height                     : 48px !default;
$gallery__thumb-height--large              : 80px !default;
$gallery__thumb-width                      : 48px !default;
$gallery__thumb-width--large               : 80px !default;
