$gallery__width                             : 100% !default;
$gallery__padding                           : 0 !default;
$gallery__margin                            : 0 !default;

$gallery__icon-arrow-color                  : $color-primary !default;
$gallery__icon-arrow-color-hover            : $color-secondary !default;

$gallery__labels-offset-top                 : $spacer--medium !default;
$gallery__labels-offset-left                : 0 !default;
$gallery__labels-index                      : $z-index-low !default;
$gallery__labels__badge-margin-bottom       : $spacer !default;

$gallery__nav-margin-right--vertical\@medium: $spacer--medium !default;
$gallery__nav-margin--vertical\@medium      : 0 $gallery__nav-margin-right--vertical\@medium 0 0 !default;
$gallery__nav-margin-right--vertical\@large : 40px !default;
$gallery__nav-margin--vertical\@mlarge      : 0 $gallery__nav-margin-right--vertical\@large 0 0 !default;

$gallery__stage-margin                      : 0 0 $spacer--medium 0 !default;

$gallery__thumb-border                      : none !default;
$gallery__thumb-border--active              : 1px solid $color-primary !default;
$gallery__thumb-spacing                     : $spacer--medium !default;
$gallery__thumb-margin                      : 0 $gallery__thumb-spacing 0 0 !default;
$gallery__thumb-margin\@medium              : 0 0 $gallery__thumb-spacing 0 !default;
$gallery__thumb-width                       : 48px !default;
$gallery__thumb-width\@medium               : 64px !default;

// dots
$gallery__thumb-height--dots                : $gallery__thumb-width !default;
$gallery__thumb-border--dots                : none !default;
$gallery__thumb-margin--dots                : 0 !default;
$gallery__thumb-dot-size--dots              : 12px !default;
$gallery__thumb-dot-top--dots               : 30% !default;
$gallery__thumb-dot-bg-color--dots          : $gray !default;
$gallery__thumb-dot-bg-color-active--dots   : $color-primary !default;
$gallery__thumb-dot-border-radius--dots     : 100% !default;

%dot:after {
    content: '';
    display: block;
    position: absolute;
    width: $gallery__thumb-dot-size--dots;
    height: $gallery__thumb-dot-size--dots;
    left: 50%;
    top: $gallery__thumb-dot-top--dots;
    border-radius: $gallery__thumb-dot-border-radius--dots;
    background-color: $gallery__thumb-dot-bg-color--dots;
    transform: translateX(-50%);
}
