<div
    class="payment-method"
    data-bind="css: {'_active': (getCode() == isChecked())}"
>
    <div
        class="
            payment-method-title
            field
            choice
        "
    >
        <input
            type="radio"
            name="payment[method]"
            class="radio"
            data-bind="
                attr: {'id': getCode()},
                value: getCode(),
                checked: isChecked,
                click: selectPaymentMethod,
                visible: isRadioButtonVisible()
            "
            aria-labelledby="payment-info-label"
        />
        <label
            class="label"
            data-bind="attr: {'for': getCode()}"
        >
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <form
            class="form credit-card"
            data-bind="attr: {'id': getCode() + '-form'}"
        >
            <fieldset
                data-bind="attr: {
                    class: 'fieldset payment items ccard ' + getCode(),
                    id: 'payment_form_' + getCode()
                }"
            >
                <!-- ko if: (isShowLegend())-->
                    <legend class="legend">
                        <span>
                            <!-- ko i18n: 'Credit Card Information'--><!-- /ko -->
                        </span>
                    </legend>
                    <br/>
                <!-- /ko -->
                <div class="field type">
                    <div class="control">
                        <ul class="credit-card-types">
                            <!-- ko foreach: {data: getCcAvailableTypesValues(), as: 'item'} -->
                                <li
                                    class="item"
                                    data-bind="css: {
                                        _active: $parent.selectedCardType() == item.value,
                                        _inactive: $parent.selectedCardType() != null && $parent.selectedCardType() != item.value
                                    }"
                                >
                                    <!--ko if: $parent.getIcons(item.value) -->
                                    <img
                                        data-bind="attr: {
                                            'src': $parent.getIcons(item.value).url,
                                            'alt': item.type,
                                            'width': $parent.getIcons(item.value).width,
                                            'height': $parent.getIcons(item.value).height
                                        }"
                                    >
                                    <!--/ko-->
                                </li>
                            <!--/ko-->
                        </ul>
                        <input
                            type="hidden"
                            name="payment[cc_type]"
                            class="input-text"
                            value=""
                            data-bind="
                                attr: {
                                    id: getCode() + '_cc_type',
                                    'data-container': getCode() + '-cc-type'
                                },
                                value: creditCardType
                            "
                        >
                    </div>
                </div>
                <div
                    class="
                        field
                        number
                        required
                    "
                >
                    <label
                        data-bind="attr: {for: getCode() + '_cc_number'}"
                        class="label"
                    >
                        <span>
                            <!-- ko i18n: 'Credit Card Number'--><!-- /ko -->
                        </span>
                    </label>
                    <div
                        class="
                            control
                            input
                            credit-card__number
                        "
                    >
                        <input
                            type="number"
                            name="payment[cc_number]"
                            class="input__field"
                            value=""
                            data-bind="
                                attr: {
                                    id: getCode() + '_cc_number',
                                    title: $t('Credit Card Number'),
                                    'data-container': getCode() + '-cc-number',
                                    'data-validate': JSON.stringify({'required-number':true,
                                    'validate-card-type':getCcAvailableTypesValues(),
                                    'validate-card-number':'#' + getCode() + '_cc_type',
                                    'validate-cc-type':'#' + getCode() + '_cc_type'})
                                },
                                value: creditCardNumber,
                                valueUpdate: 'keyup'
                            "
                        />
                    </div>
                </div>
                <div
                    class="
                        field
                        date
                        required
                    "
                    data-bind="attr: {
                        id: getCode() + '_cc_type_exp_div'
                    }"
                >
                    <label
                        data-bind="attr: {for: getCode() + '_expiration'}"
                        class="label"
                    >
                        <span>
                            <!-- ko i18n: 'Expiration Date'--><!-- /ko -->
                        </span>
                    </label>
                    <div
                        class="
                            fields
                            group
                            group-2
                            credit-card__date
                        "
                    >
                        <div
                            class="
                                control
                                select
                                select--native
                                credit-card__select
                                margin-right-s
                                margin-bottom-0
                            "
                        >
                            <select
                                name="payment[cc_exp_month]"
                                class="
                                    select__field
                                    select__field--native
                                    credit-card__field
                                    select-month
                                "
                                data-bind="
                                    attr: {
                                        id: getCode() + '_expiration', 'data-container': getCode() + '-cc-month',
                                        'data-validate': JSON.stringify({
                                            required:true,
                                            'validate-cc-exp':'#' + getCode() + '_expiration_yr'
                                        })
                                    },
                                    options: getCcMonthsValues(),
                                    optionsValue: 'value',
                                    optionsText: 'month',
                                    optionsCaption: $t('Month'),
                                    value: creditCardExpMonth
                                "
                            >
                            </select>
                        </div>

                        <div
                            class="
                                control
                                select
                                select--native
                                credit-card__select
                                margin-bottom-0
                            "
                        >
                            <select
                                name="payment[cc_exp_year]"
                                class="
                                    select__field
                                    select__field--native
                                    credit-card__field
                                    select-year
                                "
                                data-bind="
                                    attr: {
                                        id: getCode() + '_expiration_yr',
                                        'data-container': getCode() + '-cc-year',
                                        'data-validate': JSON.stringify({required:true})
                                    },
                                    options: getCcYearsValues(),
                                    optionsValue: 'value',
                                    optionsText: 'year',
                                    optionsCaption: $t('Year'),
                                    value: creditCardExpYear
                                "
                            >
                            </select>
                        </div>
                    </div>
                </div>
                <!-- ko if: (hasVerification())-->
                    <div
                        class="field cvv required"
                        data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}"
                    >
                        <label
                            data-bind="attr: {for: getCode() + '_cc_cid'}"
                            class="label"
                        >
                            <span>
                                <!-- ko i18n: 'Card Verification Number'--><!-- /ko -->
                            </span>
                        </label>
                        <div class="control _with-tooltip">
                            <input
                                type="number"
                                class="input__field credit-card__field cvv"
                                name="payment[cc_cid]"
                                value=""
                                data-bind="
                                    attr: {
                                        id: getCode() + '_cc_cid',
                                        title: $t('Card Verification Number'),
                                        'data-container': getCode() + '-cc-cvv',
                                        'data-validate': JSON.stringify({
                                            'required-number':true,
                                            'validate-card-cvv':'#' + getCode() + '_cc_type'})
                                        },
                                    value: creditCardVerificationNumber
                                "
                            />
                            <button
                                class="
                                    button
                                    button--secondary
                                    modal-trigger
                                "
                                type="button"
                                aria-expanded="false"
                                data-modal-trigger="credit-card-popup"
                                data-bind="mageInit: { 'modal' : {} }"
                            >
                                <!-- ko i18n: 'What is this?'--><!-- /ko -->
                            </button>
                            <div
                                id="credit-card-popup"
                                role="dialog"
                                aria-hidden="true"
                                data-modal="credit-card-popup"
                                aria-labelledby="credit-card-title"
                                class="modal"
                            >
                                <div
                                    class="modal__container"
                                    role="document"
                                    tabindex="0"
                                >
                                    <div
                                        class="
                                            modal__content
                                            padding-hz-xl
                                            padding-vc-xl
                                        "
                                        data-bind="html: getCvvImageHtml()"
                                    ></div>
                                    <button
                                        class="
                                            button
                                            button--icon
                                            button--rotate-icon
                                            modal__close-button
                                        "
                                        type="button"
                                        data-bind="attr: {
                                            'aria-label': $t('Close modal')
                                        }"
                                    >
                                        <svg
                                            class="
                                                icon
                                                button__icon
                                                modal__close-button-icon
                                            "
                                            role="presentation"
                                            focusable="false"
                                        >
                                            <use data-bind="attr: { 'href': require.toUrl('images/icons-sprite.svg#close') }" href=''></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- /ko -->

                <!-- ko if: (isVaultEnabled())-->
                <div class="field choice checkbox">
                    <input
                        type="checkbox"
                        name="vault[is_enabled]"
                        class="checkbox__field"
                        data-bind="
                            attr: {
                                'id': getCode() + '_enable_vault'
                            },
                            checked: vaultEnabler.isActivePaymentTokenEnabler
                        "
                    />
                    <svg
                        class="checkbox__icon checkbox__icon--checked"
                        role="presentation"
                        focusable="false"
                    >
                        <use data-bind="attr: { 'href': require.toUrl('images/icons-sprite.svg#checked') }" href=''></use>
                    </svg>
                    <svg
                        class="checkbox__icon checkbox__icon--unchecked"
                        role="presentation"
                        focusable="false"
                    >
                        <use data-bind="attr: { 'href': require.toUrl('images/icons-sprite.svg#unchecked') }" href=''></use>
                    </svg>
                    <label
                        class="checkbox__label label"
                        data-bind="attr: {'for': getCode() + '_enable_vault'}"
                    >
                        <span class="checkbox__text">
                            <!-- ko i18n: 'Save for later use.'--><!-- /ko -->
                        </span>
                    </label>
                </div>
                <!-- /ko -->
            </fieldset>
        </form>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button
                    class="
                        action
                        primary
                        checkout
                    "
                    type="submit"
                    data-bind="
                        click: sendPaymentDataToAnet,
                        attr: {
                            title: $t('Place Order')
                        },
                        enable: (getCode() == isChecked()),
                        css: {
                            disabled: !isPlaceOrderActionAllowed()
                        }
                    "
                    data-role="review-save"
                >
                    <span>
                        <!-- ko i18n: 'Place Order'--><!-- /ko -->
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
