$store-pickup-modal__search-field-flex            : 1 0 auto !default;
$store-pickup-modal__search-button-margin-bottom  : $spacer--medium !default;
$store-pickup-modal__search-button-height         : 48px !default;
$store-pickup-modal__table-cell-first-border-right: 0 !default;
$store-pickup-modal__table-cell-last-text-align   : $end-direction !default;
