<div class="store-pickup-modal">
    <div class="store-pickup-modal__search">
        {{ render '@input' search.input }}
        {{ render '@button' search.button }}
    </div>
    {{ render '@paragraph' description }}
    {{ render '@table' storesTable }}
</div>
