@import 'blank-notice-variables';

.blank-notice {
    &__logo {
        justify-content: center;
        min-width: 100%;
        padding: $spacer--large;
        background: $blank-notice-background;
    }
    &__container {
        margin: $spacer--medium;
        text-align: center;
    }
}
