.blank-notice {
    &__logo {
        justify-content: center;
        min-width: 100%;
        padding: $spacer--large;
    }
    &__container {
        margin: $spacer--medium;
        text-align: center;
    }
}
