<div class="blank-notice">
    {{ render '@logo' logo merge="true" }}
    <div
        class="
            blank-notice__container
            container
        "
    >
        <h1>content-from-cms</h1>
    </div>
</div>
