.categories-list {
    max-height: 400px;
    overflow-x: hidden;

    &__item {
        padding: 2px 0;
    }

    &__link {
        display: block;
        padding: 12px 6px;
        font-size: $font-size-medium;
        text-decoration: none;

        &:hover,
        &:focus,
        &[aria-current="true"] {
            background: $color-primary;
            color: $gray-lighter;
        }
    }
}
