$catalog-event-background-color               : $gray-lightest !default;
$catalog-event-background-padding             : $spacer--large 0 $spacer--extra-large !default;

$catalog-event__ticker-display                : flex !default;
$catalog-event__ticker-justify-content        : center !default;

$catalog-event__ticker-item-min-width         : 80px !default;
$catalog-event__ticker-item-min-width\@medium : 160px !default;
$catalog-event__ticker-item-text-align        : center !default;

$catalog-event__ticker-value-font-faily       : $font-family-serif !default;
$catalog-event__ticker-value-font-size        : $font-size-super-extra-large !default;
$catalog-event__ticker-value-font-size\@medium: calc(#{$font-size-super-extra-large} * 2) !default;

$catalog-event__ticker-label-font-size        : $font-size-base !default;
$catalog-event__ticker-label-text-transform   : none !default;

.catalog-event {
    background-color: $catalog-event-background-color;
    padding: $catalog-event-background-padding;

    &__ticker {
        display: $catalog-event__ticker-display;
        justify-content: $catalog-event__ticker-justify-content;
    }

    &__ticker-item {
        min-width: $catalog-event__ticker-item-min-width;
        text-align: $catalog-event__ticker-item-text-align;

        @include mq($screen-m) {
            min-width: $catalog-event__ticker-item-min-width\@medium;
        }
    }

    &__ticker-value {
        font-family: $catalog-event__ticker-value-font-faily;
        font-size: $catalog-event__ticker-value-font-size;

        @include mq($screen-m) {
            font-size: $catalog-event__ticker-value-font-size\@medium;
        }
    }

    &__ticker-label {
        font-size: $catalog-event__ticker-label-font-size;
        text-transform: $catalog-event__ticker-label-text-transform;
    }
}
