$select__margin-bottom                   : $spacer--medium !default;
$select__padding                         : 0 $spacer--medium 0 $spacer--medium !default;
$select__border                          : $form-elements-border !default;
$select__height                          : 48px !default;
$select__border-radius                   : $form-elements-radius !default;
$select__line-height                     : $select__height !default;
$select__input-border-color              : $form-elements-border-color !default;
$select__field-background                : $white !default;
$select__field-list-border-radius--single: $form-elements-radius !default;
$select__field-font-size                 : $font-size-base !default;
$select__label-color-focus               : $color-primary !default;
$select__transition                      : $transition-base !default;

// Choices
$select__dropdown-max-width              : 150px !default;
$select__choices-item-padding-right      : $spacer--medium !default;
$select__choices-option-bg-highlighted   : $gray-light !default;
