@import 'my-orders-variables';

.my-orders {
    &__fieldset {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @include mq($screen-m) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__search {
        min-width: 50%;

        @include mq($screen-m) {
            margin: 0 $spacer--medium 0 0;
            padding: 0 $spacer 0 0;
        }
    }

    &__select {
        select {
            @extend .select__field;
        }
    }

    &__date {
        input {
            padding: 0 $spacer;

            @include mq($screen-m) {
                padding: 0 $spacer--medium;
            }
        }

        &--from {
            @include mq($screen-m) {
                margin: 0 $spacer--medium 0 0;
            }
        }
    }

    &__total {
        &--min {
            @include mq($screen-m) {
                margin: 0 $spacer--medium 0 0;
            }
        }
    }

    &__field-wrapper {
        @include mq($screen-m) {
            display: flex;
            align-items: center;
        }

        input {
            @extend .input__field;
        }
    }

    &__field-label {
        margin: 0 $spacer 0 0;
    }

    &__actions {
        justify-content: flex-end;
    }

    &__filter-summary {
        & > ul {
            @extend .list;

            & > li {
                @extend .list__item;
            }
        }
    }
}
