<nav
    class="pager"
    if="pages > 1"
    data-bind="attr: {'aria-label': $t('Page pagination')}"
>
    <ul
        class="pager__list"
        aria-labelledby="paging-label"
    >
        <li
            class="pager__item"
            ifnot="isFirst()"
        >
            <a
                class="
                    pager__link
                    pager__link--prev
                    button
                    button--icon
                    action
                    previous
                "
                click="prev"
                data-bind="attr: {
                        'aria-label': $t('Previous'),
                        'title': $t('Previous')
                    }
                "
            >
                <svg
                    class="
                        icon
                        pager__link-prev
                    "
                    role="presentation"
                    focusable="false"
                >
                    <use data-bind="attr: {'xlink:href': require.toUrl('images/icons-sprite.svg#arrow-left') }" xlink:href=''></use>
                </svg>
            </a>
        </li>

        <each args="data: getPages(), as: '$page'">
            <li
                class="pager__item"
                click="$parent.setPage.bind($parent)"
                ifnot="$page === $parent.current"
            >
                <a
                    class="page pager__link link"
                    text="$page"
                />
            </li>
            <li
                class="
                    pager__item
                    pager__item--current
                "
                if="$page === $parent.current"
            >
                <span text="$page" />
            </li>
        </each>

        <li
            class="pager__item"
            ifnot="isLast()"
        >
            <a
                class="
                    pager__link
                    pager__link--next
                    button
                    button--icon
                    action
                    next
                "
                click="next"
                data-bind="attr: {
                        'aria-label': $t('Next'),
                        'title': $t('Next')
                    }
                "
            >
                <svg
                    class="
                        icon
                        pager__link-next
                    "
                    role="presentation"
                    focusable="false"
                >
                    <use data-bind="attr: { 'xlink:href': require.toUrl('images/icons-sprite.svg#arrow-right') }" xlink:href=''></use>
                </svg>
            </a>
        </li>
    </ul>
</nav>
<div class="
        quotes-grid-toolbar
        toolbar
        bottom
    "
>
    <div class="toolbar__amount">
        <p class="toolbar__amount-content">
            <span
                text="totalRecords + $t(' Item(s)')"
                if="isFirst() && isLast()"
            />
            <span
                text="$t('Items ') + getFirstNum() + $t(' to ') + getLastNum() + $t(' of ') + totalRecords + $t(' total')"
                if="pages > 1"
            />
        </p>
    </div>
    <scope args="sizes" render=""/>
</div>
