<div class="limiter">
    <span class="label" translate="'Show'"/>
    <div class="select control">
        <select
            data-role="limiter"
            class="
                select__field
                select__field--native
            "
            data-bind="
                options: optionsArray,
                optionsText: 'label',
                optionsValue:'value',
                value: value
            "
        />
    </div>
    <label class="limiter-text" translate="'per page'" attr="for: index"/>
</div>
