<div class="toolbar__limiter toolbar__limiter--relative">
    <div class="select toolbar__limiter-wrapper">
        <label
            class="label toolbar__limiter-label"
            translate="'Show'"
            for="limiter"
        ></label>
        <select
            id="limiter"
            data-role="limiter"
            class="select__field select__field--native toolbar__limiter-select"
            data-bind="
                options: optionsArray,
                optionsText: 'label',
                optionsValue:'value',
                value: value
            "
        ></select>
    </div>
</div>
