$product-view__padding                                 : 0 $spacer !default;

// container
$product-view__container-margin-top                    : $spacer--medium !default;
$product-view__container-margin\@medium                : $spacer--extra-large auto 0 !default;
$product-view__container-max-width\@large              : 1120px !default;

// wrapper
$product-view__wrapper-margin                          : 0 0 $spacer--medium 0 !default;

// details
$product-view__details-width\@medium                   : calc(50% - #{$spacer--extra-large}) !default;
$product-view__details-margin-left\@medium             : $spacer--extra-large !default;
$product-view__details-width\@xxlarge                  : calc(50% - #{$spacer--semi-large * 3}) !default;
$product-view__details-margin-left\@xxlarge            : $spacer--semi-large * 3 !default;

// description
$product-view__description-margin-bottom               : $spacer--medium !default;

// gallery
$product-view__gallery-margin-bottom                   : $spacer--medium !default;
$product-view__gallery-width\@medium                   : 50% !default !default;

// title
$product-view__title-margin                            : 0 !default;
$product-view__title-text-transform                    : initial !default;
$product-view__title-font-size                         : $font-size-large !default;
$product-view__title-font-size\@medium                 : $font-size-extra-large !default;
$product-view__title-font-size\@large                  : $font-size-super-extra-large !default;

// sku
$product-view__sku-color                               : $gray-dark !default;

// stock
$product-view__stock-font-weight                       : $font-weight-bold !default;
$product-view__stock-text-transform                    : uppercase !default;
$product-view__stock-white-space                       : nowrap !default;
$product-view__stock-font-size                         : $font-size-small !default;
$product-view__stock-font-size\@medium                 : $font-size-base !default;

// rating
$product-view__rating-padding-bottom                   : $spacer--medium !default;
$product-view__rating-border-bottom                    : $border-base !default;

// buttons
$product-view__button-margin-right                     : $spacer !default;
$product-view__button-margin-right--last-child         : 0 !default;

// qty
$product-view__qty-margin-bottom                       : $spacer--medium !default;

// submit btn
$product-view__submit-btn-max-width                    : 250px !default;

// brief
$product-view__brief__title-text-transform             : capitalize !default;
$product-view__brief__title-font-weight                : $font-weight-medium !default;
$product-view__brief__item-margin-bottom               : $spacer !default;

// form
$product-view__form-padding                            : $spacer--medium 0 !default;
$product-view__form-border-bottom                      : $border-base !default;
$product-view__form-swatch-margin-bottom               : $spacer--medium !default;
$product-view__form-swatch__title-color                : $gray-dark !default;

// slider
$product-view__slider-title-text-align                 : center !default;

// summary
$product-view__summary-padding                         : $spacer--medium 0 !default;
$product-view__summary-border                          : 1px solid $gray-light !default;
$product-view__summary-margin                          : 0 0 $spacer--large !default;
$product-view__summary-margin\@medium                  : 0 !default;
$product-view__summary-width                           : 100% !default;
$product-view__summary-title-font-weight               : $font-weight-bold !default;
$product-view__summary-item-space                      : $spacer--medium !default;
$product-view__summary-price-margin-bottom             : $spacer--medium !default;
$product-view__summary-price-font-size                 : $font-size-large !default;
$product-view__summary-price-font-weight               : $font-weight-bold !default;
$product-view__summary-unit-padding-left               : 4px !default;
$product-view__summary-unit-font-size                  : $font-size-base !default;
$product-view__summary-border-bottom                   : $border-base !default;

// custamization
$product-view__customization-border-bottom             : $border-base !default;
$product-view__customization-padding-bottom            : $spacer--medium !default;
$product-view__customization-margin-bottom             : $spacer !default;

// grouped table
$product-view__grouped-table-margin-bottom             : $spacer--medium !default;
