@import 'product-view-variables';

.product-view {
    padding: $product-view__padding;

    @include mq($screen-xl) {
        padding: $product-view__padding\@xl;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        margin: $product-view__wrapper-margin;
        max-width: $product-view__wrapper-max-width;

        @include mq($screen-m) {
            display: block;
        }

        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    &__description,
    &__details {
        position: relative;
        @include mq($screen-m) {
            float: right;
            width: $product-view__details-width\@medium;
            margin: $product-view__details-margin\@medium;
        }

        @include mq($screen-l) {
            width: $product-view__details-width\@large;
            margin: $product-view__details-margin\@large;
        }

        @include mq($screen-xl) {
            width: $product-view__details-width\@xl;
            margin: $product-view__details-margin\@xl;
        }
    }

    &__description {
        order: 2;
    }

    &__details {
        order: 3;
    }

    &__gallery {
        position: relative;
        margin: $product-view__gallery-margin;
        order: 1;

        @include mq($screen-m) {
            float: left;
            width: $product-view__gallery-width\@medium;
        }
    }

    &__badges {
        z-index: $product-view__badges-z-index;
        top: $product-view__badges-top;
        left: $product-view__badges-left;

        @include mq($screen-m) {
            top: $product-view__badges-top\@medium;
            left: $product-view__badges-left\@medium;
        }

        @include mq($screen-l) {
            top: $product-view__badges-top\@large;
            left: $product-view__badges-left\@large;
        }

        @include mq($screen-xl) {
            left: $product-view__badges-left\@xl;
        }
    }

    &__title {
        &.heading--page {
            margin: $product-view__title-margin;
            text-transform: $product-view__title-text-transform;
            font-size: $product-view__title-font-size;

            @include mq($screen-m) {
                font-size: $product-view__title-font-size\@medium;
            }

            @include mq($screen-l) {
                font-size: $product-view__title-font-size\@large;
            }
        }
    }

    &__sku {
        display: $product-view__sku-display;
        font-weight: $product-view__sku-font-weight;
        color: $product-view__sku-color;

        @include mq($screen-m) {
            display: block;
        }
    }

    &__stock {
        min-height: $product-view__stock-min-height;
        font-weight: $product-view__stock-font-weight;
        text-transform: $product-view__stock-text-transform;
        white-space: $product-view__stock-white-space;
        font-size: $product-view__stock-font-size;
        padding: $product-view__stock-padding;
        text-decoration: $product-view__stock-text-decoration;
        min-width: $product-view__stock-min-width;

        &:before,
        &:after {
            display: none;
        }

        &:hover {
            color: $product-view__stock-color-hover;
            text-decoration: $product-view__stock-text-decoration-hover;
        }

        @include mq($screen-m) {
            font-size: $product-view__stock-font-size\@medium;
        }
    }

    &__rating {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: $product-view__rating-padding;
        border: $product-view__rating-border;
        border-width: $product-view__rating-border-width;
    }

    &__price {
        display: $product-view__price-display;

        @include mq($product-view__price-display-bq) {
            display: block;
            padding: $product-view__price-padding;

            .price__value,
            .price__value--special {
                font-size: $font-size-extra-large;
            }
            .price__value--old {
                font-size: $font-size-large;
            }
        }
    }

    &__short-description-heading {
        font-family: $product-view__short-description-heading-font-family;
        font-size: $product-view__short-description-heading-font-size;
        font-weight: $product-view__short-description-heading-font-weight;
        color: $product-view__short-description-heading-color;
        text-transform: $product-view__short-description-heading-text-transform;
    }

    &__buttons {
        display: none;
        @include mq($product-view__buttons-mq-display) {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

        }
    }

    &__button {
        margin: $product-view__button-margin;
        background-color: $product-view__button-bg;

        @include mq($screen-m) {
            min-width: $product-view__button-min-size;
            min-height: $product-view__button-min-size;
            background-color: $product-view__button-bg\@medium;
        }

        &--wishlist {
            &.button--icon-filled {
                @extend .button--icon-fill;
                @include button-fill-bg();
                &:hover {
                    &:before {
                        background-color: $product-view__button-wishlist-filled-bg-color-hover;
                    }
                    &:after {
                        display: block;
                        background-image: $product-view__button-wishlist-filled-bg-image-after-hover;
                    }
                    .icon {
                        fill: $white;
                    }
                }
            }
        }
    }

    &__add-to-cart,
    &__update-cart {
        flex-grow: 1;
        height: $product-view__add-to-cart-height;
        padding: $product-view__add-to-cart-padding;
    }

    &__select-option {
        .select__field-list--single,
        .select__field-item {
            height: $product-view__select-option-height;
            line-height: $product-view__select-option-height;
        }
    }

    &__qty {
        margin: $product-view__qty-margin;
    }

    &__stock-status {
        margin: $product-view__stock-status-margin;
        @include mq($screen-m) {
            margin: $product-view__stock-status-margin\@medium;
        }
    }


    &__brief {
        margin: $product-view__brief-margin;

        @include mq($screen-m) {
            margin: $product-view__brief-margin\@medium;
        }
        .brief-info {
            display: block;

            &__title {
                text-transform: $product-view__brief-title-text-transform;
                font-weight: $product-view__brief-title-font-weight;
                font-size: $product-view__brief-title-font-size;
            }

            &__subtitle {
                font-size: $product-view__brief-subtitle-font-size;
                text-transform: none;
            }

            &__item {
                margin: $product-view__brief-item-margin;
            }
        }
    }

    &__form {
        padding: $product-view__form-padding;
        border: $product-view__form-border;
        border-width: $product-view__form-border-width;
    }

    &__summary {
        width: $product-view__summary-width;
        padding: $product-view__summary-padding;
        margin: $product-view__summary-margin;
        font-size: $font-size-medium;


        @include mq($screen-m) {
            margin: $product-view__summary-margin\@medium;
        }
    }

    &__summary-price {
        display: flex;
        align-items: center;
        margin: $product-view__summary-price-margin;
        font-weight: $product-view__summary-price-font-weight;
        .price__value {
            font-size: $product-view__summary-price-font-size;
        }
    }

    &__summary-unit {
        padding: $product-view__summary-unit-padding;
        font-size: $product-view__summary-unit-font-size;
    }

    &__summary-list {
        font-size: $product-view__summary-list-font-size;
    }

    &__summary-title {
        margin: $product-view__summary-title-margin;
        font-weight: $product-view__summary-title-font-weight;
        text-transform: $product-view__summary-title-text-transform;
    }

    &__summary-item-title {
        display: block;
        font-weight: $product-view__summary-list-item-title-font-weight;
        text-transform: $product-view__summary-list-item-title-text-transform;
    }

    &__summary-item-value {
        color: $product-view__summary-list-item-value-color;
    }

    &__customization {
        border: $product-view__customization-border;
        border-width: $product-view__customization-border-width;
        padding: $product-view__customization-padding;
        margin: $product-view__customization-margin;
    }

    // grouped product, overwrite default table styles
    &__grouped-table {
        margin: $product-view__grouped-table-margin;
        border-width: $product-view__grouped-table-border-width;
        @include mq($screen-m) {
            border-width: $product-view__grouped-table-border-width\@medium;
        }

        & th,
        & td {
            border-right: $product-view__grouped-cell-border-right;
            justify-content: flex-end;

            &.product-view__grouped-product-name-cell {
                justify-content: space-between;
                @include mq($screen-m) {
                    display: table-cell;
                }
                &:before {
                    display: none;
                }
            }
        }

        & th,
        & td:before {
            padding: $product-view__grouped-th-padding;
            font-size: $product-view__grouped-th-font-size;
            font-weight: $product-view__grouped-th-font-weight;
            background-color: $product-view__grouped-th-bg-color;
            text-align: $product-view__grouped-th-align;
            @include mq($screen-m) {
                text-align: $product-view__grouped-th-align\@medium;
            }
        }

        & td {
            padding: $product-view__grouped-td-padding;
            vertical-align: $product-view__grouped-td-vertical-align;
        }
    }

    &__grouped-product-qty-td {
        padding-left: $product-view__grouped-td-qty-padding;
    }

    &__grouped-product-name {
        display: block;
        font-weight: $product-view__grouped-td-name-font-weight;
        @include mq($screen-m) {
            margin: $product-view__grouped-td-name-margin\@medium;
        }
    }

    &__grouped-qty {
        max-width: $product-view__grouped-qty-field-max-width;
        .input__field {
            text-align: $product-view__grouped-qty-field-align;
            border-color: $product-view__grouped-qty-field-border-color;
        }
    }

    // tabs
    &__tabs {
        max-width: $product-view__wrapper-max-width;
        margin: $product-view__tabs-margin;

        @include mq($screen-m) {
            margin: $product-view__tabs-margin\@medium;
            padding: $product-view__tabs-padding\@medium;
        }

        @include mq($screen-l) {
            padding: $product-view__tabs-padding\@large;
        }

        .tab__title {
            height: $product-view__tabs-title-height;
            padding: $product-view__tabs-title-padding;
            text-align: $product-view__tabs-title-text-align;

            @include mq($screen-m) {
                padding: $product-view__tabs-title-padding\@medium;
            }

            @include mq($screen-l) {
                text-align: $product-view__tabs-title-text-align\@large;
                padding: $product-view__tabs-title-padding\@large;
            }
        }
    }

    &__tabs-sticky-wrap {
        display: none;
        @include mq($product-view__tabs-sticky-show-bq) {
            display: block;
            position: fixed;
            visibility: hidden;
            top: 0;
            width: 100vw;
            left: 50vw;
            right: auto;
            margin-left: -50vw;
            margin-right: auto;
            background-color: $product-view__tabs-sticky-bg;
            border: $product-view__tabs-sticky-border;
            border-width: $product-view__tabs-sticky-border-width;
            box-shadow: $product-view__tabs-sticky-shadow;
            z-index: $product-view__tabs-sticky-z-index;
            &.aos-animate {
                visibility: visible;
            }
        }
    }

    &__tabs-sticky {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 100%;
        max-width: $product-view__tabs-sticky-max-width;
        margin: $product-view__tabs-sticky-margin;

        .tab__title--sticky {
            display: flex;
            justify-content: center;
            align-items: center;
            height: $product-view__tabs-sticky-label-height;
            border-width: $product-view__tabs-sticky-label-border-width;
            text-decoration: $product-view__tabs-sticky-label-decoration;
        }
    }

    &__table {
        .table {
            td {
                @include mq($screen-m) {
                    text-align: right;
                }
            }
        }
    }

    // styles for related / upsells
    .slider--products {
        margin: $product-view__slider-margin;
    }
}
