@import 'product-view-variables';

.product-view {
    padding: $product-view__padding;

    &__container {
        margin: $product-view__container-margin;

        @include mq($screen-m) {
            margin: $product-view__container-margin\@medium;
        }

        @include mq($screen-l) {
            max-width: $product-view__container-max-width\@large;
        }
    }

    &__wrapper {
        margin: $product-view__wrapper-margin;

        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    &__description,
    &__details {
        @include mq($screen-m) {
            float: right;
            width: $product-view__details-width\@medium;
            margin: $product-view__details-margin\@medium;
        }

        @include mq($screen-xxl) {
            width: $product-view__details-width\@xxl;
            margin: $product-view__details-margin\@xxl;
        }
    }

    &__description {
        margin: $product-view__description-margin;
    }

    &__gallery {
        margin: $product-view__gallery-margin;

        @include mq($screen-m) {
            float: left;
            width: $product-view__gallery-width\@medium;
        }
    }

    &__title {
        .heading {
            margin: $product-view__title-margin;
            text-transform: $product-view__title-text-transform;
            font-size: $product-view__title-font-size;

            @include mq($screen-m) {
                font-size: $product-view__title-font-size\@medium;
            }

            @include mq($screen-l) {
                font-size: $product-view__title-font-size\@large;
            }
        }
    }

    &__sku {
        display: none;
        color: $product-view__sku-color;

        @include mq($screen-m) {
            display: block;
        }
    }

    &__stock {
        font-weight: $product-view__stock-font-weight;
        text-transform: $product-view__stock-text-transform;
        white-space: $product-view__stock-white-space;
        font-size: $product-view__stock-font-size;

        @include mq($screen-m) {
            font-size: $product-view__stock-font-size\@medium;
        }
    }

    &__rating {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $product-view__rating-padding;
        border: $product-view__rating-border;
        border-width: $product-view__rating-border-width;
    }

    &__price {
        display: $product-view__price-display;

        @include mq($product-view__price-display-bq) {
            display: block;
            padding: $product-view__price-padding;
            border: $product-view__price-border;
            border-width: $product-view__price-border-width;

            .price__value--special {
                font-size: $font-size-extra-large;
            }
        }
    }

    &__buttons {
        display: flex;

        .button {
            margin: $product-view__button-margin;

            &:last-child {
                margin: $product-view__button-margin--last-child;
            }
        }
    }

    &__qty {
        margin: $product-view__qty-margin;
    }

    &__submit-btn {
        flex-grow: 1;
        max-width: $product-view__submit-btn-max-width;
    }

    &__brief {
        .brief-info {
            display: block;

            &__title {
                text-transform: $product-view__brief__title-text-transform;
                font-weight: $product-view__brief__title-font-weight;
            }

            &__item {
                margin: $product-view__brief__item-margin;
            }
        }
    }

    &__form {
        padding: $product-view__form-padding;
        border: $product-view__form-border;
        border-width: $product-view__form-border-width;
    }

    &__slider {
        &-title {
            text-align: $product-view__slider-title-text-align;
        }
    }

    &__summary {
        width: $product-view__summary-width;
        padding: $product-view__summary-padding;
        margin: $product-view__summary-margin;
        border: $product-view__summary-border;
        border-width: $product-view__summary-border-width;

        @include mq($screen-m) {
            margin: $product-view__summary-margin\@medium;
        }
    }

    &__summary-price {
        display: flex;
        align-items: center;
        margin: $product-view__summary-price-margin;
        font-weight: $product-view__summary-price-font-weight;
        font-size: $product-view__summary-price-font-size;
    }

    &__summary-unit {
        padding: $product-view__summary-unit-padding;
        font-size: $product-view__summary-unit-font-size;
    }

    &__summary-title {
        font-weight: $product-view__summary-title-font-weight;
        margin: $product-view__summary-title-margin;
    }

    &__summary-list {
        padding: $product-view__summary-list-padding;
    }

    &__summary-item-title {
        display: block;
        font-weight: $product-view__summary-title-font-weight;
    }

    &__customization {
        border: $product-view__customization-border;
        border-width: $product-view__customization-border-width;
        padding: $product-view__customization-padding;
        margin: $product-view__customization-margin;
    }

    &__grouped-table {
        margin: $product-view__grouped-table-margin;
    }

    &__tabs {
        .tab__title {
            height: 56px;
            padding: 0;
        }
    }

    &__tabs-sticky {
        display: none;
        @include mq($screen-m) {
            display: flex;
            flex-flow: row nowrap;
            position: fixed;
            top: 0;
            width: 100%;
            max-width: 1120px;
            margin: 0 auto;
            z-index: 100;
        }

        .tab__title--sticky {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__table {
        .table {
            td {
                @include mq($screen-m) {
                    text-align: right;
                }
            }
        }
    }
}
