<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isAvailable() -->
    <!-- ko foreach: getAppliedGiftCards() -->
    <tr class="totals giftcard">
        <th class="mark" scope="row" colspan="1">
            <a href="#" class="action delete" data-bind="attr: {title: $t('Remove')}, click: function(data, event) { $parent.removeGiftCard(c, event); }">
                <span data-bind="text: $t('Remove')"></span>
            </a>
            <!-- ko text: $parent.title + ' (' + c + ')' --><!-- /ko -->
        </th>
        <td class="amount" data-bind="attr: {'data-th':  $parent.title + ' (' + c + ')'}">
            <span class="discount">
                <span class="price" data-bind="text: '-' + $parent.getAmount(a)">
                </span>
            </span>
        </td>
    </tr>
    <!-- /ko -->
<!-- /ko -->
