<!-- ko if: isAvailable() -->
    <!-- ko foreach: getAppliedGiftCards() -->
        <li class="order-summary__list-item">
            <div>
                <span class="order-summary__label">
                    <!-- ko text: $parent.title + ' (' + c + ')' --><!-- /ko -->
                </span>
                <div>
                    <a
                        href="#"
                        class="action delete"
                        data-bind="
                            attr: {title: $t('Remove')},
                            click: function(data, event) { $parent.removeGiftCard(c, event); }
                        "
                    >
                        <span data-bind="text: $t('Remove')"></span>
                    </a>
                </div>
            </div>
            <span
                class="order-summary__value"
                data-bind="text: '-' + $parent.getAmount(a)"
            >
            </span>
        </li>
    <!-- /ko -->
<!-- /ko -->
