$newsletter-margin                       : 0 !default;
$newsletter-padding                      : $spacer--large 0 !default;
$newsletter__font-size                   : $font-size-base !default;
$newsletter__font-size--agreements       : $font-size-small !default;
$newsletter__field-height                : 48px !default;
$newsletter__field-padding               : 0 $spacer--medium !default;
$newsletter__line-height                 : 1.2 !default;
$newsletter__input-background            : $white !default;
$newsletter__input-color                 : $gray-darker !default;
$newsletter__input-color--placeholder    : $gray-dark !default;
$newsletter__checkbox-label-color        : $gray-darker !default;
$newsletter__heading-padding             : $spacer 0 !default;
$newsletter__heading-margin\@medium      : 0 $spacer--large 0 0 !default;
$newsletter__heading-margin\@extra-large : 0 $spacer--extra-large * 2 0 0 !default;
$newsletter__heading-padding\@extra-large: 0 !default;
$newsletter__heading-color               : $color-primary !default;
$newsletter__title-margin                : 0 0 $spacer--medium !default;
$newsletter__title-font-family           : $font-family-sans-serif !default;
$newsletter__title-font-size             : $font-size-large !default;
$newsletter__title-font-weight           : $font-weight-bold !default;
$newsletter__title-line-height           : 48px !default;
$newsletter__controls-width              : 96px !default;
$newsletter__controls-height             : 48px !default;
$newsletter__controls-margin             : 0 0 $spacer !default;
$newsletter__controls-margin\@medium     : 0 0 $spacer--medium !default;
$newsletter__bottom-gap                  : $spacer--medium !default;
$newsletter__button-padding              : 0 !default;
$newsletter__checkbox-bg-color           : $white !default;
$newsletter__checkbox-label-padding      : 0 $spacer--medium !default;
$newsletter__checkbox-label-margin-left  : $spacer--medium !default;
$newsletter__checkbox-label-line-height  : $font-line-height !default;
$newsletter__checkbox-icon-border-radius : 2px !default;
$newsletter__checkbox-icon-size          : 18px !default;
$newsletter__checkbox-icon-position-top  : 8px !default;
$newsletter__logo-size                   : 64px !default;
$newsletter__logo-margin                 : 0 $spacer 0 0 !default;
$newsletter__logo-margin\@extra-large    : 0 $spacer--medium 0 0 !default;
