@import 'newsletter-variables';

.newsletter {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: $newsletter-margin;
    padding: $newsletter-padding;

    @include mq($screen-m) {
        flex-direction: row;
    }

    @include mq($screen-xl) {
        align-items: flex-start;
    }

    &__heading {
        display: flex;
        height: auto;
        padding: $newsletter__heading-padding;
        font-size: $newsletter__font-size;
        font-weight: $font-weight-bold;
        line-height: $newsletter__line-height;
        text-align: left;
        color: $newsletter__heading-color;

        @include mq($screen-m) {
            margin: $newsletter__heading-margin\@medium;
        }

        @include mq($screen-xl) {
            margin: $newsletter__heading-margin\@extra-large;
            padding: $newsletter__heading-padding\@extra-large;
        }
    }

    &__logo {
        margin: $newsletter__logo-margin;
        width: $newsletter__logo-size;
        height: $newsletter__logo-size;
        fill: $orange;

        @include mq($screen-xl) {
            margin: $newsletter__logo-margin\@extra-large;
        }
    }

    &__title {
        margin: $newsletter__title-margin;
        font-family: $newsletter__title-font-family;
        font-size: $newsletter__title-font-size;
        line-height: $newsletter__title-line-height;
    }

    &__subtitle {
        font-size: $newsletter__title-font-size;
    }

    &__controls {
        display: flex;
        height: auto;
        margin: $newsletter__controls-margin;

        @include mq($screen-m) {
            margin: $newsletter__controls-margin\@medium;
        }

        @include mq($screen-xl) {
            max-width: 460px;
        }
    }

    &__button {
        width: $newsletter__controls-width;
        min-height: $newsletter__controls-height;
        line-height: $newsletter__controls-height;
        padding: $newsletter__button-padding;

        &:hover,
        &:focus {
            cursor: pointer;
            outline: none;
        }
    }

    &__input {
        flex-grow: 1;
        margin: 0;
    }

    &__label {
        @include visually-hidden;
    }

    &__field {
        background: $newsletter__input-background;
        padding: $newsletter__field-padding;
        margin: 0;
        height: $newsletter__field-height;
        color: $newsletter__input-color;
        line-height: $newsletter__field-height;

        &::placeholder {
            color: $newsletter__input-color--placeholder;
        }
    }

    &__agreements {
        max-width: 450px;
        margin-left: $spacer;
    }

    .checkbox__icon {
        top: $newsletter__checkbox-icon-position-top;
        left: 0;
        border-radius: $newsletter__checkbox-icon-border-radius;
    }

    .checkbox__field {
        &:checked ~ .checkbox__label:before {
            background: none;
        }
    }

    .checkbox__label {
        width: 100%;
        opacity: 1;
        padding: $newsletter__checkbox-label-padding;
        margin-left: $newsletter__checkbox-label-margin-left;
        font-size: $newsletter__font-size--agreements;
        line-height: $newsletter__checkbox-label-line-height;
        text-align: left;

        &:before {
            top: $newsletter__checkbox-icon-position-top;
            width: $newsletter__checkbox-icon-size;
            height: $newsletter__checkbox-icon-size;
            background: $newsletter__checkbox-bg-color;
        }

        & > a {
            color: $newsletter__checkbox-label-color;
            text-decoration: none;

            &:hover {
                color: $newsletter__checkbox-label-color;
                text-decoration: underline;
            }

            &:focus {
                color: $white;
            }
        }
    }
}
