// @import 'newsletter-variables';
$newsletter__margin                      : 0 !default;
$newsletter__padding                     : $spacer--large 0 !default;

$newsletter__heading-font-size           : $font-size-base !default;
$newsletter__heading-font-weight         : $font-weight-bold !default;
$newsletter__heading-line-height         : 1.2 !default;
$newsletter__heading-padding             : $spacer 0 !default;
$newsletter__heading-margin\@medium      : 0 $spacer--large 0 0 !default;
$newsletter__heading-margin\@extra-large : 0 $spacer--extra-large * 2 0 0 !default;
$newsletter__heading-padding\@extra-large: 0 !default;
$newsletter__heading-color               : $color-primary !default;
$newsletter__title-margin                : 0 0 $spacer--medium !default;
$newsletter__title-font-family           : $font-family-sans-serif !default;
$newsletter__title-font-size             : $font-size-large !default;
$newsletter__title-font-weight           : $font-weight-bold !default;
$newsletter__title-line-height           : 48px !default;
$newsletter__controls-width              : 96px !default;
$newsletter__controls-height             : 48px !default;
$newsletter__controls-margin             : 0 0 $spacer !default;
$newsletter__controls-margin\@medium     : 0 0 $spacer--medium !default;
$newsletter__button-padding              : 0 $spacer--medium !default;

$newsletter__checkbox-label-padding      : $spacer $spacer--medium $spacer--small $spacer--extra-large !default;

.newsletter {
    display: flex;
    flex-direction: column;
    margin: $newsletter__margin;
    padding: $newsletter__padding;

    @include mq($screen-m) {
        flex-direction: row;
    }

    &__heading {
        display: flex;
        flex-flow: column nowrap;

        @include mq($screen-m) {
            margin: $newsletter__heading-margin\@medium;
        }

        @include mq($screen-xl) {
            margin: $newsletter__heading-margin\@extra-large;
        }
    }

    &__title {
        margin: $newsletter__title-margin;
        font-family: $newsletter__title-font-family;
        font-size: $newsletter__title-font-size;
        font-weight: $newsletter__title-font-weight;
        line-height: $newsletter__title-line-height;
    }

    &__subtitle {
        color: $color-secondary;
    }

    &__controls {
        display: flex;
        margin: $newsletter__controls-margin;

        @include mq($screen-m) {
            margin: $newsletter__controls-margin\@medium;
        }

        @include mq($screen-xl) {
            max-width: 460px;
        }
    }

    &__button {
        padding: $newsletter__button-padding;
    }

    &__input {
        flex-grow: 1;
        margin: 0;
    }

    &__field {
        border-right: none;
    }

    &__agreements {
        max-width: 450px;
        margin-left: $spacer;
    }

    .checkbox__label {
        padding: $newsletter__checkbox-label-padding;
    }
}
