$newsletter__margin                           : 0 !default;
$newsletter__padding                          : $spacer--large 0 !default;

$newsletter__heading-font-size                : $font-size-base !default;
$newsletter__heading-font-weight              : $font-weight-bold !default;
$newsletter__heading-line-height              : 1.2 !default;
$newsletter__heading-padding                  : $spacer 0 !default;
$newsletter__heading-margin\@medium           : 0 $spacer--large 0 0 !default;
$newsletter__heading-margin\@extra-large      : 0 $spacer--extra-large * 2 0 0 !default;
$newsletter__heading-padding\@extra-large     : 0 !default;

$newsletter__title-margin                     : 0 0 $spacer--medium !default;
$newsletter__title-font-family                : $font-family-sans-serif !default;
$newsletter__title-font-size                  : $font-size-large !default;
$newsletter__title-font-weight                : $font-weight-bold !default;
$newsletter__title-line-height                : 48px !default;
$newsletter__title-color                      : $color-primary !default;

$newsletter__subtitle-color                   : $color-secondary !default;

$newsletter__controls-width                   : 96px !default;
$newsletter__controls-height                  : 48px !default;
$newsletter__controls-margin                  : 0 0 $spacer !default;
$newsletter__controls-margin\@medium          : 0 0 $spacer--medium !default;

$newsletter__button-padding                   : 0 $spacer--medium !default;
$newsletter__button-min-width                 : 96px !default;

$newsletter__checkbox-label-padding           : $checkbox__label-padding !default;
$newsletter__checkbox-label-color             : $color-secondary !default;
$newsletter__checkbox-label-link-color        : $color-primary !default;
$newsletter__checkbox-label-link-color--hover : $color-focus !default;
