$newsletter-margin                       : 0;
$newsletter-padding                      : $spacer--large 0;
$newsletter__font-size                   : $font-size-base;
$newsletter__font-size--agreements       : $font-size-small;
$newsletter__field-height                : 48px;
$newsletter__field-padding               : 0 $spacer--medium;
$newsletter__line-height                 : 1.2;
$newsletter__input-background            : $white;
$newsletter__input-color                 : $gray-darker;
$newsletter__input-color--placeholder    : $gray-dark;
$newsletter__checkbox-label-color        : $gray-darker;
$newsletter__heading-padding             : $spacer 0;
$newsletter__heading-margin\@medium      : 0 $spacer--large 0 0;
$newsletter__heading-margin\@extra-large : 0 $spacer--extra-large * 2 0 0;
$newsletter__heading-padding\@extra-large: 0;
$newsletter__heading-color               : $color-primary;
$newsletter__title-margin                : 0;
$newsletter__title-font-family           : $font-family-sans-serif;
$newsletter__title-font-size             : $font-size-medium;
$newsletter__title-line-height           : 32px;
$newsletter__controls-width              : 96px;
$newsletter__controls-height             : 48px;
$newsletter__controls-margin             : 0 0 $spacer;
$newsletter__controls-margin\@medium     : 0 0 $spacer--medium;
$newsletter__bottom-gap                  : $spacer--medium;
$newsletter__button-padding              : 0;
$newsletter__checkbox-bg-color           : $white;
$newsletter__checkbox-label-padding      : 0 $spacer--medium;
$newsletter__checkbox-label-margin-left  : $spacer--medium;
$newsletter__checkbox-label-line-height  : $font-line-height;
$newsletter__checkbox-icon-border-radius : 2px;
$newsletter__checkbox-icon-size          : 18px;
$newsletter__checkbox-icon-position-top  : 8px;
$newsletter__logo-size                   : 64px;
$newsletter__logo-margin                 : 0 $spacer 0 0;
$newsletter__logo-margin\@extra-large    : 0 $spacer--medium 0 0;
