@import 'newsletter-variables';

.newsletter {
    display: flex;
    flex-direction: column;
    margin: $newsletter__margin;
    padding: $newsletter__padding;

    @include mq($screen-m) {
        flex-direction: row;
    }

    &__heading {
        display: flex;
        flex-flow: column nowrap;

        @include mq($screen-m) {
            margin: $newsletter__heading-margin\@medium;
        }

        @include mq($screen-xl) {
            margin: $newsletter__heading-margin\@extra-large;
        }
    }

    &__title {
        margin: $newsletter__title-margin;
        font-family: $newsletter__title-font-family;
        font-size: $newsletter__title-font-size;
        font-weight: $newsletter__title-font-weight;
        line-height: $newsletter__title-line-height;
        color: $newsletter__title-color;
    }

    &__subtitle {
        color: $newsletter__subtitle-color;
    }

    &__controls {
        display: flex;
        margin: $newsletter__controls-margin;

        @include mq($screen-m) {
            margin: $newsletter__controls-margin\@medium;
        }

        @include mq($screen-xl) {
            max-width: 460px;
        }
    }

    &__button {
        min-width: $newsletter__button-min-width;
        padding: $newsletter__button-padding;
        align-self: flex-start;
    }

    &__input {
        flex-grow: 1;
        margin: 0;
    }

    &__field {
        border-right: none;
    }

    &__agreements {
        max-width: 450px;
        margin-left: $spacer;
    }

    .checkbox__label {
        padding: $newsletter__checkbox-label-padding;
        color: $newsletter__checkbox-label-color;
        font-size: $newsletter__checkbox-label-font-size;
        line-height: $newsletter__checkbox-label-line-height;

        a {
            color: $newsletter__checkbox-label-link-color;

            &:hover,
            &.focus-visible {
                color: $newsletter__checkbox-label-link-color--hover;
            }
        }
    }
}
