$banner-default-position-value: 10%;
$banner-top-value             : $banner-default-position-value;
$banner-bottom-value          : $banner-default-position-value;
$banner-left-value            : $banner-default-position-value;
$banner-right-value           : $banner-default-position-value;

.banner {
    display: block;
    position: relative;
    width: 100%;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }

    &--full-height {
        display: flex;
        flex-wrap: wrap;
        min-height: 250px;

        @include mq($screen-xl) {
            min-height: auto;
        }
    }

    &__image {
        width: 100%;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 15px;
        text-align: center;
        color: $gray-dark;
        background: $white;

        @include mq($screen-m) {
            position: absolute;
            background: rgba($white, 0.6);
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            max-width: 60%;
            max-height: 80%;
            padding: 30px;
        }

        &--top {
            @include mq($screen-m) {
                bottom: auto;
                top: $banner-top-value;
            }
        }

        &--bottom {
            @include mq($screen-m) {
                top: auto;
                bottom: $banner-bottom-value;
            }
        }

        &--left {
            @include mq($screen-m) {
                right: auto;
                left: $banner-left-value;
            }
        }

        &--right {
            @include mq($screen-m) {
                left: auto;
                right: $banner-right-value;
            }
        }

        &--content-bellow-image {
            position: relative;
            max-width: 100%;
            display: block;
            background: $white;
            padding: 0;
            margin-top: 15px;
        }

        &--without-image {
            position: relative;
            height: 50vw;
            width: 100%;
            max-width: none;
            max-height: none;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: $white;

            @include mq($screen-l) {
                height: auto;
            }
        }
    }

    &__headings {
        margin: 15px 0;
    }
}
