$button-disabled-background       : $button-background !default;
$button-disabled-border           : none !default;
$button-disabled-opacity          : 0.65 !default;

$button-active-background         : darken($color-primary, 30%) !default;


// Icon
$button-icon-disabled-border         : $color-primary !default;
$button-icon-disabled-fill           : $button-icon-fill !default;
$button-icon-disabled-background     : $white !default;

.button {

    &:disabled {
        background: $button-background;
        border-color: $button-border;
        cursor: not-allowed;
        opacity: $button-disabled-opacity;
    }

    &--icon {
        padding: $button-icon-padding;
        border: $button-icon-border;
        background: $button-icon-background;

        &:disabled {
            border-color: $button-icon-disabled-border;
            background: $button-icon-disabled-background;

            .button__icon {
                fill:  $button-icon-disabled-fill;
            }
        }
    }

}
