// Icon
$button-icon-border-width         : 3px !default;
$button-icon-border               : $button-icon-border-width solid $gray-light !default;


.button {
    &--compact {
        margin: 0 0 0 (-$button-icon-border-width);
    }
}
