$fieldset-border : 0 !default;
$fieldset-margin : 0 0 40px !default;
$fieldset-padding: 0 !default;

.fieldset {
    border: $fieldset-border;
    margin: $fieldset-margin;
    padding: $fieldset-padding;
}
