.form {
    &--compact {
        @include mq($screen-s) {
            display: flex;
            justify-content: center;
        }
        .form__heading {
            line-height: $button-height;
            margin-right: 20px;
        }
        .form__content {
            display: flex;
        }
    }

    div.mage-error[generated] {
        margin-top: 7px;
        color: $color-danger;
        font-size: $font-size-extra-small;
    }
}
