.input {
    &--compact {
        margin-bottom: 0;
        width: 100%;
        @include mq($screen-s) {
            display: flex;
            justify-content: center;
        }
        .input__field {
            width: 100%;
            border: $button-icon-border;
            line-height: $button-height;
            height: $button-height;
            border-radius: 0;
            @include mq($screen-s) {
                width: 290px;
            }
        }
    }
}
