.input {

    &__suffix {
        display: block;
        margin-top: 5px;
        font-size: $input-label-font-size;
    }

    &--inline {
        .input__suffix {
            margin-top: 0;
            margin-left: 10px;
        }
    }
}
