$legend-color      : inherit !default;
$legend-font-size  : 20px !default;
$legend-font-family: inherit !default;
$legend-font-weight: inherit !default;
$legend-font-style : inherit !default;
$legend-line-height: 1.2 !default;
$legend-margin     : 0 0 25px !default;
$legend-padding    : 0 !default;
$legend-width      : inherit !default;

.legend {
    margin: $legend-margin;
    padding: $legend-padding;
    font-size: $legend-font-size;
    color: $legend-color;
    font-family: $legend-font-family;
    font-weight: $legend-font-weight;
    line-height: $legend-line-height;
    font-style: $legend-font-style;
}
