.links-list {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: $gray-lighter;
    box-shadow: $box-shadow;

    @include mq($screen-l) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        padding: 2px 0 2px 0;
        background-color: transparent;
    }

    &__item {
        display: block;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid $white;

        @include mq($screen-l) {
            border-bottom: 0;
        }
    }

    &__link {
        display: block;
        padding: 12px 15px;
        text-align: center;
        font-size: $font-size-small;

        @include mq($screen-l) {
            padding: 12px 10px;
        }
    }

    &__msg-label {
        display: block;
        padding: 12px 15px;
        text-align: center;
    }
}
