$list-link-padding: 12px 15px !default;

.list {
    &--center {
        justify-content: center;
        text-align: center;
    }
    &--desktop-hotizontal {
        @include mq($screen-m) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        .list__item {
            border-bottom: $list-divider;
            padding: 0;
            &:first-child {
                border-top: $list-divider;
                @include mq($screen-m) {
                    border-top: 0;
                }
            }
            &:last-child {
                border-bottom: none;
            }
            @include mq($screen-m) {
                border-bottom: 0;
            }
        }
        .list__link {
            display: block;
            padding: $list-link-padding;
        }
    }
}
