.logo {
    display: block;
    padding: 10px 20px;

    @include mq($screen-s) {
        display: inline-block;
        width: 50%;
    }

    @include mq($screen-l) {
        width: 260px;
    }

    &__image {
        max-width: 200px;
        margin: 0 auto;

        @include mq($screen-s) {
            margin: 0;
        }
    }
}
