.product {
    &__img {
        margin: 0 auto;
    }

    &__name {
        font-size: 16px;
        min-height: 40px;

        @include mq($screen-m) {
            font-size: 18px;
        }
    }

    &__img-box {
        min-height: 310px;
    }

    &__price {
        text-align: right;
        font-weight: 600;
        padding: 10px 0;
    }

    &__details {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        width: 100%;
        min-height: 260px;
    }

    &__actions-secondary {
        text-align: right;
    }

    &--img-thumb {
        .product__img-box {
            min-height: 0;
        }

        .product__name {
            display: inline-flex;
            align-items: center;
            font-size: 18px;
        }
    }

    &__details-list {
        font-size: $font-size-small;
    }
    &__details-list-item {
        padding: 0;
        margin-bottom: 7px;

        &:nth-child(even) {
            text-align: right;
        }
    }
}
