.products-grid {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    list-style-type: none;

    @include mq($screen-m) {
        padding: 10px 0 10px 20px;
    }

    &--4-in-row {
        .products-grid__item {
            @include mq($screen-l) {
                flex-basis: calc(25% - 20px);
            }
        }
    }

    &__item {
        flex-basis: 100%;
        margin-bottom: 15px;

        @include mq($screen-s) {
            flex-basis: calc(50% - 15px);
            margin-right: 15px;
        }


        @include mq($screen-m) {
            flex-basis: calc(33.33% - 20px);
            margin-bottom: 20px;
            margin-right: 20px;
        }
    }
}
