.wrapper-collapsible {
    display: block;
    overflow: hidden;

    &__container {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        width: auto;
        min-width: 260px;
        background-color: $white;
        z-index: 10;
        overflow: hidden;

        @include mq($screen-l) {
            top: 95px;
        }

        &.open {
            display: block;
        }
    }

    &__mobile {
        display: block;
        position: absolute;
        top: 10px;
        right: 5px;
        padding: 10px;
        cursor: pointer;
        z-index: 10;

        @include mq($screen-l) {
            top: 55px;
        }

        &--settings {
            right: 55px;
            @include mq($screen-l) {
                right: 5px;
            }
        }
    }

    &__mobile-icon {
        display: block;
        width: 30px;
        height: 30px;
        fill: $black;
    }

    &--mobile {
        .wrapper-collapsible__container {
            @include mq($screen-l) {
                display: block;
                position: relative;
                transform: scaleX(1) translateX(0);
                top: auto;
                right: auto;
            }
        }

        .wrapper-collapsible__mobile {
            @include mq($screen-l) {
                display: none;
            }
        }

    }
}
