<!-- ko if: isAvailable() -->
    <li
        class="
            order-summary__list-item
            totals
            balance
        "
    >
        <span class="order-summary__label">
            <button
                id="delete-customer-balance"
                class="
                    button
                    button--link
                    padding-left-0
                    padding-right-s
                "
                name="payment[delete_customer_balance]"
                data-bind="click: sendRequest"
            >
                <!-- ko text: $t('Remove') --><!-- /ko -->
            </button>
            <!-- ko text: title --><!-- /ko -->
        </span>
        <span
            class="order-summary__value price"
            data-bind="text: getValue()"
        ></span>
    </li>
<!-- /ko -->
