$shipping-methods__label-font-size     : $font-size-large !default;
$shipping-methods__label-text-transform: uppercase !default;
$shipping-methods__label-border        : $border-base !default;
$shipping-methods__label-border-width  : 0 0 1px 0 !default;
$shipping-methods__label-padding       : 0 0 $spacer 0 !default;

.shipping-methods {
    &__label {
        font-size: $shipping-methods__label-font-size;
        text-transform: $shipping-methods__label-text-transform;
        border: $shipping-methods__label-border;
        border-width: $shipping-methods__label-border-width;
        padding: $shipping-methods__label-padding;
    }
}
