<li
    id="opc-shipping_method"
    class="checkout-shipping-method"
    role="presentation"
>
    <div class="checkout-shipping-method shipping-methods">
        <div class="step-title shipping-methods__label">
            Shipping Methods
        </div>
        <div class="shipping-policy-block field-tooltip">
            <span
                class="field-tooltip-action"
                tabindex="0"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                role="button"
            >
                <span>See our Shipping Policy</span>
            </span>
            <div
                class="field-tooltip-content"
                data-target="dropdown"
                aria-hidden="true"
            >
                <span></span>
            </div>
        </div>
        <div
            id="checkout-step-shipping_method"
            class="step-content"
            data-role="content"
            role="tabpanel"
            aria-hidden="false"
        >
            <form
                id="co-shipping-method-form"
                class="form methods-shipping"
                novalidate="novalidate"
            >
                <div id="checkout-shipping-method-load">
                    <table class="table-checkout-shipping-method">
                        <thead>
                            <tr class="row">
                                <th class="col col-method">
                                    Select Method
                                </th>
                                <th class="col col-price">
                                    Price
                                </th>
                                <th class="col col-method">
                                    Method Title
                                </th>
                                <th class="col col-carrier">
                                    Carrier Title
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col col-method">
                                    <div class="radio">
                                        <input
                                            type="radio"
                                            class="radio__field"
                                            aria-labelledby="label_method_freeshipping_freeshipping label_carrier_freeshipping_freeshipping"
                                            value="freeshipping_freeshipping"
                                            name="ko_unique_3"
                                            checked="freeshipping_freeshipping"
                                        >
                                        <label class="radio__label"> </label>
                                    </div>
                                </td>
                                <td class="col col-price">
                                    <span class="price">
                                        <span class="price">
                                            $0.00
                                        </span>
                                    </span>
                                </td>
                                <td
                                    class="col col-method"
                                    id="label_method_freeshipping_freeshipping"
                                >
                                    Free
                                </td>
                                <td
                                    class="col col-carrier"
                                    id="label_carrier_freeshipping_freeshipping"
                                >
                                    Free Shipping
                                </td>
                            </tr>
                            <tr>
                                <td class="col col-method">
                                    <div class="radio">
                                        <input
                                            type="radio" class="radio__field"
                                            aria-labelledby="label_method_flatrate_flatrate label_carrier_flatrate_flatrate"
                                            value="flatrate_flatrate" name="ko_unique_4"
                                            checked="freeshipping_freeshipping"
                                        >
                                        <label class="radio__label"></label>
                                    </div>
                                </td>
                                <td class="col col-price">
                                    <span class="price">
                                        <span class="price">$5.00</span>
                                    </span>
                                </td>
                                <td
                                    class="col col-method"
                                    id="label_method_flatrate_flatrate"
                                >
                                    Fixed
                                </td>
                                <td
                                    class="col col-carrier"
                                    id="label_carrier_flatrate_flatrate"
                                >
                                    Flat Rate
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="onepage-checkout-shipping-method-additional-load"
                ></div>
                <div
                    class="actions-toolbar"
                    id="shipping-method-buttons-container"
                >
                    <div class="primary">
                        <button
                            data-role="opc-continue"
                            type="submit"
                            class="button action continue primary"
                        >
                            <span>Next</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</li>
