<div class="checkout-shipping-method shipping-methods">
    <div class="step-title shipping-methods__label">
        Shipping Methods
    </div>

    shipping-methods - to migrate from Magento_Checkout module
</div>
