$mega-menu__margin                           : 0 !default;
$mega-menu__border-bottom                    : 1px solid $gray-light !default;
$mega-menu__font-color                       : $gray-darker !default;
$mega-menu__font-weight                      : $font-weight-bold !default;
$mega-menu__font-size                        : $font-size-base !default;
$mega-menu__font-size--large                 : 16px !default;
$mega-menu__background-color                 : $white !default;

$mega-menu__list-padding                     : 0 !default;
$mega-menu__list-justify-content             : flex-start !default;
$mega-menu__list-background-color            : $white !default;

$mega-menu__inner-list-padding               : 0 !default;
$mega-menu__inner-list-background-color      : $white !default;
$mega-menu__inner-list-box-shadow--level1    : 0 4px 6px 0 rgba(51, 51, 51, 0.3) !default;
$mega-menu__inner-list-border--level1        : 1px solid $gray-light !default;

$mega-menu__inner-item-padding--parent       : $spacer--large 0 $spacer--large ($spacer--large * 2) !default;
$mega-menu__inner-item-padding--parent-child : 0 !default;
$mega-menu__inner-item-maargin--parent-child : 0 0 $spacer--medium !default;

$mega-menu__inner-item-padding--image        : 0 0 0 112px !default;

$mega-menu__link-padding                     : 12px $spacer--medium !default;
$mega-menu__link-margin                      : 0 $spacer--medium !default;
$mega-menu__link-color                       : $gray-darker !default;
$mega-menu__link-color--active               : $color-primary !default;
$mega-menu__link-text-decoration             : none !default;

$mega-menu__inner-link-margin                : 0 !default;
$mega-menu__inner-link-padding               : 0 !default;
$mega-menu__inner-link-font-weight           : $font-weight-normal !default;
$mega-menu__inner-link-text-decoration       : none !default;
$mega-menu__inner-link-color                 : $gray-darker !default;
$mega-menu__inner-link-color--active         : $color-primary !default;
$mega-menu__inner-link-color--image-focus    : $font-color-base !default;
