<div
    id="delivery-method-selector"
    class="
        step-content
        tab
        tab--secondary
        store-pickup__selector
    "
>
    <button
        class="
            action-select-shipping
            tab__title
        "
        css="'selected': !isStorePickupSelected()"
        click="selectShipping"
        translate="'Shipping'"
    ></button>
    <button
        class="
            action-select-store-pickup
            tab__title
        "
        css="'selected': isStorePickupSelected()"
        click="selectStorePickup"
        translate="'Pick in Store'"
    ></button>
</div>
