@import 'marketing-bar-variables';

.marketing-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $marketing-bar__padding;
    background-color: $marketing-bar__background-color;
    overflow: hidden;

    @include mq($screen-m) {
        text-align: center;
    }

    &--closed {
        display: none;
    }

    &__container {
        position: relative;
        width: 100%;
        margin: 0;
    }

    &__text {
        padding: $marketing-bar__text-padding;
        font-size: $marketing-bar__text-font-size;
        font-weight: $marketing-bar__text-font-weight;
        line-height: $marketing-bar__text-line-height;
        color: $marketing-bar__text-font-color;
        text-transform: $marketing-bar__text-transform;

        @include mq($screen-m) {
            padding: $marketing-bar__text-padding\@medium;
            font-size: $marketing-bar__text-font-size\@medium;
            line-height: $marketing-bar__text-line-height\@medium;
        }
    }

    &__close {
        position: absolute;
        top: $marketing-bar__button-top;
        bottom: $marketing-bar__button-bottom;
        right: $marketing-bar__button-right;
        min-height: 0;
        height: $marketing-bar__button-size;
        min-width: $marketing-bar__button-size;
        margin: $marketing-bar__button-margin;
        padding: $marketing-bar__button-padding;
        border: none;
        background-color: $marketing-bar__button-background-color;
        transition: $marketing-bar__button-transition;

        &:focus,
        &:hover {
            background-color: transparent;

            .marketing-bar__close-icon {
                fill: $marketing-bar__button-icon-color-hover;
            }
        }

        &-icon {
            width: $marketing-bar__button-icon-size;
            height: $marketing-bar__button-icon-size;
            padding: $marketing-bar__button-icon-padding;
            fill: $marketing-bar__button-icon-color;
        }
    }
}
