@import 'minicart-content-variables';

.minicart-content {
    height: $minicart-content__height;
    font-size: $minicart-content__font-size;
    overflow-y: auto;
    padding: $minicart-content__padding;

    &__counter {
        margin: $minicart-content__counter-margin;
    }

    &__summary {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        margin: $spacer--semi-large 0;
        font-size: $font-size-medium;
    }

    &__summary-label {
        color: $minicart-content__summary-label-color;
        font-weight: $minicart-content__summary-label-font-weight;
        text-transform: $minicart-content__summary-label-text-transform;
    }

    &__summary-value {
        color: $minicart-content__summary-value-color;
        font-weight: $minicart-content__summary-value-font-weight;
    }

    &__actions {
        padding: $minicart-content__actions-padding;

        @include mq($screen-m) {
            display: flex;
            flex-flow: $minicart-content__action-flex-flow\@medium;
            justify-content: $minicart-content__action-justify\@medium;
        }
    }

    &__action-button {
        width: $minicart-content__action-button-width;
        
        @include mq($screen-m) {
            width: $minicart-content__action-button-width\@medium;
        }
    }

    &__edit {
        display: block;
        padding: $minicart-content__edit-padding;
        margin: $minicart-content__edit-margin;
        font-weight: $minicart-content__edit-font-weight;
        text-align: center;
        text-decoration: $minicart-content__edit-text-decoration;

        @include mq($screen-m) {
            margin: $minicart-content__edit-margin\@medium;
        }

        &:hover {
            text-decoration: $minicart-content__edit-text-decoration;
        }
    }

    &__products-list {
        margin: $minicart-content__products-list-margin;
        padding: $minicart-content__products-list-padding;
        border-top: $minicart-content__border;
        border-bottom: $minicart-content__border;
    }
}
