@import 'minicart-content-variables';

.minicart-content {
    height: $minicart-content__height;
    font-size: $minicart-content__font-size;
    padding: $minicart-content__padding;
    display: flex;
    flex-direction: column;
    max-height: 100%;

    &__top {
        padding: $minicart-content__top-padding;
        margin: $minicart-content__top-margin;
        border: $minicart-content__top-border;
        border-width: $minicart-content__top-border-width;
    }

    &__middle {
        padding: $minicart-content__middle-padding;
        margin: $minicart-content__middle-margin;
        border: $minicart-content__middle-border;
        border-width: $minicart-content__middle-border-width;
        overflow-y: auto;
    }

    &__bottom {
        padding: $minicart-content__bottom-padding;
        margin: $minicart-content__bottom-margin;
        border: $minicart-content__bottom-border;
        border-width: $minicart-content__bottom-border-width;
    }

    &__heading {
        font-size: $minicart-content__heading-font-size;
        font-weight: $minicart-content__heading-font-weight;
        margin: $minicart-content__heading-margin;

        @include font-padding(
            $minicart-content__heading-font-size,
            $minicart-content__heading-height,
            $minicart-content__heading-padding-right,
            $minicart-content__heading-padding-left
        );

        @include mq($screen-m) {
            font-size: $minicart-content__heading-font-size\@medium;

            @include font-padding(
                $minicart-content__heading-font-size\@medium,
                $minicart-content__heading-height,
                $minicart-content__heading-padding-right,
                $minicart-content__heading-padding-left
            );
        }
    }

    &__counter {
        font-size: $minicart-content__counter-font-size;
        font-weight: $minicart-content__counter-font-weight;
        margin: $minicart-content__counter-margin;

        @include font-padding(
            $minicart-content__counter-font-size,
            $minicart-content__counter-height,
            $minicart-content__counter-padding-right,
            $minicart-content__counter-padding-left
        );
    }

    &__summary {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        margin: $minicart-content__summary-margin;
        font-size: $minicart-content__summary-font-size;
    }

    &__summary-label {
        color: $minicart-content__summary-label-color;
        font-weight: $minicart-content__summary-label-font-weight;
        text-transform: $minicart-content__summary-label-text-transform;
    }

    &__summary-value {
        color: $minicart-content__summary-value-color;
        font-weight: $minicart-content__summary-value-font-weight;
    }

    &__actions {
        padding: $minicart-content__actions-padding;

        @include mq($screen-m) {
            display: flex;
            flex-flow: $minicart-content__action-flex-flow\@medium;
            justify-content: $minicart-content__action-justify\@medium;
        }
    }

    &__action-button {
        width: $minicart-content__action-button-width;

        @include mq($screen-m) {
            width: $minicart-content__action-button-width\@medium;
        }
    }

    &__edit {
        display: block;
        padding: $minicart-content__edit-padding;
        margin: $minicart-content__edit-margin;
        font-weight: $minicart-content__edit-font-weight;
        text-align: center;
        text-decoration: $minicart-content__edit-text-decoration;

        @include mq($screen-m) {
            margin: $minicart-content__edit-margin\@medium;
        }

        &:hover {
            text-decoration: $minicart-content__edit-text-decoration;
        }
    }

    &__products-list {
        margin: $minicart-content__products-list-margin;
        padding: $minicart-content__products-list-padding;
    }
}
