$minicart-content__height                      : 100vh !default;
$minicart-content__font-size                   : $font-size-base !default;
$minicart-content__border                      : $border-base !default;
$minicart-content__padding                     : $spacer--large $spacer--medium !default;

$minicart-content__counter-margin              : 0 0 $spacer--semi-large !default;

$minicart-content__summary-color               : $color-primary !default;
$minicart-content__summary-label-text-transform: uppercase !default;
$minicart-content__summary-label-color         : $color-primary !default;
$minicart-content__summary-label-font-weight   : $font-weight-base !default;
$minicart-content__summary-value-color         : $color-primary !default;
$minicart-content__summary-value-font-weight   : $font-weight-bold !default;

$minicart-content__actions-padding             : 0 !default;
$minicart-content__action-flex-flow\@medium    : row nowrap !default;
$minicart-content__action-justify\@medium      : space-between !default;
$minicart-content__action-button-width         : 100% !default;
$minicart-content__action-button-width\@medium : calc(50% - #{$spacer}) !default;

$minicart-content__edit-padding                : $spacer--medium !default;
$minicart-content__edit-margin                 : 0 0 $spacer--medium !default;
$minicart-content__edit-margin\@medium         : 0 !default;
$minicart-content__edit-font-weight            : $font-weight-bold !default;
$minicart-content__edit-text-decoration        : none !default;

$minicart-content__products-list-padding       : 0 $spacer--medium !default;
$minicart-content__products-list-margin        : $spacer 0 0 0 !default;
