@import 'login-form-variables';

.login-form {
    padding-top: $login-form__padding-top;

    &__company-wrapper {
        margin: $login-form__company-column-margin;
        padding: $login-form__company-column-padding;
        border-top: $login-form__company-column-border-top;

        @include mq($screen-m) {
            border-top: none;
        }
    }

    &__info {
        max-width: $login-form__info-width;
        margin: $login-form__info-margin;
        padding: $login-form__info-padding;
        font-size: $login-form__info-font-size;
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: $login-form__form-margin;
        border-bottom: $login-form__form-border;

        @include mq($screen-m) {
            border-bottom: $login-form__form-border\@medium;
        }
    }

    &__fieldset {
        width: $login-form__fieldset-width;

        @include mq($screen-m) {
            max-width: $login-form__fieldset-max-width\@medium;
        }
    }

    &__actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: $login-form__actions-margin;
    }

    &__button {
        width: 100%;
        justify-content: center;
        min-width: $login-form__button-min-width;

        &--create-accunt {
            margin: $login-form__button-margin--crate-account;
        }
    }

    &__forgot-password {
        margin: $login-form__forgot-password-margin;
        color: $login-form__forgot-password-color;
        font-weight: $login-form__forgot-password-font-weight;
        text-decoration: $login-form__forgot-password-text-decoration;
        line-height: $login-form__forgot-password-line-height;

        &:focus,
        &:hover {
            color: $login-form__forgot-password-color;
            text-decoration: underline;
        }

        @include mq($screen-s) {
            margin: $login-form__forgot-password-margin;
        }
    }

    &__input {
        margin: $login-form__input-margin;
    }

    &__validation-tips {
        margin: $login-form__validation-tips-margin;
        font-size: $login-form__validation-tips-font-size;
    }
}
