$login-form__padding-top                    : $spacer !default;
$login-form__actions-margin                 : $spacer--medium 0 !default;

$login-form__company-column-padding         : $spacer--medium $spacer 0 $spacer !default;
$login-form__company-column-margin          : $spacer--large 0 0 0 !default;
$login-form__company-column-border-top      : $border-base !default;

$login-form__button-margin--crate-account   : 0 !default;
$login-form__button-min-width               : 208px !default;

$login-form__form-margin                    : 0 !default;
$login-form__form-border                    : $border-base !default;
$login-form__form-border\@medium            : none !default;

$login-form__fieldset-max-width\@medium     : 432px !default;
$login-form__fieldset-width                 : 100% !default;

$login-form__forgot-password-margin         : $spacer--medium 0 0 0 !default;
$login-form__forgot-password-color          : $gray-darker !default;
$login-form__forgot-password-font-weight    : $font-weight-bold !default;
$login-form__forgot-password-text-decoration: none !default;
$login-form__forgot-password-line-height    : 48px !default;

$login-form__input-margin                   : 0 0 $spacer--large !default;

$login-form__info-width                     : 656px !default;
$login-form__info-margin                    : $spacer--extra-large auto $spacer--large !default;
$login-form__info-padding                   : 0 0 $spacer--extra-large !default;
$login-form__info-font-size                 : $font-size-medium !default;

$login-form__validation-tips-margin         : $spacer--extra-large 0 !default;
$login-form__validation-tips-font-size      : $font-size-medium !default;
