.filter {
    &--category {
        margin: $spacer--medium 0;
    }

    &--checkbox {
        .filter__content {
            max-height: 185px;
            overflow-y: auto;
        }
    }

    &__heading {
        margin: 0;
        font-family: $font-family-sans-serif;
        font-size: $font-size-large;
        text-transform: none;

        @include mq($screen-l) {
            font-size: $font-size-medium;
        }
    }

    &__label-wrapper {
        display: flex;
    }

    &__content {
        margin: $spacer;
    }

    // temporary mobile hidden - context issue with header
    .tooltip {
        display: none;

        @include mq($screen-l) {
            display: flex;
        }
    }

    .tooltip__trigger-button {
        .icon {
            fill: $gray-dark;
        }
    }
}
