@import 'bundle-option-variables';

.bundle-option {
    &__title {
        margin: $bundle-option__title-margin;
        font-family: $bundle-option__title-font-family;
        text-transform: $bundle-option__title-text-transform;
        font-size: $bundle-option__title-font-size;
        color: $bundle-option__title-color;
        font-weight: $bundle-option__title-font-weight;

        &--required {
            &:after {
                content: '*';
                color: $bundle-option__title-color--required;
                font-weight: $bundle-option__title-font-weight--required;
            }
        }
    }

    &__radio {
        margin-bottom: $bundle-option__radio-margin-bottom;
    }

    &__select {
        max-width: $bundle-option__select-max-width;
        margin-bottom: $bundle-option__select-margin-bottom;
    }

    &__qty {
        display: flex;
        align-items: center;
        margin-bottom: $bundle-option__qty-margin-bottom;
    }

    &__label {
        margin: $bundle-option__label-margin;
    }

    &__qty-input {
        max-width: $bundle-option__qty-input-max-width;
        margin-left: $bundle-option__qty-input-margin-left;
        text-align: center;

        &:disabled {
            color: $bundle-option__qty-input-color--disabled;

            &:hover,
            &:focus {
                cursor: $bundle-option__qty-input-cursor--disabled;
            }
        }
    }
}
