<button
    if="isAllowed()"
    attr="
        'data-post': getDataPost($row()),
        title: getLabel()
    "
    class="
        action
        button
        button--icon
        add-to-wishlist
        towishlist
    "
    data-action="add-to-wishlist"
>
    <svg
        class="icon button__icon"
        role="presentation"
        focusable="false"
    >
        <use data-bind="attr: { 'xlink:href': require.toUrl('images/icons-sprite.svg#heart') }" xlink:href=''></use>
    </svg>
</button>
