<section class="product-review">
    <div class="product-review__action">
        {{ render '@review--summary' summary merge=true }}
        {{ render '@button--secondary-light' reviewBtn }}
    </div>

    {{ render '@review--add' }}

    <div class="product-review__reviews">
        <ul class="list">
            {{#each reviews }}
                <li class="list__item">
                    {{ render '@review--default' this merge=true }}
                </li>
            {{/each}}
        </ul>
    </div>
</section>
