@import 'dropdown-list-variables';

.dropdown-list {
    position: relative;
    width: $dropdown-list__width;
    background-color: $dropdown-list__bg-color;

    &--secondary {
        background-color: $dropdown-list__bg-color--secondary;

        .dropdown-list__label {
            font-size: $dropdown-list__label-font-size--secondary;
            text-transform: $dropdown-list__label-text-transform--secondary;

            @include font-padding(
                $dropdown-list__label-font-size--secondary,
                $dropdown-list__label-height--secondary,
                $dropdown-list__label-padding-right--secondary,
                $dropdown-list__label-padding-left--secondary
            );
        }

        .dropdown-list__icon {
            width: $dropdown-list__icon-width--secondary;
            height: $dropdown-list__icon-height--secondary;
            right: $dropdown-list__icon-right--secondary;
        }
    }

    &--with-nested {
        .dropdown-list__label {
            font-size: $dropdown-list__label-font-size--with-nested;
            color: $dropdown-list__label-color--with-nested;
            font-weight: $dropdown-list__label-font-weight--with-nested;

            @include font-padding(
                $dropdown-list__label-font-size--with-nested,
                $dropdown-list__label-height--with-nested,
                $dropdown-list__label-padding-right--with-nested,
                $dropdown-list__label-padding-left--with-nested
            );
        }

        .dropdown-list__icon {
            fill: $dropdown-list__icon-fill--with-nested;
            width: $dropdown-list__icon-width--with-nested;
            height: $dropdown-list__icon-height--with-nested;
            right: $dropdown-list__icon-right--with-nested;
        }
    }

    &--inner {
        padding: $dropdown-list__padding--inner;

        .dropdown-list__label {
            font-size: $dropdown-list__label-font-size--inner;
            font-weight: $dropdown-list__label-font-weight--inner;
            color: $dropdown-list__label-color--inner;
            text-transform: $dropdown-list__label-text-transform--inner;

            @include font-padding(
                $dropdown-list__label-font-size--inner,
                $dropdown-list__label-height--inner,
                $dropdown-list__label-padding-right--inner,
                $dropdown-list__label-padding-left--inner
            );
        }

        .dropdown-list__item {
            border-bottom: $dropdown-list__label-border-bottom--inner;
        }
    }

    &--with-breakpoint {
        @include mq($dropdown-list__screen--breakpoint) {
            // from $dropdown-list__screen--breakpoint dropdown list displays inline and with opened list
            .dropdown-list__list {
                display: flex;
                flex-flow: row nowrap;
            }

            .dropdown-list__item {
                width: 25%;
                cursor: default;
            }

            .dropdown-list__label {
                cursor: default;

                &:hover,
                &.focus-visible {
                    color: $dropdown-list__item-color;
                    background-color: $dropdown-list__item-bg-color--breakpoint;
                }
            }

            .dropdown-list__icon {
                display: none;
            }

            .dropdown-list__content {
                margin: $dropdown-list__content-margin--breakpoint;
                height: auto;
            }
        }
    }

    &--detailed-content {
        .dropdown-list {
            &__list {
                display: inline-block;
                width: $dropdown-list__width--detailed-content;
            }

            &__label {
                font-size: $dropdown-list__label-font-size--detailed-content;
                font-weight: $dropdown-list__label-font-weight--detailed-content;
                text-transform: $dropdown-list__label-text-transform--detailed-content;
                text-decoration: $dropdown-list__label-text-decoration--detailed-content;
                color: $dropdown-list__label-color--detailed-content;
                width: $dropdown-list__label-width--detailed-content;

                @include font-padding(
                    $dropdown-list__label-font-size--detailed-content,
                    $dropdown-list__label-height--detailed-content,
                    $dropdown-list__label-padding-right--detailed-content,
                    $dropdown-list__label-padding-left--detailed-content
                );
            }

            &__item {
                border-bottom: $dropdown-list__item-border-bottom--detailed-content;
            }

            &__icon {
                right: $dropdown-list__icon-right--detailed-content;
            }
        }
    }

    &--buttons {
        position: relative;

        .dropdown-list {
            &__item {
                border: 0;
            }

            &__label {
                display: flex;
                height: $dropdown-list__label-height--buttons;
                padding: $dropdown-list__label-padding--buttons;
                background-color: $dropdown-list__label-background-color--buttons;

                &:hover {
                    .icon {
                        fill: $dropdown-list__icon-fill-hover--buttons;
                    }
                }

                &[aria-expanded="true"] {
                    background-color: $dropdown-list__label-background-color-active--buttons;

                    .button__text {
                        color: $dropdown-list__label-text-color-active--buttons;
                    }

                    .icon {
                        fill: $dropdown-list__icon-fill-hover--buttons;
                    }
                }
            }
            &__icon {
                position: static;
                fill: $dropdown-list__icon-fill--buttons;
            }

            &__text {
                font-size: $dropdown-list__text-font-size--buttons;
                color: $dropdown-list__text-color--buttons;

                &:hover,
                &:focus {
                    color: $dropdown-list__text-color-hover--buttons;
                }
            }
            &__content {
                position: absolute;
                top: $dropdown-list__content-top--buttons;
                left: $dropdown-list__content-left--buttons;
                width: $dropdown-list__content-width--buttons;
                padding: $dropdown-list__content-padding--buttons;
                background-color: $dropdown-list__content-background-color--buttons;
                border: $dropdown-list__content-border--buttons;
                z-index: 10;

                &--right {
                    left: auto;
                    right: 0;
                }

                .button {
                    width: 100%;
                }
            }
        }

        .list {
            &__item {
                span {
                    display: block;
                    padding: $dropdown-list__item-padding--buttons;
                    font-size: $dropdown-list__item-font-size--buttons;
                    line-height: $dropdown-list__item-font-line-height--buttons;
                    cursor: pointer;

                    &:hover {
                        background-color: $dropdown-list__item-background-active--buttons;
                    }
                }
            }
        }
    }

    &__list {
        display: block;
        width: $dropdown-list__list-width;
        list-style-type: $dropdown-list__list-style-type;
        padding: $dropdown-list__list-padding;
        margin: $dropdown-list__list-margin;
    }

    &__icon {
        position: absolute;
        right: $dropdown-list__icon-right;
        top: 0;
        bottom: 0;
        width: $dropdown-list__icon-width;
        height: $dropdown-list__icon-height;
        margin: $dropdown-list__icon-margin;
        fill: $dropdown-list__icon-fill;
        transition: $dropdown-list__transition;
    }

    &__item {
        position: relative;
        display: block;
        width: $dropdown-list__item-width;
        border-bottom: $dropdown-list__item-border-bottom;
        font-size: $dropdown-list__item-font-size;
    }

    &__label {
        display: block;
        position: relative;
        width: $dropdown-list__label-width;
        background-color: $dropdown-list__label-bg-color;
        margin: $dropdown-list__label-margin;
        border: $dropdown-list__label-border;
        border-radius: $dropdown-list__label-border-radius;
        text-transform: $dropdown-list__label-text-transform;
        text-decoration: $dropdown-list__label-text-decoration;
        text-align: $dropdown-list__label-text-align;
        cursor: $dropdown-list__label-cursor;
        transition: $dropdown-list__transition;
        color: $dropdown-list__label-color;
        font-weight: $dropdown-list__label-font-weight;
        font-size: $dropdown-list__label-font-size;
        font-family: $dropdwon-list__label-font-famility;
        line-height: $dropdwon-list__label-line-height;

        @include font-padding(
            $dropdown-list__label-font-size,
            $dropdown-list__label-height,
            $dropdown-list__label-padding-right,
            $dropdown-list__label-padding-left
        );

        &:hover,
        &.focus-visible {
            color: $dropdown-list__label-color-hover;
            background-color: $dropdown-list__label-bg-color-hover;
            text-decoration: $dropdown-list__label-text-decoration-hover;

            & > .dropdown-list__icon {
                fill: $dropdown-list__icon-fill-hover;
            }
        }

        &[aria-expanded="true"] {
            color: $dropdown-list__label-color--open;
            background-color: $dropdown-list__label-bg-color--open;

            & > .dropdown-list__icon {
                fill: $dropdown-list__icon-fill--open;
                transform: $dropdown-list__icon-rotate--open;
            }

            &.button--icon-filled {
                &:after {
                    background: $dropdown-list__label-bg-color--open;
                }
            }
        }
    }

    &__content {
        overflow: hidden;
        transition: $dropdown-list__content-transition;

        &[aria-hidden="true"] {
            display: none;
        }
    }
}
