$wishlist__grid-padding               : $spacer--medium 0 $spacer--large 0 !default;

$wishlist__item-margin                : 0 0 $spacer--semi-medium !default;
$wishlist__item-padding               : 0 $spacer--medium !default;
$wishlist__item-stock-info-width      : 100% !default;
$wishlist__item-stock-info-order      : 3 !default;

$wishlist__price-padding              : 0 $spacer $spacer !default;
$wishlist__price-margin               : 0 !default;
$wishlist__price-font-weight          : $font-weight-bold !default;

$wishlist__name-padding               : $spacer $spacer $spacer--medium !default;
$wishlist__name-margin                : 0 !default;
$wishlist__name-min-height            : 80px !default;
$wishlist__name-min-height\@medium    : 60px !default;
$wishlist__name-min-height\@large     : 80px !default;
$wishlist__name-min-height\@xl        : 60px !default;
$wishlist__name-link-color            : $gray-darkest !default;
$wishlist__name-link-font-size        : $font-size-small !default;
$wishlist__name-link-line-height      : 1.5 !default;

$wishlist__options-margin             : 0 $spacer !default;

$wishlist__item-inner-border          : $border-base !default;
$wishlist__item-inner-border-width    : 0 0 $border-width-base 0 !default;
$wishlist__inner-padding              : 0 !default;
$wishlist__inner-padding\@medium      : 0 !default;

$wishlist__label-margin               : 0 !default;
$wishlist__label-margin\@small        : 0 0 $spacer !default;
$wishlist__label-paddng               : 0 $spacer 0 0 !default;

$wishlist__field-qty-margin           : 0 !default;
$wishlist__field-qty-text-align       : center !default;
$wishlist__field-qty-max-width        : 100% !default;
$wishlist__field-qty-max-width\@small : 80px !default;
$wishlist__field-qty-max-width\@xl    : 166px !default;

$wishlist__item-actions-margin        : 0 0 $spacer !default;
$wishlist__item-actions-margin\@small : 0 0 $spacer--medium !default;
$wishlist__item-actions-order         : 2 !default;
$wishlist__item-actions-order--to-cart: 3 !default;

$wishlist__to-cart-flex-basis         : 100% !default;
$wishlist__to-cart-margin             : 0 !default;

$wishlist__button-width               : 100% !default;

$wishlist__actions-padding            : $spacer--semi-medium 0 0 !default;
$wishlist__actions-border             : $border-base !default;
$wishlist__actions-border-width       : $border-width-base 0 0 !default;
