@import 'wishlist-variables';

.wishlist {
    &__grid {
        justify-content: flex-start;
        padding: $wishlist__grid-padding;
    }

    &__item {
        margin: $wishlist__item-margin;

        @include mq($screen-s) {
            padding: $wishlist__item-padding;
        }

        .price-box {
            padding: $wishlist__price-padding;
            font-weight: $wishlist__price-font-weight;
        }

        .price-as-configured {
            margin: $wishlist__price-margin;
            font-weight: $wishlist__price-font-weight;
        }
    }

    &__item-name {
        display: block;
        padding: $wishlist__name-padding;
        margin: $wishlist__name-margin;
        min-height: $wishlist__name-min-height;

        @include mq($screen-m) {
            min-height: $wishlist__name-min-height\@medium;
        }

        @include mq($screen-l) {
            min-height: $wishlist__name-min-height\@large;
        }

        @include mq($screen-xl) {
            min-height: $wishlist__name-min-height\@xl;
        }
    }

    &__item-name-link {
        display: block;
        color: $wishlist__name-link-color;
        font-size: $wishlist__name-link-font-size;
        line-height: $wishlist__name-link-line-height;
    }

    &__item-inner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: $wishlist__inner-padding;
        border: $wishlist__item-inner-border;
        border-width: $wishlist__item-inner-border-width;

        @include mq($screen-s) {
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
        }

        @include mq($screen-m) {
            padding: $wishlist__inner-padding\@medium;
        }
    }

    &__item-actions {
        display: flex;
        justify-content: space-evenly;
        order: $wishlist__item-actions-order;
        margin: $wishlist__item-actions-margin;

        &--to-cart {
            order: $wishlist__item-actions-order--to-cart;
            flex-basis: $wishlist__to-cart-flex-basis;
            margin: $wishlist__to-cart-margin;
        }

        @include mq($screen-s) {
            margin: $wishlist__item-actions-margin\@small;
        }
    }

    &__item-stock-info {
        width: $wishlist__item-stock-info-width;
        order: $wishlist__item-stock-info-order;
    }

    &__options {
        margin: $wishlist__options-margin;
    }

    &__link {
        display: block;
    }

    &__label {
        margin: $wishlist__label-margin;
        padding: $wishlist__label-paddng;

        @include mq($screen-s) {
            margin: $wishlist__label-margin\@small;
        }
    }

    &__qty {
        display: flex;
        align-items: center;

        @include mq($screen-m) {
            flex-direction: column;
            align-items: flex-start;
            max-width: $wishlist__field-qty-max-width\@small;
        }

        @include mq($screen-xl) {
            max-width: $wishlist__field-qty-max-width\@xl;
        }

        .quantity-update__button {
            width: 48px;
            height: 48px;
            display: none;

            @include mq($max-content-width) {
                display: flex;
            }
        }

        .quantity-update__input {
            height: 48px;
            border-width: 1px;
            @include mq($max-content-width) {
                border-width: 1px 0;
            }
        }
    }

    &__field-qty {
        margin: $wishlist__field-qty-margin;
        text-align: $wishlist__field-qty-text-align;
        min-width: 0;
    }

    &__button {
        width: $wishlist__button-width;
    }

    &__actions {
        padding: $wishlist__actions-padding;
        border: $wishlist__actions-border;
        border-width: $wishlist__actions-border-width;
    }

    // Disable spin buttons in number input type
    input[type="number"]::-webkit-outer-spin-button, // sass-lint:disable-line no-vendor-prefixes
    input[type="number"]::-webkit-inner-spin-button { // sass-lint:disable-line no-vendor-prefixes
        -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
        margin: 0;
    }

    input[type="number"] { // sass-lint:disable-line no-vendor-prefixes
        -moz-appearance: textfield; // sass-lint:disable-line no-vendor-prefixes
    }
}
