$wishlist__item-margin           : 0 0 $spacer--medium !default;
$wishlist__item-padding          : 0 $spacer--medium !default;

$wishlist__price-padding         : 0 $spacer $spacer !default;
$wishlist__price-margin          : 0 !default;
$wishlist__price-font-weight     : $font-weight-bold !default;

$wishlist__name-padding          : $spacer $spacer $spacer--medium !default;
$wishlist__name-margin           : 0 !default;
$wishlist__name-link-color       : $gray-darkest !default;
$wishlist__name-link-font-size   : $font-size-small !default;
$wishlist__name-link-line-height : 1.5 !default;

$wishlist__options-margin        : 0 $spacer !default;

$wishlist__inner-padding         : $spacer 0 !default;
$wishlist__inner-padding\@medium : $spacer--medium 0 !default;

$wishlist__label-margin          : 0 $spacer 0 0 !default;

$wishlist__qty-min-width         : 120px !default;
$wishlist__qty-max-width         : 200px !default;

$wishlist__field-qty-margin      : 0 $spacer 0 0 !default;
$wishlist__field-qty-text-align  : right !default;

$wishlist__actions-margin        : 0 0 $spacer !default;
$wishlist__actions-order         : 2 !default;
$wishlist__actions-order--to-cart: 3 !default;

$wishlist__to-cart-flex-basis    : 100% !default;
$wishlist__to-cart-margin        : $spacer 0 !default;

$wishlist__button-width          : 100% !default;
