<!-- ko if: isDisplayed() -->
    <div class="row row--no-margins between-xs totals cart-totals__row">
        <div class="mark cart-totals__row-label" scope="row">
            <span class="title" data-bind="text: getTitle()"></span>
            <span
                class="discount coupon"
                data-bind="text: getCouponCode()"
            ></span>
        </div>
        <div class="amount cart-totals__row-value">
            <span
                class="price"
                data-bind="text: getValue(), attr: {'data-th': name}"
            ></span>
        </div>
    </div>
<!-- /ko -->
