<div class="minicart-content__total">
    <ifnot args="getCartParam('summary_count')">
        <div
            class="subtitle empty"
            translate="'You have no items in your shopping cart.'"
        ></div>
    </ifnot>

    <if args="getCartParam('summary_count')">
        <div class="minicart-content__total-counter">
            <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
            <!-- ko if: getCartParam('summary_count') === 1 -->
                <!-- ko i18n: 'item' --><!-- /ko -->
            <!-- /ko -->
            <!-- ko if: getCartParam('summary_count') > 1 -->
                <!-- ko i18n: 'items' --><!-- /ko -->
            <!-- /ko -->
        </div>
        <each args="getRegion('subtotalContainer')" render=""></each>
    </if>
</div>
<if args="getCartParam('summary_count')">
    <each args="getRegion('extraInfo')" render=""></each>

    <div class="minicart-content__actions" if="getCartParam('possible_onepage_checkout')">
        <button
            id="top-cart-btn-checkout"
            class="
                button
                button--secondary
                button--fluid
                minicart-content__checkout
            "
            type="button"
            data-bind="
                attr: {
                    title: $t('Go to Checkout')
                },
                click: closeMinicart()
            "
            translate="'Go to Checkout'"
        ></button>
        <div data-bind="html: getCartParamUnsanitizedHtml('extra_actions')"></div>
    </div>

    <div
        id="mini-cart"
        class="minicart-content__products-list"
        data-bind="foreach: { data: getCartItems(), as: 'item' }"
    >
        <each
            args="$parent.getRegion($parent.getItemRenderer(item.product_type))"
            render="{
                name: getTemplate(),
                data: item,
                afterRender: function() {
                    $parents[1].initSidebar()
                }
            }"
        ></each>
    </div>

    <div class="minicart-content__actions">
        <a
            data-bind="attr: {
                href: shoppingCartUrl
            }"
            class="
                link
                link--invert
                minicart-content__edit
            "
            data-testid="view-cart-link"
            translate="'View and edit cart'"
        ></a>        
    </div>
</if>
