<div class="minicart-content__total">
    <!-- ko ifnot: getCartParam('summary_count') -->
        <div class="subtitle empty" data-bind="visible: closeSidebar()">
            <!-- ko i18n: 'You have no items in your shopping cart.' --><!-- /ko -->
        </div>
    <!-- /ko -->
    <!-- ko if: getCartParam('summary_count') -->
        <div class="minicart-content__total-counter">
            <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
            <!-- ko if: getCartParam('summary_count') == 1 -->
                <!-- ko i18n: 'item' --><!-- /ko -->
            <!-- /ko -->
            <!-- ko if: getCartParam('summary_count') > 1 -->
                <!-- ko i18n: 'items' --><!-- /ko -->
            <!-- /ko -->
        </div>

        <!-- ko if: getCartParam('possible_onepage_checkout') -->
            <!-- ko foreach: getRegion('subtotalContainer') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->
</div>
<!-- ko if: getCartParam('summary_count') -->
    <!-- ko foreach: getRegion('extraInfo') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->

    <!-- ko if: getCartParam('possible_onepage_checkout') -->
        <div class="minicart-content__actions">
            <button
                id="top-cart-btn-checkout"
                class="
                    button
                    button--secondary
                    button--fluid
                    minicart-content__checkout
                "
                type="button"
                data-bind="attr: {title: $t('Go to Checkout')}"
            >
                <!-- ko i18n: 'Go to Checkout' --><!-- /ko -->
            </button>
        </div>
    <!-- /ko -->
<!-- /ko -->

<!-- ko if: getCartParam('summary_count') -->
<div
    id="mini-cart"
    class="minicart-content__products-list"
    data-bind="foreach: { data: getCartParam('items'), as: 'item' }"
>
    <!-- ko foreach: $parent.getRegion($parent.getItemRenderer(item.product_type)) -->
        <!-- ko template: {name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}} --><!-- /ko -->
    <!-- /ko -->
</div>
<!-- /ko -->

<!-- ko if: getCartParam('summary_count') -->
    <div class="minicart-content__actions">
        <a
            data-bind="attr: {href: shoppingCartUrl}"
            class="link link--invert minicart-content__edit"
            data-testid="view-cart-link"
        >
            <!-- ko i18n: 'View and edit cart' --><!-- /ko -->
        </a>
    </div>
<!-- /ko -->
