$dashboard-block-info__margin-bottom             : $spacer--medium !default;

$dashboard-block-info__title-font-size           : $font-size-medium !default;
$dashboard-block-info__title-font-weight         : $font-weight-bold !default;
$dashboard-block-info__title-text-transform      : uppercase !default;

$dashboard-block-info__content-text-font-size    : $font-size-base !default;
$dashboard-block-info__content-text-margin-bottom: 0 !default;

$dashboard-block-info__actions-margin            : 0 $spacer--medium !default;
$dashboard-block-info__actions-group-margin      : 0 !default;

$dashboard-block-info__link-text-decoration      : underline !default;
$dashboard-block-info__link-text-transform       : none !default;


.block-info {
    display: flex;
    flex-direction: column;
    margin-bottom: $dashboard-block-info__margin-bottom;

    &__title {
        display: flex;
        flex-direction: row;
        font-size: $dashboard-block-info__title-font-size;
        text-transform: $dashboard-block-info__title-text-transform;
    }

    &__actions {
        width: auto;
        margin: $dashboard-block-info__actions-margin;

        .actions-group__handler {
            margin-bottom: $dashboard-block-info__actions-group-margin;
        }

        .link {
            text-decoration: $dashboard-block-info__link-text-decoration;
            text-transform: $dashboard-block-info__link-text-transform;
        }
    }

    &__content-text {
        font-size: $dashboard-block-info__content-text-font-size;
        margin-bottom: $dashboard-block-info__content-text-margin-bottom;
    }
}
