<div class="block-info {{ class }}">
    <div class="block-info__title">
        <strong>
            {{ titleText }}
        </strong>
        {{#if link }}
            {{ render '@actions-group' link.button }}
        {{/if}}
    </div>
    <div class="block-info__content">
        <p class="block-info__content-text">
            {{ contentText }}
        </p>
    </div>
</div>
