$forgot-password__max-width                    : 432px !default;
$forgot-password__margin-bottom                : 80px !default;

$forgot-password__field-margin-bottom          : $spacer--large !default;

$forgot-password__captcha-wrapper-margin-bottom: $spacer--medium !default;

$forgot-password__image-width                  : auto !default;
$forgot-password__image-max-width              : 250px !default;
$forgot-password__image-padding-right          : $spacer !default;

$forgot-password__heading-margin               : $spacer--semi-medium 0 64px !default;
