$footer__padding                              : $spacer--medium;
$footer__background-color                     : $gray-lighter;

$footer__border                               : 1px solid $gray-dark;

$footer__newsletter-max-width                 : 400px;
$footer__newsletter-width\@large              : 75%;
$footer__newsletter-width\@extra-large        : 77%;

$footer__newsletter-margin                    : 0 $spacer--medium;
$footer__newsletter-padding\@large            : $spacer--medium $spacer--extra-large $spacer--extra-large $spacer--semi-medium;
$footer__newsletter-margin\@large             : 0 !default;
$footer__newsletter-border                    : 4px solid $gray-light;
$footer__newsletter-border-left               : 1px solid $gray;

$footer__link-font-size                       : $font-size-medium;
$footer__link-color                           : $gray-darker;

$footer__links-width                          : 100%;
$footer__links-background                     : $gray-lighter;
$footer__links-margin                         : 0 0 $spacer--semi-medium;
$footer__links-padding\@medium                : $spacer--large 0 0;
$footer__links-padding\@large                 : $spacer--large $spacer--extra-large 0;
$footer__links-padding\@extra-large           : $spacer--large $spacer--semi-medium 0;
$footer__links-label-font-family              : $font-family-secondary;
$footer__links-label-font-size                : $font-size-medium;
$footer__links-label-font-size\@large         : $font-size-large;
$footer__bottom-bar-background                : $color-primary;
$footer__bottom-bar-color                     : $gray-lighter;
$footer__bottom-bar-font-size                 : $font-size-small;

$footer__social-handler-margin                : $spacer 0;
$footer__social-handler-margin\@medium        : 0 0 $spacer--large 0;
$footer__social-handler-margin\@large         : 0;
$footer__social-handler-padding               : 0 $spacer--medium;
$footer__social-handler-padding\@medium       : 0 $spacer--large;
$footer__social-handler-padding\@large        : $spacer--medium $spacer--semi-large;

$footer__social-list-margin\@medium           : 0 0 0 $spacer--large;
$footer__social-list-margin\@large            : $spacer--large 0 0;
$footer__social-list-subtitle-font-size       : $font-size-large;
$footer__social-list-subtitle-margin\@medium  : 0 $spacer--large 0 0;
$footer__social-list-subtitle-margin\@large   : 0;
$footer__social-list-subtitle-font-weight     : $font-weight-bold;
$footer__social-list-subtitle-color           : $color-primary;

$footer__social-icon-color                    : $color-primary;
$footer__social-icon-link-width               : 48px;
$footer__social-icon-link-border              : 1px solid $color-primary;
$footer__social-icon-link-color--active       : $color-primary;
$footer__social-icon-fill--active             : $gray-lighter;


$footer__copywrite-padding                    : $spacer 0 $spacer--large;
$footer__copywrite-padding\@medium            : $spacer--medium 0;
$footer__copywrite-font-size                  : $font-size-medium;

$footer__payments-list-item-padding           : $spacer;

$footer__scroll-top-top                       : -49px;
$footer__scroll-top-right                     : 0;
$footer__scroll-top-size                      : 48px;
$footer__scroll-top-padding                   : 0;
$footer__icon-size                            : 24px;
$footer__icon-fill                            : $gray-lighter;
$footer__icon-fill-hover                      : $gray-lighter;

$footer__social-list__item-padding            : 0;
$footer__social-list__item-margin             : 0 $spacer 0 0;

$footer__handler__padding                     : $spacer--medium $spacer--semi-medium;
$footer__handler__padding\@medium             : $spacer--medium $spacer--semi-large;
$footer__handler__padding\@large              : $spacer--medium $spacer--large;
$footer__handler__padding\@extra-large        : $spacer--medium 0;
