@import 'footer-variables';

.footer {
    flex-shrink: 0;
    background-color: $footer__background-color;
    border-top: $footer__border;

    &__handler {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 auto $footer__padding;
        padding: $footer__handler__padding;

        @include mq($screen-m) {
            margin: 0 auto;
        }

        @include mq($screen-l) {
            display: flex;
            flex-flow: row wrap;
            padding: $footer__handler__padding\@large;
        }
    }

    &__newsletter {
        padding: $footer__newsletter-padding;
        border-bottom: $footer__newsletter-border;

        @include mq($screen-l) {
            width: $footer__newsletter-width\@large;
            padding: $footer__newsletter-padding\@large;
        }

        @include mq($screen-xl) {
            width: $footer__newsletter-width\@extra-large;
        }
    }

    &__links {
        width: $footer__links-width;

        .dropdown-list {
            background-color: $footer__links-background;

            @include mq($screen-m) {
                padding: 0;
            }

            &__label {
                font-family: $footer__links-label-font-family;
                font-size: $footer__links-label-font-size;
                background-color: $footer__links-background;
                text-transform: uppercase;

                @include mq($screen-l) {
                    font-size: $footer__links-label-font-size\@large;
                }
            }

            &__content {
                margin: 0;
            }

            &__list {
                padding: $footer__links-padding;

                @include mq($screen-m) {
                    padding: $footer__links-padding\@medium;
                }
            }

            &__item {
                width: 100%;

                &:first-child {
                    @include mq($screen-m) {
                        width: 50%;
                    }
                }

                @include mq($screen-l) {
                    border-bottom: 0;
                }
            }
        }

        .list__item  {
            padding: 0 0 $spacer--large 0;

            @include mq($screen-m) {
                min-width: 208px;
            }
        }
    }

    &__links-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-bottom: $footer__padding;

        @include mq($screen-m) {
            max-height: 384px;
        }

        @include mq($screen-l) {
            max-height: 288px;
        }
    }

    &__link {
        font-size: $footer__link-font-size;
        color: $footer__link-color;
        text-decoration: none;

        &:hover {
            color: $footer__link-color;
            text-decoration: underline;
        }

        &:focus {
            @include focus-inline();
        }

    }

    &__bottom-bar {
        color: $footer__bottom-bar-color;
        background-color: $footer__bottom-bar-background;
    }

    &__bottom-bar-handler {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        min-height: 80px;

        @include mq($screen-m) {
            justify-content: space-between;
        }
    }

    &__social {
        &-handler {
            display: flex;
            justify-content: space-between;
            padding: $footer__social-handler-padding;
            margin: $footer__social-handler-margin;
            order: 1;

            @include mq($screen-m) {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: $footer__social-handler-padding\@medium;
                margin: $footer__social-handler-margin\@medium;
            }


            @include mq($screen-l) {
                flex-direction: column;
                justify-content: center;
                flex: 1;
                order: 0;
                margin: $footer__social-handler-margin\@large;
                padding: $footer__social-handler-padding\@large;
                border-bottom: $footer__newsletter-border;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 1px;
                    height: 90%;
                    background: $gray;
                }
            }
        }

        &-list {
            display: flex;
            align-items: center;

            @include mq($screen-m) {
                margin: $footer__social-list-margin\@medium;
            }

            @include mq($screen-l) {
                align-self: flex-start;
                margin: $footer__social-list-margin\@large;
            }

            &-subtitle {
                display: flex;
                align-items: center;
                color: $footer__social-list-subtitle-color;
                font-size: $footer__social-list-subtitle-font-size;
                font-weight: $footer__social-list-subtitle-font-weight;
                text-transform: uppercase;

                @include mq($screen-m) {
                    margin: $footer__social-list-subtitle-margin\@medium;
                }

                @include mq($screen-l) {
                    align-self: flex-start;
                    margin: $footer__social-list-subtitle-margin\@large;
                    font-size: $footer__social-list-subtitle-font-size\@large;
                }
            }

            .list__item  {
                padding: $footer__social-list__item-padding;

                &:first-child {
                    margin: $footer__social-list__item-margin;
                }

                .list__icon-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: $footer__social-icon-link-width;
                    height: $footer__social-icon-link-width;
                    border: $footer__social-icon-link-border;

                    &:hover,
                    &:focus {
                        border-color: $footer__social-icon-link-color--active;
                        background: $footer__social-icon-link-color--active;

                        .footer__social-icon {
                            fill: $footer__social-icon-fill--active;
                        }
                    }
                }
            }
        }

        &-icon {
            padding: 0;
            fill: $footer__social-icon-color;
        }
    }

    &__copyright {
        display: block;
        order: 2;
        padding: $footer__copywrite-padding;
        font-size: $footer__copywrite-font-size;
        text-align: center;

        @include mq($screen-m) {
            order: 1;
            padding: $footer__copywrite-padding\@medium;
        }
    }

    &__payments-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        order: 1;
        list-style-type: none;
        padding: 0;

        @include mq($screen-m) {
            order: 2;
        }

        &-item {
            &:not(:last-child) {
                @include mq($screen-l) {
                    padding-right: $footer__payments-list-item-padding;
                }
            }
        }

        &-icon {
            width: 64px;
            height: 48px;
            padding: 0;
            fill: $gray-lighter;

            &--visa {
                width: 68px;
            }

            &--paypal {
                width: 96px;
            }
        }
    }

    &__scroll-top {
        position: absolute;
        right: $footer__scroll-top-right;
        top: $footer__scroll-top-top;
        align-items: center;
        min-width: $footer__scroll-top-size;
        height: $footer__scroll-top-size;
        padding: $footer__scroll-top-padding;
        line-height: $footer__scroll-top-size;

        @include mq(1328px) {
            right: 0;
        }

        .icon {
            width: $footer__icon-size;
            height: $footer__icon-size;
            fill: $footer__icon-fill;
        }

        &:hover,
        &:focus {
            .icon {
                fill: $footer__icon-fill-hover;
            }
        }
    }
}
