@import 'footer-variables';

.footer {
    flex-shrink: 0;
    border: $footer__border;
    border-width: $footer__border-width;
    background-color: $footer__background-color;

    &__handler {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: $footer__handler-padding;

        @include mq($screen-m) {
            padding: $footer__handler-padding\@medium;
        }

        @include mq($screen-l) {
            flex-flow: row wrap;
            padding: $footer__handler-padding\@large;
        }

        @include mq($screen-xl) {
            padding: $footer__handler-padding\@extra-large;
        }
    }

    &__newsletter {
        border: $footer__newsletter-border;
        border-width: $footer__newsletter-border-width;

        @include mq($screen-l) {
            width: $footer__newsletter-width\@large;
            padding: $footer__newsletter-padding\@large;
            margin: $footer__newsletter-margin\@large;
        }
    }

    &__links {
        width: $footer__links-width;

        @include mq($screen-l) {
            padding: $footer__links-padding\@medium;
        }

        .dropdown-list {
            background-color: $footer__links-dropdown-background;

            @include mq($screen-m) {
                padding: $footer__links-dropdown-padding\@medium;
            }

            &__label {
                background-color: $footer__links-label-background;
            }

            &__content {
                margin: $footer__links-content-margin;
            }

            &__list {
                margin: $footer__links-dropdown-list-margin;
                border: $footer__links-dropdown-list-border;
                border-width: $footer__links-dropdown-list-border-width;

                @include mq($screen-m) {
                    padding: $footer__links-dropdown-list-padding\@medium;
                }

                @include mq($screen-l) {
                    padding: $footer__links-dropdown-list-padding\@large;
                    border-width: $footer__links-dropdown-list-border-width\@large;
                }

                @include mq($screen-xl) {
                    padding: $footer__links-dropdown-list-padding\@extra-large;
                }
            }

            &__item {
                width: $footer__links-dropdown-list-item-width;

                @include mq($screen-m) {
                    border: none;
                }

                &:first-child {
                    @include mq($screen-m) {
                        width: $footer__links-dropdown-list-item-width-first-child\@medium;
                    }
                }

                &:last-child {
                    border: none;
                }
            }
        }

        .list__item  {
            @include mq($screen-m) {
                min-width: $footer__links-list-item-min-width\@medium;
            }
        }
    }

    &__links-list {
        padding-bottom: $footer__links-list-padding;
    }

    &__link {
        font-size: $footer__link-font-size;
        color: $footer__link-color;
        text-decoration: none;

        &:hover {
            color: $footer__link-color;
        }
    }



    &__social-handler {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: $footer__social-handler-margin;
        order: 1;

        @include mq($screen-m) {
            align-items: center;
            flex-direction: row;
        }

        @include mq($screen-l) {
            flex-direction: column;
            flex: 1;
            order: 0;
            margin: $footer__social-handler-margin\@large;
            padding: $footer__social-handler-padding\@large;
            border-bottom: $footer__newsletter-border;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 1px;
                height: 90%;
                background: $gray;
            }
        }
    }

    &__social-list {
        @include mq($screen-l) {
            align-self: flex-start;
        }

        .list__item  {
            padding: $footer__social-list__item-padding;
            margin: $footer__social-list__item-margin;

            &:last-child {
                margin: $footer__social-list__item-margin-last-child;
            }

            .list__icon-link {
                border: $footer__social-icon-link-border;
                padding: $footer__social-icon-link-padding;

                &:hover,
                &.focus-visible {
                    border-color: $footer__social-icon-link-color--active;
                    background: $footer__social-icon-link-color--active;

                    .footer__social-icon {
                        fill: $footer__social-icon-fill--active;
                    }
                }
            }
        }
    }

    &__social-list-title {
        display: flex;
        align-items: center;
        color: $footer__social-list-title-color;
        font-family: $footer__social-list-title-font-family;
        font-size: $footer__social-list-title-font-size;
        font-weight: $footer__social-list-title-font-weight;
        margin: $footer__social-list-title-margin;

        @include mq($screen-m) {
            margin: $footer__social-list-title-margin\@medium;
        }

        @include mq($screen-l) {
            align-self: flex-start;
            margin: $footer__social-list-title-margin\@large;
        }
    }

    &__social-icon {
        fill: $footer__social-icon-color;
    }

    &__bottom-bar {
        color: $footer__bottom-bar-color;
        background-color: $footer__bottom-bar-background;
    }

    &__bottom-bar-handler {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: $footer__bottom-min-height;

        @include mq($screen-m) {
            justify-content: space-between;
            flex-direction: row;
            padding: $footer__bottom-padding\@medium;
        }

        @include mq($screen-xl) {
            padding: $footer__bottom-padding\@large;
        }
    }

    &__copyright {
        display: block;
        order: 2;
        padding: $footer__copywrite-padding;
        font-size: $footer__copywrite-font-size;
        text-align: center;

        @include mq($screen-m) {
            order: 1;
            padding: $footer__copywrite-padding\@medium;
        }
    }

    &__payments-list {
        justify-content: space-around;
        margin: $footer__payments-list-margin;

        @include mq($screen-m) {
            margin: $footer__payments-list-margin\@medium;
            order: 2;
        }
    }

    &__payments-list-icon {
        width: $footer__payments-list-icon-width;
        height: $footer__payments-list-icon-height;
        fill: $footer__payments-list-icon-fill;

        &--visa {
            width: $footer__payments-list-icon-width--visa;
        }

        &--paypal {
            width: $footer__payments-list-icon-width--paypal;
        }
    }

    &__scroll-top {
        position: absolute;
        right: $footer__scroll-top-right;
        top: $footer__scroll-top-top;

        @include mq($screen-l) {
            right: $footer__scroll-top-right\@large;
        }

        @include mq($screen-xl) {
            right: $footer__scroll-top-right\@xl;
        }
    }
}
