$catalog-list__sidebar-width             : 306px !default;
$catalog-list__products-width            : calc(100% - #{$catalog-list__sidebar-width + $spacer--medium}) !default;
$catalog-list__banner-padding            : $spacer--large 0 !default;
$catalog-list__banner-padding\@medium    : $spacer--medium 0 !default;
$catalog-list__banner-padding\@large     : 0 !default;
$catalog-list__banner-margin\@large      : 0 0 $spacer--medium 0;
$catalog-list__banner-border             : $border-base !default;
$catalog-list__banner-border-width       : 0 0 1px 0 !default;
$catalog-list__banner-border-width\@large: 0 !default;

.catalog-list {
    display: flex;
    flex-flow: column wrap;
    margin: 0 0 $spacer--extra-large;

    @include mq($screen-l) {
        flex-flow: row wrap;
    }

    &__banner {
        padding: $catalog-list__banner-padding;
        border: $catalog-list__banner-border;
        border-width: $catalog-list__banner-border-width;
        @include mq($screen-m) {
            padding: $catalog-list__banner-padding\@medium;
        }
        @include mq($screen-l) {
            padding: $catalog-list__banner-padding\@large;
            border-width: $catalog-list__banner-border-width\@large;
            margin: $catalog-list__banner-margin\@large;
        }
    }

    &__products {
        @include mq($screen-l) {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: $catalog-list__products-width;
            max-width: $catalog-list__products-width;
        }

        .contact-message,
        .catalog-list-item {
            margin-bottom: $spacer--large;
        }

        .catalog-list--heading {
            font-size: $font-size-extra-large;
            margin: 0;
        }
    }

    &__sidebar {
        @include mq($screen-l) {
            flex: 1 0 $catalog-list__sidebar-width;
            max-width: $catalog-list__sidebar-width;
            margin: 0 $spacer--medium 0 0;
            // necessary for tooltip proper visibility
            z-index: $z-index-normal;
        }
    }

    &__category-description {
        padding: $spacer--extra-large 0 $spacer--medium 0;

        p {
            line-height: 2;
        }
    }

    &__category-review {
        @extend .paragraph;

        font-weight: $font-weight-bold;
    }
}
