// use .button-extend for wrappers that contains buttons without .button class that should have .button styles
.button-extend {
    [type="button"],
    [type="submit"] {
        @extend .button;
    }
}

a,
button,
div {
    &.pagebuilder-button-link {
        @extend .button;
        @extend .button--link;
    }

    &.pagebuilder-button-primary {
        @extend .button;
    }

    &.pagebuilder-button-secondary {
        @extend .button;
        @extend .button--secondary;
    }
}

.ui-datepicker {
    .ui-datepicker-buttonpane {
        button {
            @extend .button;
            @extend .button--secondary;
        }
    }
}

.product-grid-item {
    .add-to-wishlist {
        @extend .button--icon-fill;
    }
}

.product-list-item {
    .button--wishlist {
        &.button--icon-filled {
            @extend .button--icon-fill;
        }
    }
}

.product-view {
    &__button {
        &--wishlist {
            &.button--icon-filled {
                @extend .button--icon-fill;
            }
        }
    }
}

.slider {
    &__link {
        &--button-secondary {
            @extend .button--secondary;
        }
    }
}

.my-orders {
    &__filter-summary {
        .action-remove {
            @extend .button--link;
        }
    }
}

.store-locator {
    &.amlocator-main-container {
        .amlocator-search-container .amlocator-button.-nearby {
            &:disabled,
            &[disabled] {
                @extend .button:disabled;
            }
        }
    }
}

.opc-wrapper {
    .shipping-address-item {
        &.selected-item,
        &.selected {
            .action-select-shipping-item {
                @extend .button:disabled;
            }
        }
    }
}

.page-main {
    .product-view {
        .yotpo {
            .yotpo-pager {
                .yotpo-icon {
                    &:before {
                        @extend .button:before;
                    }

                    &:after {
                        @extend .button:after;
                    }
                }
            }
        }

        button.yotpo-default-button,
        div.yotpo-default-button,
        input[type="button"].yotpo-default-button,
        .more-filters-btn,
        .yotpo-filter-tag {
            @extend .button;
        }

        .yotpo-default-button.primary-color-btn.yotpo-submit {
            @extend .button;
        }
    }
}

.webforms {
    button[type="submit"] {
        @extend .button;
    }
}
