.ui-datepicker-trigger {
    @extend .button;
    @extend .button--icon;
    background-image: url("../images/icons/calendar.svg") !important;
    background-size: 25px 25px !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;

    span {
        display: none;
    }
}
