// Temporary style and should be removed when following is done for footer links:
//  1. '.item' replaced with '.list__item'
//  2. '<a>' has class '.list__link'
.footer-menu {
    .item {
        display: list-item;
        padding: $list__item-padding;
        border-bottom: $list__border--divider;
        &:last-child {
            border-bottom: none;
            @include mq($screen-m) {
                border-right: none;
            }
        }
        @include mq($screen-m) {
            padding: $list__padding--horizontal;
            border-bottom: none;
            border-right: $list__border--divider;
        }
    }
    a {
        display: block;
    }
}

