// Temporary style and should be removed when following is done for footer links:
//  1. '.item' replaced with '.list__item'
//  2. '<a>' has class '.list__link'
.footer-menu {
    .item {
        border-bottom: $list-divider;
        padding: 0;
        &:first-child {
            border-top: $list-divider;
            @include mq($screen-m) {
                border-top: 0;
            }
        }
        &:last-child {
            border-bottom: none;
        }
        @include mq($screen-m) {
            border-bottom: 0;
        }
    }
    a {
        display: block;
        padding: 12px 15px;
    }
}

