.swal2-container {
    .swal2-popup {
        .swal2-title {
            @extend .heading;
            @extend .heading--third-level;
        }
    }
}

.page-main {
    .product-view {
        .yotpo-review,
        .yotpo-comment,
        .yotpo-question,
        .yotpo-onsite-upload {
            .yotpo-main .content-title {
                @extend .heading;
                @extend .heading--second-level;
            }
        }

        .write-review {
            .yotpo-header {
                .yotpo-header-title {
                    @extend .heading;
                    @extend .heading--second-level;
                }
            }
        }
    }

    .y-label {
        &.yotpo-header-title {
            @extend .heading;
            @extend .heading--second-level;
        }
    }
}
