.page-footer {
    position: relative;
    width: 100%;
    margin-top: 10px;
    background-color: $gray-lightest;

    &__row {
        @include mq($screen-m) {
            display: flex;
            justify-content: center;
        }
    }
    &__content {
        @include clearfix();
        position: relative;
        max-width: $max-content-width;
        margin: 0 auto;
    }
    &__subscribe {
        padding: 20px 10px 0;
    }
}
