.page-main {
    .product-view {
        .yotpo-pager {
            .goTo {
                &.yotpo-active {
                    &:after {
                        @extend .pager__item--current:after;
                    }
                }
            }

        }
    }
}
