.social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 20px;
    @include mq($screen-m) {
        margin-top: 0;
    }
    &__item {
        padding: 0 10px;
    }
    .button {
        line-height: $button-height;
    }
}
