.subscribe {
    text-align: center;
    padding: 0 15px;
    @include mq($screen-s) {
        display: flex;
        justify-content: center;
    }
    &__title {
        line-height: $button-height;
        margin-right: 20px;
    }
    &__form {
        display: flex;
    }
    .input {
        margin-bottom: 0;
        width: 100%;
    }
    .input__field {
        width: 100%;
        border: $button-icon-border;
        line-height: $button-height;
        height: $button-height;
        border-radius: 0;
        @include mq($screen-s) {
            width: 290px;
        }
    }
    .button {
        margin: 0 0 0 -3px;
    }
    div.mage-error[generated] {
        margin-top: 7px;
        color: $color-danger;
        font-size: $font-size-extra-small;
    }
}
