.wrapper-collapsible {
    .list--min-medium-horizontal {
        @include mq($screen-m) {
            display: block;
        }

        @include mq($screen-l) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }
}
