//
//  Slick slider styles
//  _____________________________________________

.slick-arrow.slick-hidden {
    display: none;
}

.slick-prev {
    left: 2rem;

    &:before {
        content: '\f103';
        padding-right: 5px;
    }
}

.slick-next {
    right: 2rem;

    &:before {
        content: '\f102';
        padding-left: 5px;
    }
}

.slick-prev,
.slick-next {
    background: rgba(252, 252, 252, 0.6);
    border: none;
    border-radius: 0;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 60px;
    line-height: 0;
    outline: none;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 60px;
    z-index: 101;

    &.slick-disabled {
        opacity: 0.2;
    }


    &:hover {
        background: rgba(252, 252, 252, 1);
        border: none;

        &.slick-disabled {
            opacity: 0.2;
        }

        &:before {
            color: $gray-lighter;
        }
    }

    &:before,
    &:after {
        @extend .pagebuilder-icon;
        color: $gray-lighter;
        font-size: 38px;
        opacity: 1;
    }

    &:active,
    &:focus,
    &:not(.primary) {
        background: rgba(252, 252, 252, 0.7);
        border: none;
        box-shadow: none;

        &:active {
            box-shadow: none;
        }
    }
}

.slick-dots {
    bottom: -30px;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;

    li {
        cursor: pointer;
        display: inline-block;
        height: 14px;
        margin: 0 5px;
        padding: 0;
        position: relative;
        vertical-align: middle;
        width: 14px;

        button {
            background: $white;
            border: 1px solid $gray-lighter;
            border-radius: 10px;
            box-shadow: none;
            cursor: pointer;
            display: block;
            height: 14px;
            padding: 0;
            text-indent: -99999px;
            transition: 0.3s;
            width: 14px;

            &:hover {
                border: 1px solid $gray-lighter;
            }

            &:active,
            &:focus,
            &:not(.primary) {
                box-shadow: none;
            }
        }

        &.slick-active {
            button {
                background: $color-primary;
            }
        }
    }
}
