$amgift-card__content-button-color--hover: $color-primary !default;
$amgift-card__content-button-border--hover: $button__border--secondary !default;

.amgift-card {
    &__content-button {
        // hiver state for <input type="button"> element
        @at-root input#{&}:hover {
            color: $amgift-card__content-button-color--hover;
            border: $amgift-card__content-button-border--hover;
        }
    }
}
