$amgift-card__content-button-color--hover   : $color-primary !default;
$amgift-card__content-button-border--hover  : 2px solid $color-primary !default;
$amgift-card__image-padding                 : 0 $spacer--medium 0 0 !default;
$amgift-card__container-margin              : 0 0 $spacer--medium 0 !default;

.amgift-card {
    &__content-button {
        // hover state for <input type="button"> element
        @at-root input#{&} {
            &:hover,
            &.focus-visible {
                color: $amgift-card__content-button-color--hover;
                border: $amgift-card__content-button-border--hover;
            }
        }
    }

    .amcard-image {
        padding: $amgift-card__image-padding;
    }

    .amcard-form-container.-interior {
        margin: $amgift-card__container-margin;
    }
}
