*:focus {
    outline: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    color: $font-color-base;
}

p {
    margin: 0;
    padding: 0;
} 
