// // Theme partials
@import '../Magento_Catalog/styles/module';
@import '../Magento_Checkout/styles/module';
@import '../Magento_Customer/styles/module';
@import '../Magento_GiftCardAccount/styles/module';
@import '../Magento_GiftMessage/styles/module';
@import '../Magento_Review/styles/module';
@import '../Magento_Theme/styles/module';
@import '../Magento_Ui/styles/module';


.checkout-index-index .page-main {
    .loading-mask {
        .loader {
            img {
                width: auto;
            }
        }
    }

    .customer-note {
        display: block;
        margin: 20px 0 10px 0;
    }

    fieldset.field {
        margin: 0;
        padding: 0;
        border: none;
    }

    .methods-shipping,
    .payment-method  {
        .primary {
            display: flex;
            justify-content: flex-end;
            .button {
                min-width: 160px;
            }
        }
    }

    .form-shipping-address {
        .field {
            margin-bottom: 8px;
        }
    }

    .checkout-summary {
        padding: 15px;
        background-color: #f7f7f9;

        &__title {
            padding-bottom: 8px;
            border-bottom: 1px solid #d9d9d9;
        }
    }

    .checkout-products {
        &.active {
            .checkout-products__title-icon {
                transform: rotate(180deg);
            }
        }

        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            cursor: pointer;

            &-text {
                font-weight: 500;
            }

            &-icon {
                width: 14px;
                height: 14px;
                transition: $transition-base;
            }
        }
    }

    .shipping-information {
        margin: 30px 0;
        &__title {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
        }


        &__title-text {
            align-self: center;
            font-weight: 700;
        }

        &__content {
            line-height: 1.5;
        }
    }

    .actions-toolbar {
        display: flex;
    }

    .action {
        &.primary {
            display: inline-flex;
            justify-content: center;
            cursor: pointer;
            height: 48px;
            min-width: 48px;
            width: auto;
            padding: 0 $spacer--medium;
            border: none;
            border-radius: 100px;
            outline: none;
            background: $button__background;
            font-size: $font-size-base;
            color: black;
            transition: $transition-base;
            font-weight: $font-weight-bold;

            &:hover,
            &:focus {
                background: $gray-dark;
                border-color: none;
                color: $color-primary;
            }

            @include isIE() {
                align-items: center;
            }
        }

        &.remind {
            margin-left: 10px;
        }
    }
}
