// Theme partials
@import '../Magento_Catalog/styles/module';
@import '../Magento_Checkout/styles/module';
@import '../Magento_Customer/styles/module';
@import '../Magento_GiftCardAccount/styles/module';
@import '../Magento_GiftMessage/styles/module';
@import '../Magento_Review/styles/module';
@import '../Magento_Ui/styles/module';
