// Theme variables
@import 'variables';

// Components
@import 'alpaca-components';

// Theme partials
@import '../Magento_Checkout/styles/module';
@import '../Magento_Customer/styles/module';
@import '../Magento_GiftCardAccount/styles/module';
@import '../Magento_GiftMessage/styles/module';
@import '../Magento_Review/styles/module';
@import '../Magento_Theme/styles/module';
@import '../Magento_Ui/styles/module';
