$messages__top-while-breadcrumbs: -56px !default;
$message__z-index               : $z-index-high !default;
$message__background-color      : $white !default;
$message__width                 : 100% !default;

.messages {
    &__wrap {
        display: block;
        position: relative;
        width: $message__width;
        top: 0;
        background-color: $message__background-color;

        html:not(.no-js) &[data-aos^='fade'][data-aos^='fade'] {
            pointer-events: all;
            opacity: 1;
            transform: none;
        }

        &.aos-animate {
            position: fixed;
            left: 0;
            z-index: $message__z-index;
        }
    }
}
