$messages__top-while-breadcrumbs: -56px !default;

.messages {
    display: block;
    position: relative;
    width: 100%;
    z-index: 100;
    top: 0;
    background-color: $white;

    &--sticky {
        position: fixed;
    }
}
