<div
    class="messages {{ class }}"
    role="alert"
    aria-live="polite"
    data-aos="fade-down"
    data-aos-anchor=".header"
    data-aos-anchor-placement="bottom-top"
>
    {{ render '@message' }}
    {{ render '@message--success' }}
    {{ render '@message--error' }}
</div>
