$checkbox__line-height                       : $font-line-height !default;
$checkbox__top                               : $spacer--small !default;
$checkbox__left                              : $spacer--small !default;
$checkbox__label-margin                      : 0 !default;
$checkbox__label-padding                     : $spacer--small $spacer--medium $spacer--small $spacer--extra-large !default;
$checkbox__label-color                       : $color-secondary !default;
$checkbox__label-font-size                   : $font-size-base !default;
$checkbox__icon-transition                   : $transition-base !default;
$checkbox__icon-size                         : 24px !default;
$checkbox__label-text-decoration-active--link: none !default;
$checkbox__color--link                       : $color-secondary !default;

.checkbox {
    position: relative;

    &--link {
        display: block;
        text-decoration: none;
        color: $checkbox__color--link;

        &:hover {
            text-decoration: $checkbox__label-text-decoration-active--link;
        }

        &.focus-visible {
            @include focus();
            background-color: transparent;
            text-decoration: $checkbox__label-text-decoration-active--link;
        }
    }

    &--link-checked {
        display: block;

        .checkbox__icon--checked {
            opacity: 1;
        }
    }

    &__label {
        display: block;
        margin: $checkbox__label-margin;
        padding: $checkbox__label-padding;
        line-height: $checkbox__line-height;
        color: $checkbox__label-color;
        font-size: $checkbox__label-font-size;
        cursor: pointer;
    }

    &__icon {
        position: absolute;
        top: $checkbox__top;
        left: $checkbox__left;
        width: $checkbox__icon-size;
        height: $checkbox__icon-size;
        opacity: 1;
        transition: $checkbox__icon-transition;
        cursor: pointer;

        &--checked {
            opacity: 0;
            z-index: 1;
        }
    }

    &__field {
        position: absolute;
        top: $checkbox__top;
        left: $checkbox__left;
        opacity: 0;

        &:checked + .checkbox__icon--checked {
            opacity: 1;
        }

        &.focus-visible ~ .checkbox__label {
            @include focus();
        }
    }
}
