$checkbox__line-height                       : $font-line-height !default;
$checkbox__top                               : $spacer--small !default;
$checkbox__left                              : 0 !default;
$checkbox__label-margin                      : 0 !default;
$checkbox__label-padding                     : $spacer--small $spacer--medium $spacer--small $spacer--large !default;
$checkbox__label-color                       : $color-secondary !default;
$checkbox__label-color--active               : $color-primary !default;
$checkbox__label-font-size                   : $font-size-base !default;
$checkbox__icon-transition                   : $transition-base !default;
$checkbox__icon-size                         : 24px !default;
$checkbox__label-text-decoration-active--link: none !default;
$checkbox__color--link                       : $color-secondary !default;
