$checkbox__line-height                       : $font-line-height !default;
$checkbox__top                               : $spacer--small !default;
$checkbox__left                              : $spacer--small !default;
$checkbox__border                            : $border-base !default;

$checkbox__label-margin                      : 0 !default;
$checkbox__label-padding                     : $spacer--small $spacer--medium $spacer--small $spacer--extra-large !default;
$checkbox__label-color                       : $color-primary !default;
$checkbox__label-font-size                   : $font-size-medium !default;

$checkbox__icon-border-radius                : 2px !default;
$checkbox__icon-check-mark-color             : $white !default;
$checkbox__icon-fill                         : $color-primary !default;
$checkbox__icon-transition                   : $transition-base !default;
$checkbox__icon-size                         : 24px !default;

$checkbox__label-text-decoration-active--link: none !default;
$checkbox__border--checked                   : none !default;
$checkbox__color--link                       : $gray-dark !default;

.checkbox {
    position: relative;

    &--link {
        display: block;
        text-decoration: none;
        color: $checkbox__color--link;

        &:hover {
            text-decoration: $checkbox__label-text-decoration-active--link;
        }

        &.focus-visible {
            @include focus();
            background-color: transparent;
            text-decoration: $checkbox__label-text-decoration-active--link;
        }
    }

    &--link-checked {
        display: block;

        .checkbox__icon {
            opacity: 1;
        }

        .checkbox__label:before {
            border: $checkbox__border--checked;
        }
    }

    &__field {
        position: absolute;
        top: $checkbox__top;
        left: $checkbox__left;
        opacity: 0;

        &:checked + .checkbox__icon {
            opacity: 1;
        }

        &:checked ~ .checkbox__label:before {
            border: $checkbox__border--checked;
        }

        &.focus-visible ~ .checkbox__label {
            @include focus();
        }
    }

    &__label {
        display: block;
        margin: $checkbox__label-margin;
        padding: $checkbox__label-padding;
        line-height: $checkbox__line-height;
        color: $checkbox__label-color;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: $checkbox__top;
            left: $checkbox__left;
            width: $checkbox__icon-size;
            height: $checkbox__icon-size;
            border: $checkbox__border;
            border-radius: $checkbox__icon-border-radius;
        }
    }

    &__icon {
        position: absolute;
        top: $checkbox__top;
        left: $checkbox__left;
        width: $checkbox__icon-size;
        height: $checkbox__icon-size;
        fill: $checkbox__icon-fill;
        background: $checkbox__icon-check-mark-color;
        opacity: 0;
        transition: $checkbox__icon-transition;
        cursor: pointer;
    }
}
