<div
    class="block items-in-cart checkout-products"
    data-bind="
        mageInit: {
            'collapsible': {
                'openedState': 'active', 'active': isItemsBlockExpanded()
            }
        }
    "
>
    <div class="title checkout-products__title" data-role="title">
        <span class="checkout-products__title-text">
            <translate
                args="maxCartItemsToDisplay"
                if="maxCartItemsToDisplay < getCartLineItemsCount()"
            />
            <translate args="'of'" if="maxCartItemsToDisplay < getCartLineItemsCount()"/>
            <span data-bind="text: getCartLineItemsCount()"></span>
            <translate args="'Item in Cart'" if="getCartLineItemsCount() === 1"/>
            <translate args="'Items in Cart'" if="getCartLineItemsCount() > 1"/>
        </span>
        <svg class="checkout-products__title-icon" role="img">
            <title><!-- ko i18n: 'Arrow down' --><!-- /ko --></title>
            <use data-bind="attr: { 'xlink:href': require.toUrl('images/icons-sprite.svg#arrow-down') }" xlink:href=''></use>
        </svg>
    </div>
    <div class="content minicart-items" data-role="content">
        <div class="minicart-items-wrapper overflowed">
            <div class="minicart-items">
                <each args="items()">
                    <div class="product-item">
                        <div class="minicart-product">
                            <each args="$parent.elems()" render=""/>
                        </div>
                    </div>
                </each>
            </div>
        </div>
    </div>
    <div
        class="actions-toolbar"
        if="maxCartItemsToDisplay < getCartLineItemsCount()"
    >
        <div class="secondary">
            <a class="action viewcart" data-bind="attr: {href: cartUrl}">
                <span data-bind="i18n: 'View and Edit Cart'"></span>
            </a>
        </div>
    </div>
</div>
