<div
    class="
        block
        items-in-cart
        order-summary__tab
    "
    data-bind="
        mageInit: {
            'collapsible': {
                'openedState': 'active', 'active': isItemsBlockExpanded()
            }
        }
    "
>
    <div
        class="
            title
            order-summary__tab-title
        "
        data-role="title"
    >
        <span class="order-summary__tab-text">
            <translate
                args="maxCartItemsToDisplay"
                if="maxCartItemsToDisplay < getCartLineItemsCount()"
            />
            <translate
                args="'of'"
                if="maxCartItemsToDisplay < getCartLineItemsCount()"
            />
            <span data-bind="text: getCartLineItemsCount()"></span>
            <translate
                args="'Item in Cart'"
                if="getCartLineItemsCount() === 1"
            />
            <translate
                args="'Items in Cart'"
                if="getCartLineItemsCount() > 1"
            />
        </span>
        <svg
            class="order-summary__tab-icon"
            role="presentation"
            focusable="false"
        >
            <title>
                <!-- ko i18n: 'Arrow down' --><!-- /ko -->
            </title>
            <use
                data-bind="attr: { 'xlink:href': require.toUrl('images/icons-sprite.svg#angle-down') }"
                xlink:href=''
            ></use>
        </svg>
    </div>
    <div
        class="
            content
            order-summary__products
        "
        data-role="content"
    >
        <each args="items()">
            <div class="order-summary__product-item">
                <each
                    args="$parent.elems()"
                    render=""
                />
            </div>
        </each>
    </div>
    <div
        class="actions-toolbar"
        if="maxCartItemsToDisplay < getCartLineItemsCount()"
    >
        <div class="secondary">
            <a
                class="action viewcart"
                data-bind="attr: {href: cartUrl}"
            >
                <span data-bind="i18n: 'View and Edit Cart'"></span>
            </a>
        </div>
    </div>
</div>
