.estimated-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #f4f4f4;
    margin-bottom: 20px;

    @include min-screen($screen__m) {
        display: none;
    }

    &__price {
        display: flex;
        flex-direction: column;
        font-weight: bold;
    }

    &__button {
        padding: 0;
    }
}

@include min-screen($screen__m) {
    .opc-estimated-wrapper {
        display: none;
    }
}
