.fieldset {
    & > .field {
        .control {
            &._with-tooltip {
                @extend .abs-field-tooltip;
            }
        }

        &._required,
        &.required {
            & > {
                label,
                .label {
                    &:after {
                        content: '*';
                        color: #e02b27;
                        font-size: 1.2rem;
                        margin: 0 0 0 3px;
                    }
                }
            }
        }
    }
}
