$checkout-modal-popup__width: 800px !default;
$modal-popup-breakpoint-screen__m: $screen__m + 1 !default;

.modal-popup {
    .field-tooltip {
        .field-tooltip-content {
            @extend .abs-checkout-tooltip-content-position-top;
        }
    }
}

.modal-inner-wrap {
    background-color: #f7f7f9;
}

@include min-screen($screen__m) {
    .modal-popup {
        .form-shipping-address {
            max-width: $checkout-shipping-address__max-width;
        }

        .modal-footer {
            .action-save-address {
                width: auto;
                float: right;
                margin: 0 0 0 $indent__s;
            }

            .action-hide-popup {
                width: auto;
            }
        }

    }
}

@include min-screen($screen__l) {
    .modal-popup {
        .modal-inner-wrap {
            margin-left: (-$checkout-modal-popup__width / 2);
            width: $checkout-modal-popup__width;
            left: 50%;
        }
    }
}
