$checkout-sidebar__columns: 2 !default;

.opc-sidebar {
    @include min-screen($screen__m) {
        margin: 27px 0 20px;
        @include lib-layout-column(2, 2, $checkout-sidebar__columns);
    }
}

.checkout-summary {
    padding: 15px;
    background-color: #f7f7f9;

    &__title {
        margin: 16px 0 30px 0;
        padding-bottom: 30px;
        border-bottom: 1px solid #d9d9d9;

        @include min-screen($screen__m) {
            margin: 0 0 16px 0;
            padding-bottom: 8px;
        }
    }
}

.custom-slide {
    left: 0;

    .modal-inner-wrap {
        background-color: #f7f7f9;
    }
}

.checkout-products {
    &.active {
        .checkout-products__title-icon {
            transform: rotate(180deg);
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #d9d9d9;
        cursor: pointer;

        &-text {
            font-weight: 500;
        }

        &-icon {
            width: 14px;
            height: 14px;
            transition: all 0.3s ease-in-out;
        }
    }
}

.shipping-information {
    margin: 30px 0;
    padding: 0 15px 15px;

    &__title {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }


    &__title-text {
        align-self: center;
        font-weight: 700;
    }

    &__content {
        line-height: 1.5;
    }
}
