@keyframes rotate-360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animatetop {
    from {
        top: $animation-position-top;
        opacity: 0;
    }
    to {
        top: inherit;
        opacity: 1;
    }
}

@keyframes animateright {
    from {
        right: $animation-position-right;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}

@keyframes animateleft {
    from {
        left: $animation-position-left;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}
