@import 'cms-content-variables';

.cms-content {
    max-width: $cms-page__max-width;
    margin: $cms-page__margin;

    @include mq($screen-m) {
        max-width: $cms-page__max-width\@medium;
    }

    @include mq($screen-l) {
        max-width: $cms-page__max-width\@large;
    }

    @include mq($screen-xl) {
        max-width: $cms-page__max-width\@xlarge;
    }
}
