$cms-page__max-width        : 88% !default;
$cms-page__max-width\@medium: 85% !default;
$cms-page__max-width\@large : 78% !default;
$cms-page__max-width\@xlarge: 68% !default;
$cms-page__margin           : 0 auto !default;
$cms-contact__max-width     : 100% !default;
