$dropdown-list__width                         : 100% !default;
$dropdown-list__bg-color                      : $white !default;
$dropdown-list__transition                    : $transition-base !default;
$dropdown-list__margin                        : 0 !default;
$dropdown-list__padding                       : 0 !default;

// List item
$dropdown-list__item-padding                  : $spacer--medium !default;
$dropdown-list__item-color                    : $gray-darker !default;
$dropdown-list__item-bg-color                 : $white !default;
$dropdown-list__item-bg-color\@medium         : transparent !default;
$dropdown-list__item-font-weight              : $font-weight-bold !default;
$dropdown-list__item-border-bottom            : 1px solid $gray !default;
$dropdown-list__item-width                    : 100% !default;
$dropdown-list__item-font-size                : $font-size-base !default;

// List
$dropdown-list__list-width                    : 100% !default;
$dropdown-list__list-padding                  : 0 !default;
$dropdown-list__list-margin                   : 0 !default;
$dropdown-list__list-style-type               : none !default;

// Label
$dropdown-list__label-font-size               : $font-size-large !default;
$dropdown-list__label-text-transform          : uppercase !default;
$dropdwon-list__label-font-famility           : $font-family-sans-serif !default;
$dropdown-list__label-color                   : $gray-darkest !default;
$dropdown-list__label-margin                  : 0 !default;
$dropdown-list__label-padding                 : $spacer--semi-medium 0 !default;
$dropdown-list__label-border-radius           : 0 !default;
$dropdown-list__label-width                   : 100% !default;
$dropdown-list__label-bg-color                : $white !default;
$dropdown-list__label-font-weight             : $font-weight-bold !default;
$dropdown-list__label-color-hover             : $gray-darker !default;
$dropdown-list__label-bg-color-hover          : $white !default;
$dropdown-list__label-text-decoration         : none !default;
$dropdown-list__label-text-decoration-hover   : none !default;
$dropdown-list__label-text-align              : left !default;
$dropdown-list__label-border                  : 0 !default;
$dropdown-list__label-cursor                  : pointer !default;
$dropdown-list__label-color--open             : $gray-darkest !default;
$dropdown-list__label-bg-color--open          : $white !default;

// List icon
$dropdown-list__icon-width                    : 20px !default;
$dropdown-list__icon-height                   : 20px !default;
$dropdown-list__icon-fill                     : $gray-darkest !default;
$dropdown-list__icon-fill-hover               : $gray-darkest !default;
$dropdown-list__icon-fill--open               : $gray-darkest !default;
$dropdown-list__icon-rotate--open             : rotate(180deg) !default;
$dropdown-list__icon-margin                   : auto !default;

// List content
$dropdown-list__content-transition             : height 0.3s !default;

// Secondary variant
$dropdown-list__bg-color--secondary             : $dropdown-list__bg-color !default;
$dropdown-list__item-color--secondary           : $dropdown-list__item-color !default;
$dropdown-list__icon-size---secondary           : 24px !default;
$dropdown-list__icon-margin--secondary          : 0 0 0 5px !default;
$dropdown-list__icon-fill--secondary            : $dropdown-list__icon-fill !default;
$dropdown-list__icon-fill-hover--secondary      : $gray !default;
$dropdown-list__icon-fill---secondary-open      : $color-primary !default;
$dropdown-list__label-font-size--secondary      : $font-size-large !default;
$dropdown-list__label-padding--secondary        : $spacer--semi-medium 0 !default;
$dropdown-list__icon-width--secondary           : 20px !default;
$dropdown-list__icon-height--secondary          : 20px !default;
$dropdown-list__label-text-transform--secondary : none;

// With nested variant
$dropdown-list__font-weight--with-nested        : $font-weight-base;
$dropdown-list__padding--with-nested            : $spacer--medium 0;
$dropdown-list__icon-width--with-nested         : 24px !default;
$dropdown-list__icon-height--with-nested        : 24px !default;

// Inner variant
$dropdown-list__padding-left--inner             : $spacer--medium !default;
$dropdown-list__label-color--inner              : $gray-dark !default;
$dropdown-list__label-text-transform--inner     : Capitalize !default;
$dropdown-list__label-border-bottom--inner      : 0 !default;

// screen-m list variables
$dropdown-list__content-margin--screen-m        : $spacer $spacer--medium !default;
