.blog {
    padding: 0 $spacer;

    @include mq($screen-m) {
        padding: 0;
    }

    &__list {
        max-width: 880px;
        padding: 0;
        margin: 0;
        list-style: none;

        @include mq($screen-l) {
            margin-right: $spacer;
        }
    }

    &__categories {
        margin-bottom: $spacer;

        @include mq($screen-m) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @include mq($screen-l) {
            align-items: flex-start;
        }
    }

    &__recommended {
        @include mq($screen-l) {
            padding-bottom: $spacer;
        }
    }

    &__category-link {
        color: $color-primary;
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
    }

    &__heading {
        margin: 0;
        padding: $spacer 0 $spacer--medium;
        font-size: $font-size-extra-large;
        line-height: 72px;


        @include mq($screen-l) {
            padding-top: 0;
        }
    }

    &__menu {
        justify-content: center;
    }

    .link {
        &:not(.button) {
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }

    }

    .toolbar {
        border: none;

        .pager {
            display: block;
        }
    }
}
