@import 'article-item-variables';

.article-item {
    display: flex;
    flex-direction: column;
    margin: $article-item__margin;

    &__header {
        margin: $article-item__header-margin;
    }

    &__title {
        font-family: $article-item__title-font-family;
        font-size: $article-item__title-font-size;
        font-weight: $article-item__title-font-weight;
        margin: $article-item__title-margin;
        text-transform: $article-item__title-text-transform;

        @include font-padding($article-item__title-font-size, $article-item__title-text-height);
    }

    &__sub-title {
        font-family: $article-item__subtitle-font-family;
        font-size: $article-item__subtitle-font-size;
        line-height: $article-item__subtitle-line-height;
        font-weight: $article-item__subtitle-font-weight;
        margin: $article-item__subtitle-margin;
        text-transform: $article-item__subtitle-text-transform;
    }

    &__container {
        display: flex;
        flex-flow: column nowrap;

        @include mq($screen-l) {
            flex-direction: row;
        }
    }

    &__media {
        margin: $article-item__media-margin;

        @include mq($screen-l) {
            margin: $article-item__media-margin\@large;
        }
    }

    &__body {
        margin: $article-item__body-margin;

        @include mq($screen-l) {
            display: flex;
            flex-flow: column nowrap;
            justify-content: $article-item__body-justify-content\@large;
        }
    }

    &__content,
    &__content p {
        margin: $article-item__content-text-margin;
        font-size: $article-item__content-text-font-size;
        line-height: $article-item__content-text-line-height;
    }

    &__content {
        margin: $article-item__content-margin;
    }

    &__footer-link {
        display: block;
        font-size: $article-item__footer-link-font-size;
        font-weight: $article-item__footer-link-font-weight;

        @include font-padding($article-item__footer-link-font-size, $article-item__footer-link-height);
    }
}
