<ol class="breadcrumbs__list">
    <% _.each(breadcrumbs, function(crumb) { %>
        <li class="breadcrumbs__item <%- crumb.name %>">
            <% if (crumb.link) { %>
                <a
                    href="<%= crumb.link %>"
                    title="<%- crumb.title %>"
                    class="breadcrumbs__link link--invert"
                >
                    <%- crumb.label %>
                </a>
            <% } else { %>
                <%- crumb.label %>
            <% } %>
        </li>
    <% }); %>
</ol>
