<div class="badges {{ class }}">
    {{#each badges}}
        {{#if contentElement}}
            {{ render (component contentElement) contentContext merge="true"}}
        {{/if}}
    {{/each}}
</div>
