<div class="badges {{ class }}">
    {{#each badges as |badge|}}
        {{#if contentElement}}
            {{ render (component contentElement) contentContext merge="true"}}
        {{/if}}
    {{/each}}
</div>
