$banner__width                            : 100% !default;
$banner__text-decoration                  : none !default;

$banner__image-width                      : 100% !default;

$banner__content-padding                  : 0 4px 0 !default;
$banner__content-padding\@medium          : $spacer--medium 0 $spacer--small $spacer--semi-medium !default;
$banner__content-padding--category        : $spacer--medium !default;
$banner__content-padding--category\@medium: $spacer--extra-large $spacer--extra-large * 2 !default;
$banner__content-border                   : 4px solid $gray-light !default;
$banner__content-background               : $bg-color-base !default;
$banner__content-after-height             : 4px !default;
$banner__content-after-background         : $color-primary !default;
$banner__content-after-transition         : $transition-base !default;

$banner__text-margin                      : 0 !default;
$banner__text-font-size                   : $font-size-base !default;
$banner__text-font-size\@medium           : $font-size-large !default;
$banner__text-font-weight                 : $font-weight-bold !default;
$banner__text-line-height                 : 48px !default;
$banner__text-text-transform              : uppercase !default;

$banner__icon-size                        : 48px !default;

$banner__button-icon-margin               : 0 $spacer--medium 0 0 !default;
$banner__button-icon-fill                 : $white !default;

$banner__button-collapse-position         : absolute !default;
$banner__button-collapse-left             : initial !default;
$banner__button-collapse-right            : $spacer--large !default;
$banner__button-collapse-bottom           : $spacer--large !default;
$banner__button-collapse-transform        : rotate(180deg) !default;

$banner__button-more-hover-color          : $white !default;

$banner__actions-wrapper-padding          : $spacer--medium 0 0 0 !default;
